<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<a href="/myshop/products" class="section"><i class="tags icon"></i>상품</a>
			<div class="divider"> / </div>
			<div class="active section"><%= @product.title %></div>
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>


<%= simple_nested_form_for [:myshop, @product], :html => { :multipat => true } do |f| %>
	<div class="ui" style="width: 1000px;">

		<!-- 상품정보 -->
	  <%= render 'myshop/products/partial/product_info', :f => f %>

	  <div class="ui divider"></div>
	  <!-- 상품 재고 -->
	  <%= render 'myshop/products/partial/product_inventory', :f => f %>

	 	<div class="ui divider"></div>
	 	<!-- 상품 이미지 -->
	 	<%= render 'myshop/products/partial/product_image', :f => f %>

	 	<br/>
	 	<div class="ui divider"></div>

	  <div class="ui ignore green message"><i class="icon info"></i><b>컬렉션 비활성화</b> - 컬렉션 비활성화를 설정해주세요.</div>
	  <div class="eleven wide column">
	  	<div class="ui form">
	  		<div class="grouped inline fields">
	  		</div>
	  		<div class="field">
	  			
	  			<div>
	  				<%= f.input :disable_collection, :label => "컬렉션 비활성화" %>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  
	  <div class="ui divider"></div>

	  <div class="ui ignore green message"><i class="icon info"></i><b>상품공개</b> - 상품 공개 여부를 설정해주세요.</div>


	  <div class="eleven wide column">
	  	<div class="ui form">
	  		<div class="grouped inline fields">
	  		</div>
	  		<div class="field">
	  			
	  			<div>
	  				<%= f.input :is_public, :label => "상품을 공개합니다." %>
	  			</div>
	  		</div>
	  	</div>
	  </div>

	  <div class="ui ignore green message"><i class="icon info"></i><b>품절처리</b> - 품절여부를 설정해주세요.</div>


	  <div class="eleven wide column">
	  	<div class="ui form">
	  		<div class="grouped inline fields">
	  		</div>
	  		<div class="field">
	  			
	  			<div>
	  				<%= f.input :is_soldout, :label => "품절" %>
	  			</div>
	  		</div>
	  	</div>
	  </div>


	</div>
	<div class="ui divider"></div>
</br>
<div align="right">
	<a href="/myshop/products" class="ui button small">취소</a>
	<a class="ui green button  product_submit">저장</a>
</div>
</br></br>


	<input type="submit" style="display: none" id="product_submit_btn">
<% end %>

