

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>상품
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui message" style="display: block;" id="search_field">
  <div class="content">
    <%= search_form_for @q, url: '/myshop/products' do |f| %>
    <div class="ui form segment">
    	<div>
	      <label style="width: 50px;">타이틀</label>
	      <%= f.text_field :title_cont, :style => 'width: 200px;', :placeholder => '상품타이틀을 입력하세요.' %>

	      <label style="margin-left: 40px; width: 50px;">브랜드</label>
	      <%= f.text_field :brand_cont, :style => 'width: 200px;', :placeholder => '브랜드를 입력하세요.' %>
	    </div>
      <div style="margin-top: 20px;">
	      <label style="width: 50px;">가격대</label>
	      <%
	        init_price_gteq = @q.init_price_gteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_gteq > 0
	        init_price_lteq = @q.init_price_lteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_lteq > 0
	      %>
	      <%= f.text_field :init_price_gteq, :value => init_price_gteq, :style => 'width: 200px;', :placeholder => '최소가격' %>
	      <i class="minus icon"></i>
	      <%= f.text_field :init_price_lteq, :value => init_price_lteq, :style => 'width: 200px;', :placeholder => '최대가격' %>
    	</div>
      <div id="category_field" style="margin-top: 20px;">
        <% category_arr_1 = params[:category_arr] ? params[:category_arr][0] : '' %>
        <label style="width: 50px; margin-top: 30px;">카테고리</label>

        <span id="category_field_1"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.roots, "id", "name", category_arr_1), :id => 'category_depth_1', :prompt =>'선택하세요.', :style => 'width: 200px;' %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_1'></i></span>

        <span id="category_field_2">
          <% category_arr_2 = params[:category_arr] ? params[:category_arr][1] : nil %>
          <% if category_arr_2 %>
            <span id="category_field_2"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_2).siblings, "id", "name", category_arr_2), :id => 'category_depth_2', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_2'></i></span>
          <% end %>
        </span>

        <span id="category_field_3">
          <% category_arr_3 = params[:category_arr] ? params[:category_arr][2] : nil %>
          <% if category_arr_3 %>
            <span id="category_field_3"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_3).siblings, "id", "name", category_arr_3), :id => 'category_depth_3', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_3'></i></span>
          <% end %>
        </span>

      </div>
      <div class="ui checkbox" style="margin-top: 30px;">
        <%= f.check_box :is_sale_eq, { id: 'q_sale_check'}, 'true', '' %>
        <label for="check1">세일상품만</label>
      </div>

      
    </div>
    <%= button_tag(type: 'submit', class: 'ui red submit button icon') do %><i class="search icon"></i> 검색<% end %>
    <div class="ui blue submit button icon" style="text-align: right;" id='search_init'><i class="remove sign icon"></i> 초기화</div>
  <% end %>
  
    
  </div>

</div>

<div align='right'>
    <% params.delete(:page) %>
    <%= sort_link @q, :init_price, "가격순", {}, { :class => 'ui button circular black', :style => 'font-size: 12px;'} %>
    <%= sort_link @q, :created_at, "신상품순", {default_order: :desc}, { :class => 'ui button circular black', :style => 'font-size: 12px;'} %>
  </div>

<div style="">
	<a href="/myshop/products/new" class="ui green button small">상품추가</a>
	<table class="ui  table segment">
	  <thead>
	    <tr>
	    	<th style="text-align: center;" class="two wide">사진</th>
		    <th style="text-align: center;" class="eleven wide">타이틀</th>
		    <th style="text-align: center;" class="two wide">등록일</th>
		    <th style="text-align: center;" class="one wide">삭제<th>
	  	</tr>
		</thead>
	  <tbody>
	   	<% @products.each do |product| %>
	   		<tr>
	   			<td style="text-align: center;"><%= image_tag product.featured_small_image_url, :style => 'width: 50px;' %></td>
	   			<td><%= link_to product.title, edit_myshop_product_path(product) %></td>
	   			<td style="text-align: center;"><%= product.created_at.strftime("%F %T") %></td>
	   			<td style="text-align: center;"><%= link_to myshop_product_path(product), :method => 'delete', :confirm => '상품을 삭제하시겠습니까?', :class => 'ui button red mini' do %>삭제<% end %></td>
	   		</tr>
	   	<% end %>
	  </tbody>
	</table>

	<div>
		<%= paginate @products %>
	</div>

</div>

