 <style>

#main {
  margin: 20px 0;
  position: relative;
}

.items {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
.items li {
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  /*cursor: pointer;*/
  padding: 15px;
}

.items li.inactive {
  visibility: hidden;
  opacity: 0;
}

.items li img {
  display: block;
}

.tiles li p {
  background-color: 
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.product_user_image {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.product_user_id {
  float: left; 
  margin-left: 5px;
  font-size: 12px;
}

.sub.header {
  font-size: 11px;
  /*color: #999;*/
  color: black;
 /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 100px; 
  max-height: 60%; 
  width: 100%*/

}



.product_user_id {
  font-weight: bold;
  color: #4083a9;
}


.product_icons {
  /*margin-top: 10px;*/
  
}


.product_icon {
  color: #8D8D8D;
  /*margin-right: 5px;*/
  text-decoration: none;
  cursor: pointer;
}

.product_icon:hover {
  text-decoration: none;
  color: black;
}

.product_price {
  float: right; 
  margin-top: 5px; 
  font-weight: bold;
}

</style> 
  <div class="ui inverted  tertiary segment" style="background-color: #C5C5C5" >
    <div >
      <div class="uk-thumbnail" style="float: left;">
        <%= image_tag @collection_user.small_image_url, :style => 'width: 70px; height: 70px;' %>
      </div>
      
      <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
        
        <div style="color: #1F84AA"><%= @collection_user.user_id %></div>
        <div> 
          <span style="color: #999">님의 컬렉션입니다</span> 
        </div>
      </div>

    </div>
  </div>

  <div id="main">

    <ul class="items">
      <% @collections.each do |collection| %>
        <li class="item one-edge-shadow">


          <div class="item_image">
            
            <%= link_to collectionshop_path(collection), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay">
              
                <%= image_tag collection.featured_image_url %>
                <div class="uk-overlay-area">

                  <div class="ui small header uk-text-truncate">
                    <%= collection.name %>
                  </div>

                    <p class="sub header detail_info">
                    
                   
                    
                    </p>
                  <div>
                    
                  </div>
                </div>
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
              <div style="float: left;"></div>
              
              <div class="product_user_id" style="float: left;">
               
              </div>
              <div class="product_icons" style="text-align: right">
                <a href="#" class="product_icon" ><i class="unhide icon"></i><%= collection.impressionist_count %></a>
                <!-- <a href="#" class="product_icon"><i class="comment icon"></i><%#= item.product.reviews.count %></a> -->
                <!-- <a href="#" class="product_icon"><i class="block layout icon"></i></i><%#= item.product.collection_items.count %></a>  -->
              </div>
            </div>
            
          </div>
          
          
          
        </li>
      <% end %>

     
    </ul>
  </div>