<%= simple_form_for [:myshop, @saved_money_rate] do |f| %>
<div class="ui form blue segment">
	<div class="inline fields">
	<div class="field">
		<label>적립금 비율</label>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :saved_money_rate, :as => :string, :placeholder => "적립금 비율을 입력하세요.", :label => false %>
			
		</div>
	</div>

	

	

	<div class="field">
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>
 </div>
 </div>
<% end %>