<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>적립금 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<%= render 'form' %>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="five wide">적립금 비율</th>
			<th style="text-align: center" class="six wide">등록일</th>
			
		</tr>
	</thead>
	<tbody>
		<% @saved_money_rates.each do |rate| %>
			<tr>
				<td style="text-align: center"><%= rate.saved_money_rate %> %</td>
				<td style="text-align: center"><%= rate.created_at.strftime("%F %T") %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>

<div>
	<%#= paginate @exchange_rates %>
</div>



