<script>
$(function() {

  var slide = $(".slide");

  slide.owlCarousel({
    // stopOnHover : true,
    // navigation:true,
    // paginationSpeed : 2000,
    lazyLoad : true,
    pagination: false,
    singleItem : true
    
    // autoHeight : true,
    // transitionStyle: 'fade'
  });

  $('.product_thumbnail').on('click', function() {

    $(this).parent().prev().trigger('owl.goTo', $(this).prev('.thumbnail_index').val());
  });

  $('.select_options').on('change', function() {

    //컬러옵션만 가능
    if($(this).attr("option") != "color") return;
    

    //세일컬러
    var sale_color = "<%= @product.multi_price_final['sale_color'] %>";

    //세일컬러가 있을경우에만 가능
    if(sale_color == '') return;

    //컬러옵션 변경시 슬라이드 인덱스 초기화
    $(".owl-carousel").each(function() {
      owl = $(this).data('owlCarousel');
      owl.jumpTo(0);
    })

    //옵션아이디 
    id = $(this).val().split("_")[1];
    $('.option_images').hide();
    $("#option_" + id).show();

    //가격
    var selected_price = $('.select_options option:selected').attr("price");
    var selected_color = $('.select_options option:selected').attr("item_title");
    if(selected_price == 'original') {
      $(".price_block").hide();
      $("#price_block_original").css("text-decoration", "");
      $("#price_block_original").show();
    }else {
      $(".price_block").hide();
      
      $("#price_block_original").css("text-decoration", "line-through");
      $("#price_block_original").show();
      document.getElementById("color_option_price_" + selected_color).style.display = "block"
      // $("#color_option_price_" + selected_color).show();
    }

    //사이즈
    var select_size = $('#selectbox_size');
    if(select_size == '') return;

    select_size.children().remove();
    select_size.append("<option value=''>선택</option>");
    $('.hidden_size_option').each(function() {
      
      if(getInventoryState(selected_color, $(this).attr('title')))
        select_size.append("<option value='" + $(this).val() + "'>" + $(this).attr('title') + "</option>")
      else
        select_size.append("<option disabled value='" + $(this).val() + "'>" + $(this).attr('title') + " - 품절</option>")
    });
  });
})

function getInventoryState(color, size) {
  var state = document.getElementById("color*_*" + color + "-_-size*_*" + size).value; 
  if(state == 'available')
    return true;
  else
    return false;
}

</script>

<div class="ui segment">
  <div class="ui inverted  tertiary segment" style="background-color: #C5C5C5" >
    <div >
      
      
      <div class="ui image uk-thumbnail" style="float: left; background-color: #fff;">
      
        <%= link_to collectionshop_path(@collection_item.user.user_id, @collection_item.collection.id) do %>
          <%= image_tag @collection_item.user.small_image_url, :style => 'width: 70px; height: 70px;' %>
        <% end %>
      </div>

      <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
        
        <div style="color: #1F84AA"><%= @collection_item.collection.name %></div>
        <div> 컬렉션의 다른 상품</div>
      </div>
      <div>
        <%= link_to collectionshop_path(@collection_item.user.user_id, @collection_item.collection.id) do %>
        <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px; ">
          <p style="color: #999; font-size: 20px; font-weight: bold; text-align: center; line-height: 70px;">
            <%= @other_collection_items_all.count %>
          </p>
        </div>
        <% end %>
        <% @other_collection_items.each do |item| %>
          <%= link_to collection_item_show_path(item.user.user_id, item) do %>
            <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px;">
              <%= image_tag item.product.featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui grid" style="margin-top: 30px;">

    <div class="thirteen wide column">
      <div class="ui row grid">
        <div class="nine wide column">
          <%= render 'common/product_show_slide' %>
        </div>

        <div class="seven wide column">
          <%= render 'rootshop/partial/product_price_info' %>
        </div>


      </div>
      <div class="row" style="margin-top: 20px;  padding: 10px;">
        <div class="ten wide column">
          <%= render 'common/product_show_detail_tab' %>
        </div>
      </div>
    </div>

    <div class="three wide column">
      <%= render 'rootshop/partial/include_collections' %>
    </div>


  </div>


<div id="collection_add">
  <%= render 'rootshop/partial/collection_add' %>
</div>
</div>
</div>

