<% if @product.is_crawled == 'true' %>
  <%= render 'crawled_products_show' %>
<% else %>
  <%= render 'products_show' %>
<% end %>

<script>


  var add_cart_check;

  $(function() {
    return $('#cart_btn').on('click', function() {
      if (add_cart_check()) {
        return $('#cart_submit_btn').click();
      }
    });
  });

  $('#direct_purchase_btn').on('click', function() {
    if (!$('#user_id').val()) {
      alert("로그인이 필요합니다.");
      return window.location.href = '/users/sign_in';
    } else {
      if (add_cart_check()) {
        $('#order_type').val('direct');
        return $('#cart_submit_btn').click();
      }
    }
  });

  $('#comment_submit_btn').on('click', function() {
    if ($('#comment').val()) {
      if (!$('#user_id').val()) {
        alert("로그인이 필요합니다.");
        return window.location.href = '/users/sign_in';
      } else {
        $('#comment_submit_btn').addClass('loading');
        return $('#comment_submit').click();
      }
    }
  });

  $('.timeago').each(function() {
    var date;
    date = moment(new Date($(this).attr('data-date')));
    return $(this).html(date.fromNow());
  });

  $('#size_table_btn').on('click', function() {
    return $('.ui.modal.price_size_table').modal('setting', 'transition', 'fade').modal('show');
  });

  $('.collection_items').mouseenter(function(e) {
    $(this).find('.collection_delete_btn').css('display', 'inline');
    return $(this).find('.collection_added_btn').css('display', 'none');
  });

  $('.collection_items').mouseleave(function(e) {
    $(this).find('.collection_delete_btn').css('display', 'none');
    return $(this).find('.collection_added_btn').css('display', 'inline');
  });

  $('#collection_create_btn').on('click', function() {
    if ($('#collection_name').val()) {
      return $('#collection_add_submit').click();
    }
  });

  $('#collection_cancel_btn').on('click', function() {
    $('#collection_name').val('');
    $('#collection_add_form').hide();
    return $('#collection_add_segment').show();
  });

  $('#collection_add_btn').on('click', function() {
    $('#collection_add_form').show();
    return $('#collection_add_segment').hide();
  });

  $('#tab_warning_order').on('click', function() {
    $('#tab_warning_order_content').show();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').addClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_detail_info').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').show();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').addClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_reviews').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').show();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').addClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_comments').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').show();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').addClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_delivery').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').show();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').addClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_cancel_order').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').show();
    $('#tab_inquiry_comment_content').hide();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').addClass('active');
    return $('#tab_inquiry_comment').removeClass('active');
  });

  $('#tab_inquiry_comment').on('click', function() {
    $('#tab_warning_order_content').hide();
    $('#tab_detail_info_content').hide();
    $('#tab_reviews_content').hide();
    $('#tab_comments_content').hide();
    $('#tab_delivery_content').hide();
    $('#tab_cancel_order_content').hide();
    $('#tab_inquiry_comment_content').show();
    $('#tab_warning_order').removeClass('active');
    $('#tab_detail_info').removeClass('active');
    $('#tab_reviews').removeClass('active');
    $('#tab_comments').removeClass('active');
    $('#tab_delivery').removeClass('active');
    $('#tab_cancel_order').removeClass('active');
    return $('#tab_inquiry_comment').addClass('active');
  });

  $('#comment_button').on('click', function() {
    $('#comment_button').hide();
    return $('#comment_add_form').show();
  });

  add_cart_check = function() {
    var selected;
    selected = true;
    $('select').each(function() {
      if ($(this).children(':selected').val() === "") {
        selected = false;
        return alert($(this).attr('option') + " 옵션을 선택하세요.");
      }
    });
    return selected;
  };


</script>
