<% if params[:type] == 'review' %>
	<a href="/board/review/new" class="btn btn-primary">후기작성</a>
<% elsif params[:type] == 'faq' %>
	<a href="/board/faq/new" class="btn btn-primary">문의작성</a>
<% elsif params[:type] == 'notice' %>
	<% if current_user and current_user.seller_user? %>
		<a href="/board/notice/new" class="btn btn-primary">공지사항작성</a>
	<% end %>
<% elsif params[:type] == 'used' %>
	<a href="/board/used/new" class="btn btn-primary">중고상품등록</a>
<% end %>