
    <li>
    	<a href="/board/<%= params[:type] %>">
    		<% if params[:type] == 'review' %>
    		사용후기
    		<% elsif params[:type] == 'faq' %>
    		문의
            <% elsif params[:type] == 'product_faq' %>
            상품문의
            <% elsif params[:type] == 'used' %>
            중고장터
            <% elsif params[:type] == 'notice' %>
            공지사항
    		<% end %>
    	
    	</a>
    </li>
