<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    	<% if params[:type] == 'review' %>
        <h2>사용후기</h2>
        <p>사용후기를 올려주세요.</p>
      <% elsif params[:type] == 'faq' %>
      	<h2>문의</h2>
        <p>문의를 올려주세요.</p>
      <% elsif params[:type] == 'notice' %>
      	<h2>공지사항</h2>
      <% elsif params[:type] == 'used' %>
      	<h2>중고장터</h2>
        <p>중고상품을 올려주세요.</p>
       <% else %>
       	<h2>상품문의</h2>
       <% end %>
    </div>
</div>