<div class="col-sm-3">
    <div id="categoryMenu">
        <h3>게시판</h3>

        <ul class="nav nav-pills nav-stacked">
            <li <% if params[:type] == 'notice' %>class="active" <% end %>>
                <a href="/board/notice">공지사항</a>
            </li>
            <li <% if params[:type] == 'review' %>class="active" <% end %>>
                <a href="/board/review">사용후기</a>
            </li>
            <li <% if params[:type] == 'faq' %>class="active" <% end %>>
                <a href="/board/faq">문의</a>
            </li>
            <li <% if params[:type] == 'product_faq' %>class="active" <% end %>>
                <a href="/board/product_faq">상품문의</a>
            </li>
            <li <% if params[:type] == 'used' %>class="active" <% end %>>
                <a href="/board/used">중고장터</a>
            </li>
            
        </ul>
    </div>

  <!--   <div class="banner">
        <a href="category.html">
            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
        </a>
    </div> -->
    <!-- /.banner -->
</div>