<%= simple_form_for @board, :url => board_update_path(params[:type], @board.id), :method => 'put' do |f|   %>
  <input type="hidden" id="user_id" value="<%= current_user.user_id if current_user %>">
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <%= f.input :title, :placeholder => "제목을 입력하세요.", :label => false, :input_html => { :class => 'form-control' }%>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {filebrowserImageUploadUrl: '/ckeditor/pictures', :toolbar => 'Full'}}, :label => false %>
  </div>
  
  
  <button type="submit" class="btn btn-default">저장</button>
<% end %>