<script>
$(function() {
    $('#new_board').on('submit', function() {
        if($('#user_id').val() == '') {
            alert("로그인이 필요합니다.");
            location.href = "/users/sign_in"
            retrun false;
        }else {
            return true;
        }

    });
});
</script>
<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">

                        <li><a href="/">Home</a>
                        </li>
                        <%= render 'board_breadcrumb' %>
                        <li><%= @board.title %></li>
                    </ul>


                    <div class="box2 text-center">

                        <%= render 'board_top_title' %>
                    </div>

                </div>

                <!-- *** LEFT COLUMN ***
		     _________________________________________________________ -->

                <div class="col-sm-9" id="blog-listing">
                    
                  <div class="post">
                    <%= render 'update_form' %>
                  </div>

                </div>


                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
		     _________________________________________________________ -->

                <%= render 'board_right' %>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


       




    </div>