<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">

                        <li><a href="/">Home</a>
                        </li>
                        <%= render 'board_breadcrumb' %>
                    </ul>

                    <div class="box2 text-center">
                        <%= render 'board_top_title' %>
                        
                    </div>

                </div>

                <!-- *** LEFT COLUMN ***
		     _________________________________________________________ -->

                <div class="col-sm-9" id="blog-listing">
                    
                  <div class="post">
                      <table class="table table-hover table-striped">
                        <thead>
                          <tr>
                            <th style="text-align: center; width: 10%">No</th>
                            <th style="text-align: center; width: 60%">제목</th>
                            <th style="text-align: center; width: 15%">작성자</th>
                            <th style="text-align: center; width: 15%">작성일자</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% @boards.each do |board| %>
                          <tr>
                            <td style="text-align: center"><%= board.id %></td>
                            <% product = Product.find(board.commentable_id) %>
                            <td><%= image_tag  product.featured_small_image_url, :style => 'width: 30px; height: 30px;' %><a href="/board/<%= params[:type] %>/<%= board.id %>"><%= product.title %> [<%= Comment.where(:parent_id => board.id).count %>]</a></td>
                            <td style="text-align: center"><%= board.user.user_id %></td>
                            <td style="text-align: center"><%= board.created_at.strftime("%F") %></td>
                          </tr>
                          <% end %>
                          
                        </tbody>
                      </table>
                  </div>
                  <%#= render 'board_new_button' %>
                  <div class="pages">
                  <%= paginate @boards, :theme => 'bootstrap' %>
                  </div>

     

                </div>


                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
		     _________________________________________________________ -->

                <%= render 'board_right' %>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


       




    </div>