<input type="hidden" id="user_id" value="<%= current_user.user_id if current_user %>">
<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                		<ul class="breadcrumb">

                        <li><a href="/">Home</a>
                        </li>
                        <%= render 'board_breadcrumb' %>
                        <li><%= @board.title %></li>
                    </ul>
                  


                    <!-- <div class="box text-center">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1><%= @board.title %></h1>
                                <p class="text-italic text-muted">By <a href="#"><%= @board.user.user_id %></a> | <%= @board.created_at.strftime("%F") %></p>
                              
                            </div>
                        </div>
                    </div> -->

                </div>

                <!-- *** LEFT COLUMN ***
				       _________________________________________________________ -->

                <div class="col-sm-9" id="blog-post">

                    <div id="post-content">
                    	<h3><%= @board.title %></h3>
                    	<div class="text-italic text-muted"><a href="#"><%= @board.user.user_id %></a> | <%= @board.created_at.strftime("%F") %></div>
                    	<hr>
                    	

                        <div style="min-height: 300px;"><%= raw @board.body %></div>

                    </div>
                    <!-- /#post-content -->

                    <!-- <div id="comments">
                        <h4>2 comments</h4>


                        <div class="row comment">
                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                    <img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt="">
                                </p>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <h5>Julie Alma</h5>
                                <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </p>
                            </div>
                        </div>
                      


                        <div class="row comment last">

                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                    <img src="img/blog-avatar.jpg" class="img-responsive img-circle" alt="">
                                </p>
                            </div>

                            <div class="col-sm-9 col-md-10">
                                <h5>Louise Armero</h5>
                                <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </p>
                            </div>

                        </div>
                    </div> -->
                    <!-- /#comments -->


                    <!-- <div id="comment-form">

                        <h4>Leave comment</h4>

                        <form>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">Comment <span class="required">*</span>
                                        </label>
                                        <textarea class="form-control" id="comment" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Post comment</button>
                                </div>
                            </div>


                        </form>

                    </div> -->
                    <!-- /#comment-form -->
                    <!-- <hr> -->
                    <% if current_user and current_user.id == @board.user_id %>
                    	<div align="right">
                            <a href="/board/<%= @board.board_type %>/<%= @board.id %>/edit" class="btn btn-primary">수정하기</a>&nbsp;
                            <%= link_to "삭제하기", board_destroy_path(@board.board_type, @board.id), :class => 'btn btn-primary', :confirm => '삭제하시겠습니까?', :method => 'delete' %>
                        </div>
                    <% end %>

                    <div id="comment-form">

                        <!-- <h4>코멘트</h4> -->
                        <%= form_tag board_comment_create_path(params[:type], @board) do %>
                           

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">Comment
                                        </label>
                                        <%= text_area_tag :comment, '', { :class => 'form-control', :id => 'comment', :rows => '4', :placeholder => '코멘트를 입력하세요.' } %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-comment-o"></i> 코멘트</button>
                                </div>
                            </div>


                        <% end %>

                    </div>

                    <% unless @comments.empty? %>
                    <div id="comments">

                        <h4><%= @comments.count %> comments</h4>


                        <% @comments.each do |comment| %>
                        <div class="row comment">
                            <div class="col-sm-1 col-md-1 text-center-xs">
                                <p>
                            
                                    <%= image_tag  comment.user.small_image_url , :class => 'img-responsive' %>
                                    <!-- <img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt=""> -->
                                </p>
                            </div>
                            <div class="col-sm-11 col-md-11">
                                <h5><%= comment.user.user_id %> &nbsp;&nbsp;<span class="posted"><i class="fa fa-clock-o"></i> <%= comment.created_at.strftime("%F %T") %></span> 
                                <% if current_user and current_user.id == comment.user_id %>
                                    <%= link_to '삭제', board_comment_destroy_path(@board.board_type, @board.id, comment.id), :method => 'delete', :confirm => '삭제하시겠습니까?' %>
                                <% end %>
                                </h5>
                                <p><%= comment.body %></p>
                                <!-- <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a> -->
                                </p>
                            </div>
                        </div>
                        <hr>
                        <% end %>
                        <!-- /.comment -->
                    </div>
                    <% end %>
                </div>
                <!-- /#blog-post -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
			    _________________________________________________________ -->

                <%= render 'board_right' %>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


      

      


    </div>
    <!-- /#all -->

<script>
$(function() {
    $('form').on('submit', function() {
        if($('#user_id').val() == '') {
            alert("로그인이 필요합니다.");
            location.href = "/users/sign_in";
            return false;
        }

        if($('#comment').val() == '') {
            return false;
        }
    });
});
</script>