<center>
          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
              <tr>
                  <td align="center" height="100%" valign="top" width="100%">
                      <!-- BEGIN PREHEADER -->
                        
                        <!-- END PREHEADER -->
                      <!-- BEGIN TEMPLATE SECTIONS -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                              <td align="center" valign="top">
                                  <!-- BEGIN HEADER -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                      <tr>
                                          <td align="center" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                  <tr>
                                                        <td class="headerContent" style="text-align: left;">
                                                            <img src="https://quusome.com/assets/quusome_header_logo-2b6de6e008cb8d7643ddb112e4230327.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END HEADER -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                  <!-- BEGIN BODY -->
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                      <tr>
                                          <td align="center" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                  <tr>
                                                        <td valign="top" class="bodyContent" mc:edit="body_content"><h1>주문내역</h1>
&nbsp;

<h2>주문해 주셔서 감사합니다. 주문하신 내역을 확인해 주세요.</h2>
<table class="ui basic table">
  <thead>
    <tr>
      <th style="width: 10%"></th>
      <th style="width: 65%; text-align: center;">상품</th>
      <th style="width: 10%; text-align: center;">수량</th>
      <th style="width: 15%; text-align: center;">가격</th>
  </tr></thead>
  <tbody>
    <tr>
      <td><img src="https://quusome.com/system/uploads/files/000/012/770/thumb/cee4b66f8e0dbda2a4f394a13adc5002.jpeg?1399308694"></td>
      <td style="text-align: left;">John</td>
      <td>1</td>
      <td>123,1239</td>
    </tr>
    <tr>
      <td><img src="https://quusome.com/system/uploads/files/000/012/770/thumb/cee4b66f8e0dbda2a4f394a13adc5002.jpeg?1399308694"></td>
      <td style="text-align: left;">John</td>
      <td>1</td>
      <td>123,1239</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th>합계</th>
      <th>2</th>
      <th>1,234,123</th>
    </tr>
  </tfoot>
</table>
</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END BODY -->
                                </td>
                            </tr>
                          <tr>
                              <td align="center" valign="top">
                                    <!-- BEGIN FOOTER -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td align="center" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                    <tr>
                                                        <td valign="top" class="footerContent" mc:edit="footer_content00">
                                                            <a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|FORWARD|*">Forward to Friend</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                                            <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                                            <br>
                                                            *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                                                            <br>
                                                            <br>
                                                            <strong>Our mailing address is:</strong>
                                                            <br>
                                                            *|HTML:LIST_ADDRESS_HTML|* *|END:IF|* 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content02">
                                                            <a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content03">
                                                            *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END FOOTER -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
