<h3 class="ui header" style="">
	
	<div class="content" >
		<div class="content" >
		<span class="ui breadcrumb" style="width: 850px;">
			<i class="tags icon"></i>{{#link-to 'products.index' classNames="section"}}상품{{/link-to}}
			<div class="divider"> / </div>
			<div class="active section">{{title}}</div>

		</span>
	 	
	 	<span>
	 		{{#link-to 'products.index' classNames="ui button small"}}취소{{/link-to}}
	 		{{#link-to 'products.new' classNames="ui green button small"}}저장{{/link-to}}
	 	</span>
	</div>

</h3>

<div class="ui divider"></div>

<form>
	{{view Ember.TextField valueBinding="title" id="title"}}
	<a href="#" {{action save}}>수정</a>
	<a href="#" {{action cancel target='controller'}}>취소</a>

</form>

