

<h3 class="ui header" style="">
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<i class="tags icon"></i>상품

		</span>
	 	
	 	<span>{{#link-to 'products.new' classNames="ui green button small"}}상품추가{{/link-to}}<span>
	</div>

</h3>

<div class="ui divider"></div>
<div style="">
	<table class="ui basic table segment">
	  <thead>
	    <tr>
	    	<th>ID</th>
		    <th>TITLE</th>
		    <th>CREATED_AT</th>
		    <th>삭제<th>
	  	</tr>
		</thead>
	  <tbody>
	    {{#each model}}
				{{view App.ProductView contentbinding="this"}}
			{{/each}}
	  </tbody>
	</table>

</div>

