<h3 class="ui header" style="">
	
	<div class="content" >
		<div class="content" >
		<span class="ui breadcrumb" style="width: 850px;">
			<i class="tags icon"></i>{{#link-to 'products.index' classNames="section"}}상품{{/link-to}}
			<div class="divider"> / </div>
			<div class="active section">상품추가</div>

		</span>
	 	
	 	<span>
	 		{{#link-to 'products.index' classNames="ui button small"}}취소{{/link-to}}
	 		{{#link-to 'products.new' classNames="ui green button small"}}저장{{/link-to}}
	 	</span>
	</div>

</h3>

<div class="ui divider"></div>

<form>

	{{view Ember.TextField valueBinding='title' name='title' viewName='titleField'}}<br/>
	{{!-- <input type="file" name="product_image" id="product_image" {{ action imageUpload on="change"}}> --}}
		{{view App.UploadFileView name="product_image" id="product_image" contentBinding="model" controllerBinding="App.UploadFileController"}}<br/>
		<a href="#" {{action save}}>저장</a>
		<div class="image_list"></div>
		<div>

		<ul>

		{{#each model.product_images}}
			<li><img src="http://localhost:3000{{unbound small_image_url}}"/><a href="#" {{action imageDelete this}}>삭제</a></li>
		{{/each}}
		</ul>
	</div>
</form>




