<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">

                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/blogs">Blogs</a></li>
                    </ul>


         <!--            <div class="box text-center">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1>Blog category name</h1>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                            </div>
                        </div>
                    </div> -->

                </div>

                <!-- *** LEFT COLUMN ***
		     _________________________________________________________ -->

                <div class="col-sm-9" id="blog-listing">
                    <% @blogs.each do |blog| %>
                    <div class="post">
                        <h2><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
                        <p class="author-category">By <a href="#">Quusome</a>
                        </p>
                        <hr>
                        <p class="date-comments">
                            <a href="/blogs/<%= blog.id %>"><i class="fa fa-calendar-o"></i> <%= blog.created_at.strftime("%F") %></a>
                            <!-- <a href="post.html"><i class="fa fa-comment-o"></i> 8 Comments</a> -->
                        </p>
                        <div class="image">
                            <a href="/blogs/<%= blog.id %>">
                                <%= image_tag blog.image, :class => 'img-responsive' %>
                            </a>
                        </div>
                        <p class="intro"><%= blog.description %></p>
                        <p class="read-more"><a href="/blogs/<%= blog.id %>" class="btn btn-primary">Continue reading</a>
                        </p>
                    </div>
                    <% end %>

                    <ul class="pager">
                        <% unless @blogs.last_page? %>
                        <li class="previous"><a href="/blogs?page=<%= @blogs.next_page %>">&larr; Older</a></li>
                        <% end %>

                        <% unless @blogs.first_page? %>
                            <li class="next"><a href="/blogs?page=<%= @blogs.prev_page %>">Newer &rarr;</a></li>
                        <% end %>
                    </ul>



                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
		     _________________________________________________________ -->

                <div class="col-sm-3">
                    <div id="categoryMenu">
                        <h3>Blog</h3>

                        <ul class="nav nav-pills nav-stacked">
                            <% BlogCategory.order('sort_num ASC').each do |category| %>
                            <li <% if params[:category_id] == category.id.to_s %>class="active"<% end %>>
                                <a href="blogs?category_id=<%= category.id %>"><%= category.name %></a>
                            </li>
                            <% end %>
                            
                        </ul>
                    </div>

                  <!--   <div class="banner">
                        <a href="category.html">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div> -->
                    <!-- /.banner -->
                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


       




    </div>