<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">

                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/blogs">Blog</a>
                        </li>
                        <li><%= @blog.title %></li>
                    </ul>


                    <div class="box text-center">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1><%= @blog.title %></h1>
                                <p class="text-italic text-muted">By <a href="#">QUUSOME</a> | <%= @blog.created_at.strftime("%F") %></p>
                                <p class="lead"><%= @blog.description %></p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- *** LEFT COLUMN ***
				       _________________________________________________________ -->

                <div class="col-sm-9" id="blog-post">

                    <div id="post-content">
                        <%= raw @blog.body %>

                    </div>
                    <!-- /#post-content -->

                    <!-- <div id="comments">
                        <h4>2 comments</h4>


                        <div class="row comment">
                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                    <img src="img/blog-avatar2.jpg" class="img-responsive img-circle" alt="">
                                </p>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <h5>Julie Alma</h5>
                                <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </p>
                            </div>
                        </div>
                      


                        <div class="row comment last">

                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                    <img src="img/blog-avatar.jpg" class="img-responsive img-circle" alt="">
                                </p>
                            </div>

                            <div class="col-sm-9 col-md-10">
                                <h5>Louise Armero</h5>
                                <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                    ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </p>
                            </div>

                        </div>
                    </div> -->
                    <!-- /#comments -->


                    <!-- <div id="comment-form">

                        <h4>Leave comment</h4>

                        <form>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="comment">Comment <span class="required">*</span>
                                        </label>
                                        <textarea class="form-control" id="comment" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Post comment</button>
                                </div>
                            </div>


                        </form>

                    </div> -->
                    <!-- /#comment-form -->


                </div>
                <!-- /#blog-post -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
			    _________________________________________________________ -->

                <div class="col-sm-3">
                    <div id="categoryMenu">
                        <h3>Blog</h3>

                        <ul class="nav nav-pills nav-stacked">
                            <% BlogCategory.order('sort_num ASC').each do |category| %>
                            <li <% if @blog.blog_category_id == category.id %>class="active" <% end %>>
                                <a href="/blogs?category_id=<%= category.id %>"><%= category.name %></a>
                            </li>
                            <% end %>
                            
                        </ul>
                    </div>

                  <!--   <div class="banner">
                        <a href="category.html">
                            <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div> -->
                    <!-- /.banner -->
                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


      

      


    </div>
    <!-- /#all -->