
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "uk-form uk-form-stacked"}) do |f| %>

	<%#= devise_error_messages! %>
	<% if resource.errors.any? %>
    <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
  		<a href="" class="uk-alert-close uk-close"></a>


      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%#= message_block :on => [:user] %>
	<%= f.hidden_field :user_type, :value => "#{resource.user_type}" %>
	<fieldset>

		<!-- 이메일  -->
		<div class="uk-form-row" style="width: 400px;">
			<!-- <i class="typcn typcn-mail" style="font-size:20px;"></i> -->
			<%= f.label :email, :class => "uk-form-label" %>
				
			<div class="uk-form-controls">
				<%= f.text_field :email, :class => "uk-form-width-large uk-form-large", :placeholder => "#{t('common.email')}" %>
				
				<p class="uk-form-help-block uk-text-muted" style="font-size: 12px;">
					<%= t('user.sign_up.email_helper') %>
				</p>
			</div>
		</div>

		<!-- 비밀번호 -->
		<div class="uk-form-row">
			<!-- <i class="typcn typcn-lock-closed-outline" style="font-size:20px;"></i> -->
			<%= f.label :password, :class => "uk-form-label" %>
		
			<div class="uk-form-controls" style="width: 400px;">
				<%= f.text_field :password, :class => "uk-form-width-large uk-form-large", :placeholder => "#{t('common.password')}" %>
				<p class="uk-form-help-block uk-text-muted" style="font-size: 12px;">
					<%= t('user.sign_up.password_helper') %>
				</p>
			</div>
		</div>

		<div class="uk-form-row">
			<!-- <i class="typcn typcn-business-card" style="font-size:20px;"></i> -->
			<%= f.label :user_id, :class => "uk-form-label"  %>
				
			<div class="uk-form-controls" style="width: 400px;">
				<%= f.text_field :user_id, :class => "uk-form-width-large uk-form-large", :placeholder => "#{t('common.id')}" %>
				<p class="uk-form-help-block uk-text-muted" style="font-size: 12px;">
					<%= t('user.sign_up.id_helper') %>
				</p>
			</div>
		</div>

		

		<div style="margin-top: 20px;">
			<% btn = "user.sign_up.#{resource.user_type}.sign_up_btn" %>
			<%= f.submit "#{t(btn)}", :class => "uk-button uk-button-primary uk-button-large "%>
		</div>
	</fieldset>

<% end %>