<style>
  #avatar_image_upload {
    /* Note: display:none on the input won't trigger the click event in WebKit.
      Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;
  }
  #fileSelect {
    /* style the button any way you want */
  }
</style>

<script>
$(function() {
  $('#fileSelect').on('click', function() {
    $('#avatar_image_upload').click();
  });
})
</script>


<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">
 <h3 class="ui header">
 
  사용자 정보
</h3>
<div class="ui divider"></div>

 <div class="ui grid" style="margin-top: 10px;">
  
  <div class="twelve wide column">
    <div class="ui ">
  

      
        <div class="ui  grid">
          <div class="column five wide ">
            <div class="ui fluid form segment teal inverted secondary"  align="center">
             
              <div>

                <%= image_tag resource.small_image_url, :class => 'rounded ui image', :id => 'avatar_image' %>

              </div>
              
              <div style="margin-top: 10px;">


              <input type="file" id="avatar_image_upload" name="avatar_image_upload">
              <a id="fileSelect" class="ui button red mini">프로필 이미지 수정</a>



               <!--  <input type="file" name="avatar_image" class="ui button red" style="display: block; opacity: 0 !important; width: 105px; height: 25px; z-index: 99999">
                <a class="ui button red mini" style="margin-top: -47px; cursor: pointer; z-index: 1">프로필 이미지 수정</a> -->
              </div>
              <div class="ui divider"></div>
              <div style="margin-top: 10px;">
                <i class="mail icon"></i> 이메일<br/>
                <%= resource.email %>
              </div>
              <div style="margin-top: 10px;">
                <i class="user icon"></i> 아이디<br/>
                <%= resource.user_id %>
              </div>
            
            </div>
          </div>
          <div class="column eleven wide">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <% flash.each do |name, msg| %>

            <div class="uk-alert" data-uk-alert>
              <a href="" class="uk-alert-close uk-close"></a>
              <%= msg %>
             
            </div>
          <% end %>

          <%= devise_error_messages! %>
            <div class="ui fluid form ">
             

               <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %><i style="font-size: 12px;">(변경을 원하지 않으시면 입력하지 마세요.)</i>
                <div class="ui left labeled icon input">

                  <%= f.password_field :password, :autocomplete => "off"  %>
                  <i class="lock icon"></i>
                </div>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %>
                <div class="ui left labeled icon input">

                  <%= f.password_field :password_confirmation  %>
                  <i class="lock icon"></i>
                </div>
              </div>

              <div class="field">
                <label>현재 비밀번호</label>
                <%#= f.label :current_password %>
                <div class="ui left labeled icon input">

                  <%= f.password_field :current_password  %>
                  <i class="lock icon"></i>
                </div>
              </div>

              <div><%= f.submit "수정", :class => 'ui button blue' %></div>

            </div>
          <% end %>
          </div>
        </div>
     
       
<!-- 
        <div><%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%#= f.password_field :password, :autocomplete => "off" %></div>

        <div><%#= f.label :password_confirmation %><br />
        <%#= f.password_field :password_confirmation %></div>

        <div><%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%#= f.password_field :current_password %></div>

        <div><%#= f.submit "Update" %></div> -->
      
      <% if current_user.normal_user? %>
        <h3 class="ui header">
          회원탈퇴
        </h3>
        <%
         msg = "회원탈퇴를 하시겠습니까?"

          if @profits_sum && @profits_sum.collection_profit > 0
            msg = "컬렉션 수익이 현재 #{@profits_sum.collection_profit} 입니다.\n회원탈회를 하면 수익이 소멸됩니다. 탈퇴하시겠습니까?"
       
          end
          
        %>
        <% if @order_state %>
          <p>회원탈퇴를 하고 싶으신가요? <%= button_to "회원탈퇴", registration_path(resource_name), :data => { :confirm => "#{msg}" }, :method => :delete, :class => 'ui button blue' %></p>
        <% else %>
          주문중인 상품이 있습니다. 주문이 완료된 후 회원탈퇴가 가능합니다.
        <% end %>
      <% else %>
        <% if @request_user_destroy.nil? %>
          <h3 class="ui header">
            회원탈퇴요청
          </h3>

          <p>회원탈퇴 요청을 신청하시겠습니까?</br> 주문정보를 확인후 요청이 승인됩니다. 
            <%= button_to "회원탈퇴요청", request_user_destroy_path, :data => { :confirm => "회원탈퇴 요청을 하시겠습니까?" }, :method => :post, :class => 'ui button blue' %></p>
          <% else %>
            <h3 class="ui header">회원탈퇴 요청 승인 중입니다.</h3>
            <%= button_to "회원탈퇴요청 취소", cancel_user_destroy_path, :data => { :confirm => "회원탈퇴 요청을 취소 하시겠습니까?" }, :method => :delete, :class => 'ui button blue' %></p>
          <% end %>
      <% end %>

    </div>
  </div>
</div>

</div>


<!-- <div class="ui text menu">
  <a class="active item">
    <i class="user icon"></i> 사용자정보
  </a>
  <a class="item">
    <i class="truck icon"></i> 주문/배송
  </a>
  <a class="item">
    <i class="user icon"></i> 컬렉션 주문내역
  </a>
</div> -->






