<script>
$(function() {
    $('#new_user').submit(function(e) {
        if($('#check_sign_up').is(':checked') != true) {
            alert("약관과 개인정보 활용에 동의가 필요합니다.");
            return false;
        }
    });
});
</script>

<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <% if resource.errors.any? %>
                      <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
                            <a href="" class="uk-alert-close uk-close"></a>
                        <ul>
                        <% resource.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <%= image_tag 'register_text_500x170.jpg' %>
                       

                        <hr>

                        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                            <%= f.hidden_field :user_type, :value => "normal" %>
                            <div class="form-group">
                                <label for="name">이메일</label>
                                <%= f.text_field :email, :autofocus => true, :class => 'form-control' %>
                                <!-- <input type="text" class="form-control" id="name"> -->
                            </div>
                            <div class="form-group">
                                <label for="email">아이디</label>
                                <%= f.text_field :user_id, :class => "form-control" %>
                                <!-- <input type="text" class="form-control" id="email"> -->
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <%= f.password_field :password, :class => "form-control" %>
                                <!-- <input type="password" class="form-control" id="password"> -->
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호 확인</label>
                                <%= f.password_field :password_confirmation, :class => "form-control" %>
                                <!-- <input type="password" class="form-control" id="password"> -->
                            </div>
                            <div class="form-group">
                                <label>약관과 개인정보활용에 동의하십니까?</label>
                                <%= check_box_tag :check_sign_up %> 
                            </div>
                            <div class="form-group text-right">
                                <a class="mini ui button black" href="/pages/clause">이용약관</a>
                                <a class="mini ui button black" href="/pages/individual_infomation">개인정보취급방침</a>
                            </div>
                            <div class="text-center">
                                <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                                  <i class="fa fa-user-md"></i>회원가입
                                <% end %>
                                <!-- <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button> -->
                            </div>
                        <% end %>
                    </div>
                </div>

                <div class="col-md-6">
                    <%= image_tag 'Register_image.jpg' %>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


<!-- 전환페이지 설정 -->
 <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"> </script> 
 <script type="text/javascript">
var _nasa={};
 _nasa["cnv"] = wcs.cnv("2","0"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script> 