<!--
<style>
body { 
   width:100%; 
   height:100%; 
   background:url(<%#= asset_path 'pattern_login.jpg' %>) center center repeat;
}
</style>
-->
<script>
$(function() {
	$('#new_user').submit(function(e) {
		if($('#check_sign_up').is(':checked') != true) {
			alert("약관과 개인정보 활용에 동의가 필요합니다.");
			return false;
		}
	});
});
</script>
<% if resource.errors.any? %>
  <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
		<a href="" class="uk-alert-close uk-close"></a>
    <ul>
  	<% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<%= f.hidden_field :user_type, :value => "normal" %>
	<!-- <div class="ui two column grid">
	  <div class="column"> -->
	    <div class="ui fluid form segment" style="width: 400px; margin: 50px auto; background-color: #FAFAFA;">
	      <h4 class="ui header" style="color: black !important"><i class="smile icon large"></i>큐썸 회원가입을 환영합니다</h4>
	      <div class="ui divider"></div>
	      <div class="field">
	      	<%= f.label :email %>
	        <div class="ui left labeled icon input">
			      <%= f.text_field :email, :autofocus => true %>
			      <i class="mail icon"></i>
			    </div>
	      </div>

	      <div class="field">
	      	<%= f.label :user_id %>
	        <div class="ui left labeled icon input">
			      <%= f.text_field :user_id %>
			      <i class="user icon"></i>
			    </div>
	      </div>

	      <div class="field">
	        <label><%= f.label :password %></label>
	        <div class="ui left labeled icon input">
			    	<%= f.password_field :password %>
			      <i class="lock icon"></i>
			    </div>
	      </div>

	      <div class="field">
	        <label>비밀번호확인<%#= f.label :password_confirmation %></label>
	        <div class="ui left labeled icon input">
			    	<%= f.password_field :password_confirmation %>
			      <i class="lock icon"></i>
			    </div>
	      </div>
	      <div class="inline field">
	        <div class="ui checkbox">
	          <%= check_box_tag :check_sign_up %> 
	          <label>약관과 개인정보활용에 동의하십니끼?</label>
	          <%#= f.label :remember_me %>
	        </div>
	      </div>

	      <%= button_tag(type: 'submit', class: 'ui blue submit button', style: 'width: 350px;') do %>
          <i class="edit icon"></i>회원가입
        <% end %>

        <div class="ui divider"></div>

        <a class="mini ui button black" href="/pages/clause">이용약관</a>
        <a class="mini ui button black" href="/pages/individual_infomation">개인정보취급방침</a>

	    </div>
<!-- 	  </div>
	 
	</div> -->

  <%#= devise_error_messages! %>
	
 
<% end %>

<%#= render "devise/shared/links" %>
