<div class="uk-container uk-container-center" style="width: 1100px;">

	<article class="uk-article" style="margin-top: -20px;">
        <h2 class="tm-article-subtitle"><%= t('user.sign_up.normal.title') %></h2>
        <p class="uk-article-meta" style="font-size: 15px;"><%= t('user.sign_up.normal.description') %></p>
    </article>
    <br/>

    <hr class="uk-article-divider" style="margin-top: -10px;">


	<div class="uk-panel uk-width-2-5 uk-container-center">
			<%= render :partial => "form" %>	
	</div>

</div>