<%= simple_form_for [:myshop, @supplier] do |f| %>
	<div class="field">
		<label>공급처 이름</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :name, :placeholder => "공급처 이름을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>공급처 설명</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :description, :placeholder => "공급처 설명을 입력하세요.", :label => false, :input_html => {:cols => 50, :rows => 3} %>
			
		</div>
	</div>

	<br/>

	<div class="field">
		<label>공급처 주소</label><br/>
		<div class="ui small input" style="width: 500px;">
			<%= f.input :address, :as => :string, :placeholder => "공급처 주소륾 입력하세요.", :label => false %>
			
		</div>
	</div>

	<br/>

	<div class="field">
		<label>반품 주소</label><br/>
		<div class="ui small input" style="width: 500px;">
			<%= f.input :take_back_address, :as => :string, :placeholder => "공급처 주소륾 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div>
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>

<% end %>