<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>공급처 수정
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<div class="ui ignore green message"><i class="icon info"></i>공급처를 수정하세요.</div>

<%= render 'form' %>