<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>공급처 목록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="three wide">이름</th>
			<th style="text-align: center" class="four wide">설명</th>
			<th style="text-align: center" class="four wide">주소</th>
			<th style="text-align: center" class="four wide">반품주소</th>
			<th style="text-align: center" class="one wide">삭제</th>
		</tr>
	</thead>
	<tbody>
		<% if @suppliers.each do |supplier| %>

			<tr>
				<td><%= link_to edit_myshop_supplier_path(supplier.id) do %><%= supplier.name %><% end %></td>
				<td><%= supplier.description %></td>
				<td><%= supplier.address %></td>
				<td><%= supplier.take_back_address %></td>
				<td style="text-align: center">
					<%= link_to myshop_supplier_path(supplier.id), :method => 'delete', :class => 'ui button red mini icon', :confirm => '삭제하시겠습니까?' do %><i class="trash icon "><% end %></td>
			</tr>

		<% end.empty? %>
			<tr><td colspan="5" style="text-align: center">공급처가 없습니다.</td></tr>
		<% end %>
	</tbody>
</table>

<div>
	<%= paginate @suppliers %>
</div>



