
  
<input type="hidden" id="user_id" value="<%= current_user.id if user_signed_in? %>">

  <div style="margin-top: 10px; margin-bottom: 20px;">
  <button class="ui button green" id="comment_button">코멘트</button>
 </div>
 <div style="display: none; margin-bottom: 20px;" id="comment_add_form" >
   <%= form_tag collectionshop_comment_add_path(@collection), :remote => true, :style => 'margin-top: 20px;', :class => 'ui form'  do %>
   
      <div class="field">
        <%= text_area_tag :comment, '', {:style => 'height: 50px;', :placeholder => "코멘트를 입력하세요."} %>

      </div>
      <button type="button" class="ui button green  " id="comment_submit_btn" >
       코멘트 저장
      </button>
      <%= submit_tag '', { :style => 'display: none', :id => 'comment_submit' } %>
    <% end %>
  </div>
  <div class="ui feed segment">
  <% if @comments.each do |comment| %>

      <div class="event">
        <div class="label">
          <%= image_tag comment.user.small_image_url %>
        </div>
        <div class="content">
          <div class="date">
            <span class="timeago" data-date="<%= comment.created_at  %>"></span>
          </div>
          <div class="summary">
             <a><%= comment.user.user_id %></a>
             <% if current_user && current_user.id == comment.user_id %>
              <span style="font-size: 12px; ">
                <%= link_to "삭제", collectionshop_comment_remove_path(@collection, comment), :class => 'delete', :style => 'color: #999', :method => "delete", :remote => true, :confirm => "삭제하시겠습니까?" %>
              </span>
             <% end %>
          </div>
          <div class="extra text">
            <%= simple_format comment.body %>
          </div>
        </div>
      </div>
    
  <% end.empty? %>
    <p style="text-align: center">코멘트가 없습니다.</p>
  <% end %>
  </div>
  <div style="margin-top: 10px;" class="uk-text-center">
        

  <% unless @comments.first_page? %>
    <!-- <span class="mini ui button" id="comment_prev_btn"><i class="arrow left icon"></i>이전</span> -->
    <%= link_to collectionshop_comments_index_path(@collection, :page => @comments.current_page - 1), :class => 'mini ui button', :remote => true do  %><i class="arrow left icon"></i>이전<% end %>
  <% end %>
  <% unless @comments.last_page? %>
    <!-- <span class="mini ui button" id="comment_next_btn">다음<i class="arrow right icon"></i></span> -->
    <%= link_to collectionshop_comments_index_path(@collection, :page => @comments.current_page + 1), :class => 'mini ui button', :remote => true do  %>다음<i class="arrow right icon"></i><% end %>
  <% end %>
</div>



 

