
  <div style="margin-top: 10px; margin-bottom: 20px;">
  <button class="ui button green" id="comment_button">코멘트</button>
 </div>
 <div style="display: none; margin-bottom: 20px;" id="comment_add_form" >
   <%= form_tag rootshop_comments_path(@product), :remote => true, :style => 'margin-top: 20px;', :class => 'ui form'  do %>
   
      <div class="field">
        <%= text_area_tag :comment, '', {:style => 'height: 50px;', :placeholder => "코멘트를 입력하세요."} %>

      </div>
      <button type="button" class="ui button green  " id="comment_submit_btn" >
       코멘트 저장
      </button>
      <%= submit_tag '', { :style => 'display: none', :id => 'comment_submit' } %>
    <% end %>
  </div>

  <% if @comments.each do |comment| %>

    <div class="ui comments fluid" style="padding: 0px;">
        <div class="comment">
          <a class="avatar">
            <%= image_tag comment.user.small_image_url %>
          </a>
          <div class="content" style="margin-top: 10px; margin-bottom: 10px;">
            <a class="author"><%= comment.user.user_id %></a>
            <div class="metadata">
              <div class="date" style="font-size: 12px;">
                <span class="timeago" data-date="<%= comment.created_at  %>"></span></div>
            </div>
            <div class="text" style="font-size: 12px;">
              <%= simple_format comment.comment %>
            </div>
            <% if current_user && current_user.id == comment.user_id %>
            <div class="actions" style="font-size: 12px;">
              <%= link_to "삭제", rootshop_comment_path(@product, comment), :class => 'delete', :method => "delete", :remote => true, :confirm => "삭제하시겠습니까?" %></span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui fitted divider"></div>




  <% end.empty? %>
    <p>코멘트가 없습니다.</p>
  <% end %>

  <div style="margin-top: 10px;" class="uk-text-center">
        

  <% unless @comments.first_page? %>
    <!-- <span class="mini ui button" id="comment_prev_btn"><i class="arrow left icon"></i>이전</span> -->
    <%= link_to rootshop_comments_path(@product, :page => @comments.current_page - 1), :class => 'mini ui button', :remote => true do  %><i class="arrow left icon"></i>이전<% end %>
  <% end %>
  <% unless @comments.last_page? %>
    <!-- <span class="mini ui button" id="comment_next_btn">다음<i class="arrow right icon"></i></span> -->
    <%= link_to rootshop_comments_path(@product, :page => @comments.current_page + 1), :class => 'mini ui button', :remote => true do  %>다음<i class="arrow right icon"></i><% end %>
  <% end %>
</div>

 

