<style>
img {
  max-width: 100%;
  height: auto;
}


</style>
<div class="ui bottom attached" id="tab_inquiry_comment_content" style=" padding: 20px; font-size: 13px; min-height: 200px;" >
  <h3 class="ui header">
    <i class="info icon"></i>
    문의하기
  </h3>

  <input type="hidden" id="user_id" value="<%= current_user.id if user_signed_in? %>">

  <div style="margin-bottom: 20px;">
  <button class="ui button green" id="comment_button">문의</button>
  </div>
  <div style="display: none; margin-bottom: 20px;" id="comment_add_form" >
    <%= form_tag inquiry_comment_create_path(@product), :remote => true, :style => 'margin-top: 20px;', :class => 'ui form'  do %>
   
      <div class="field">
        <%= text_area_tag :comment, '', {:style => 'height: 50px;', :placeholder => "코멘트를 입력하세요."} %>

      </div>
      <button type="button" class="ui button green  " id="comment_submit_btn" >
       문의 저장
      </button>
      <%= submit_tag '', { :style => 'display: none', :id => 'comment_submit' } %>
    <% end %>

  </div>

  <div class="ui threaded comments">
  <% if @inquiry_comments.each do |comment| %>
  <div class="comment"  style="padding: 0px !important;">
    <a class="avatar">
      <%= image_tag comment.user.small_image_url %>
    </a>
    <div class="content">
      <a class="author"><%= comment.user.user_id %></a>
      <div class="metadata">
        <span class="date">
          <span class="timeago" data-date="<%= comment.created_at  %>"></span>
        </span>
      </div>
      <div class="text">
        <%= simple_format comment.body %>
      </div>
      <div class="actions">
        <!-- <a class="reply">Reply</a> -->
        <% if current_user && current_user.id == comment.user_id %>
          <span style="font-size: 12px; ">
            <%= link_to "삭제", inquiry_comment_destroy_path(@product, comment), :class => 'delete', :style => 'color: #999', :method => "delete", :remote => true, :confirm => "삭제하시겠습니까?" %>
          </span>
         <% end %>
      </div>
    </div>
    <% if comment.has_children? %>
    <div class="comments"  style="padding: 0px !important;"> 
      <% Comment.where(:commentable_type => 'Product', :commentable_id => @product.id, :parent_id => comment.id).order("created_at DESC").each do |child| %>
      <div class="comment" style="padding: 0px !important;">
        <a class="avatar">
          <span class="ui red label">답변</span>
          <%#= image_tag child.user.small_image_url %>
        </a>
        <div class="content">
          <a class="author"><%= child.user.user_id %></a>
          <div class="metadata">
            <span class="date">
              <span class="timeago" data-date="<%= child.created_at  %>"></span>
            </span>
          </div>
          <div class="text">
            <%= simple_format child.body %>
          </div>
          <!-- <div class="actions">
            <a class="reply">Reply</a>
            <a class="delete">Delete</a>
          </div> -->
        </div>
        
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
  <% end.empty? %>
      <p style="text-align: center">문의가 없습니다.</p>
  <% end %>
  <div>
    <%= paginate @inquiry_comments, :params => {:controller => 'comments', :action => 'inquiry_comment_index'}, :remote => true %>
  </div>
</div>

</div>

