/*
 * # Semantic - Label
 * http://github.com/jlukic/semantic-ui/
 *
 *
 * Copyright 2013 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

/*******************************
            Label
*******************************/

.ui.label {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.ui.label:first-child {
  margin-left: 0em;
}

.ui.label:last-child {
  margin-right: 0em;
}

/* Link */

a.ui.label {
  cursor: pointer;
}

/* Inside Link */

.ui.label a {
  cursor: pointer;
  color: inherit;
  opacity: 0.8;
  -webkit-transition: 0.2s opacity ease;
  transition: 0.2s opacity ease;
}

.ui.label a:hover {
  opacity: 1;
}

/* Detail */

.ui.label .detail {
  display: inline-block;
  margin-left: 0.5em;
  font-weight: bold;
  opacity: 0.8;
}

/* Icon */

.ui.label .icon {
  width: auto;
}

/* Removable label */

.ui.label .delete.icon {
  cursor: pointer;
  margin: 0em 0em 0em 0.5em;
  opacity: 0.7;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.ui.label .delete.icon:hover {
  opacity: 0.99;
}

/*-------------------
       Coupling
--------------------*/

/* Padding on next content after a label */

.ui.segment > .attached.label:first-child + * {
  margin-top: 2.5em;
}

.ui.segment > .bottom.attached.label:first-child ~ :last-child {
  margin-top: 0em;
  margin-bottom: 2.5em;
}

/*******************************
             Types
*******************************/

.ui.image.label {
  width: auto !important;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  line-height: 1.5em;
  vertical-align: baseline;
  text-transform: none;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}

.ui.image.label img {
  display: inline-block;
  height: 2.25em;
  margin: -0.4em 0.8em -0.4em -0.8em;
  vertical-align: top;
  border-radius: 0.325em 0em 0em 0.325em;
}

/*******************************
             States
*******************************/

/*-------------------
      Disabled
--------------------*/

.ui.label.disabled {
  opacity: 0.5;
}

/*-------------------
        Hover
--------------------*/

a.ui.labels .label:hover,
a.ui.label:hover {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  color: rgba(0, 0, 0, 0.7);
}

.ui.labels a.label:hover:before,
a.ui.label:hover:before {
  background-color: #E0E0E0;
  color: rgba(0, 0, 0, 0.7);
}

/*-------------------
      Visible
--------------------*/

.ui.labels.visible .label,
.ui.label.visible {
  display: inline-block !important;
}

/*-------------------
      Hidden
--------------------*/

.ui.labels.hidden .label,
.ui.label.hidden {
  display: none !important;
}

/*******************************
           Variations
*******************************/

/*-------------------
         Tag
--------------------*/

.ui.tag.labels .label,
.ui.tag.label {
  margin-left: 1em;
  position: relative;
  padding: 0.33em 1.3em 0.33em 1.4em;
  border-radius: 0px 3px 3px 0px;
}

.ui.tag.labels .label:before,
.ui.tag.label:before {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  content: '';
  margin-left: -1em;
  background-image: none;
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.ui.tag.labels .label:after,
.ui.tag.label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.25em;
  margin-top: -0.3em;
  background-color: #FFFFFF;
  width: 0.55em;
  height: 0.55em;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 100px 100px 100px 100px;
}

/*-------------------
       Ribbon
--------------------*/

.ui.ribbon.label {
  position: relative;
  margin: 0em 0.2em;
  left: -2rem;
  padding-left: 2rem;
  border-radius: 0px 4px 4px 0px;
  border-color: rgba(0, 0, 0, 0.15);
}

.ui.ribbon.label:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0%;
  border-top: 0em solid transparent;
  border-right-width: 1em;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom: 1em solid transparent;
  border-left: 0em solid transparent;
  width: 0em;
  height: 0em;
}

/*-------------------
       Attached
--------------------*/

.ui.top.attached.label,
.ui.attached.label {
  width: 100%;
  height: 27px;
  position: absolute;
  margin: 0em;
  top: 0em;
  left: 0em;
  padding: 0.75em 1em;
  border-radius: 4px 4px 0em 0em;
}

.ui.bottom.attached.label {
  top: auto;
  bottom: 0em;
  border-radius: 0em 0em 4px 4px;
}

.ui.top.left.attached.label {
  width: auto;
  margin-top: 0em !important;
  border-radius: 4px 0em 4px 0em;
}

.ui.top.right.attached.label {
  width: auto;
  left: auto;
  right: 0em;
  border-radius: 0em 4px 0em 4px;
}

.ui.bottom.left.attached.label {
  width: auto;
  top: auto;
  bottom: 0em;
  border-radius: 4px 0em 0em 4px;
}

.ui.bottom.right.attached.label {
  top: auto;
  bottom: 0em;
  left: auto;
  right: 0em;
  width: auto;
  border-radius: 4px 0em 4px 0em;
}

/*-------------------
    Corner Label
--------------------*/

.ui.corner.label {
  background-color: transparent;
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: 10;
  margin: 0em;
  font-size: 0.8125em;
  width: 2rem;
  height: 2rem;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.ui.corner.label:after {
  position: absolute;
  content: "";
  right: 0em;
  top: 0em;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.ui.corner.label .icon {
  margin: 0.4em 0em 0em 0.7em;
}

.ui.corner.label .text {
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 0em 0em 0.6em;
  width: 2.5em;
  font-size: 0.82em;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Left Corner */

.ui.left.corner.label,
.ui.left.corner.label:after {
  right: auto;
  left: 0em;
}

.ui.left.corner.label:after {
  border-top: 3em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 0em solid transparent;
  border-left: 0em solid transparent;
  border-top-color: inherit;
}

.ui.left.corner.label .icon {
  margin: 0.4em 0em 0em -0.7em;
}

.ui.left.corner.label .text {
  margin: 0.5em 0em 0em -0.6em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Hover */

.ui.corner.label:hover {
  background-color: transparent;
}

/*-------------------
       Fluid
--------------------*/

.ui.label.fluid,
.ui.fluid.labels > .label {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*-------------------
       Inverted
--------------------*/

.ui.inverted.labels .label,
.ui.inverted.label {
  color: #FFFFFF !important;
}

/*-------------------
       Colors
--------------------*/

/*--- Black ---*/

.ui.black.labels .label,
.ui.black.label {
  background-color: #5C6166 !important;
  border-color: #5C6166 !important;
  color: #FFFFFF !important;
}

.ui.labels .black.label:before,
.ui.black.labels .label:before,
.ui.black.label:before {
  background-color: #5C6166 !important;
}

/* Hover */

a.ui.black.labels .label:hover,
a.ui.black.label:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.ui.labels a.black.label:hover:before,
.ui.black.labels a.label:hover:before,
a.ui.black.label:hover:before {
  background-color: #333333 !important;
}

/* Corner */

.ui.black.corner.label,
.ui.black.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.black.ribbon.label {
  border-color: #333333 !important;
}

/*--- Green ---*/

.ui.green.labels .label,
.ui.green.label {
  background-color: #A1CF64 !important;
  border-color: #A1CF64 !important;
  color: #FFFFFF !important;
}

.ui.labels .green.label:before,
.ui.green.labels .label:before,
.ui.green.label:before {
  background-color: #A1CF64 !important;
}

/* Hover */

a.ui.green.labels .label:hover,
a.ui.green.label:hover {
  background-color: #89B84C !important;
  border-color: #89B84C !important;
}

.ui.labels a.green.label:hover:before,
.ui.green.labels a.label:hover:before,
a.ui.green.label:hover:before {
  background-color: #89B84C !important;
}

/* Corner */

.ui.green.corner.label,
.ui.green.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.green.ribbon.label {
  border-color: #89B84C !important;
}

/*--- Red ---*/

.ui.red.labels .label,
.ui.red.label {
  background-color: #D95C5C !important;
  border-color: #D95C5C !important;
  color: #FFFFFF !important;
}

.ui.labels .red.label:before,
.ui.red.labels .label:before,
.ui.red.label:before {
  background-color: #D95C5C !important;
}

/* Corner */

.ui.red.corner.label,
.ui.red.corner.label:hover {
  background-color: transparent !important;
}

/* Hover */

a.ui.red.labels .label:hover,
a.ui.red.label:hover {
  background-color: #DE3859 !important;
  border-color: #DE3859 !important;
  color: #FFFFFF !important;
}

.ui.labels a.red.label:hover:before,
.ui.red.labels a.label:hover:before,
a.ui.red.label:hover:before {
  background-color: #DE3859 !important;
}

/* Ribbon */

.ui.red.ribbon.label {
  border-color: #DE3859 !important;
}

/*--- Blue ---*/

.ui.blue.labels .label,
.ui.blue.label {
  background-color: #6ECFF5 !important;
  border-color: #6ECFF5 !important;
  color: #FFFFFF !important;
}

.ui.labels .blue.label:before,
.ui.blue.labels .label:before,
.ui.blue.label:before {
  background-color: #6ECFF5 !important;
}

/* Hover */

a.ui.blue.labels .label:hover,
.ui.blue.labels a.label:hover,
a.ui.blue.label:hover {
  background-color: #1AB8F3 !important;
  border-color: #1AB8F3 !important;
  color: #FFFFFF !important;
}

.ui.labels a.blue.label:hover:before,
.ui.blue.labels a.label:hover:before,
a.ui.blue.label:hover:before {
  background-color: #1AB8F3 !important;
}

/* Corner */

.ui.blue.corner.label,
.ui.blue.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.blue.ribbon.label {
  border-color: #1AB8F3 !important;
}

/*--- Purple ---*/

.ui.purple.labels .label,
.ui.purple.label {
  background-color: #564F8A !important;
  border-color: #564F8A !important;
  color: #FFFFFF !important;
}

.ui.labels .purple.label:before,
.ui.purple.labels .label:before,
.ui.purple.label:before {
  background-color: #564F8A !important;
}

/* Hover */

a.ui.purple.labels .label:hover,
.ui.purple.labels a.label:hover,
a.ui.purple.label:hover {
  background-color: #3E3773 !important;
  border-color: #3E3773 !important;
  color: #FFFFFF !important;
}

.ui.labels a.purple.label:hover:before,
.ui.purple.labels a.label:hover:before,
a.ui.purple.label:hover:before {
  background-color: #3E3773 !important;
}

/* Corner */

.ui.purple.corner.label,
.ui.purple.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.purple.ribbon.label {
  border-color: #3E3773 !important;
}

/*--- Orange ---*/

.ui.orange.labels .label,
.ui.orange.label {
  background-color: #F05940 !important;
  border-color: #F05940 !important;
  color: #FFFFFF !important;
}

.ui.labels .orange.label:before,
.ui.orange.labels .label:before,
.ui.orange.label:before {
  background-color: #F05940 !important;
}

/* Hover */

a.ui.orange.labels .label:hover,
.ui.orange.labels a.label:hover,
a.ui.orange.label:hover {
  background-color: #FF4121 !important;
  border-color: #FF4121 !important;
  color: #FFFFFF !important;
}

.ui.labels a.orange.label:hover:before,
.ui.orange.labels a.label:hover:before,
a.ui.orange.label:hover:before {
  background-color: #FF4121 !important;
}

/* Corner */

.ui.orange.corner.label,
.ui.orange.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.orange.ribbon.label {
  border-color: #FF4121 !important;
}

/*--- Teal ---*/

.ui.teal.labels .label,
.ui.teal.label {
  background-color: #00B5AD !important;
  border-color: #00B5AD !important;
  color: #FFFFFF !important;
}

.ui.labels .teal.label:before,
.ui.teal.labels .label:before,
.ui.teal.label:before {
  background-color: #00B5AD !important;
}

/* Hover */

a.ui.teal.labels .label:hover,
.ui.teal.labels a.label:hover,
a.ui.teal.label:hover {
  background-color: #009A93 !important;
  border-color: #009A93 !important;
  color: #FFFFFF !important;
}

.ui.labels a.teal.label:hover:before,
.ui.teal.labels a.label:hover:before,
a.ui.teal.label:hover:before {
  background-color: #009A93 !important;
}

/* Corner */

.ui.teal.corner.label,
.ui.teal.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.teal.ribbon.label {
  border-color: #009A93 !important;
}

/*-------------------
     Horizontal
--------------------*/

.ui.horizontal.labels .label,
.ui.horizontal.label {
  margin: -0.125em 0.5em -0.125em 0em;
  padding: 0.35em 1em;
  min-width: 6em;
  text-align: center;
}

/*-------------------
       Circular
--------------------*/

.ui.circular.labels .label,
.ui.circular.label {
  min-height: 1em;
  max-height: 2em;
  padding: 0.5em !important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
}

/*-------------------
       Pointing
--------------------*/

.ui.pointing.label {
  position: relative;
}

.ui.attached.pointing.label {
  position: absolute;
}

.ui.pointing.label:before {
  position: absolute;
  content: "";
  width: 0.6em;
  height: 0.6em;
  background-image: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

/*--- Above ---*/

.ui.pointing.label:before {
  background-color: #E8E8E8;
}

.ui.pointing.label,
.ui.pointing.above.label {
  margin-top: 1em;
}

.ui.pointing.label:before,
.ui.pointing.above.label:before {
  margin-left: -0.3em;
  top: -0.3em;
  left: 50%;
}

/*--- Below ---*/

.ui.pointing.below.label {
  margin-top: 0em;
  margin-bottom: 1em;
}

.ui.pointing.below.label:before {
  margin-left: -0.3em;
  top: auto;
  right: auto;
  bottom: -0.3em;
  left: 50%;
}

/*--- Left ---*/

.ui.pointing.left.label {
  margin-top: 0em;
  margin-left: 1em;
}

.ui.pointing.left.label:before {
  margin-top: -0.3em;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}

/*--- Right ---*/

.ui.pointing.right.label {
  margin-top: 0em;
  margin-right: 1em;
}

.ui.pointing.right.label:before {
  margin-top: -0.3em;
  right: -0.3em;
  top: 50%;
  bottom: auto;
  left: auto;
}

/*------------------
   Floating Label
-------------------*/

.ui.floating.label {
  position: absolute;
  z-index: 100;
  top: -1em;
  left: 100%;
  margin: 0em 0em 0em -1.5em !important;
}

/*-------------------
        Sizes
--------------------*/

.ui.small.labels .label,
.ui.small.label {
  font-size: 0.75rem;
}

.ui.label {
  font-size: 0.8125rem;
}

.ui.large.labels .label,
.ui.large.label {
  font-size: 0.875rem;
}

.ui.huge.labels .label,
.ui.huge.label {
  font-size: 1rem;
}