<%= simple_form_for [:myshop, @featured_collection] do |f| %>
<div class="ui form blue segment">
	<div class="inline fields">
	<div class="field">
		<label>통화</label>
		<div class="ui small input" style="width: 300px;">
			<%#= f.input :currency, :placeholder => "통화를 입력하세요.", :label => false %>
			
		</div>
	</div>

	<div class="field">
		<label>환율</label>
		<div class="ui small input" style="width: 300px;">
			<%#= f.input :price, :as => :string, :placeholder => "환율을 입력하세요.", :label => false %>
			
		</div>
	</div>


	

	<div class="field">
		<%#= f.submit "저장", :class => 'ui green button small' %>
 	</div>
 </div>
 </div>
<% end %>