

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>피처드 컬렉션
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div style="">
	<table class="ui  table segment">
	  <thead>
	    <tr>
	    	<th style="text-align: center;" class="two wide">사진</th>
		    <th style="text-align: center;" class="two wide">타이틀</th>
		    <th style="text-align: center;" class="nine wide">설명</th>
		    <th style="text-align: center;" class="two wide">등록일</th>
		    <th style="text-align: center;" class="one wide">삭제<th>
	  	</tr>
		</thead>
	  <tbody>
	   	<% @featured_collections.each do |f| %>
	   		<tr>
	   			<td style="text-align: center;"><%= image_tag f.collection.featured_image_url, :style => 'width: 50px;' %></td>
	   			<td><%= f.title %></td>
	   			<td><%= f.description %></td>
	   			<td style="text-align: center;"><%= f.created_at.strftime("%F %T") %></td>
	   			<td style="text-align: center;"><%= link_to myshop_featured_collection_path(f), :method => 'delete', :confirm => '상품을 삭제하시겠습니까?', :class => 'ui button red mini' do %>삭제<% end %></td>
	   		</tr>
	   	<% end %>
	  </tbody>
	</table>



</div>

