

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>피처드 컬렉션 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>


<div style="">
	<table class="ui  table segment">
	  <thead>
	    <tr>
	    	<th style="text-align: center;" class="one wide">사진</th>
		    <th style="text-align: center;" class="five wide">타이틀</th>
		    <th style="text-align: center;" class="two wide">아이템수</th>
		    <th style="text-align: center;" class="one wide">조회수</th>
		    <!-- <th style="text-align: center;" class="one wide">코멘트수</th> -->
		    <th style="text-align: center;" class="two wide">등록자</th>
		    <th style="text-align: center;" class="two wide">등록일</th>
		    <th style="text-align: center;" class="one wide">등록</th>
		    
	  	</tr>
		</thead>
	  <tbody>
	   	<% @collections.each do |collection| %>
	   		<tr>
	   			<td style="text-align: center;"><%= image_tag collection.featured_image_url, :style => 'width: 50px;' %></td>
	   			<td><%= link_to collection.name, collectionshop_path(collection.user.user_id, collection), target: "_blank" %></td>
	   			<td style="text-align: center;"><%= collection.collection_items.count %></td>
	   			<td style="text-align: center;"><%= collection.impressionist_count %></td>
	   			<!-- <td style="text-align: center;"><%#= collection.comments.count %></td> -->
	   			<td style="text-align: center;"><%= collection.user.user_id %></td>
	   			<td style="text-align: center;"><%= collection.created_at.strftime("%F %T") %></td>
	   			<td style="text-align: center;">
	   				<% if FeaturedCollection.where(:collection_id => collection.id).count > 0 %>
	   					<a class="ui button red mini">등록됨</a>
	   				<% else %>
	   					<a class="ui button blue mini featured_reg_modal_btn">등록</a>
	   				<% end %>
	   				

	   				<input type="hidden" class="hidden_collection_name" value="<%= collection.name %>">
	   				<input type="hidden" class="hidden_collection_image" value="<%=  collection.featured_image_url %>">
	   				<input type="hidden" class="hidden_collection_owner" value="<%= collection.user.user_id %>">
	   				<input type="hidden" class="hidden_collection_id" value="<%= collection.id %>">
	   			</td>
	   		</tr>
	   	<% end %>
	  </tbody>
	</table>



</div>

<div>
    <%= paginate @collections %>
  </div>

  <br>
  <br>

<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    피처드 컬렉션 등록
  </div>
  <div class="content">
  	<div class="left">
	  	<h3 class="ui header">
			  선택한 컬렉션
			</h3>

	  	<div>
	  		<div>
	  			컬렉션 이미지: 
	    		<img id="collection_image"  style="width: 100px;">
	    	</div>
	    	<br>
	    	<div>
	    		컬렉션 이름: 
	    		<span id="collection_name"></span>
	    	</div>
	    	<br>
	    	<div>
	    		컬렉션 소유자: 
	    		<span id="collection_owner"></span>
	    	</div>
	    </div>
	  </div>
    <div class="right">
	    <h3 class="ui header">
			  컬렉션 등록
			</h3>
			<%= simple_form_for [:myshop, @featured_collection], :remote => true do |f| %>
				<%= f.hidden_field :collection_id %>
		  	<div class="ui form">
				  <div class="field">
				    <label>피처드 컬렉션 타이틀</label>
				    <%= f.input :title, :as => :string, :label => false  %>
				  </div>

				  <div class="field">
				    <label>피처드 컬렉션 설명</label>
				    <%= f.input :description, :label => false  %>
				  </div>
				</div>

				<div>
					<%= f.submit "저장", :class => 'ui button green', :confirm => "저장하시겠습니까?", :style => 'display:none', :id => 'submit_btn' %>
					<a class="ui button green" id="modal_submit">저장</a>
					<a class="ui button" id="modal_close">취소</a>
				</div>
			<% end %>
		</div>

  </div>
  
</div>


