<%= simple_form_for [:myshop, @international_delivery_charge] do |f| %>
<div class="field">
		<label>무게(kg)</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :weight, :as => :string, :placeholder => "무게를 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>지역</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :location, :label => false, :collection => [['US', 'US']], :include_blank => false %>
			
		</div>
	</div>

	<br/>

	<div class="field">
		<label>배송비(원)</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :price, :as => :string, :placeholder => "배송비를 입력하세요.", :label => false %>
			
		</div>
	</div>

	<br/>

	<div>
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>
<% end %>