<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>국제배송료 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="four wide">무게</th>
			<th style="text-align: center" class="two wide">지역</th>
			<th style="text-align: center" class="four wide">배송비</th>
			<th style="text-align: center" class="one wide">수정</th>
			<th style="text-align: center" class="one wide">삭제</th>
			
		</tr>
	</thead>
	<tbody>
		<% @international_delivery_charges.each do |charge| %>
			<tr>
				<td style="text-align: center"><%= charge.weight %> kg</td>
				<td style="text-align: center"><%= charge.location %></td>
				<td style="text-align: center"><%= price_currency_comma charge.price %> 원</td>
				<td style="text-align: center"><a class="ui button mini red" href="/myshop/international_delivery_charges/<%= charge.id %>/edit">수정</a></td>
				<td style="text-align: center"><%= link_to "/myshop/international_delivery_charges/#{charge.id}", :method => 'delete', :confirm => '상품을 삭제하시겠습니까?', :class => 'ui button red mini' do %>삭제<% end %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>