<%= option.simple_fields_for :option_items do |item| %>
<div>
	<%= item.link_to_add  :option_items, :data => { :target => "#option_items" }, :class => 'ui button blue mini' do %>옵션아이템 추가<% end %>
</div>
<div style="height: 5px;"></div>
<div class="ui divider"></div>

<div style="clear: both;" id="option_items">
	
  	<div class="field" style="float: left; margin-right: 20px;">
      <label>옵션 아이템</label>
      <div class="ui input small" style="width: 300px;">
	      <%= item.input :title, 
	      	:placeholder => "옵션아이템을 입력하세요.", 
	      	:label => false
	      %>
	    </div>
    </div>

    <div>
    	<%= item.link_to_remove "삭제", :class => 'ui button red mini' %>
    </div>
   
</div>
<% end %>