
	 
	 <div class="ui ignore green message"><i class="icon info"></i><b>상품정보</b> - 상품에 대한 설명입니다.</div>
	  	<div class="ui ">
	  		<div class="field">
	  			<label>상품 카테고리</label><br/>
	  			<div class="ui small input">
	  				<%= f.input :product_category_id, 
	  					:collection => ProductCategory.all, 
	  					:lebel_method => :name, 
	  					:value_method => :id,
	  					:include_blank => "선택하세요.",
	  					:label => false  
	  				%>
	  			</div>
	  		</div>

	  		<% if @product.is_crawled == 'true' %>
	  		<br>
	  		<div class="field">
	  			<label>상품 URL</label><br/>
	  			<div class="ui small input">
	  				<span><a href="<%= @product.url %>" target="_blank"><%= @product.url %></a></span>
	  			</div>
	  		</div>
	  		<% end %>
	  		<br/>
	  		<div class="field">
	  			<label>상품 제목</label><br/>
	  			<div class="ui small input" style="width: 300px;">
	  				<%= f.input :title, :placeholder => "상품 제목을 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="field">
	  			<label>상품 서브 제목</label><br/>
	  			<div class="ui small input" style="width: 300px;">
	  				<%= f.input :sub_title, :placeholder => "상품 서브 제목을 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="field">
	  			<label>브랜드</label><br/>
	  			<div class="ui small input" style="width: 300px;">
	  				<%= f.input :brand, :placeholder => "브랜드를 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="field">
	  			<label>상품구분</label>
	  			<div class="ui " style="width: 300px;">
	  				<%= f.input :product_type, 
	  					:collection => [['상품', 1], ['디지털상품',2]], 
	  					:as => :radio_buttons,
	  					:label => false  ,
	  					:checked => 1
	  				%>
	 
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="field">
	  			<label>생산국</label><br/>
	  			<div class="ui small input" style="width: 300px;">
	  				<%= f.input :country_of_origin, 
	  					:placeholder => "생산국을 입력하세요.", 
	  					:label => false, 
	  					:as => :string
	  				%>
	  			</div>
	  		</div>

	  		<br/>

	  		

	  		<div class="field">
	  			<label>생산일자</label><br/>
	  			<div class="ui small input" style="width: 300px;">
	  				<%= f.input :date_of_manufacture, :order => [:year, :month, :day], :label => false %>
	  				
	  			</div>
	  		</div>
	  		
	  		<br/>

	  		<div class="field">
	  			<label>상품 상세 정보</label>
	  			<%#= f.input :detail_info, :placeholder => "상품 상세 정보를 입력하세요.", :label => false %>
	  			<%= f.input :detail_info, :as => :ckeditor, :input_html => { :ckeditor => {filebrowserImageBrowseUrl: '/ckeditor/pictures', filebrowserImageUploadUrl: '/ckeditor/pictures', :toolbar => 'Full'}}, :label => false %>
	  		</div>
					
	  	</div>
	  </div>

