	<div class="ui ignore green message"><i class="icon info"></i><b>상품재고</b> - 상품 재고를 설정해주세요.</div>

	  	<div class="ui ">
	  		<div class="field">
	  			<label>상품가격</label><br/>
	  			<div class="ui input small" style="width: 300px;">
	  				<%= f.input :price, :placeholder => "상품 가격을 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>
	  		
	  		<br/>

	  		<div class="field">
	  			<label>세일가격</label><br/>
	  			<div class="ui input small" style="width: 300px;">
	  				<%= f.input :sale_price, :placeholder => "세일 가격을 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>

	  		<br>

	  		<div class="field">
	  			<label>적립금</label><br/>
	  			<div class="ui input small" style="width: 300px;">
	  				<%= f.input :save_money, :placeholder => "적립금을 입력하세요.", :label => false %>
	  				
	  			</div>
	  		</div>

	  		<br>

		  	<div class="field">
	  			<label>수량</label><br/>
	  			<div class="ui input small" style="width: 300px;">
	  				<%= f.input :amount, 
	  					:label => false, 
	  					:as => :string, 
	  					:placeholder => "상품 수량을 입력하세요." 
	  				%>
	  				
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="two fields">
		  		<div class="field">
		  			<label>배송비</label><br/>
		  			<div class="ui input small" style="width: 300px;">
		  				<%= f.input :delivery_charge, :placeholder => "배송비 입력하세요.", :label => false %>
		  			</div>
		  		</div>
		  		<div class="field inline" style="margin-top: 30px;">
		  			<%= f.input :is_cash_on_arrival, :label => "착불", :as => :boolean %>
		  		</div>
		  	</div>

		  	<br/>

		  	<div class="field">
	  			<label>공급처</label><br/>
	  			<div class="ui small input">
	  				<%= f.input :supplier_id, 
	  					:collection => Supplier.where(:created_by_id => current_user.id), 
	  					:lebel_method => :name, 
	  					:value_method => :id,
	  					:include_blank => "선택하세요.",
	  					:label => false  
	  				%>
	  			</div>
	  		</div>

	  		<br/>

	  		<div class="field">
	  			<label>반품주소(반품주소를 입력하지 않으면 공급처의 반품주소로 저장됩니다.)</label><br/>
	  			<div class="ui input small" style="width: 700px;">
	  				<%= f.input :take_back_address, 
		  				:label => false, 
		  				:as => :string, 
		  				:placeholder => "반품주소를 입력하세요." 
	  				%>
	  			</div>
	  		</div>
	  		
	  		<br/>

	  <!-- 		<div class="field" >
	  			<label>옵션설정</label>
	  			<div class="ui input" style="width: 300px;">
	  				<input type="checkbox" id="option_setting_check" >
	  			</div>
	  		</div>

	  		<br/> -->

	  		<div id="product_options_div">
		  		<p><%= f.link_to_add  :product_options, :class => 'ui button blue mini' do %>옵션추가<% end %></p>
		  		<div id="product_options">
		  			<%= f.simple_fields_for :product_options do |option| %>
			  		<div class="ui segment" style="width: 700px;">
							<div class="field" style="float: left; margin-right: 20px;">
					      <label>옵션제목</label>
					      <div class="ui input small" style="width: 300px;">
						      <%= option.input :title, 
						      	:placeholder => "옵션제목을 입력하세요.", 
						      	:label => false
						      %>
						    </div>
					    </div>
					 
					    <div style="float: left; margin-right: 10px;">
					    	<%= option.link_to_remove "삭제", :class => 'ui button red mini' %>
					    </div>
					
								<%= option.link_to_add  :product_option_items, :class => 'ui button blue mini' do %>옵션아이템 추가<% end %>
						
							<div style="height: 5px;"></div>
							<div class="ui divider"></div>
							<div class="option_items">
						    <%= option.simple_fields_for :product_option_items do |item| %>
									
									<div style="clear: both;">
									  	<div class="field" style="float: left; margin-right: 20px; height: 40px;">
									      <label>옵션 아이템</label>
									      <div class="ui input small" style="width: 300px;">
										      <%= item.input :title, 
										      	:placeholder => "옵션아이템을 입력하세요.", 
										      	:label => false
										      %>
										    </div>
									    </div>
									    <div>
									    	<%= item.link_to_remove "삭제", :class => 'ui button red mini' %>
									    </div>
									   
									</div>
								<% end %>
							</div>
						</div>

						<div style="height: 5px;"></div>
						<% end %>
					</div>
				</div>


				<% if @product.is_crawled == 'true' %>
				<br>
				<div class="field" >
	  			<label>재고</label><br/>
	  			<div class="ui input" >
	  				<% @product.inventory.keys.each do |k| %>
	  					<%= k.gsub('*_*', ' : ').gsub('-_-', ' , ') %> => 
	  					<% if @product.inventory[k] == 'available' %>
	  						 재고있음<br>
	  					<% else %>
	  						품절<br>
	  					<% end %>
	  				<% end %>
	  			</div>
	  		</div>
				<% end %>

	  	</div>
