<div class="ui ignore green message"><i class="icon info"></i><b>상품사진</b> - 상품 사진을 저장해 주세요.</div>


	  	<div class="ui form">
	  		<div class="field">
	  			<label>파일선택</label>
	  			<div>
	  				<input type="file" id="product_image_file" name="product_image_file">
	  			</div>
	  		</div>

	  		<div class="ui five items" style="margin-left: 10px;">
<!-- 	  			<% (1..5).each do %>
	  				<div class="image image_item" style="width: 100px; height: 100px; background-color: #ACACAC; float: left; margin-right: 10px;" ></div>
	  			<% end %> -->
  		<!-- 	<% @product.product_images.each_with_index do |product_image, index| %>

		  			<%= f.simple_fields_for :product_images, product_image, :wrapper => false do |image| %>

					 		
					    <div class="image image_item" style="width: 100px; height: 100px; background-color: #ACACAC; float: left; margin-right: 10px;" >
					    	<input class="hidden" id="product_product_images_attributes_upload_id" name="product[product_images_attributes][][upload_id]" type="hidden" value="">

						    <%#= image.input :upload_id, :as => :hidden, :wrapper => false %>
						    <% if product_image.upload.present? %>
							    
							    <%= image_tag product_image.upload.small_image_url, :class => "uk-thumbnail upload_id_#{product_image.upload.id}" %>
							    <a class='upload_id_<%= product_image.upload.id %>' style='position:relative; left: 65px; top: -93px; text-decoration: none;' data-confirm='삭제하시겠습니가?'' data-method='delete' data-remote='true' href='/upload/<%= product_image.upload.id %>' rel='nofollow'><i class='square inverted teal close icon link'></i></a>
							   <% end %>
					    </div>
				

					  <% end %>
					<% end %>  -->

					<% @product.product_images.each_with_index do |product_image, i| %>
						 <div class="image image_item" style="width: 100px; height: 100px; background-color: #ACACAC; float: left; margin-right: 10px;" >
					    	<input class="hidden" id="product_product_images_attributes_upload_id" name="product[product_images_attributes][<%= i %>][upload_id]" type="hidden" value="<%= product_image.upload.id%>">
					   <%= image_tag product_image.upload.small_image_url, :class => "uk-thumbnail upload_id_#{product_image.upload.id}" %>
							    <a class='upload_id_<%= product_image.upload.id %>' style='position:relative; left: 65px; top: -93px; text-decoration: none;' data-confirm='삭제하시겠습니가?'' data-method='delete' data-remote='true' href='/upload/<%= product_image.upload.id %>' rel='nofollow'><i class='square inverted teal close icon link'></i></a>
						</div>
					<% end %>


					<% (0..(4 - @product.product_images.count)).each_with_index do |i| %>
						 <div class="image image_item" style="width: 100px; height: 100px; background-color: #ACACAC; float: left; margin-right: 10px;" >
					    	<input class="hidden" id="product_product_images_attributes_upload_id" name="product[product_images_attributes][<%= i + @product.product_images.count %>][upload_id]" type="hidden" value="">
					    </div>

					<% end %>
	
	

				</div>
	  	</div>
	 