
<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">


<h3 class="ui header">
  컬렉션 관리
</h3>
<div class="ui divider"></div>

<table class="ui celled table segment">
  <thead>
    <tr>
      <th class="six wide" style="text-align: center">컬렉션</th>
      <th class="one wide" style="text-align: center">아이템수</th>
      <th class="two wide" style="text-align: center">컬렉션 수익</th>
      <th class="two wide" style="text-align: center">생성일</th>
      <th class="one wide" style="text-align: center">삭제</th>
    </tr>
  </thead>
  <tbody>
  	<% if @collections.each do |collection| %>
  		<tr>
  			<td><%= image_tag collection.featured_small_image_url, :style => 'width: 70px;'%> <%= link_to collection_manage_show_path collection do %><%= collection.name %><% end %></td>
  			<td style="text-align: right;"><%= collection.collection_items.joins(:product).count %></td>
  			<td style="text-align: right;"><%= price_currency_comma collection.profits.sum("cast(collection_profit as integer)") %></td>
  			<td style="text-align: center;"><%= collection.created_at.strftime("%F %T") %></td>
  			<td style="text-align: center;"><%= link_to remove_collection_path(collection), :class => 'ui button red mini icon', :method => 'delete', :confirm => "컬렉션과 컬렉션이 있는 상품이 모두 삭제됩니다\n삭제하시겠습니까?" do %><i class="trash icon large"></i><% end %></td>
  		</tr>
  	<% end.empty? %>
      <tr><td colspan=5 style="text-align: center;">컬렉션이 존재하지 않습니다.</td></tr>
    <% end %>
  </tbody>
</table>



</div>
