
<style>
  #collection_image_upload {
    /* Note: display:none on the input won't trigger the click event in WebKit.
      Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;
  }
  #fileSelect {
    /* style the button any way you want */
  }
</style>

<script>
$(function() {
  $('#fileSelect').on('click', function() {
    $('#collection_image_upload').click();
  });
})
</script>

<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">


<h3 class="ui header">
  <a href="/collection_manage">컬렉션 관리</a> > <span class="collection_name_div"><%= @collection.name %></span>
  &nbsp;&nbsp;<a href="/collectionshop/<%= current_user.user_id %>/<%= @collection.id  %>" class="ui button mini black"><i class="block layout icon"></i>내 컬렉션 가기</a>
</h3>
<div class="ui divider"></div>

<div class="ui grid" style="margin-top: 10px;">
  
  <div class="four wide column">
    <div class="ui segment inverted red" align="center">
      <div>

        <%= image_tag @collection.featured_small_image_url, :class => 'rounded ui image', :id => 'collection_image' %>

      </div>
      <div style="margin-top: 10px;">
        <input type="hidden" id="collection_id" value="<%= @collection.id %>">
        <input type="file" id="collection_image_upload" name="collection_image_upload">
        <a id="fileSelect" class="ui button teal mini">컬렉션 이미지 수정</a>
      </div>

      <div class="ui divider"></div>
      <div style="margin-top: 10px;">
        <div>- 컬렉션 이름 -</div>
        <div id="collection_name_div">
          <div style="margin-top: 5px;" class="collection_name_div"><%= @collection.name %></div>
          <div style="margin-top: 5px;"><button class="ui button mini teal" id="collection_name_change_btn">이름 변경</button></div>
        </div>
        <div id="collection_name_mod_div" style="display: none;">
          <div style="margin-top: 5px;">
            <%= form_tag collection_name_change_path(@collection), :method => 'put', :remote => true do %> 
              <input type="text" name="collection_name" style="width: 100px;" value="<%= @collection.name %>">
              <input type="submit" id="collection_name_change_submit" style="display: none;">
            <% end %>
          </div>
          <div style="margin-top: 5px;">
            <button class="ui button mini teal" id="collection_name_change_accept_btn">변경</button>
            <button class="ui button mini teal" id="collection_name_change_cancel_btn">취소</button>
          </div>
        </div>

      </div>
      <div class="ui divider"></div>
      <div style="margin-top: 10px;">
        - 컬렉션 상품 수 -<br/>
        <%= price_currency_comma @collection.collection_items.count %>
      </div>
      
      <div class="ui divider"></div>
      <div style="margin-top: 10px;">
        - 컬렉션 수익 -<br/>
        <%= price_currency_comma @collection.profits.sum("cast(collection_profit as integer)") %>
      </div>

    </div>

    
  </div>
  <div class="twelve wide column">
    <div class="ui top attached tabular menu">
      <a class="active item" id="tab_products">상품</a>
      <a class=" item" id="tab_comments">의견</a>

    </div>
    <div class="ui bottom attached segment" id="tab_products_div">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th class="six wide" style="text-align: center">컬렉션된 상품</th>
            <th class="two wide" style="text-align: center">상품 수익</th>
            <th class="two wide" style="text-align: center">생성일</th>
            <th class="one wide" style="text-align: center">삭제</th>
          </tr>
        </thead>
        <tbody>
          <% if @collection_items.each do |item| %>
            <tr>
              <td><%= image_tag item.product.featured_small_image_url %> <%= item.product.title %></td>
              <td style="text-align: right;"><%= price_currency_comma item.profits.sum("cast(collection_profit as integer)") %></td>
              <td style="text-align: center;"><%= item.created_at.strftime("%F %T") %></td>
              <td style="text-align: center;"><%= link_to remove_collection_item_path(item), :method => 'delete', :class => 'ui button red mini icon', :confirm => '컬렉션된 상품을 삭제하시겠습니까?' do %><i class="trash icon large"></i><% end %></td>
            </tr>
          <% end.empty? %>
            <tr><td colspan=4 style="text-align: center">컬렉션된 싱품이 없습니다.</td></tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate @collection_items %>
      </div>
    </div>

    <div class="ui bottom attached segment" style="display: none;" id="collection_comments">
      <%= render 'comments/collection_comments' %>
    </div>
  </div>



</div>
</div>
