<style>
img[usemap], map area{
    outline: none;
}

#main_collection {
  margin-top: 20px;
}
</style>
<script>
$(function() {
  options = {
    // autoResize: true,
    container: $('#main_collection'),
    offset: 10,
    itemWidth: 280
  }

  handler = $('.items li');
  handler.wookmark(options);
});

$(document).ready(function() {
  $("img.lazy").unveil(0, function() {
    $(this).load(function() {
      this.style.opacity = 1;
    });
  });
});

// $(window).load(function() {
//   options = {
//     // autoResize: true,
//     container: $('#main_collection'),
//     offset: 10,
//     itemWidth: 280
//   }

//   handler = $('.items li');
//   handler.wookmark(options);
// });
</script>

<div class="ui grid">
      <div class="row">
        <div class="sixteen wide column">
          <!-- <a href="http://blog.quusome.com/?p=112" target="_blank"> -->
            <div class="uk-panel-teaser uk-overlay">
              <%= image_tag 'featured_images/collectionshop_1.jpg', :usemap => '#usemap', :hidefocus =>"true"%>
            </div>
            <map name="usemap">
              <area shape="rect" coords="929, 31, 1125, 67" href="http://blog.quusome.com/?p=112" target="_blank" >
              <area shape="rect" coords="929, 86, 1125, 123" href="http://blog.quusome.com/?p=96" target="_blank" >
            </map>
          <!-- </a> -->
        </div>
      </div>
    </div>
    
<div id="main_collection">


    <ul class="items">
      <% @collections.each do |collection| %>
        <li class="item one-edge-shadow" style="height:355px;">
          <div class="ui small" style="margin-bottom: 5px; font-size: 14px; background-color: #3F3F3F; color: white; padding: 3px 3px 3px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px">
                    <%= collection.name %>
                  </div>
                  <div class="ui divider" style="margin-top: 5px; margin-bottom: 5px;"></div>
          <div class="item_image">
            
            <%= link_to collectionshop_path(collection.user.user_id, collection), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay" style="height: 260px;">
              
                <%#= image_tag collection.featured_image_url %> 
                <% collection_items = CollectionItem.joins(:product).where(:collection_id => collection.id) %>
                <%#= collection_items[0].product.title %>
                <% if collection.file_file_name.nil? %>
                   <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= collection_items[0].product.product_images[0].upload.file.url %>">
                  <%#= image_tag collection_items[0].product.product_images[0].upload.file.url %> 
                <% else %>
                  <img class="lazy"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= collection.file.url(:medium) %>">
                  <%#= image_tag collection.file.url(:medium) %>
                <% end %>
                <div class="uk-overlay-area">

                  

                    
                  <div style="margin: 5px 0px 0px 5px;">
                    <%# collection_items = CollectionItem.joins(:product).where("collection_items.collection_id = ? and collection_items.deleted_at is null and products.deleted_at is null", collection.id) %>

                    <% collection_items.limit(7).each do |other_item| %>

                      <div style="float: left; margin-right: 5px;">
                        <img class="lazy one-edge-shadow" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= other_item.small_image_url %>" style="58px; height: 58px; margin: 0 0 5px 0;">
                        <%#= image_tag other_item.small_image_url, :style => 'width: 58px; height: 58px; margin: 0 0 5px 0;', :class => 'one-edge-shadow' %>
                      </div>
                    <% end %>
                    <div style="background-color: #00B5AD; width: 58px; height: 58px; float: left; color: white; font-weight: bold;" class="one-edge-shadow">
                      <div align="center" style="margin-top: 19px; font-size: 25px;">
                        <%= collection_items.count %>
                       
                      </div>
                    </div>

                  </div>


                </div>
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
              <div style="float: left;"><%= image_tag collection.user.small_image_url, :class => "product_user_image" %></div>
              
              <div class="product_user_id" style="float: left;">
                <%= collection.user.user_id %>
              </div>
              <div class="product_icons" style="text-align: right">
                <i class="unhide icon"></i><%= collection.impressionist_count %>
              
              </div>
            </div>
           
            
          </div>
          
          
          
        </li>
      <% end %>

     
    </ul>
  </div>

  <div>
    <%= paginate @collections  %>
  </div>






