
<style>

#main {
  position: relative;
}

.collection_items {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
.collection_items li {
  width: 175px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  /*cursor: pointer;*/
  padding: 15px;
}

.collection_items li.inactive {
  visibility: hidden;
  opacity: 0;
}

.collection_items li img {
  display: block;
}

.tiles li p {
  background-color: 
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.product_user_image {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.collection_user_image {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.product_user_id {
  float: left; 
  margin-left: 5px;
  font-size: 12px;
}

.sub.header {
  font-size: 11px;
  /*color: #999;*/
  color: black;
 /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 100px; 
  max-height: 60%; 
  width: 100%*/

}



.product_user_id {
  font-weight: bold;
  color: #4083a9;
}


.product_icons {
  /*margin-top: 10px;*/
  
}


.product_icon {
  color: #8D8D8D;
  /*margin-right: 5px;*/
  text-decoration: none;
  cursor: pointer;
}

.product_icon:hover {
  text-decoration: none;
  color: black;
}

.product_price {
  float: right; 
  margin-top: 5px; 
  font-weight: bold;
}

</style>

<script>
// $(function() {
//    $('.collection_items').imagesLoaded(function() {
//       $('.collection_items li').wookmark({
//         autoResize: false,
//         itemWidth: 205,
//         offset: 10,
//         container: $('#main'),
//         align: 'left'
//       });
//     });
// })

$(function() {
  options = {
    autoResize: true,
    container: $('#main'),
    offset: 10,
    itemWidth: 205,
    align: 'left'
  }

  handler = $('.collection_items li');
  handler.wookmark(options);
})

$(document).ready(function() {
  $("img.lazy").unveil(0, function() {
    $(this).load(function() {
      this.style.opacity = 1;
    });
  });
});

// $(window).load(function() {
//   options = {
//     autoResize: true,
//     container: $('#main'),
//     offset: 10,
//     itemWidth: 205,
//     align: 'left'
//   }

//   handler = $('.collection_items li');
//   handler.wookmark(options);

// });
  


</script>



<div id="container">
  <div class="ui grid">
    <div class="four wide column">
   
      <div class="ui vertical menu fluid">
        <div class="header item" align="center">
       
          <%= image_tag @collection.user.small_image_url, :class => "collection_user_image" %>
          <div style="margin-top: 10px; font-size: 12px;"><span style="color: #4083a9"><%= @collection.user.user_id %></span> 의 컬렉션</div>
        </div>
        <% @collections.each do |collection| %>
          <div class="<% if @collection && @collection.id == collection.id %>active<% end %> red item">
              <%= link_to collectionshop_path(collection.user.user_id, collection), :style => 'font-size: 12px; display:inline-block; width: 190px; overflow: hidden; white-space: nowrap;  text-overflow:ellipsis;' do %>
                <%= collection.name %>

              <% end %>
            <% collection_items = CollectionItem.joins(:product).where(:collection_id => collection.id) %>
            <span class="ui label <% if @collection && @collection.id == collection.id %>red<% end %>">
               <%= collection_items.count %>
            </span>
           


          </div>
        <% end %>
        <% (1..(8 - @collections.size)).each do %>
          <div class="red item" style="font-size: 13px;" align="center">
            컬렉션이 없습니다.
          </div>
        <% end %>
      </div>
   
    </div>
    <div class="twelve wide column">
      <h3 class="ui header">
        <%= @collection.name %>
        <% if user_signed_in? %>
          <% if current_user.id == @collection.user_id %>
            &nbsp;&nbsp;<a class="ui button mini black" href="/collection_manage/<%= @collection.id %>"><i class="setting icon"></i>컬렉션 관리</a>
          <% end %>
        <% end %>
      </h3>
      
      
      

      <div class="ui divider"></div>

      <div  style=" float: left">
        <a class="btn btn-tweet" target="_blank" href="https://twitter.com/intent/tweet?text=<%= @collection.user.user_id %> 님의 <%= @collection.name %> 컬렉션입니다.&url=<%= request.original_url %>&via=quusome.com"><i class="twitter icon" style="font-size: 15px; color: white;"></i></a>
        <a  class="btn btn-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>&t=<%= @collection.user.user_id %> 님의 <%= @collection.name %> 컬렉션입니다."><i class="facebook  icon" style="font-size: 15px; color: white;"></i></a>
        <a class="btn btn-google" target="_blank" href="https://plus.google.com/share?url=<%= request.original_url %>"><i class="google plus  icon" style="font-size: 15px; color: white;"></i></a>
       
        <!-- <%# if current_user %>
          <%#= link_to collectionshop_follow_path(@collection), :class => 'ui button small red', :method => 'post', :remote => true, :id => 'follow_btn' do %>
            <%# if current_user.following?(@collection) %>
              언팔로우
            <%# else %>
              팔로우
            <%# end %>
          <%# end %>
        <%# end %> -->
      </div>

      <div class="ui text menu" style="float: right; margin-top: 5px;">
        <a class="active item" id="collection_tag">
          <i class="block layout icon"></i>컬렉션
        </a>
        <a class="item" id="comment_tag">
          <i class="comment icon"></i>의견(<span id="comments_count"><%= @comments_count %></span>)
        </a>
      
      </div>
      <div id="collection_comments" style="display: none; margin-top: 60px;">
        <%= render 'comments/collection_comments' %>
      </div>

      <div id="main" style="margin-top: 60px;">

        <ul class="collection_items">
          <% @collection_items.each do |item| %>
          <% image_height = (item.product.image_height.to_f * 175) / item.product.image_width.to_f %>

            <li class="collection_item one-edge-shadow">
              <div style="margin-top: -5px; font-size: 12px; background-color: #3F3F3F; color: white; padding: 3px 3px 3px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px"><%= item.product.title %></div>
                <div class="ui divider" style="margin-top: 5px; margin-bottom: 5px;"></div>

              <div class="item_image">
                
                <%= link_to collection_item_show_path(@collection.user.user_id, item), :class => "uk-overlay-toggle" do %>
                  <div class="uk-overlay" style="height: <%= image_height %>px">
                    <%#= image_tag item.product.featured_rootshop_index_image_url %>
                    <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= item.product.featured_rootshop_index_image_url %>">
                    <div class="uk-overlay-area" style="background: rgba(0,0,0,.1); padding: 5px;">
                </div>
                  </div>

                <% end %>
                <div style="margin-top: 15px;">
                  
                  <div style="float: left;"></div>
                  
                  <div class="product_user_id" style="float: left;">
                    
                  </div>
                  
                </div>
                <div class="product_icons" style="text-align: right; clear: both;">
                    <a href="#" class="product_icon" ><i class="unhide icon"></i><%= item.product.impressionist_count %></a>
                    <a href="#" class="product_icon"><i class="comment icon"></i><%= item.product.reviews.count %></a>
                    <a href="#" class="product_icon"><i class="block layout icon"></i></i><%= item.product.collection_items.count %></a> 
                  </div>

                  <%
                    original_price = item.product.multi_price_final["original"]
                    sale_color_price_min = item.product.multi_price_final["sale_color"].values.min
                  %>

                <div class="product_price">
              <% unless item.product.multi_price_final["sale_color"].empty? %>
                <div style="float:left; padding-right: 10px;">
                  <span style="color:#D95C5C;"><i class="long arrow down icon"></i> <%= ((original_price.to_f - sale_color_price_min.to_f)/original_price.to_f * 100).round  %>%</span>
                </div>
              <% end %>
              <div style="float:left">
              <% unless item.product.multi_price_final["sale_color"].empty? %>

                <i class="won icon"></i><del><%= price_currency_comma original_price %></del><br/>
                
                <i class="won icon"></i><span style="color: #D95C5C"><%= price_currency_comma sale_color_price_min %></span>
              <% else %>
                <i class="won icon"></i><%= price_currency_comma original_price %>
              <% end %>
              </div>

              

            </div>
                
              </div>
              
              
              
            </li>
          <% end %>

         
        </ul>
      </div>

      <div>
        <%= paginate @collection_items %>
      </div>
    </div>
  </div>


</div>

