<%= simple_form_for [:myshop, @blog] do |f| %>
	<div class="field">
		<label>카테고리</label><br/>
		<div class="ui small input">
			<%= f.input :blog_category_id, 
				:collection => BlogCategory.order('sort_num ASC'), 
				:lebel_method => :name, 
				:value_method => :id,
				:include_blank => false,
				:label => false  
			%>
		</div>
	</div>
	<br>

	<div class="field">
		<label>타이틀</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :title, :placeholder => "제목을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>대표이미지</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :image, :as => 'file', :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>설명</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :description, :placeholder => "설명을 입력하세요.", :label => false, :input_html => {:rows => 3, :cols => 50} %>
			
		</div>
	</div>
	<br/>

	<div class="field">
	<label>컨텐츠</label>
	<%#= f.input :detail_info, :placeholder => "상품 상세 정보를 입력하세요.", :label => false %>
	<%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {filebrowserImageBrowseUrl: '/ckeditor/pictures', filebrowserImageUploadUrl: '/ckeditor/pictures', :toolbar => 'Full'}}, :label => false %>
	</div>
	<br/>

	<div class="field">
		<label>공개여부</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :is_public,  :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>메인노출여부</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :is_featured,  :label => false %>
			
		</div>
	</div>
	<br>
	
	<div>
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>

<% end %>