<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>블로그 수정
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<%= render 'form' %>
<br/>
<%= link_to "목록", myshop_blog_path, :class => "ui button small blue"  %>
