<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>블로그 목록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="two wide">대표이미지</th>
			<th style="text-align: center" class="five wide">블로그 타이틀</th>
			<th style="text-align: center" class="three wide">카테고리</th>
			<th style="text-align: center" class="two wide">공개여부</th>
			<th style="text-align: center" class="two wide">메인노출여부</th>
			<th style="text-align: center" class="two wide">작성일</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
	</thead>
	<tbody>
		<% @blogs.each do |blog| %>
			<tr>
				<td><%= image_tag blog.image(:body) %></td>
				<td><%= blog.title %></td>
				<td style="text-align: center"><%= blog.blog_category.name %></td>
				<td style="text-align: center"><%= blog.is_public %></td>
				<td style="text-align: center"><%= blog.is_featured %></td>
				<td style="text-align: center"><%= blog.created_at.strftime("%F %T") %></td>
				<td style="text-align: center"><%= link_to "수정", edit_myshop_blog_path(blog), :class => "ui button mini red"  %></td>
				<td style="text-align: center"><%= link_to "삭제", myshop_blog_path(blog), :method => 'delete', :confirm => '상품을 삭제하시겠습니까?', :class => "ui button mini red"  %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>

<div>
	<%= paginate @blogs %>
</div>

