.uk-overlay-collection {
	/* 1 */
	display: inline-block;
	/* 2 */

}


.uk-overlay-area-collection {
	/* 1 */
	position: absolute;
	top: 27px;
	bottom: 0;
	left: 0;
	right: 0px;



	/* 2 */
	background: @overlay-area-background;
	/* 3 */
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	.hook-overlay-area;

	 -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

.uk-overlay-area-collection-hover {
	opacity: 1;
}

/*
 * Hover
 * 1. Use optional `uk-overlay-toggle` to trigger the overlay earlier
 */

.uk-overlay-collection:hover .uk-overlay-area-collection,
.uk-overlay-toggle:hover .uk-overlay-area-collection { opacity: 1; } /* 1 */

/*
 * Icon
 */

.uk-overlay-area-collection:before {
	/*content: @overlay-area-icon;*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: @overlay-area-icon-size;
	height: @overlay-area-icon-size;
	margin-top: -(@overlay-area-icon-size / 2);
	margin-left: -(@overlay-area-icon-size / 2);
	font-size: @overlay-area-icon-size;
	line-height: 1;
	font-family: "FontAwesome";
	text-align: center;
	color: @overlay-area-icon-color;
	.hook-overlay-area-icon;
}


.uk-overlay-area {
	/* 1 */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* 2 */
	background: white;
	/* 3 */
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	.hook-overlay-area;
}

.uk-overlay-area:before {
	content: '';
/*	position: absolute;
	top: 50%;
	left: 50%;
	width: @overlay-area-icon-size;
	height: @overlay-area-icon-size;
	margin-top: -(@overlay-area-icon-size / 2);
	margin-left: -(@overlay-area-icon-size / 2);
	font-size: @overlay-area-icon-size;
	line-height: 1;
	font-family: "FontAwesome";
	text-align: center;
	color: @overlay-area-icon-color;
	.hook-overlay-area-icon;*/
}

.uk-overlay:hover .uk-overlay-area,
.uk-overlay-toggle:hover .uk-overlay-area { opacity: 0.93; } /* 1 */