
<html>
	<style>

		html { 
		   width:100%; 
		   height:100%; 
		   background:url(<%= asset_path 'featured_images/pattern_design_1.jpg' %>) center center repeat;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1200px;
			height: 600px;
			margin-top: -300px; /* Half the height */
			margin-left: -600px; /* Half the width */
		}

		html, body, #wrapper {
		   height:100%;
		   width: 100%;
		   margin: 0;
		   padding: 0;
		   border: 0;
		}
		#wrapper td {
		   vertical-align: middle;
		   text-align: center;
		}


	</style>

	<body>
   <table id="wrapper">
      <tr>
         <td><%= image_tag 'featured_images/block_screen.jpg', :usemap => '#usemap' %></td>
      </tr>
   </table>

   <map name="usemap">
   	<area shape="rect" coords="440, 424, 527, 526" href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie" target="_blank" >
   	<area shape="rect" coords="550, 424, 650, 526" href="https://www.google.com/intl/ko/chrome/browser/features.html" target="_blank" >
   	<area shape="rect" coords="679, 424, 764, 526" href="http://www.mozilla.or.kr/ko/" target="_blank" >
   </map>
</body>

</html>

