<style>
img {
	max-width: 100%;
	height: auto;
}


</style>
<div class="ui bottom attached" id="tab_cancel_order_content" style="display:none; padding: 20px; font-size: 13px;">
	<h3 class="ui header">
	  <i class="info icon"></i>
	  취소/환불/반품/교환/피해보상
	</h3>
	<br>

	<h4 class="ui header">
	  <i class="asterisk icon"></i>
	  취소
	</h4>

	<div class="ui blue message" >
		<ul class="list" style="font-size; 14px;">
		  <li>
				해외 쇼핑몰 주문이 완료되기 전에만 취소(사이트 상단 마이페이지>주문/배송>주문취소 버튼 클릭)가 가능하며, 해외주문접수 및 구매가 완료된 이후에는 취소요청 시, 해당 사이트로의 반송처리를 위한 소정의 취소 수수료(미국 배송상품 13,000원 / 영국, 이태리 배송상품 15,000원)가 부과됩니다. 취소 수수료를 납부하고 해외주문접수 및 구매가 완료된 상품의 취소를 원하시는 경우, 고객센터(070-4154-0679)를 통해 문의/접수해 주세요.
			</li>
			<br>
			<li>
				취소 수수료는 현지 초도 배송료 + 현지 물류센터 출고수수료 + 해외사이트 반송 배송료가 포함된 내역입니다.
			</li>
			
		</ul>
	</div>

	<h4 class="ui header">
	  <i class="asterisk icon"></i>
	  환불
	</h4>

	<div class="ui blue message" style="font-size; 14px;">
		<ul class="list" style="font-size; 14px;">
		  <li>
				취소 및 반품에 의해 환불이 발생한 경우에는 발생일로부터 3일(영업일 기준)이내 처리를 해드립니다.
			</li>
			<br>
			<li>
				당사 책임이 없는 취소 및 반품에 대해서는 소정의 취소/반품 수수료를 제외한 금액을 지정한 환불계좌를 통해 환불처리 해드립니다.
			</li>
			<br>
			<li>
				특별한 이유(환불계좌 누락, 연락두절 등의 사유 제외)없이 환불을 지연한 경우에는 [은행법]에 따른 금융기관이 적용하는 연체금리 등 경제사정을 고려하여 대통령령으로 정하는 이율을 곱하여 산정한 지연이자를 지급합니다.
			</li>
		</ul>
	</div>

	<h4 class="ui header">
	  <i class="asterisk icon"></i>
	  반품
	</h4>

	<div class="ui blue message" style="font-size; 14px;">
		<ul class="list" style="font-size; 14px;">
		  <li>
				유료 반품 처리시에는 의류, 신발, 가방 등 일반적인 상품의 경우 왕복운송료 45,000원~65,000원이 발생됩니다.
			</li>
			<br>
			<li>
				유모차, 자전거, 완구/장난감류 등 부피가 큰 제품의 경우 반품비용이 추가로 발생할 수 있으니 미리 문의 바랍니다.
			</li>
			<br>
			<li>
				관·부가세 발생 상품의 경우 관세(8~13%) 및 부가세(10%)가 추가로 발생합니다. (관·부가세는 한미FTA 적용 상품의 경우 미화 $200 이상, 한미FTA 미 적용 상품의 경우 관세청 과세가격 15만원 이상 상품에 발생)
			</li>
			<br>
			<li>
				배송완료 후 7일 이내에 가능합니다.
			</li>
			<br>
			<li>
				상품을 사용했거나 세탁, 파손, 오염 등의 경우에는 반품이 되지 않습니다.
			</li>
			<br>
			<li>
				* 반품비용 = 수입(구매)대행 시, 발생한 현지 및 국제운송료 + 물류센터 출고수수료 등 제비용
			</li>
			<br>
			<li>
				유료반품 해당의 경우
				<br>
				<ul>
					<br>
					<li>고객의 사이즈, 색상, 질감, 크기 등의 착각으로 인한 반품</li>
					<br>
					<li>약간의 스크래치, 모니터 해상도에 따른 색상차이, 실밥, 제품의 퀄리티, 가죽의 패턴(무늬)차이, 배송상태(폴리백 없음, 박스 구겨짐 등), 신발접착제 등에 의한 반품</li>
					<br>
					<li>국내 백화점 및 매장 등에서 발행하는 보증서나 개런티 카드 미발행 등과 관련한 반품(국내 백화점이나 매장에서 자체 발행하는 보증서나 개런티 카드는 해외 배송상품에는 들어 있지 않을 수 있습니다.)</li>
					<br>
					<li>단추, 액세서리 부속품, 스티치 부분, 로고 부착 위치, 태그 부착 위치 등이 제공된 이미지와 다른 이유로의 반품(해외 밴더사의 출시 과정에 따라 조금씩 차이가 날 수 있습니다.)</li>
					<br>
					<li>수령한 상품의 실측 사이즈가 다르다는 이유로의 반품(상세정보 및 사이즈 조견표에 표기된 사이즈는 실측 치수가 아니며, 참고용으로 표기된 것으로 차이가 있을 수 있습니다.)</li>
				</ul>
			</li>
			<br>
			<li>
				반품이 불가능한 경우
				
				<ul>
					<br>
					<li>상품 배송완료 후 7일이 경과한 상품</li>
					<br>
					<li>고객의 부주의 또는 고의로 상품을 훼손한 경우</li>
					<br>
					<li>제품을 사용한 흔적이 있거나 상품 라벨이나 증명 등이 분리제거 및 훼손 된 경우</li>
					<br>
					<li>LEATHER(가죽)로 기재되어 있는 경우 천연가죽 외에 합성피혁(인조가죽)도 LEATHER로 표기 될 수 있으며 반품사유에 해당하지 않습니다.</li>
				</ul>
			</li>

			<br>
			<li>
				반품절차 및 방법
				
				<ul class="list" style="font-size; 14px;">
					<br>				
					<li>
						큐썸(Quusome.com)은 문의 및 협의 없이 개별적인 임의반품/반송은 수취거부하고 있습니다. 이 점 참고하시어 아래의 절차에 의해 반품을 진행해 주십시오.
						<br>
						문의 <i class="long arrow right icon"></i> 협의 및 반품신청 안내 <i class="long arrow right icon"></i> 반품배송 <i class="long arrow right icon"></i> 검수/검품 <i class="long arrow right icon"></i> 반품확인 <i class="long arrow right icon"></i> 환불
					</li>
					<br>
					<li>
						1) 문의<br><br>
						반품을 원하실 경우, 고객센터(070-4154-0679)를 통해 반품절차 안내를 받으세요.
					</li>
					<br>
					<li>
						2) 협의 및 반품신청 안내<br><br>
						반품사유 및 수수료에 대한 안내와 협의를 받으신 후 반품신청을 해주세요.
					</li>
					<br>
					<li>
						3) 반품배송<br><br>
						반품은 안내해드린 지정 택배사로 <신규착불 택배>로 반품주소를 기재하여 보내주세요. (편의점 택배 및 타 택배회사 이용 시, 고객선불 부담) 반품하실 상품은 반드시 겉포장을 한번 더 해서 보내주시기 바랍니다. 반품배송 중 상품이 훼손되거나 오염될 경우, 반품이 거절 될 수 있습니다.<br><br>
						반품주소 : 서울시 영등포구 여의도동 15-16 산정빌딩 806호 빈즈나인 담당자 앞
					</li>
					<br>
					<li>
						4) 검수 / 검품<br><br>
						보내주신 반품 상품의 상태 및 반품사유에 대해 검사하는 단계입니다.<br><br>
						큐썸(Quusome.com)은 고의적인 훼손 또는 부주의에 의한 반품으로 인한 고객서비스 및 영업활동 지장 예방을 비롯하여 대다수의 선량한 소비자 보호를 위해 해외 물류창고에서 상품을 수취/검수 과정에서 촬영을 통해 상품 상태에 대한 정보를 보관하고 있습니다. 고의적인 훼손 및 부주의에 의한 반품사례에 대해서는 [민법 및 상법]을 비롯한 관련 법규정에 의거하여 내용증명 발부 및 기타 절차를 진행하게 됩니다.
					</li>
					<br>
					<li>
						5) 반품확인
					</li>
					<br>
					<li>
						6) 환불<br><br>
						반품확인 이후 3일(영업일 기준) 이내에 환불처리를 해드리며, 유료반품인 경우, 반품수수료(약 45,000원~60,000원)를 제외한 금액을 고객님이 지정한 환불계좌를 통해 환불처리 해드립니다.
					</li>

				</ul>
			</li>
		</ul>
	</div>

	<h4 class="ui header">
	  <i class="asterisk icon"></i>
	  교환
	</h4>

	<div class="ui blue message" >
	  <ul class="list" style="font-size; 14px;">
			<li>해외구매대행 상품의 경우, 국내에 재고를 보유하고 있지 않기 때문에 일체의 교환서비스가 불가능합니다.</li>
		</ul>
	</div>

	<h4 class="ui header">
	  <i class="asterisk icon"></i>
	  소비자 피해보상 기준
	</h4>
	<div class="ui blue message" >
	  <ul class="list" style="font-size; 14px;">
			<li>상품구매와 관련한 분쟁 및 피해보상에 관한 사항은 소비자분쟁해결기준에 따라 받으실 수 있으며 ‘전자상거래 등에서의 소비자 보호에 관한 법률’에 의한 규정이 판매자가 지정한 반품조건보다 우선합니다. (소비자 분쟁해결 기준 : 공정거래위원회 고시)</li>
		</ul>
	</div>

</div>