<script>
// $(function() {
//   $('.collection_loading').bind('ajax:beforeSend', function() {
//     alert("!!")
//     // $('.dimmer').dimmer('show');
    
//   });

//   // $('.collection_loading').bind('ajax:complete', function() {
//   //   alert("end")
//   //   // setTimeout(function(){ $('.dimmer').dimmer('hide'); }, 10000);
//   // });

  
// });

  // $('.collection_item_add_form').on('submit', function() {
  //   $('.collection_item_add_dimmer').dimmer('show');
  //   return true;
  // });

  // $('.collection_item_remove_form').on('submit', function() {
  //   $('.collection_item_remove_dimmer').dimmer('show');
  //   return true;
  // });
</script>

<div class="ui modal collection_add" style="width:900px;">
    <i class="close icon"></i>
    <div class="header">
      <i class="block layout icon"></i>컬렉션담기
    </div>
    <div class="content" style="margin-top: -0px; margin-bottom: 0px; ">
      <div>
    
      
        
          

      </div>
   
      <div class="uk-grid" id="collection_modal_partial" >
        <%= render 'rootshop/partial/collection_modal_partial' if user_signed_in? %>
        <%#= render 'rootshop/partial/test_partial' %>
      </div>
   
    <!-- <div class="actions">
      <div class="ui button">OK</div>
    </div> -->
  </div>

