<div class="ui inverted dimmer collection_item_add_dimmer">
  <div class="content" style="margin-top: -30px;">
    <div class="center">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red download"></i><br>
        컬렉션에 상품을 추가 중 입니다..
      </h3>
    </div>
  </div>
</div>
<div class="ui inverted dimmer collection_item_remove_dimmer">
  <div class="content" style="margin-top: -30px;">
    <div class="center">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red trash"></i><br>
        컬렉션에서 상품을 삭제 중 입니다..
      </h3>
    </div>
  </div>
</div>
<div class="ui inverted dimmer collection_add_dimmer">
  <div class="content" style="margin-top: -30px;">
    <div class="center">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red block layout"></i><br>
        컬렉션을 추가 중 입니다..
      </h3>
    </div>
  </div>
</div>
<div class="ui inverted dimmer collection_remove_dimmer">
  <div class="content" style="margin-top: -30px;">
    <div class="center collection_remove_div" style="display: none;">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red trash"></i><br>
        컬렉션을 삭제 중 입니다..
      </h3>
    </div>

     <div class="center collection_remove_btn_div" style="display: none;">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red warning"></i><br>
        컬렉션을 삭제하시겠습니까?<br> 컬렉션에 포함된 상품도 삭제됩니다.
      </h3>
      <br>
      <a class="ui red button" id="collection_delete_accept_btn">삭제</a>
      <a class="ui button black" id="collection_delete_cancel_btn">취소</a>
    </div>


  </div>
</div>
<!-- <div class="ui inverted dimmer collection_remove_btn_dimmer">
  <div class="content" style="margin-top: -30px;">
    <div class="center">
      <h3 class="ui  icon header">
        <i class="icon circular inverted emphasized red warning"></i><br>
        컬렉션을 삭제하시겠습니까?<br> 컬렉션에 포함된 상품도 삭제됩니다.
      </h3>
      <br>
      <a class="ui red button" id="collection_delete_accept_btn">삭제</a>
      <a class="ui button black" id="collection_delete_cancel_btn">취소</a>
    </div>
  </div>
</div> -->

<%= button_to "", :method => 'delete', :remote => true, :form_class => 'collection_remove_form', :style => 'display: none;' do %>
  <i class="icon trash large link tooltip" data-uk-tooltip title="컬렉션 삭제"></i>
<% end %>
<input type="hidden" id="delete_collection_id">
<input type="hidden" id="delete_product_id" value="<%= @product.id %>">

        
        <div style="margin-left: 40px;">
        <% if @collections.size > 0 %>
          <span>이 상품을 추가할 컬렉션을 선택하세요</span>
        <% else %>
          <span>컬렉션이 없으신가요? 자신만의 컬렉션을 만들어 보세요</span>
        <% end %>
        </div>
        <% @collections.each do |collection| %>
        
        <div class="uk-width-1-4" style="margin-top: 30px;">
          <div class="ui segment" style="height: 166px;" align="center">
            

            


            <div class="ui top attached label">
              <div style="float: left; font-weight: bold; display:inline-block; overflow: hidden; white-space: nowrap;  text-overflow:ellipsis; width: 120px;" align="left">
                <%= collection.name %>
              </div>
              <div style="float: right;" >
                <%= link_to collectionshop_path(current_user.user_id, collection) do %>
                  <i class="icon forward mail large link" data-uk-tooltip title="컬렉션으로 이동"></i>
                <% end %>
                <% if current_user && current_user.id == collection.user_id %>
                  <a class="collection_remove_btn" style="cursor: pointer"><i class="icon trash large link tooltip" data-uk-tooltip title="컬렉션 삭제"></i></a>
                  <input type="hidden" class="delete_btn_collection_id" value="<%= collection.id %>">
                  
                <% end %>
              </div>
            </div>
            <% collection_items = CollectionItem.joins(:product).where("collection_items.collection_id = ? and collection_items.deleted_at is null and collection_items.product_id = products.id and products.deleted_at is null", collection.id).order('collection_items.created_at DESC') %>

            <div class="ui bottom right attached red label"><%= collection_items.count %></div>
           
             <div class="ui small images rounded uk-overlay-collection collection_items" style="padding-top: 30px;" align="left">
              <div align="left" style="margin-left; 20px;">
                <% item_count = 0 %>


                <% collection_items.order('created_at DESC').limit(4).each do |item| %>
                <%
                  item_count =+ 1 if @product.id == item.product.id
                %>

                <%= image_tag item.product.featured_small_image_url, :style => "margin-top: 0px; width: 70px; height: 50px; " %>
                <% end %> 
                
              </div>
                <% if item_count > 0 %>
                  <div class="uk-overlay-area-collection uk-overlay-area-collection-hover" align="center" style="padding-top: 50px;">
                  <div style="" class="collection_added_btn" align="center">
                    <button class="ui labeled icon button green small" ><i class="icon check"></i>추가됨</button>
                  </div>
                  <div style="display: none" class="collection_delete_btn" align="center">

                    <%= button_to collection_item_remove_path(:product_id => @product.id, :collection_id => collection.id), :class => 'ui labeled icon button red small', :form_class => 'collection_item_remove_form', :remote => true, :method => 'delete' do %>
                        <i class="remove icon"></i>&nbsp;&nbsp;삭제&nbsp;&nbsp;
                      <% end %>


                  </div>


                <% else %>
                  
                  <div style="" class="uk-overlay-area-collection">
                  <div style="padding-top: 50px;" align="center">
           
                    <%= button_to collection_item_add_path(:product_id => @product.id, :collection_id => collection.id), :class => 'ui labeled icon button blue small collection_add', :form_class => 'collection_item_add_form', :remote => true do %>
                        <i class="icon plus"></i>상품 추가
                      <% end %>
                  </div>

                <% end %>
                </div>
               
            </div>
           
          </div>
        </div>
        <% end %>
        <% if @collections.size != 8 %>
          <div class="uk-width-1-4" style="margin-top: 30px;">
            <div class="ui segment" style="height: 166px;">
           
              
              <div id="collection_add_form" style="padding-top: 10px; height: 110px; width: 100%; display: none;" >
                <%= form_tag collection_add_path, :remote => true, :class => 'collection_add_form' do %>
                  <%= hidden_field_tag :product_id, @product.id %>
                  <div style="font-size: 12px;" align="center">컬렉션 제목을 입력하세요</div>
                  <div style="margin-top: 10px;" align="center"><%= text_field_tag :collection_name %></div>

                  <div style="padding-top: 50px;" align="center">
                    <a class="ui button mini red" id="collection_create_btn">컬렉션 만들기</a>
                    <a class="ui button mini black" id="collection_cancel_btn">취소</a>
                  </div>
                  <%= submit_tag "submit", :style => 'display: none', :id => "collection_add_submit" %>
                <% end %>
                  
              </div>
              <% collection_pack = true %>

              <% if @collections.size < 3 || collection_pack  %>
                
                <div id="collection_add_segment" style="padding-top: 20px;  height: 110px; width: 100%;" >
                    <div align="center">컬렉션을 추가해보세요</div>
                    <div style="margin-top: 20px; " align="center">
                     <i class="add  icon huge link" id="collection_add_btn"></i>
                    </div>
                    
                </div>

              <% else %>
                <div id="collection_add_segment" style="padding-top: 10px; height: 110px; width: 100%;" >
                    <div align="center" style="font-size: 11px;">기본 컬렉션은 3개가 제공됩니다</div>
                    <div style="margin-top: 5px; font-size: 11px;" align="center">컬렉션 확징팩을 이용해보세요</div>
                    <div style="margin-top: 20px;" align="center">
                      <i class="lock icon huge link"></i>
                    </div>
                </div>
              <% end %>
              
            </div>
          </div>
        <% end %>
      </div>
