<div class="ui bottom attached " id="tab_comments_content" style="display: none;">
      <div class="ui comments fluid">
        <div class="comment">
          <a class="avatar">
            <img src="http://placekitten.com/50/50">
          </a>
          <div class="content">
            <a class="author">Dog Doggington</a>
            <div class="metadata">
              <div class="date">2 days ago</div>
            </div>
            <div class="text">
              I think this is a great idea and i am voting on itasdasdasdasdasdadadadad
            </div>
          </div>
        </div>
      </div>

      <div class="ui comments fluid">
        <div class="comment">
          <a class="avatar">
            <img src="http://placekitten.com/50/50">
          </a>
          <div class="content">
            <a class="author">Dog Doggington</a>
            <div class="metadata">
              <div class="date">2 days ago</div>
            </div>
            <div class="text">
              I think this is a great idea and i am voting on itasdasdasdasdasdadadadad
            </div>
          </div>
        </div>
      </div>

      <div class="ui comments fluid">
        <div class="comment">
          <a class="avatar">
            <img src="http://placekitten.com/50/50">
          </a>
          <div class="content">
            <a class="author">Dog Doggington</a>
            <div class="metadata">
              <div class="date">2 days ago</div>
            </div>
            <div class="text">
              I think this is a great idea and i am v
            </div>
          </div>
        </div>
      </div>

      <form class="ui reply form">
        <div class="field">
          <textarea style="height: 10px;"></textarea>
        </div>
        <div class="ui button teal submit labeled ">
          <i class="icon edit"></i> 코멘트 추가
        </div>
      </form>

      


    </div>