<script>
jQuery(function() {

  

  


  var slide = $(".slide");

  slide.owlCarousel({
    // stopOnHover : true,
    // navigation:true,
    // paginationSpeed : 2000,
    lazyLoad : true,
    pagination: false,
    singleItem : true
    
    // autoHeight : true,
    // transitionStyle: 'fade'
  });



  $('.product_thumbnail').on('click', function() {

    $(this).parent().prev().trigger('owl.goTo', $(this).prev('.thumbnail_index').val());
  });

  $('.select_options').on('change', function() {

    //컬러옵션만 가능
    if($(this).attr("option") != "color") return;
    

    //세일컬러
    var sale_color = "<%= @product.multi_price_final['sale_color'] %>";

    //세일컬러가 있을경우에만 가능
    if(sale_color == '') return;

    //컬러옵션 변경시 슬라이드 인덱스 초기화
    $(".owl-carousel").each(function() {
      owl = $(this).data('owlCarousel');
      owl.jumpTo(0);
    })

    //옵션아이디 
    id = $(this).val().split("_")[1];
    $('.option_images').hide();
    $("#option_" + id).show();

    //가격
    var selected_price = $('.select_options option:selected').attr("price");
    var selected_color = $('.select_options option:selected').attr("item_title");
    if(selected_price == 'original') {
      $(".price_block").hide();
      // $("#price_block_original").css("text-decoration", "");
      $("#price_block_original").show();
    }else {
      $(".price_block").hide();
      
      // $("#price_block_original").css("text-decoration", "line-through");
      $("#price_block_original").show();
      document.getElementById("color_option_price_" + selected_color).style.display = "block"
      // $("#color_option_price_" + selected_color).show();
    }

    //사이즈
    var select_size = $('#selectbox_size');
    if(select_size == '') return;

    select_size.children().remove();
    select_size.append("<option value=''>선택</option>");
    $('.hidden_size_option').each(function() {
      
      if(getInventoryState(selected_color, $(this).attr('title')))
        select_size.append("<option value='" + $(this).val() + "'>" + $(this).attr('title') + "</option>")
      else
        select_size.append("<option disabled value='" + $(this).val() + "'>" + $(this).attr('title') + " - 품절</option>")
    });
  });
})

function getInventoryState(color, size) {
  var state = document.getElementById("color*_*" + color + "-_-size*_*" + size).value; 
  if(state == 'available')
    return true;
  else
    return false;
}



</script>

<style>




<% content_for :title, @product.title %>
<% content_for :facebook_image, @product.product_images[0].image_url %>



</style>


  
<% category = @category ? @category.code : "home"  %>
<% cache ["breadcrumb",  category] do %>
<ul class="breadcrumb">
  <li><%= link_to "/rootshop" do %>HOME <% end %></li>
    <% if @category %>
      <% @category.ancestors.each do |a| %>
        <li><%= link_to "#{a.name}", "/rootshop?category=#{a.id}" %></li>
      <% end %>
      <li><%= link_to "#{@category.name}", "/rootshop?category=#{@category.id}" %></li>
    <% end %>
    <li><%= @product.title %></li>
  </ul>
 <% end %> 
<div class="ui segment">
  

  
  <div class="ui inverted  tertiary segment" style="background-color: #C5C5C5" >
  	<div >
     <!--  <div class="uk-thumbnail" style="float: left;">
        <%#= image_tag @product.user.small_image_url, :style => 'width: 70px; height: 70px;' %>
      </div> -->
      
      <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
        
        <div style="color: #1F84AA">
          
          <% if @product.brand == 'CLUB MONACO' %>
            <%= image_tag "clubMonaco_900x450.jpg", :class => "img-responsive", :style => 'width:160px;' %>
          <% elsif @product.brand == 'EQUIPMENT' %>
            <%= image_tag "equipment_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ELIE TAHARI' %>
            <%= image_tag "eli_tahari_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'REBECCA TAYLOR' %>
            <%= image_tag "rebeccaTaylor_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ALLSAINTS' %>
            <%= image_tag "All-Saints_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'rag & bone' %>
            <%= image_tag "ragNborn_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ANDREW MARC' %>
            <%= image_tag "andrew marc_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'CURRENT/ELLIOTT' %>
            <%= image_tag "cuurent_elliott_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% else %>
            <%= @product.brand %>
            <div>이 브랜드의 다른 상품</div>
          <% end %>
        </div>
        
      </div>
      <div>
        <a href="/products?<%= {brand: @product.brand}.to_query  %>" >
        <%#= link_to other_products_path(@product.brand) do %>
        <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px; " data-uk-tooltip title="'<%= @product.brand %>' 브랜드의 다른 상품들을 찾아보세요.">
          <p style="color: #999; font-size: 20px; font-weight: bold; text-align: center; line-height: 70px;">
            <%= @other_products_all.count %>
          </p>
        </div>
        <%# end %>
        </a>
        <% @other_products.each do |product| %>

          <%= link_to rootshop_path(product) do %>
            <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px;" data-uk-tooltip title="<%= product.title %>">
              <%= image_tag product.featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
            </div>
          <% end %>


          <%#= link_to rootshop_path(product) do %>
            <!-- <div class="uk-thumbnail uk-overlay" style="float: right; margin-left: 15px; width: 80px; height: 80px;" data-uk-tooltip title="<%#= product.title %>"> -->
              <%#= image_tag product.featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
              <!-- <div class="uk-overlay-area" style="background-color: white; background: rgba(255,255,255,.4); padding: 5px;"> -->
                <!-- </div> -->
            <!-- </div> -->
          <%# end %>
        <% end %>

      </div>
    </div>
	</div>

	<div class="ui grid" style="margin-top: 20px;">

    <div class="thirteen wide column">
      <div class="ui row grid">
        <div class="nine wide column">
          <%= render 'common/product_show_slide' %>
        </div>

        <div class="seven wide column">
          <%= render 'rootshop/partial/product_price_info' %>
        </div>


      </div>
      <div class="row" style="margin-top: 30px; padding: 10px;">
        <div class="ten wide column">
          <%= render 'common/product_show_detail_tab' %>
        </div>
      </div>
    </div>

    <div class="three wide column">
      <%= render 'rootshop/partial/include_collections' %>
    </div>


  </div>
  



</div>

<div id="collection_add">
  <%= render 'rootshop/partial/collection_add' if current_user %>
</div>

<input type="hidden" id="user_id" value="<%= current_user.id if user_signed_in? %>">



