<%# image_height = (product.image_height.to_f * 260) / product.image_width.to_f %>
<style>
/*.item.one-edge-shadow {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
}*/

.ui.small {
  overflow: hidden; 
  white-space: nowrap;  
  text-overflow:ellipsis;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.product_price {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 17px;
}

.item_brand {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 200;
}


</style>
        <li class="item one-edge-shadow" style="border: 0px;">

          <div class="ui small">
                    <%= product.title %>
                  </div>
                  <!-- <div class="ui divider" ></div> -->
          <div class="item_image" style="heght: 238px; margin-top: 10px;">
            
            <%= link_to rootshop_path(product), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay " style="height: 238px;">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= product.featured_medium_image_url %>">
             <!--    <span class="ui red label" style="position: absolute; margin:0 auto;">
                SOLD OUT
              </span> -->
              
                <%# = image_tag product.featured_rootshop_index_image_url, :height => image_height %>
                
                <div class="uk-overlay-area" style="background: rgba(0,0,0,.1); padding: 5px;">
                </div>
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
              <!-- <div style="float: left;"><%#= image_tag product.user.small_image_url, :class => "product_user_image" %></div> -->
             <!--  
              <div class="product_user_id" style="float: left;">
              </div> -->
              <div class="product_icons" style="text-align: right">
               <!--  <a href="#" class="product_icon" ><i class="unhide icon"></i><%#= product.impressionist_count %></a>
                <a href="#" class="product_icon"><i class="comment icon"></i><%#= product.reviews.count %></a>
                <a href="#" class="product_icon"><i class="block layout icon"></i></i><%#= product.collection_items.count %></a>  -->
<!-- 
                <i class="unhide icon"></i><%#= product.impressionist_count %>
                <i class="comment icon"></i><%#= product.reviews.count %>
                <i class="block layout icon"></i></i><%#= product.collection_items.count %> -->
              </div>
            </div>
            <%
              original_price = product.multi_price_final["original"]
              sale_color_price_min = product.multi_price_final["sale_color"].values.min
            %>
            <div class="item_brand">
              <%= product.brand %>
            </div>
            
            <div class="product_price" style="min-height: 40px;">

              <%# unless product.multi_price_final["sale_color"].empty? %>
                <!-- <div style="float:left; padding-right: 10px;">
                  <span style="color: #D95C5C"><%#= ((original_price.to_f - sale_color_price_min.to_f)/original_price.to_f * 100).round  %>%</span>
                </div> -->
              <%# end %>
              <div style="float:left">
              <% unless product.multi_price_final["sale_color"].empty? %>

                
                
                &#65510; <span><%= price_currency_comma sale_color_price_min %></span><br/>
                <del style="color: #999999">&#65510; <%= price_currency_comma original_price %></del>
              <% else %>
                &#65510; <%= price_currency_comma original_price %>
              <% end %>
              </div>


              

            </div>
            <% if product.is_soldout %>
              <div style="float: left;">
                <a class="ui red label">
                  SOLD OUT
                </a>
              </div>
            <% end %>
            
          </div>
          
          
          
        </li>