<div id="tab_delivery_content" style="display: none; padding: 20px; font-size: 13px;">
<!-- 	반송주소 : 
	<%# if @product.take_back_address.present? %>
		<%#= @product.take_back_address %>
	<%# else %>
		<%#= Supplier.where(@product.supplier_id).first.take_back_address %>
	<%# end %>
 -->

 	<h3 class="ui header">
	  <i class="truck icon"></i>
	  배송안내
	</h3>

	<p>
		해외수입(구매)대행 서비스는 현지 사이트 내 주문접수, 외국 내 배송, 국제운송, 통관 등의 과정을 거쳐 평균 15일 내외 정도가 소요됩니다. 해외 쇼핑몰, 항공사, 통관 등의 사정으로 배송이 지연될 수도 있습니다.
	</p>
	<p>
		미국 또는 현지 쇼핑몰 사정(품절, 백 오더, 가격인상 등)에 의해 주문하신 상품이 취소될 수 있으니 이 점 양해 바라며 취소 시, 주문 시 입력하신 정보에 기반하여 유무선을 통해 통지해 드립니다.
	</p>

	<div class="ui blue message">
		<div class="header">
	    ** 배송절차 **
	  </div>
	  <div>
			결제완료(문자발송) <i class="long arrow right icon"></i> 해외주문접수(문자발송) <i class="long arrow right icon"></i> 현지 배송(미국 영업일 기준 7~14일 소요) <i class="long arrow right icon"></i> 항공운송(문자발송) <i class="long arrow right icon"></i> 통관 <i class="long arrow right icon"></i> 국내배송 <i class="long arrow right icon"></i> 배송완료
		</div>
	</div>
	<p>
		** 해외주문접수 이후 변경 및 취소를 하시려면 반품비용 및 교환비용이 발생합니다. 취소 및 반품 관련 정보는 <취소/환불/반품/교환>규정을 참고하세요.
	</p>

</div>