<style>
img {
	max-width: 100%;
	height: auto;
}
</style>
<div class="ui bottom attached" id="tab_detail_info_content" style="padding: 20px; font-size: 13px;">
	<h2 class="ui header">
	  <i class="info icon"></i>
	  상품설명
	</h2>

	<% if current_user &&  current_user.user_type == 'seller' %>
	<div>
		<a href="<%= @product.url %>" target="_blank">사이트로 이동</a>
		<a href="/myshop/products/<%= @product.id %>/edit" target="_blank">마이샵으로 이동</a>
	</div>
	<% end %>

  <%=  raw @product.detail_info %>

  <h2 class="ui header">
	  <i class="info icon"></i>
	  사이즈
	</h2>
	<% if @product.domain == 'tillys.com' %>
		<iframe src="http://www.tillys.com/tillys/sizechart.htm?qv=1" width="900px;" height="400px;"></iframe>
	<% end %>
	
  <table width="100%" class="ui basic table size_table">
		<%= raw @product.size_table_html %>

	
		
	</table>
	<br>
	<% color_arr = @product.product_images.order('created_at ASC').pluck(:color_option).uniq %>
	
	<% @product.product_images.order('created_at ASC').each_with_index do |image, i| %>
		<div align="center">
			<% if @product.brand == 'CLUB MONACO' %>
				<% if color_arr[0] == image.color_option %>
					<%= image_tag image.image_url %>
					<p><%= image.color_option %></p>
				<% end %>
			<% else %>
				<%= image_tag image.image_url %>
				<p><%= image.color_option %></p>
			<% end %>
		</div>
	<% end %>

</div>
