



<div class="ui vertical menu fluid">
      <div class="header item" align="center">
        <p style="font-size: 16px;">INFOBOX</p>
      
      </div>
      <div class="ui one column grid" style="padding: 5px 0px 15px 30px;">

        <div class="row">
          <a style="cursor: pointer">
            <%= image_tag 'sidebar_card_event.jpg' %>
          </a>
        </div>

        <div class="row" style="margin-top: 0px; padding-top: 5px">
          <a href="/blogs/2" target="_blank">
            <%= image_tag 'sidebar_number_156x40.jpg' %>
          </a>
        </div>
        <div class="row" style="margin-top: 0px; padding-top: 5px" id="tax_btn">
          <a style="cursor: pointer">
            <%= image_tag 'sidebar_tax_156x40.jpg' %>
          </a>
        </div>
        <div class="row" style="margin-top: 0px; padding-top: 5px">
          <a href="https://www.facebook.com/quusome.kr" target="_blank">
            <%= image_tag 'sidebar_facebook_156x40.jpg' %>
          </a>
        </div>

        <div class="row" style="margin-top: 0px; padding-top: 5px">
          <a href="/blogs/11" target="_blank">
            <%= image_tag 'sidebar_openevent_156x40.jpg' %>
          </a>
        </div>

        <div class="row" style="margin-top: 0px; padding-top: 5px">
          <a href="/blogs/14" target="_blank">
            <%= image_tag 'sidebar_review_156x40.jpg' %>
          </a>
        </div>

        

       <!--  <div class="row">
          <a href="#">
            <%#= image_tag 'sidebar_navercafe_156x40.jpg' %>
          </a>
        </div> -->
      </div>
      
      <!--
      <%# if @collections_include_this_product.count > 0 %>
      <div class="ui one column grid" style="padding: 5px 0px 15px 30px;">
        <div class="row">
          <%# @collections_include_this_product.each do |collection| %>
          <div class="column ">
            <div class="uk-thumbnail uk-thumbnail-mini uk-overlay-toggle one-edge-shadow" style="margin-top: 10px;">
              <%#= link_to collectionshop_path(collection.user.user_id, collection) do %>
                <div class="uk-overlay">
                  <%#= image_tag collection.featured_image_url, :style => 'width: 140px; height: 140px;' %>
                  <div class="uk-overlay-area">
                    <div style="font-size: 12px; font-weight: bold;" class="uk-text-truncate">
                      <%#= collection.name %>
                    </div>
                    <div style="margin: 5px 0px 0px 5px;">
                      <%# collection.collection_items.joins(:product).limit(5).each do |item| %>
                        <div style="float: left; margin-right: 5px;">
                          <%#= image_tag item.small_image_url, :style => 'width: 40px; height: 40px; margin: 0 0 5px 0;', :class => 'one-edge-shadow' %>
                        </div>
                      <%# end %>
                      <div style="background-color: #00B5AD; width: 40px; height: 40px; float: left; color: white; font-weight: bold;" class="one-edge-shadow">
                        <div align="center" style="margin-top: 9px;"><%#= collection.collection_items.joins(:product).count %></div>
                      </div>

                    </div>
                    
                  </div>
                </div>
              <%# end %>
              <div class="" style="font-size: 12px; ">
                <div style=" float: left; ">
                  <%#= image_tag collection.user.small_image_url, :class => 'collections_include_this_product_user_avatar', :style => 'width: 20px; height: 20px;' %>
                </div>
                <div style="font-weight: bold; float: left; margin: 5px 0 0 5px; color: #1F84AA"><%#= collection.user.user_id %></div>
              </div>
            </div>
          </div>

          <%# end %>
          <%# unless @collections_include_this_product.empty? %>
          <div align="center" style="margin-top: 10px;">
            <%#= link_to "더보기", include_collections_path(@product.id), :style => 'color: white; width: 100px;', :class => 'fluid ui button blue mini ' %>
          </div>
          <%# end %>
        </div>
      </div>

      <%# else %>
        <div class="text item" align="center" style="font-size: 13px;">
          컬렉션이 없습니다.
        </div>
      <%# end %>
      -->
      

    </div>
<script>
  $(function() {
    $('#tax_btn').on('click', function() {
      var status  = "width=900 height=600 menubar=no,scrollbars=no,resizable=no,status=no";
      var obj     = window.open('http://www.customs.go.kr/kcshome/common/popup/BuyTaxCalculationPopup.do', 'tax_pop', status);
    });
  });
</script>