
<style>
.price_block {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

.product_title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
</style>
<% current_price = 0 %>
<div class="" style="padding: 5px; min-height: 300px;">
  <% is_sale = false %>
  <% if @product.multi_price_final["sale_color"].present? %>
    <% @product.product_options.each do |option| %>
      <% if option.title == 'color' %>
        <% is_sale = @product.multi_price_final["sale_color"].keys.include?(option.product_option_items.order("created_at ASC")[0].title) %>
      <% end %>
    <% end %>
    <div style="font-size: 30px;" align="right" class="price_block" id="price_block_original">
      <% if is_sale == true %>
        <span price="original"><del style="color: #999999">&#65510; <%= price_currency_comma @product.multi_price_final["original"] %></del></span>
      <% else %>
        <span price="original">&#65510; <%= price_currency_comma @product.multi_price_final["original"] %></span>
      <% end %>
    </div>
    <% @product.product_options.each do |option| %>
      <% if option.title == 'color' %>
        <% option.product_option_items.order("created_at ASC").each_with_index do |item, i| %>
          <%# item = option.product_option_items[0] %>
          <% if @product.multi_price_final["sale_color"][item.title] %>
            <div style="font-size: 30px; margin-top: 10px;<% if i > 0 %>display: none;<% end %>" align="right" id="color_option_price_<%= item.title %>" class="price_block">
              <span style="font-size: 25px;">&#65510; </span>
              <span price="<%= @product.multi_price_final["sale_color"][item.title] %>"><%= price_currency_comma @product.multi_price_final["sale_color"][item.title] %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div style="font-size: 30px;" align="right" class="price_block" id="price_block_original">
      <span price="original">&#65510; <%= price_currency_comma @product.multi_price_final["original"] %></span>
    </div>
  <% end %>

  <div class="ui divider"></div>


  <div>
    <p  class="product_title"><%= @product.title %></p>
  </div>

  <% @product.inventory.keys.each do |key| %>
    <input type="hidden" class="inventory" id="<%= key %>" value="<%= @product.inventory[key] %>">
  <% end %>
  <% @product.product_options.each do |option| %>
    <% if option.title == 'size' %>
      <% option.product_option_items.each do |item| %>
        <input type="hidden" class="hidden_size_option" title="<%= item.title %>" value="<%= option.id %>_<%= item.id %>">
      <% end %>
    <% end %>
  <% end %>

  <%= simple_form_for LineItem.new, :url => cart_add_path do |f| %>
      <%= f.input :product_id, :as => 'hidden', :input_html => {:value => @product.id}  %>
      <input type="hidden" name="order_type", id="order_type">
      <input type="hidden" name="line_item[collection_item_id]" value="<%= @collection_item.id unless @collection_item.nil? %>">
  
    
      <div style="margin-top: 10px; color: #999">
        <% product_options = @product.product_options.order("created_at ASC") %>
        <% product_options.order("created_at ASC").each do |option| %>
        <div style="margin-bottom: 10px;">
          <span><%= option.title %></span><br>
          <div style="height: 5px;"></div>
          <span class="uk-form">
          <select name="line_item[product_options_id][]" class="select_options" option="<%= option.title %>" id="selectbox_<%= option.title %>">
            <% if option.title == 'size' %>
              <option value="">선택</option>
            <% end %>
            <% option.product_option_items.order("created_at ASC").each do |item| %>
              <% if option.title == 'color' %>
                <option 
                  value="<%=option.id %>_<%= item.id %>" 
                  price="<% if @product.multi_price_final["sale_color"][item.title] %><%= @product.multi_price_final["sale_color"][item.title] %><% else %>original<% end %>"
                  item_title="<%= item.title  %>"
                >

                  <%= item.title %> 
                  <% if option.title == 'color' and @product.multi_price_final["sale_color"] %>
                    <% if @product.multi_price_final["sale_color"][item.title] %>
                      - &#8361; <%= price_currency_comma @product.multi_price_final["sale_color"][item.title] %>
                      <% current_price = @product.multi_price_final["sale_color"][item.title] %>
                    <% else %>
                      - &#8361; <%= price_currency_comma @product.multi_price_final["original"] %>
                      <% current_price = @product.multi_price_final["original"] %>
                    <% end %>
                  <% end %>
                </option>
              <% end %>
              <% if option.title == 'size' %>
                <% if product_options[0].title == 'color' %>
                
                
                  <%
                    first_color_title = product_options[0].product_option_items.order("created_at ASC")[0].title
                    state = @product.inventory["color*_*#{first_color_title}-_-size*_*#{item.title}"]

                    if state == 'available'
                  %>
                    <option value="<%=option.id %>_<%= item.id %>" ><%= item.title %></option>
                  <% else %>
                    <option disabled value="<%=option.id %>_<%= item.id %>" ><%= item.title %> - 품절</option>
                  <% end %>

                <% end %>
                

              <% end %>
            <% end %>
          </select>
          </span>
          <% if option.title == 'size' %>

            <a class="ui button mini" style=" margin-left: 10px;" id="size_table_btn">사이즈조견표</a>
            <i class="help icon" style="cursor: pointer" data-uk-tooltip title="<p style='text-align: left;'>일반적인 사이즈 조견표입니다. 해당제품의 사이즈가 없을 경우 참고해 주세요. 해당제품의 사이즈는 제품설명 하단에 있습니다.</p>"></i>
          <% end %>
        </div>

          <%#= f.input :product_option_id, collection: option.product_option_items, :include_blank => false, :label => false %>
        <% end %>
      </div>
    


      <div style="margin-top: 10px; color: #999">
        <span>수량</span>
        <%= f.input :quantity, :input_html => {:value => 1, :min => 1, :style => 'width: 50px;'}, :label => false %>

      </div>
      <div style="margin-top: 10px;">
        <a href="<%= @product.url %>" target="_blank" >재고확인</a>
      </div>
      <div style="margin-top: 10px; color: #999">
        <span>적립금</span><br>
        <span style="color: black"><%= price_currency_comma saved_money_calc(current_price) %> 원</span>
      </div>


      
     
      
    </div>
    








   
    <% if @product.is_soldout %>
      <div class="fluid ui button  black" style="width: 327px; margin-top: 10px; margin-bottom: 10px;">품절되었습니다</div>
    <% else %>

    <%= button_tag :type =>'submit', :id => 'cart_submit_btn', :class => 'fluid ui button red', :style => 'margin-bottom: 5px; display: none;' do %>
      <i class="cart icon"></i>장바구니 담기
    <% end %>
    <div style="margin-left: 30px;; margin-top: 20px;">
      <!-- <div class="ui buttons" > -->
       
        <div class="btn btn-primary navbar-btn" style="width: 161px;" id="cart_btn">
          <i class="cart icon"></i>장바구니 담기
        </div>
        <!-- <div class="or"></div> -->
        <div class="btn btn-primary navbar-btn" style="width: 161px;" id="direct_purchase_btn">
          <i class="money icon"></i>구매하기
        </div>
      <!-- </div> -->

      <input type="hidden" id="rails_env" value="<%= Rails.env %>">
      <br><br>
      <%# if user_signed_in? and current_user.user_type == 'seller' %>
        <div id="show_collection_add_button" style="margin-top: -40px;">
          <%= render 'rootshop/partial/show_collection_add_button' %>
        </div>
      <%# end %>
    </div>

    <% end %>


        <% end %>



  
    <div style="margin-top: 20px; float:left; margin-left: 30px;">
      <a  target="_blank" href="https://twitter.com/intent/tweet?text=<%= @product.title %>&url=<%= request.original_url %>"><%= image_tag 'social_twitter 45x45.png', :style => "width: 32px;" %></a>
      <a  target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Burl%5D=<%= request.original_url %>&p%5Btitle%5D=<%= @product.title %>&p%5Bimages%5D%5B0%5D=<%= request.protocol + request.host_with_port + @product.featured_small_image_url %>"><%= image_tag 'social_facebook 45x45.png', :style => "width: 32px;" %></a>
      <a   target="_blank" href="https://plus.google.com/share?url=<%= request.original_url %>"><%= image_tag 'social_google 45x45.png', :style => "width: 32px;" %></a>
      
    </div>
    <div style="float:right; margin-top: 20px; margin-right: 20px;">
      <a style="cursor: pointer;" data-uk-tooltip title="<p style='text-align: left;'>제품가격은 관세 및 부가세를 포함하지 않고 있으며 일반적으로 15만원 이상 상품에 대해 관세 및 부가세가 발생합니다.<br> 자세한 내용은 주문시 유의사항에 있는 내용을 참고하세요.</p>"><i class="info icon"></i>관세에 대해서</a>
    </div>


      <%= render 'rootshop/partial/size_table_partial/size_table' %>

      







