<% image_height = (product.image_height.to_f * 260) / product.image_width.to_f %>
        <li class="item one-edge-shadow">

          <div class="ui small" style="margin-bottom: 5px; font-size: 14px; background-color: #3F3F3F; color: white; padding: 3px 3px 3px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px">
                    <%= product.title %>
                  </div>
                  <div class="ui divider" style="margin-top: 5px; margin-bottom: 5px;"></div>
          <div class="item_image" style="height: <%= image_height  %>px;">
            
            <%= link_to rootshop_path(product), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay" style="height: <%= image_height  %>px;">
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= product.featured_rootshop_index_image_url %>">
              
                <%# = image_tag product.featured_rootshop_index_image_url, :height => image_height %>
                
                <div class="uk-overlay-area" style="background: rgba(0,0,0,.1); padding: 5px;">
                </div>
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
              <!-- <div style="float: left;"><%#= image_tag product.user.small_image_url, :class => "product_user_image" %></div> -->
             <!--  
              <div class="product_user_id" style="float: left;">
              </div> -->
              <div class="product_icons" style="text-align: right">
               <!--  <a href="#" class="product_icon" ><i class="unhide icon"></i><%#= product.impressionist_count %></a>
                <a href="#" class="product_icon"><i class="comment icon"></i><%#= product.reviews.count %></a>
                <a href="#" class="product_icon"><i class="block layout icon"></i></i><%#= product.collection_items.count %></a>  -->

                <i class="unhide icon"></i><%= product.impressionist_count %>
                <i class="comment icon"></i><%= product.reviews.count %>
                <i class="block layout icon"></i></i><%= product.collection_items.count %>
              </div>
            </div>

            <% if product.sale_price %>
           
            <div class="product_price">
              
                <div style="float:left; padding-right: 10px;">
                  <span style="color: #D95C5C"><i class="long arrow down icon"></i> <%= ((product.price.to_f - product.sale_price.to_f)/product.price.to_f * 100).round  %>%</span>
                </div>
              
              <div style="float:left">
             

                <i class="won icon"></i><del><%= price_currency_comma product.price %></del><br/>
                
                <i class="won icon"></i><span style="color: #D95C5C;"><%= price_currency_comma product.sale_price %></span>
              
              </div>
            </div>

            <% else %>
            <div class="product_price">
              <div style="float:left">
                <i class="won icon"></i><%= price_currency_comma product.price %><br/>
              </div>
            </div>
            <% end %>

              

            
            
          </div>
          
          
          
        </li>