<script>
jQuery(function() {

  

  


  var slide = $(".slide");

  slide.owlCarousel({
    // stopOnHover : true,
    // navigation:true,
    // paginationSpeed : 2000,
    lazyLoad : true,
    pagination: false,
    singleItem : true
    
    // autoHeight : true,
    // transitionStyle: 'fade'
  });



  $('.product_thumbnail').on('click', function() {
    $(this).parent().prev().trigger('owl.goTo', $(this).prev('.thumbnail_index').val());
  });

})

function getInventoryState(color, size) {
  var state = document.getElementById("color*_*" + color + "-_-size*_*" + size).value; 
  if(state == 'available')
    return true;
  else
    return false;
}



</script>


















<style>




<% content_for :title, @product.title %>
<% content_for :facebook_image, @product.product_images[0].image_url %>


.price_block {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}

.product_title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
</style>


  
<% category = @category ? @category.code : "home"  %>
<% cache ["breadcrumb",  category] do %>
<ul class="breadcrumb">
  <li><%= link_to "/rootshop" do %>HOME <% end %></li>
    <% if @category %>
      <% @category.ancestors.each do |a| %>
        <li><%= link_to "#{a.name}", "/rootshop?category=#{a.id}" %></li>
      <% end %>
      <li><%= link_to "#{@category.name}", "/rootshop?category=#{@category.id}" %></li>
    <% end %>
    <li><%= @product.title %></li>
  </ul>
 <% end %> 
<div class="ui segment">
  

  
  <div class="ui inverted  tertiary segment" style="background-color: #C5C5C5" >
    <div >
     <!--  <div class="uk-thumbnail" style="float: left;">
        <%#= image_tag @product.user.small_image_url, :style => 'width: 70px; height: 70px;' %>
      </div> -->
      
      <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
        
        <div style="color: #1F84AA">
          
          <% if @product.brand == 'CLUB MONACO' %>
            <%= image_tag "clubMonaco_900x450.jpg", :class => "img-responsive", :style => 'width:160px;' %>
          <% elsif @product.brand == 'EQUIPMENT' %>
            <%= image_tag "equipment_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ELIE TAHARI' %>
            <%= image_tag "eli_tahari_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'REBECCA TAYLOR' %>
            <%= image_tag "rebeccaTaylor_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ALLSAINTS' %>
            <%= image_tag "All-Saints_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'rag & bone' %>
            <%= image_tag "ragNborn_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'ANDREW MARC' %>
            <%= image_tag "andrew marc_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% elsif @product.brand == 'CURRENT/ELLIOTT' %>
            <%= image_tag "cuurent_elliott_900x450.jpg", :class => "img-responsive", :style => 'width:160px;'  %>
          <% else %>
            <%= @product.brand %>
            <div>이 브랜드의 다른 상품</div>
          <% end %>
        </div>
        
      </div>
      <div>
        <a href="/products?<%= {brand: @product.brand}.to_query  %>" >
        <%#= link_to other_products_path(@product.brand) do %>
        <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px; " data-uk-tooltip title="'<%= @product.brand %>' 브랜드의 다른 상품들을 찾아보세요.">
          <p style="color: #999; font-size: 20px; font-weight: bold; text-align: center; line-height: 70px;">
            <%= @other_products_all.count %>
          </p>
        </div>
        <%# end %>
        </a>
        <% @other_products.each do |product| %>

          <%= link_to rootshop_path(product) do %>
            <div class="uk-thumbnail" style="float: right; margin-left: 15px; width: 80px; height: 80px;" data-uk-tooltip title="<%= product.title %>">
              <%= image_tag product.featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
            </div>
          <% end %>


          <%#= link_to rootshop_path(product) do %>
            <!-- <div class="uk-thumbnail uk-overlay" style="float: right; margin-left: 15px; width: 80px; height: 80px;" data-uk-tooltip title="<%#= product.title %>"> -->
              <%#= image_tag product.featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
              <!-- <div class="uk-overlay-area" style="background-color: white; background: rgba(255,255,255,.4); padding: 5px;"> -->
                <!-- </div> -->
            <!-- </div> -->
          <%# end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="ui grid" style="margin-top: 20px;">

    <div class="thirteen wide column">
      <div class="ui row grid">
        <div class="nine wide column">
          <%#= render 'common/product_show_slide' %>
          <div class="option_images">
              <div class="slide owl-carousel">
                

                    <% @product.product_images.order("created_at ASC").each_with_index do |image, i| %>

                    <div style="width: 470px; height: 470px;" class="item">
                        <%#= image_tag image.image_url %>
                        <img class="lazyOwl" data-src="<%= image.image_url %>">
                      </div>

                    <% end %>

              </div>
              

              <div class="ui small images rounded uk-text-center " style="margin-top: 10px;">
                <% @product.product_images.order("created_at ASC").each_with_index do |image, i| %>
                  <input type="hidden" class="thumbnail_index" value="<%= i %>">
                  
                  <%= image_tag image.small_image_url, :class => 'ui image product_thumbnail', :style => 'width: 40px; height: 40px; cursor: pointer;' %>
                <% end %>
              </div>
            </div>
        </div>

        <div class="seven wide column">
          <%#= render 'rootshop/partial/product_price_info' %>
          <div class="" style="padding: 5px; min-height: 300px;">

<% if @product.is_sale == 'true' %>
<div style="font-size: 33px; text-decoration: line-through" align="right" class="price_block" id="price_block_original">
      
      <span price="original"><del style="color: #999999">&#65510; <%= price_currency_comma @product.price %></del></span>
    </div>

    <div style="font-size: 33px; margin-top: 10px;" align="right" id="color_option_price_Water" class="price_block">
              <span price="<%= @product.sale_price %>">&#65510; <%=price_currency_comma @product.sale_price %></span>
            </div>
<% else %>
  <div style="font-size: 33px;" align="right" class="price_block" id="price_block_original">
      <span style="font-size: 25px;"><i class="won icon"></i></span>
      <span price="original"><%= price_currency_comma @product.price %></span>
    </div>

<% end %>



    <div class="ui divider"></div>
    <div>
      <p  class="product_title"><%= @product.title %></p>
    </div>
<!--     <div>
    <p style="font-size: 20px; line-height: 1.5em;"><%#= @product.title %></p>
    <p style="font-size: 15px; line-height: 1.5em;"><%#= @product.sub_title %></p>

  </div> -->


           <%= simple_form_for LineItem.new, :url => cart_add_path do |f| %>
      <%= f.input :product_id, :as => 'hidden', :input_html => {:value => @product.id}  %>
      <input type="hidden" name="order_type", id="order_type">
      <input type="hidden" name="line_item[collection_item_id]" value="<%= @collection_item.id unless @collection_item.nil? %>">

      <div style="margin-top: 10px; color: #999">
        <% product_options = @product.product_options.order("created_at ASC") %>
        <% product_options.order("created_at ASC").each do |option| %>
          <div style="margin-bottom: 10px;">
            <span><%= option.title %></span><br>
            <div style="height: 5px;"></div>

            <span class="uk-form">
              <select name="line_item[product_options_id][]" class="select_options" option="<%= option.title %>" id="selectbox_<%= option.title %>">
                <% option.product_option_items.order("created_at ASC").each do |item| %>
                  <option value="<%=option.id %>_<%= item.id %>" ><%= item.title %></option>
                <% end %>
              </select>
            </span>
          </div>
        <% end %>
  
    
     
        
      </div>
    


      <div style="margin-top: 10px; color: #999">
        <span>수량</span>
        <%= f.input :quantity, :input_html => {:value => 1, :min => 1, :style => 'width: 50px;'}, :label => false %>
      </div>
      
      <div style="margin-top: 10px; color: #999">
        <span>적립금</span><br>
        <span style="color: black"><%= price_currency_comma @product.save_money %> 원</span>
      </div>

      <div style="margin-top: 10px; color: #999">
        <span>원산지</span><br>
        <span style="color: black"><%= @product.country_of_origin %></span>
      </div>


      
     
      
    </div>








   
    <% if @product.is_soldout %>
      <div class="fluid ui button  black" style="width: 327px; margin-top: 10px; margin-bottom: 10px;">품절되었습니다</div>
    <% else %>

    <%= button_tag :type =>'submit', :id => 'cart_submit_btn', :class => 'fluid ui button red', :style => 'margin-bottom: 5px; display: none;' do %>
      <i class="cart icon"></i>장바구니 담기
    <% end %>
    <div style="margin-left: 30px;; margin-top: 20px;">
      <!-- <div class="ui buttons" > -->
       
        <div class="btn btn-primary navbar-btn" style="width: 161px;" id="cart_btn">
          <i class="cart icon"></i>장바구니 담기
        </div>
        <!-- <div class="or"></div> -->
        <div class="btn btn-primary navbar-btn" style="width: 161px;" id="direct_purchase_btn">
          <i class="money icon"></i>구매하기
        </div>
      <!-- </div> -->

      <input type="hidden" id="rails_env" value="<%= Rails.env %>">
   
      <% if user_signed_in? and current_user.user_type == 'seller' %>
        <div id="show_collection_add_button" style="margin-top: -40px;">
          <%= render 'rootshop/partial/show_collection_add_button' %>
        </div>
      <% end %>
    </div>

    <% end %>


        <% end %>
        </div>


      </div>
      <div class="row" style="margin-top: 30px; padding: 10px;">
        <div class="ten wide column">
          <%= render 'common/product_show_detail_tab' %>
        </div>
      </div>
    </div>

    <div class="three wide column">
      <%= render 'rootshop/partial/include_collections' %>
    </div>


  </div>
  



</div>

<div id="collection_add">
  <%= render 'rootshop/partial/collection_add' if current_user %>
</div>

<input type="hidden" id="user_id" value="<%= current_user.id if user_signed_in? %>">

