<div class="ui bottom attached " id="tab_reviews_content" style="display: none; padding: 20px; font-size: 13px;">
  <% if @product.reviews.each do |review| %>
  <div class="ui comments fluid" style="padding: 0px;">
    <div class="comment">
      <a class="avatar">
        <%= image_tag review.user.small_image_url %>
      </a>
      <div class="content" style="margin-top: 10px; margin-bottom: 10px;">
        <a class="author"><%= review.user.user_id %></a>
        <div class="metadata">
          <div class="date" style="font-size: 12px;">
            <span class="timeago" data-date="<%= review.created_at  %>"></span>
          </div>
          <div class="stars">
            <% (1..5).each do |i| %>
              <% if i > review.rating %>
                <i class="icon empty star"></i>
              <% else %>
                <i class="icon star"></i>
              <% end %>
            
            <% end %>
          </div>
        </div>
        <div class="text" style="font-size: 12px;">
          <%= review.content %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui fitted divider"></div>


  <% end.empty? %>
    <p>리뷰가 없습니다.</p>
  <% end %>



  


</div>