<% if user_signed_in? %>
<input type="hidden" id="modal_user_id" value="<%= current_user.id %>">
<% else %>
<input type="hidden" id="modal_user_id" value="">
<% end %>

<% if current_user && @collection_items.count > 0 %>
  <% if @collection_items.count == 1 %>
  	<div class="fluid ui button teal collection_add_btn" style="width: 327px;"><i class="block layout icon"></i><a class=" ui red small label"><%= @collection_items[0].collection.name %></a> 컬렉션에 추가됨</div>
    <!-- <a style="cursor: pointer" class="collection_add_btn"><%= @collection_items[0].collection.name %></a> 컬렉션에 추가되었습니다. -->
  <% else %>
  	<div class="fluid ui button teal collection_add_btn" style="width: 327px;">
  		<i class="block layout icon"></i>
  		 <%= @collection_items[0].collection.name %> 외 <a class=" ui red small label"><%= @collection_items.count.to_i - 1 %></a> 개의 컬렉션에 추가됨
  	</div>
   
  <% end %>
<% else %>
	<div class="btn btn-primary navbar-btn collection_add_btn" style="width: 327px;"><i class="block layout icon"></i>컬렉션 담기</div>
 
<% end %>