<style>
img {
	max-width: 100%;
	height: auto;
}
</style>
<div class="ui bottom attached" id="tab_warning_order_content" style="display:none; padding: 20px; font-size: 13px;">

	<div class="ui blue icon message ">
	  
	    <div class="header">
	    	<i class="attention icon"></i>
	      주문 시 유의사항(구매 전 꼭 확인하세요)
	    </div>
	    <br>
	    <ul class="list" style="font-size: 14px;">
		    <li>본 상품은 해외구매대행을 위해 당일 구매되는 상품이므로, 신청 후 변경 및 취소 시 비용이 발생할 수 있습니다. 구매 전 <취소/환불/반품/교환> 규정을 꼭 확인하시어 주문하시기 바랍니다.</li><br>
		    <li>사이즈 착오를 비롯한 고객님의 판단 착오로 인한 구매에 대해서는 반품비용을 부담하시고, 유료반품 처리가 가능합니다.</li><br>
		    <li큐썸(Quusome.com)에서 주문하신 해외배송 상품은 국내에 재고를 보유하고 있지 않기 때문에 일체의 교환 서비스가 불가능합니다. 보다 자세한 내용은 <취소/환불/반품/교환> 규정을 참고하시기 바랍니다.</li><br>
		    <li>해외에서 판매되고 있는 상품은 국내 기준 사이즈와 차이가 있을 수 있습니다. <제품설명> 및 사이즈 조견표를 참조하시어 구매해주세요.</li><br>
		    <li><제품설명>에서 치수 및 색상을 확인하고 구매하시기 바랍니다. 옵션 선택사항과 색상이 혼동되는 경우 고객센터(070-4154-0679) 또는 해당 상품의 <상품문의 게시판>을 통해 문의해 주십시오.</li><br>
		    <li>주문 시 개인정보 기재란에 꼭 정확한 정보를 기입하여 주시기 바랍니다.</li><br>
		    <li>본 페이지에 게시되지 않는 정보나 문의사항이 있을 시 고객센터(070-4154-0679)를 이용하시거나 해당 상품의 <상품문의 게시판>을 통하여 정확한 정보를 확인 하신 후 주문해 주시기 바랍니다.</li><br>
		    <li>해외 사이트 세일 또는 환율로 인한 가격 변동 시 해당 상품의 가격이 변동될 수 있습니다.</li><br>
		    <li>차액정산은 해외 주문 당시의 금액으로만 가능하며, 해외 사이트 주문 전 가격이 인하되었을 경우에는 차액정산이 가능하나 일부 가격보상정책은 적용되지 않을 수 있습니다.</li><br>
		    <li>해외 주문 전 가격이 인상될 경우, 주문이 보류되거나 취소될 수 있습니다.</li><br>
		    <li>수입대행가격은 해외쇼핑몰 판매가격, 외국 현지 운송료, 국제운송료, 대행수수료가 포함된 가격입니다. 큐썸(Quusome.com)에서 판매되는 <b>상품가격은 관세 및 부가세를 포함하지 않고 있으며</b>, 이는 관세 및 부가세의 대납으로 인한 수수료 및 불합리한 지출을 줄여 고객님들께 보다 합리적인 쇼핑서비스를 제공하고자 함입니다.</li><br>
		    <li>일반적으로 15만원 이상 상품에 대해 관세 및 부가세가 발생하며, 미국에서 판매되는 상품의 경우 20만원 이하는 관세 및 부가세가 청구되지 않습니다. 단, 품목 및 무게에 따라 차이가 발생할 수 있습니다.</li>
		  </ul>


	</div>





</div>