

    <article class="uk-article">
        <h2 class="tm-article-subtitle"><%= t('user.sign_up.title') %></h2>
        <p class="uk-article-meta" style="font-size: 15px;"><%= t('user.sign_up.description') %></p>
    </article>
    
    <br/>

    <div class="uk-panel uk-width-2-3 uk-container-center uk-text-center">
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary normal_user" style="height: 250px;">
                    <h2 style="padding-top: 10px;"><%= t('user.sign_up.normal_user') %></h2>
                    <!-- <i class="icon-user icon-4x"></i><br/> -->
                    <i class="icon-entypo-user" style="font-size: 60px;"></i><br/>
                    <p style="font-size:12px;"><%= raw t('user.sign_up.normal_user_description') %></p>
                    <%= link_to "sign_up/normal", :class => "uk-button uk-button-primary sign_up_btn" do %>
                        <%= t('user.sign_up.normal_user_btn') %> <i class="typcn typcn-arrow-right"></i>
                    <% end %>
                    

                    
                </div>
            </div>
            <div class="uk-width-1-2 ">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary seller_user " style="height: 250px;">
                    <h2 style="padding-top: 10px;"><%= t('user.sign_up.seller_user') %></h2>
                    <i class="icon-money" style="font-size: 60px;"></i><br/>
                    <p style="font-size:12px;"><%= raw t('user.sign_up.seller_user_description') %></p>
                    <%= link_to "sign_up/seller", :class => "uk-button uk-button-primary sign_up_btn" do %>
                        <%= t('user.sign_up.seller_user_btn') %> <i class="typcn typcn-arrow-right"></i>
                    <% end %>
                   
                </div>
            </div>  
        </div>  
    </div>

    <div class="uk-panel uk-width-2-3 uk-container-center uk-text-center" style="margin-top: 20px;">
        <p  style="font-size: 13px;"><%= t('user.sign_up.sign_up_confirm') %> <a href="/sign_in"><%= t('common.login') %></a></p>
    </div>

