<h2>비밀번호를 변경하세요.</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <div class="field">
	      	<%= f.label :password %>
	        <div class="ui left labeled icon input">
			      <%= f.password_field :password, :autofocus => true %>
			      <i class="lock icon"></i>
			    </div>
	      </div>

	      <div class="field">
	      	<%= f.label :password_confirmation %>
	        <div class="ui left labeled icon input">
			      <%= f.password_field :password_confirmation, :autofocus => true %>
			      <i class="lock icon"></i>
			    </div>
	      </div>

	      <%= f.submit "비밀번호 변경", :class => 'ui blue submit button ' %>
	      <br/><br/>
	      <%= render "devise/shared/links" %>
	    </div>
	  </div>
	 
	</div>

<% end %>


