
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="ui two column grid">
	  <div class="column">
	    <div class="ui fluid form segment">
	      <h3 class="ui header">
	      	비밀번호를 분실하셨나요?
	      	<div class="sub header">가입하셨던 이메일 주소로 비밀번호 초기화 이메일이 발송됩니다.</div>
	      </h3>
	      <div class="field">
	      	<%= f.label :email %>
	        <div class="ui left labeled icon input">
			      <%= f.text_field :email, :autofocus => true %>
			      <i class="mail icon"></i>
			    </div>
	      </div>

	      <%= f.submit "이메일 발송", :class => 'ui blue submit button ' %>
	      <br/><br/>
	      <%= render "devise/shared/links" %>
	    </div>
	  </div>
	 
	</div>

<!--   <div><%#= f.label :email %><br />
  <%#= f.email_field :email, :autofocus => true %></div>

  <div><%#= f.submit "Send me reset password instructions" %></div> -->
<% end %>


