@font-face {
  font-family: 'fontelico';
  src: url('fonts/fontelico.eot?25170614');
  src: url('fonts/fontelico.eot?25170614#iefix') format('embedded-opentype'),
       url('fonts/fontelico.woff?25170614') format('woff'),
       url('fonts/fontelico.ttf?25170614') format('truetype'),
       url('fonts/fontelico.svg?25170614#fontelico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontelico';
    src: url('../font/fontelico.svg?25170614#fontelico') format('svg');
  }
}
*/
 
 [class^="fontelico-"]:before, [class*=" fontelico-"]:before {
  font-family: "fontelico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fontelico-emo-happy:before { content: '\e80e'; } /* '' */
.fontelico-emo-wink:before { content: '\e80f'; } /* '' */
.fontelico-emo-unhappy:before { content: '\e811'; } /* '' */
.fontelico-emo-sleep:before { content: '\e812'; } /* '' */
.fontelico-emo-thumbsup:before { content: '\e813'; } /* '' */
.fontelico-emo-devil:before { content: '\e814'; } /* '' */
.fontelico-emo-surprised:before { content: '\e815'; } /* '' */
.fontelico-emo-tongue:before { content: '\e816'; } /* '' */
.fontelico-emo-coffee:before { content: '\e817'; } /* '' */
.fontelico-emo-sunglasses:before { content: '\e818'; } /* '' */
.fontelico-emo-displeased:before { content: '\e819'; } /* '' */
.fontelico-emo-beer:before { content: '\e81a'; } /* '' */
.fontelico-emo-grin:before { content: '\e81b'; } /* '' */
.fontelico-emo-angry:before { content: '\e81c'; } /* '' */
.fontelico-emo-saint:before { content: '\e81d'; } /* '' */
.fontelico-emo-cry:before { content: '\e81e'; } /* '' */
.fontelico-emo-shoot:before { content: '\e81f'; } /* '' */
.fontelico-emo-squint:before { content: '\e820'; } /* '' */
.fontelico-emo-laugh:before { content: '\e821'; } /* '' */
.fontelico-emo-wink2:before { content: '\e810'; } /* '' */
.fontelico-spin1:before { content: '\e800'; } /* '' */
.fontelico-spin2:before { content: '\e808'; } /* '' */
.fontelico-spin3:before { content: '\e801'; } /* '' */
.fontelico-spin4:before { content: '\e807'; } /* '' */
.fontelico-spin5:before { content: '\e802'; } /* '' */
.fontelico-spin6:before { content: '\e803'; } /* '' */
.fontelico-firefox:before { content: '\e804'; } /* '' */
.fontelico-chrome:before { content: '\e805'; } /* '' */
.fontelico-opera:before { content: '\e806'; } /* '' */
.fontelico-ie:before { content: '\e809'; } /* '' */
.fontelico-crown:before { content: '\e80a'; } /* '' */
.fontelico-crown-plus:before { content: '\e80b'; } /* '' */
.fontelico-crown-minus:before { content: '\e80c'; } /* '' */
.fontelico-marquee:before { content: '\e80d'; } /* '' */