<% 
	options = []
	unless @orders_item.options.nil? 
		
		@orders_item.options.keys.each do |key|
			
			options << key + ":" + @orders_item.options[key]
		end 
	end 
%>

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<a href="/myshop/orders" class="section">주문</a>
			<div class="divider"> / </div>
			<div class="active section">상태변경</div>

		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<div><i class="tags icon"></i>주문정보</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<tr>
			<td class="two wide">주문번호</td>
			<td><%= @orders_item.order_id %></td>
		</tr>
		<tr>
			<td class="two wide">상품유형</td>
			<% if @orders_item.product.is_crawled == 'true' %>
				<td>구매대행</td>
			<% else %>
				<td>국내배송</td>
			<% end %>
			
		</tr>
		<% orders_items = OrdersItem.where(:order_id => @orders_item.order_id) %>
		<% order = Order.find(@orders_item.order_id) %>
		<% orders_items.each_with_index do |orders_item, i| %>
			<tr>
				<% if i == 0 %>
					<td class="two wide" rowspan=<%= orders_items.size %>>상품</td>
				<% end %>
				<td>
					<div style="float: left;">
						<%= image_tag orders_item.product_featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
					</div>
					<div style="float: left;">
						<span <% if @orders_item.product_id == orders_item.product_id %>class="ui red label mini"<% end %>><%= orders_item.id %> - <%= orders_item.product_title %></span><br/>
						상품가격: <%= price_currency_comma orders_item.original_exchange_price.to_i %>&nbsp;&nbsp;
						적립금: <%= price_currency_comma orders_item.used_saved_money.to_i %>&nbsp;&nbsp;
						결제가격: <%= price_currency_comma orders_item.price.to_i %>&nbsp;&nbsp;
					</div>
				</td>
			</tr>
		<% end %>
		<tr>
			<td class="two wide">합계가격</td>
			<td><%= price_currency_comma order.original_price.to_i %></td>
		</tr>
		<tr>
			<td class="two wide">적립금 사용</td>
			<td style="color: red"><%= price_currency_comma order.saved_money.to_i %></td>
		</tr>
		<tr>
			<td class="two wide">결제금액</td>
			<td><%= price_currency_comma order.checkout_price.to_i %></td>
		</tr>
		<tr>
			<td class="two wide">적립예정금액</td>
			<td><%= price_currency_comma (orders_items.sum {|item| item.saved_money }).to_i %></td>
		</tr>
		<tr>
			<td>주문일자</td>
			<td><%= order.created_at.strftime("%F %T") %></td>
			<td></td>
		</tr>
		<tr>
			<td>주문자</td>
			<td><%= order.user.user_id %></td>
		</tr>
		<tr>
			<td>결제아이디</td>
			<td><%= order.payment_result_data.ordr_idxx if order.payment_result_data %></td>
		</tr>
		<% if @orders_item.product.is_crawled == 'true' %>
			<tr>
				<% if order.custom_type == 'ssn' %>
					<td>주민등록번호</td>
					<td><%= order.rrn_1 %> - <%= order.rrn_2 %></td>
				<% else %>
					<td>개인통관고유부호</td>
					<td><%= order.private_custom_number %></td>
				<% end %>
			</tr>
		<% end %>
		<tr>
			<td>주문자명</td>
			<td><%= order.recipient %></td>
		</tr>
		<% if @orders_item.product.is_crawled == 'true' %>
			<tr>
				<td>주문자명</td>
				<td><%= order.recipient %></td>
			</tr>
		<% end %> 
		<tr>
			<td>주소</td>
			<td><%= order.address %></td>
		</tr>
		<tr>
			<td>상세주소</td>
			<td><%= order.detail_address %></td>
		</tr>
		<tr>
			<td>우편번호</td>
			<td><%= order.zipcode %></td>
		</tr>
		<tr>
			<td>전화</td>
			<td><%= order.phone_1 %>-<%= order.phone_2 %>-<%= order.phone_3 %></td>
		</tr>
		<tr>
			<td>휴대폰</td>
			<td><%= order.mobile_phone_1 %>-<%= order.mobile_phone_2 %>-<%= order.mobile_phone_2 %></td>
		</tr>
		<tr>
			<td>배송시 요구사항</td>
			<td><%= order.shipping_note %></td>
		</tr>


	</table>
</div>



<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<div><i class="tags icon"></i>상품정보</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<tr>
			<td class="two wide">아이템번호</td>
			<td>
				<% if @order_quantity > 1 %>
					<%= @order_item_ids.join(',') %>
				<% else %>
					<%= @orders_item.id %>
				<% end %>
				
			</td>
		</tr>
		<tr>
			<td class="two wide">상품</td>
			<td><%= image_tag @orders_item.product_featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
				<%= @orders_item.product_title %>
			</td>
		</tr>

		<% if @orders_item.product.is_crawled == 'true' %>
			<tr>
				<td>상품URL</td>
				<td><a href="<%= @orders_item.product.url %>" target="_blank"><%= @orders_item.product.url %></a></td>
			</tr>
		<% end %>
		<tr>
			<td>옵션</td>
			<td>
				<% unless options.empty? %>
					<%= options.join(', ') %>
				<% else %>
					없음
				<% end %>
			</td>
		</tr>
		<tr>
			<td>수량</td>
			<td><%= @order_quantity %></td>
		</tr>
		<% if @orders_item.product.is_crawled == 'true' %>
			<tr>
				<td>가격</td>
				<td><%= @orders_item.original_price %></td>
			</tr>

			<tr>
				<td>적용통화</td>
				<td><%= @orders_item.currency %></td>
			</tr>
			<tr>
				<td>적용환율</td>
				<td><%= price_currency_comma @orders_item.exchange_rate.to_i %></td>
			</tr>
		<% end %>
		<tr>
			<td>적용가격</td>
			<% 
				if @orders_item.options
					options = @orders_item.options.to_s.gsub('{', '').gsub('}', '')
				else
					options = ""
				end
			%>
			<td><%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_id => @orders_item.product_id, :options => options).sum {|o| o.original_exchange_price }.to_i %></td>
		</tr>
		<tr>
			<td>적립금사용</td>
			<td style="color: red"><%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_id => @orders_item.product_id, :options => options).sum {|o| o.used_saved_money }.to_i %></td>
		</tr>
		<tr>
			<td>결제가격</td>
			<td><%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_id => @orders_item.product_id, :options => options).sum {|o| o.price }.to_i %></td>
		</tr>
		<tr>
			<td>적립예정금액</td>
			<td><%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_id => @orders_item.product_id, :options => options).sum {|o| o.saved_money }.to_i %></td>
		</tr>
		<% if @orders_item.product.is_crawled == 'true' %>
			<tr>
				<td>적립금율</td>
				<td><%= @orders_item.saved_money_rate %> %<td>
			</tr>
		<% end %>
		<tr>
			<td>주문상태</td>
			<td><%= @orders_item.human_state_name %></td>
		</tr>
	
	</table>

	<br/>

	<% collection_item = CollectionItem.where(:id => @orders_item.collection_item_id).first %>
<% if collection_item and collection_item.collection %>
<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<div><i class="tags icon"></i>컬렉션 정보</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<tr>
			<td class="two wide">컬렉션 타이틀</td>
			<td><a href="/collectionshop/<%= collection_item.user.user_id %>/<%= collection_item.collection.id %>"><%= collection_item.collection.name %></a></td>
		</tr>
		<tr>
			<td>컬렉션 소유자</td>
			<td><%= collection_item.user.user_id %></td>
		</tr>
		<tr>
			<td>예상 컬렉션 수익</td>
			<td>
				<%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_id => @orders_item.product_id, :options => options).sum {|o| (o.original_price * 0.1 * 0.1) * @orders_item.exchange_rate  }.to_i %>
			</td>
		</tr>
	</table>

</div>
<% end %>

<br>
	<div><i class="tags icon"></i>상태변경이력</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<thead>
	    <tr>
	    	<th style="text-align: center" class="two wide">상태</th>
		    <th style="text-align: center" class="three wide">변경일자</th>
		    <th style="text-align: center" class="eleven wide">특이사항</th>
	  	</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center">결제완료</td>
				<td style="text-align: center"><%= @orders_item.order.created_at.strftime("%F %T") %></td>
				<td></td>
			</tr>

			<%  change_states = ChangeState.order("created_at ASC").where(:orders_item_id => @orders_item.id)
					change_states.each  do |state| 

			%>
				<tr>
					<td style="text-align: center"><%= state.state_name %></td>
					<td style="text-align: center"><%= state.created_at.strftime("%F %T") %></td>
					<td><%= state.desc %></td>
				</tr>
			<% end %>

		</tbody>
	</table>
	<br/>
	<div><i class="tags icon"></i>상태변경</div>
	<div class="ui divider"></div>
	<div>
		특이사항
		<textarea cols="100" rows="5" id="state_desc"></textarea>
	</div>
	<br/>
	<div>
		<% @orders_item.state_events.each do |event| %>

				<% if  "#{event}" != "take_back_receive" %>
					<a class="ui button mini red change_state_btn" state_name="<%= OrdersItem.human_state_event_name(event) %>" id="state_<%= event %>"><%= OrdersItem.human_state_event_name(event) %></a>

					<%= link_to eval("myshop_#{event}_path(@orders_item.id)"), :method => 'put', :class => 'ui button mini red', :style => "display: none", :id => "state_#{event}_link" do %><%= OrdersItem.human_state_event_name(event) %><% end %>


				<% end %>
		<% end %>

		<% if @orders_item.state == 'international_deliverd' and @orders_item.saved_money_state == nil %>
			<% if @orders_item.collection_item_id %>
				<%= link_to "적립금과 컬렉션수익 부여", myshop_give_saved_money_path(@orders_item), :method => 'post', :class => 'ui button mini red', :confirm => "적립금과 컬렉션수익을 처리하시겠습니까?" %>
			<% else %>
				<%= link_to "적립금 부여", myshop_give_saved_money_path(@orders_item), :method => 'post', :class => 'ui button mini red', :confirm => "적립금을 처리하시겠습니까?" %>
			<% end %>
		<% end %>

		<% if @orders_item.saved_money_state == 'gived' %>
			<p>적립금 <%= @orders_item.saved_money.to_i %>원이 처리되었습니다.</p>
		<% end %>

		<% if TakeBackRequest.where(:orders_item_id => @orders_item.id).first %>
			<input type="hidden" id="take_back_request_id" value="<%= TakeBackRequest.where(:orders_item_id => @orders_item.id).first.id %>">
		<% end %>
		
</div>
</div>

<br/>
<br/>