

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<i class="tags icon"></i>주문

		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<select>
		<option>주문상태</option>
		<% OrdersItem.state_machine.states.each do |state| %>
			<option value="<%= state.name %>"><%= OrdersItem.human_state_name(state.name) %></option>
		<% end %>
	</select>
	<select>
		<option>검색구분</option>
		<option>상품명</option>
		<option>주문자</option>
	</select>
	<input type="text">
	
	<input type="date"> - <input type="date">
	<button type="button" class="ui button mini">검색</button>
</div>
<div style="">

	<table class="ui celled table segment" id="myshop_order_list">
	  <thead>
	    <tr>
	    	<th style="text-align: center" class="one wide">주문<br/>번호</th>
		    <th style="text-align: center" class="five wide">상품명</th>
		    <th style="text-align: center" class="one wide">옵션</th>
		    <th style="text-align: center" class="one wide">수량</th>
		    <th style="text-align: center" class="one wide">가격</th>
		    <th style="text-align: center" class="one wide">합계</th>
		    <th style="text-align: center" class="two wide">주문일자</th>
		    <th style="text-align: center" class="two wide">주문상태</th>
		    <th style="text-align: center" class="one wide">주문자</th>
		    <th style="text-align: center" class="one wide">상태<br/>변경</th>
	  	</tr>
		</thead>
	  <tbody>
	   	<% @orders_items.each do |item| %>
	   	<% 
  				options = []
	  			unless item.options.nil? 
	  				
						item.options.keys.each do |key|
							
							options << key + ":" + item.options[key]
						end 
	  			end 
  			%>

	   		<tr>
	   			<td style="text-align: center" merge_id="<%= item.order_id %>"><%= item.order_id %></td>
	   			<td style="text-align: left;" >
	  				<div style="float: left;">
	  					<%= image_tag item.product_featured_small_image_url, :style => 'width: 70px; height: 70px;' %> 
	  				</div>
	  				</div style="float: left;" >
		  				<%= link_to rootshop_path(item.product_id) do %>
		  					<%= item.product_title %> 
		  				<% end %>
		  			</div>
	  			</td>
	  			<td style="text-align: center">
	  				<% unless options.empty? %>
	  					<%= options.join(', ') %>
	  				<% else %>
	  					없음
	  				<% end %>
	  			</td>
	   			<td style="text-align: center"><%= item.quantity %></td>
	   			<td style="text-align: right"><i class="uk-icon-krw"></i> <%= price_currency_comma item.price.to_i %></td>
	   			<td style="text-align: right" merge_id="<%= item.order_id %>"><i class="uk-icon-krw"></i> <%= price_currency_comma OrdersItem.where(:order_id => item.order_id).sum {|o| o.price }.to_i %></td>
	   			<td style="text-align: center" ><%= item.order.created_at.strftime("%F %T") %></td>
	   			<td style="text-align: center"><%= item.human_state_name %></td>
	   			<td>
	   				<% if item.order.user.nil? %>
	   					탈퇴한 회원입니다.
	   				<% else %>
	   					<%= item.order.user.user_id %>
	   				<% end %>
	   				
	   			</td>
	   			<td style="text-align: center">
	   				<%= link_to "변경", myshop_change_state_path(item.id), :class => 'ui button mini red' %>
	   				<%# item.state_events.each do |event| %>
	   					<!-- <div>
	   						<%# unless event == :ship_complete || event == :take_back_request %>
	   							<%#= link_to eval("myshop_#{event}_path(item.id)"), :method => 'put' do %><%#= OrdersItem.human_state_event_name(event) %><%# end %>
	   						<%# end %>
	   					</div> -->
	   				<%# end %>
	   			</td>
	 
	   		</tr>
	   	<% end %>
	  </tbody>
	</table>

</div>

<div>
	<%= paginate @orders_items %>
</div>


