<% 
	options = []
	unless @orders_item.options.nil? 
		
		@orders_item.options.keys.each do |key|
			
			options << key + ":" + @orders_item.options[key]
		end 
	end 
%>

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<a href="/myshop/orders" class="section">주문</a>
			<div class="divider"> / </div>
			<div class="active section">상태변경</div>

		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<div><i class="tags icon"></i>상품정보</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<tr>
			<td class="two wide">주문번호</td>
			<td><%= @orders_item.order_id %></td>
		</tr>
		<tr>
			<td class="two wide">상품</td>
			<td><%= image_tag @orders_item.product_featured_small_image_url, :style => 'width: 70px; height: 70px;' %>
				<%= @orders_item.product_title %>
			</td>
		</tr>
		<tr>
			<td>상품URL</td>
			<td><%= @orders_item.product.url %></td>
		</tr>
		<tr>
			<td>옵션</td>
			<td>
				<% if options %>
					<%= options.join(', ') %>
				<% else %>
					없음
				<% end %>
			</td>
		</tr>
		<tr>
			<td>수량</td>
			<td><%= @order_quantity %></td>
		</tr>
		<tr>
			<td>가격</td>
			<% 
				if @orders_item.options
					options = @orders_item.options.to_s.gsub('{', '').gsub('}', '')
				else
					options = ""
				end
			%>
			<td><%= price_currency_comma OrdersItem.where(:order_id => @orders_item.order_id, :product_title => @orders_item.product_title, :options => options).sum {|o| o.price }.to_i %></td>
		</tr>
		<tr>
			<td>주문일자</td>
			<td><%= @orders_item.order.created_at.strftime("%F %T") %></td>
		</tr>
		<tr>
			<td>주문상태</td>
			<td><%= @orders_item.human_state_name %></td>
		</tr>
		<tr>
			<td>주문자</td>
			<td><%= @orders_item.order.user.user_id %></td>
		</tr>
	</table>

	<br/>
	<div><i class="tags icon"></i>상태변경이력</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<thead>
	    <tr>
	    	<th style="text-align: center" class="two wide">상태</th>
		    <th style="text-align: center" class="three wide">변경일자</th>
		    <th style="text-align: center" class="eleven wide">특이사항</th>
	  	</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center">결제완료</td>
				<td style="text-align: center"><%= @orders_item.order.created_at.strftime("%F %T") %></td>
				<td></td>
			</tr>

			<% @orders_item.change_states.each do |state| %>
				<tr>
					<td style="text-align: center"><%= OrdersItem.human_state_name(state.state) %></td>
					<td style="text-align: center"><%= state.created_at.strftime("%F %T") %></td>
					<td><%= state.desc %></td>
				</tr>
			<% end %>

		</tbody>
	</table>
	<br/>

	
	<div><i class="tags icon"></i>반품요청정보</div>
	<div class="ui divider"></div>
	<table class="ui celled  table ">
		<tr>
			<td class="two wide">반품타입</td>
			<td>
				<% if @take_back_request.reason_type == '1' %>단순변심
				<% elsif @take_back_request.reason_type == '2' %>제품하자<% end %>

			</td>
		</tr>
		<tr>
			<td class="two wide">반품이유</td>
			<td><%= @take_back_request.reason %></td>
		</tr>
		<% unless @take_back_request.image_1.blank? %>
		<tr>
			<td class="two wide">상품하자 이미지1</td>
			<td>
				<%= image_tag @take_back_request.image_1.url %>
			</td>
		</tr>
		<% end %>
		<% unless @take_back_request.image_2.blank? %>
		<tr>
			<td class="two wide">상품하자 이미지2</td>
			<td>
				<%= image_tag @take_back_request.image_2.url %>
			</td>
		</tr>
		<% end %>
		<% unless @take_back_request.image_3.blank? %>
		<tr>
			<td class="two wide">상품하자 이미지3</td>
			<td>
				<%= image_tag @take_back_request.image_3.url %>
			</td>
		</tr>
		<% end %>
	</table>
	<br/>

	<div><i class="tags icon"></i>상태변경</div>
	<div class="ui divider"></div>
	<div>
		특이사항
		<textarea cols="100" rows="5" id="state_desc"></textarea>
		<input type="hidden" id="take_back_request_id" value="<%= @take_back_request.id %>">
	</div>
	<br/>
	<div>
		<% @orders_item.state_events.each do |event| %>

			
					<a class="ui button mini red change_state_btn" state_name="<%= OrdersItem.human_state_event_name(event) %>" id="state_<%= event %>"><%= OrdersItem.human_state_event_name(event) %></a>

					<%= link_to eval("myshop_#{event}_path(@orders_item.id)"), :method => 'put', :class => 'ui button mini red', :style => "display: none", :id => "state_#{event}_link" do %><%= OrdersItem.human_state_event_name(event) %><% end %>
			

		<% end %>
	</div>
</div>

<br/>
<br/>