

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<i class="tags icon"></i>반품접수

		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui segment" style="margin-right: 50px;">
	<div class="ui segment" style="margin-right: 50px;">
		<select>
			<option>주문상태</option>
			<% OrdersItem.state_machine.states.each do |state| %>
				<option value="<%= state.name %>"><%= OrdersItem.human_state_name(state.name) %></option>
			<% end %>
		</select>
		<select>
			<option>검색구분</option>
			<option>상품명</option>
			<option>주문자</option>
		</select>
		<input type="text">
		
		<input type="date"> - <input type="date">
		<button type="button" class="ui button mini">검색</button>
	</div>

	<table class="ui celled table segment">
		<thead>
			<tr>
				<th style="text-align: center" class="one wide">주문번호</th>
				<th style="text-align: center" class="one wide">아이템번호</th>
				<th style="text-align: center">상품명</th>
				<th style="text-align: center" class="two wide">주문일자</th>
				<th style="text-align: center" class="two wide">반품접수일자</th>
				<th style="text-align: center" class="two wide">주문자</th>
				<th style="text-align: center" class="two wide">반품상태</th>
				<th style="text-align: center" class="one wide">상태</th>
			</tr>
		</thead>
		<tbody>
			<% @take_back_request.each do |request| %>
				<tr>
					<td><%= request.orders_item.order_id %></td>
					<td><%= request.orders_item_id %></td>
					<td><%= request.orders_item.product_title %></td>
					<td style="text-align: center"><%= request.orders_item.created_at.strftime("%F %T") %></td>
					<td style="text-align: center"><%= request.created_at.strftime("%F %T") %></td>
					<td style="text-align: center"><%= request.orders_item.user.user_id %></td>
					<td style="text-align: center"><%= request.orders_item.human_state_name %></td>
					<td><%= link_to "변경", myshop_take_back_change_state_path(request.id), :class => 'ui button mini red' %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div>
	
</div>


