/*
 * # Semantic - Button
 * http://github.com/jlukic/semantic-ui/
 *
 *
 * Copyright 2013 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Button
*******************************/

/* Prototype */
.ui.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  min-height: 1em;

  outline: none;
  border: none;
  background-color: #EBEBEB;
  color: #999999;

  padding: 0.8em 1.5em;

  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-decoration: none;

  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;

  -webkit-box-shadow:
    0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset
  ;
  -moz-box-shadow:
    0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset
  ;
  box-shadow:
    0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset
  ;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease
  ;
  -moz-transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease
  ;
  -o-transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease
  ;
  -ms-transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease
  ;
  transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease
  ;
}

/*--------------
     Count
---------------*/

.ui.count.button {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
}

.ui.count.button > .count {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #F0F0F0;
  margin: -0.8em -1.5em;
  padding: 0.8em 1.5em;
}

/*-------------------
       Primary
--------------------*/

.ui.primary.buttons .button,
.ui.primary.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}
.ui.primary.buttons .button:hover,
.ui.primary.button:hover,
.ui.primary.buttons .active.button,
.ui.primary.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}
.ui.primary.buttons .button:active,
.ui.primary.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

/*-------------------
      Secondary
--------------------*/

.ui.secondary.buttons .button,
.ui.secondary.button {
  background-color: #00B5AD;
  color: #FFFFFF;
}
.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover,
.ui.secondary.buttons .active.button,
.ui.secondary.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}
.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}

/*-------------------
       Social
--------------------*/

/* Facebook */
.ui.facebook.button {
  background-color: #3B579D;
  color: #FFFFFF;
}
.ui.facebook.button:hover {
  background-color: #3A59A9;
}
.ui.facebook.button:active {
  background-color: #334F95;
}

/* Twitter */
.ui.twitter.button {
  background-color: #00ACED;
  color: #FFFFFF;
}
.ui.twitter.button:hover {
  background-color: #00B9FF;
}
.ui.twitter.button:active {
  background-color: #009EDA;
}

/*--------------
     Icon
---------------*/

.ui.button > .icon {
  margin-right: 0.5em;

  line-height: 1;

  -webkit-transition:
    opacity 0.1s ease
  ;
  -moz-transition:
    opacity 0.1s ease
  ;
  -o-transition:
    opacity 0.1s ease
  ;
  -ms-transition:
    opacity 0.1s ease
  ;
  transition:
    opacity 0.1s ease
  ;
}



/*******************************
             States
*******************************/


/*--------------
     Active
---------------*/

.ui.buttons .active.button,
.ui.active.button {
  opacity: 1 !important;
  background-color: #B0B0B0;

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.1) 100%);

  color: #FFFFFF;

  -webkit-box-shadow:
    0px 0px 0.3em 0px rgba(0, 0, 0, 0.3) inset
  ;
  -moz-box-shadow:
    0px 0px 0.3em 0px rgba(0, 0, 0, 0.3) inset
  ;
  box-shadow:
    0px 0px 0.3em 0px rgba(0, 0, 0, 0.3) inset
  ;
}


/*--------------
      Hover
---------------*/

.ui.button:hover,
.ui.active.button:hover {
  opacity: 1 !important;
  background-color: #A4A4A4;

  color: #FFFFFF;
}
.ui.button:hover .icon,
.ui.button.hover .icon {
  opacity: 0.85;
}

/*--------------
      Down
---------------*/

.ui.button:active,
.ui.active.button:active {
  opacity: 1 !important;
  background-color: #8C8C8C;

  color: #FFFFFF;

  -webkit-box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
}

/*--------------
    Loading
---------------*/

.ui.loading.button {
  position: relative;
  cursor: default;

  background-color: #F3F3F3 !important;
  color: transparent !important;
  background-image: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  -ms-transition: all 0s linear;
  transition: all 0s linear;
}
.ui.loading.button:after {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  content: '';
  background: transparent asset-url('semantic/images/loader-mini.gif') no-repeat 50% 50%;
}

.ui.labeled.icon.loading.button .icon {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*-------------------
      Disabled
--------------------*/

.ui.disabled.button {
  cursor: default;
  color: #DDDDDD !important;
  background-color: rgba(50, 50, 50, 0.05) !important;
  background-image: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


/*******************************
           Variations
*******************************/

/*-------------------
       Floated
--------------------*/

.ui.left.floated.buttons,
.ui.left.floated.button {
  float: left;
  margin-right: 0.25em;
}
.ui.right.floated.buttons,
.ui.right.floated.button {
  float: right;
  margin-left: 0.25em;
}



/*-------------------
        Sizes
--------------------*/

.ui.buttons .button,
.ui.button {
  font-size: 1rem;
}

.ui.buttons.mini .button,
.ui.mini.button {
  font-size: 0.8125rem;
  padding: 0.6em 0.8em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui.tiny.buttons .button,
.ui.tiny.button {
  font-size: 0.875rem;
  padding: 0.6em 0.8em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui.small.buttons .button,
.ui.small.button {
  font-size: 0.875rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui.large.buttons .button,
.ui.large.button {
  font-size: 1.125rem;
}
.ui.big.buttons .button,
.ui.big.button {
  font-size: 1.25rem;
}
.ui.huge.buttons .button,
.ui.huge.button {
  font-size: 1.375rem;
}
.ui.massive.buttons .button,
.ui.massive.button {
  font-size: 1.5rem;
  font-weight: bold;
}

/* loading */
.ui.huge.loading.button:after {
  background-image: url(../images/loader-small.gif);
}
.ui.massive.buttons .loading.button:after,
.ui.gigantic.buttons .loading.button:after,
.ui.massive.loading.button:after,
.ui.gigantic.loading.button:after {
  background-image: url(../images/loader-medium.gif);
}

.ui.huge.loading.button:after,
.ui.huge.loading.button.active:after {
  background-image: url(../images/loader-small.gif);
}
.ui.massive.buttons .loading.button:after,
.ui.gigantic.buttons .loading.button:after,
.ui.massive.loading.button:after,
.ui.gigantic.loading.button:after,
.ui.massive.buttons .loading.button.active:after,
.ui.gigantic.buttons .loading.button.active:after,
.ui.massive.loading.button.active:after,
.ui.gigantic.loading.button.active:after {
  background-image: url(../images/loader-medium.gif);
}

/*--------------
    Icon Only
---------------*/
.ui.icon.buttons .button,
.ui.icon.button {
  padding: 0.8em;
}
.ui.icon.buttons .button > .icon,
.ui.icon.button > .icon {
  opacity: 1;
  margin: 0em;
  vertical-align: top;
}



/*-------------------
        Basic
--------------------*/

.ui.basic.buttons .button,
.ui.basic.button {
  background-color: transparent !important;
  background-image: none;
  color: #999999 !important;
  font-weight: normal;
  text-transform: none;

  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.ui.basic.buttons {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;

  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}

.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  color: #7F7F7F !important;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18) inset;
}
.ui.basic.buttons .button:active,
.ui.basic.button:active {
  background-color: rgba(0, 0, 0, 0.02) !important;
  color: #7F7F7F !important;

  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
.ui.basic.buttons .button.active,
.ui.basic.button.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #7F7F7F;

  -webkit-box-shadow: 0px 0px 0px 1px #BDBDBD inset;
  -moz-box-shadow: 0px 0px 0px 1px #BDBDBD inset;
  box-shadow: 0px 0px 0px 1px #BDBDBD inset;
}
.ui.basic.buttons .button.active:hover,
.ui.basic.button.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Basic Group */
.ui.basic.buttons .button {
  border: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui.basic.buttons .button:hover,
.ui.basic.buttons .button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui.basic.buttons .button.active {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}



/*--------------
   Labeled Icon
---------------*/

.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  position: relative;
  padding-left: 4em !important;
  padding-right: 1.4em !important;
}

.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  position: absolute;
  top: 0em;
  left: 0em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  width: 2.75em;
  height: 100%;
  padding-top: 0.8em;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;

  -webkit-border-radius: 0.2em 0px 0px 0.2em;
  -moz-border-radius: 0.2em 0px 0px 0.2em;
  border-radius: 0.2em 0px 0px 0.2em;

  line-height: 1;

  -webkit-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

.ui.labeled.icon.buttons .button > .icon {
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
}
.ui.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
.ui.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.ui.vertical.labeled.icon.buttons .button:first-child > .icon {
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  border-top-left-radius: 0.2em;
}
.ui.vertical.labeled.icon.buttons .button:last-child > .icon {
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  border-bottom-left-radius: 0.2em;
}

.ui.right.labeled.icon.button {
  padding-left: 1.4em !important;
  padding-right: 4em !important;
}
.ui.left.fluid.labeled.icon.button,
.ui.right.fluid.labeled.icon.button {
  padding-left: 1.4em !important;
  padding-right: 1.4em !important;
}

.ui.right.labeled.icon.button .icon {
  left: auto;
  right: 0em;

  -webkit-border-radius: 0em 0.2em 0.2em 0em;
  -moz-border-radius: 0em 0.2em 0.2em 0em;
  border-radius: 0em 0.2em 0.2em 0em;

  -webkit-box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}


/*--------------
     Toggle
---------------*/

/* Toggle (Modifies active state to give affordances) */
.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color: #5BBD72 !important;
  color: #FFFFFF !important;
}
.ui.button.toggle.active:hover {
  background-color: #58CB73 !important;
  color: #FFFFFF !important;
}

/*--------------
     Bubbly
---------------*/

.ui.circular.button {
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}


/*--------------
     Attached
---------------*/

.ui.attached.button {
  display: block;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) !important;
}
.ui.attached.top.button {

  -webkit-border-radius: 0.2em 0.2em 0em 0em;
  -moz-border-radius: 0.2em 0.2em 0em 0em;
  border-radius: 0.2em 0.2em 0em 0em;
}
.ui.attached.bottom.button {
  -webkit-border-radius: 0em 0em 0.2em 0.2em;
  -moz-border-radius: 0em 0em 0.2em 0.2em;
  border-radius: 0em 0em 0.2em 0.2em;
}
.ui.attached.left.button {
  display: inline-block;
  border-left: none;

  padding-right: 0.75em;
  text-align: right;

  -webkit-border-radius: 0.2em 0em 0em 0.2em;
  -moz-border-radius: 0.2em 0em 0em 0.2em;
  border-radius: 0.2em 0em 0em 0.2em;
}
.ui.attached.right.button {
  display: inline-block;

  padding-left: 0.75em;
  text-align: left;

  -webkit-border-radius: 0em 0.2em 0.2em 0em;
  -moz-border-radius: 0em 0.2em 0.2em 0em;
  border-radius: 0em 0.2em 0.2em 0em;
}



/*-------------------
      Or Buttons
--------------------*/

.ui.buttons .or {
  position: relative;
  float: left;
  width: 0.3em;
  height: 1em;
  z-index: 3;
}
.ui.buttons .or:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'or';
  background-color: #FFFFFF;

  margin-top: -0.15em;
  margin-left: -0.9em;

  width: 1.8em;
  height: 1.8em;

  line-height: 1.66;
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2) inset;

  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.buttons .or:after {
  position: absolute;
  top: 0em;
  left: 0em;
  content: ' ';

  width: 0.3em;
  height: 1.8em;

  background-color: transparent;
  border-top: 0.6em solid #FFFFFF;
  border-bottom: 0.6em solid #FFFFFF;
}

/* Fluid Or */
.ui.fluid.buttons .or {
  width: 0em !important;
}
.ui.fluid.buttons .or:after{
  display: none;
}


/*-------------------
       Attached
--------------------*/

/* Plural Attached */
.attached.ui.buttons {
  margin: 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}
.attached.ui.buttons .button:first-child {
  -webkit-border-radius: 4px 0px 0px 0px;
  -moz-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
}
.attached.ui.buttons .button:last-child {
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
  border-radius: 0px 4px 0px 0px;
}

/* Bottom Side */
.bottom.attached.ui.buttons {
  margin-top: -1px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.bottom.attached.ui.buttons .button:first-child {
  -webkit-border-radius: 0px 0px 0px 4px;
  -moz-border-radius: 0px 0px 0px 4px;
  border-radius: 0px 0px 0px 4px;
}
.bottom.attached.ui.buttons .button:last-child {
  -webkit-border-radius: 0px 0px 4px 0px;
  -moz-border-radius: 0px 0px 4px 0px;
  border-radius: 0px 0px 4px 0px;
}

/* Left Side */
.left.attached.ui.buttons {
  margin-left: -1px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
.left.attached.ui.buttons .button:first-child {
  margin-left: -1px;
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
  border-radius: 0px 4px 0px 0px;
}
.left.attached.ui.buttons .button:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0px 0px 4px 0px;
  -moz-border-radius: 0px 0px 4px 0px;
  border-radius: 0px 0px 4px 0px;
}
/* Right Side */
.right.attached.ui.buttons,
.right.attached.ui.buttons .button {
  margin-right: -1px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
.right.attached.ui.buttons .button:first-child {
  margin-left: -1px;
  -webkit-border-radius: 4px 0px 0px 0px;
  -moz-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
}
.right.attached.ui.buttons .button:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0px 0px 0px 4px;
  -moz-border-radius: 0px 0px 0px 4px;
  border-radius: 0px 0px 0px 4px;
}



/* Fluid */
.ui.fluid.buttons,
.ui.button.fluid,
.ui.fluid.buttons > .button {
  display: block;
  width: 100%;
}
.ui.two.buttons > .button {
  width: 50%;
}
.ui.three.buttons > .button {
  width: 33.333%;
}
.ui.four.buttons > .button {
  width: 25%;
}
.ui.five.buttons > .button {
  width: 20%;
}
.ui.six.buttons > .button {
  width: 16.666%;
}
.ui.seven.buttons > .button {
  width: 14.285%;
}
.ui.eight.buttons > .button {
  width: 12.500%;
}
.ui.nine.buttons > .button {
  width: 11.11%;
}
.ui.ten.buttons > .button {
  width: 10%;
}
.ui.eleven.buttons > .button {
  width: 9.09%;
}
.ui.twelve.buttons > .button {
  width: 8.3333%;
}

/* Fluid Vertical Buttons */
.ui.fluid.vertical.buttons,
.ui.fluid.vertical.buttons > .button {
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.two.vertical.buttons > .button {
  height: 50%;
}
.ui.three.vertical.buttons > .button {
  height: 33.333%;
}
.ui.four.vertical.buttons > .button {
  height: 25%;
}
.ui.five.vertical.buttons > .button {
  height: 20%;
}
.ui.six.vertical.buttons > .button {
  height: 16.666%;
}
.ui.seven.vertical.buttons > .button {
  height: 14.285%;
}
.ui.eight.vertical.buttons > .button {
  height: 12.500%;
}
.ui.nine.vertical.buttons > .button {
  height: 11.11%;
}
.ui.ten.vertical.buttons > .button {
  height: 10%;
}
.ui.eleven.vertical.buttons > .button {
  height: 9.09%;
}
.ui.twelve.vertical.buttons > .button {
  height: 8.3333%;
}


/*-------------------
       Colors
--------------------*/

/*--- White ---*/
.ui.white.buttons .button,
.ui.white.button {
  background-color: #FFFFFF;
}

.ui.white.buttons .button:hover,
.ui.white.button:hover {
  background-color: #A4A4A4;
}

/*--- Black ---*/
.ui.black.buttons .button,
.ui.black.button {
  background-color: #5C6166;
  color: #FFFFFF;
}
.ui.black.buttons .button:hover,
.ui.black.button:hover {
  background-color: #4C4C4C;
  color: #FFFFFF;
}
.ui.black.buttons .button:active,
.ui.black.button:active {
  background-color: #333333;
  color: #FFFFFF;
}

/*--- Green ---*/
.ui.green.buttons .button,
.ui.green.button {
  background-color: #5BBD72;
  color: #FFFFFF;
}
.ui.green.buttons .button:hover,
.ui.green.button:hover,
.ui.green.buttons .active.button,
.ui.green.button.active {
  background-color: #58cb73;
  color: #FFFFFF;
}
.ui.green.buttons .button:active,
.ui.green.button:active {
  background-color: #4CB164;
  color: #FFFFFF;
}

/*--- Red ---*/
.ui.red.buttons .button,
.ui.red.button {
  background-color: #D95C5C;
  color: #FFFFFF;
}
.ui.red.buttons .button:hover,
.ui.red.button:hover,
.ui.red.buttons .active.button,
.ui.red.button.active {
  background-color: #E75859;
  color: #FFFFFF;
}
.ui.red.buttons .button:active,
.ui.red.button:active {
  background-color: #D24B4C;
  color: #FFFFFF;
}

/*--- Orange ---*/
.ui.orange.buttons .button,
.ui.orange.button {
  background-color: #E96633;
  color: #FFFFFF;
}
.ui.orange.buttons .button:hover,
.ui.orange.button:hover,
.ui.orange.buttons .active.button,
.ui.orange.button.active {
  background-color: #FF7038;
  color: #FFFFFF;
}
.ui.orange.buttons .button:active,
.ui.orange.button:active {
  background-color: #DA683B;
  color: #FFFFFF;
}

/*--- Blue ---*/
.ui.blue.buttons .button,
.ui.blue.button {
  background-color: #6ECFF5;
  color: #FFFFFF;
}
.ui.blue.buttons .button:hover,
.ui.blue.button:hover,
.ui.blue.buttons .active.button,
.ui.blue.button.active {
  background-color: #1AB8F3;
  color: #FFFFFF;
}
.ui.blue.buttons .button:active,
.ui.blue.button:active {
  background-color: #0AA5DF;
  color: #FFFFFF;
}

/*--- Purple ---*/
.ui.purple.buttons .button,
.ui.purple.button {
  background-color: #564F8A;
  color: #FFFFFF;
}
.ui.purple.buttons .button:hover,
.ui.purple.button:hover,
.ui.purple.buttons .active.button,
.ui.purple.button.active {
  background-color: #3E3773;
  color: #FFFFFF;
}
.ui.purple.buttons .button:active,
.ui.purple.button:active {
  background-color: #2E2860;
  color: #FFFFFF;
}

/*--- Teal ---*/
.ui.teal.buttons .button,
.ui.teal.button {
  background-color: #00B5AD;
  color: #FFFFFF;
}
.ui.teal.buttons .button:hover,
.ui.teal.button:hover,
.ui.teal.buttons .active.button,
.ui.teal.button.active {
  background-color: #009A93;
  color: #FFFFFF;
}
.ui.teal.buttons .button:active,
.ui.teal.button:active {
  background-color: #00847E;
  color: #FFFFFF;
}

/*---------------
    Positive
----------------*/

.ui.positive.buttons .button,
.ui.positive.button {
  background-color: #5BBD72 !important;
  color: #FFFFFF;
}
.ui.positive.buttons .button:hover,
.ui.positive.button:hover,
.ui.positive.buttons .active.button,
.ui.positive.button.active {
  background-color: #58CB73 !important;
  color: #FFFFFF;
}
.ui.positive.buttons .button:active,
.ui.positive.button:active {
  background-color: #4CB164 !important;
  color: #FFFFFF;
}


/*---------------
     Negative
----------------*/
.ui.negative.buttons .button,
.ui.negative.button {
  background-color: #D95C5C !important;
  color: #FFFFFF;
}
.ui.negative.buttons .button:hover,
.ui.negative.button:hover,
.ui.negative.buttons .active.button,
.ui.negative.button.active {
  background-color: #E75859 !important;
  color: #FFFFFF;
}
.ui.negative.buttons .button:active,
.ui.negative.button:active {
  background-color: #D24B4C !important;
  color: #FFFFFF;
}


/*******************************
            Groups
*******************************/

.ui.buttons {
  display: inline-block;
  vertical-align: middle;
}
.ui.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui.buttons .button:first-child {
  border-left: none;
}

.ui.buttons .button {
  float: left;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.ui.buttons .button:first-child  {
  margin-left: 0em;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
.ui.buttons .button:last-child {
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

/* Vertical  Style */
.ui.vertical.buttons {
  display: inline-block;
}
.ui.vertical.buttons .button {
  display: block;
  float: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-left: none;
  box-shadow: none;
}
.ui.vertical.buttons .button:first-child,
.ui.vertical.buttons .mini.button:first-child,
.ui.vertical.buttons .tiny.button:first-child,
.ui.vertical.buttons .small.button:first-child,
.ui.vertical.buttons .massive.button:first-child,
.ui.vertical.buttons .huge.button:first-child {
  margin-top: 0px;
  -moz-border-radius: 0.2em 0.2em 0px 0px;
  -webkit-border-radius: 0.2em 0.2em 0px 0px;
  border-radius: 0.2em 0.2em 0px 0px;
}
.ui.vertical.buttons .button:last-child,
.ui.vertical.buttons .mini.button:last-child,
.ui.vertical.buttons .tiny.button:last-child,
.ui.vertical.buttons .small.button:last-child,
.ui.vertical.buttons .massive.button:last-child,
.ui.vertical.buttons .huge.button:last-child,
.ui.vertical.buttons .gigantic.button:last-child {
  -moz-border-radius: 0px 0px 0.2em 0.2em;
  -webkit-border-radius: 0px 0px 0.2em 0.2em;
  border-radius: 0px 0px 0.2em 0.2em;
}
