<table border="1">
<% @items.each do |item| %>
<tr>
	<td><%= item.title %></td>
	<td><%= item.sub_title %></td>
	<td><%= item.price %></td>
	<td>
		<% item.images.each do |image| %>
			<%= image %></br>
		<% end %>
	</td>
	<td>
		<% item.options.each do |option| %>
			<%= option %></br>
		<% end %>
	</td>
	<td><%= item.url %></td>

</tr>
<% end %>
</table>