<% if flash[:notice] == 'check_amount' %>
<div class="ui red icon message">
  <i class="warning icon"></i>
  <div class="content">
    <div class="header">
     재고수량 보다 주문수량이 많습니다. 
    </div>
    <br/>
    <ul>
    <% flash[:items].each do |item| %>
      <li>
        <% if item["product_option_id"].nil? %>
          <span style="font-weight: bold;"><%= Product.find(item["product_id"]).title %></span> 상품의 재고가 부족합니다.
        <% else %>
          <span style="font-weight: bold;"><%= Product.find(item["product_id"]).title %></span> 상품의 <span style="font-weight: bold;"><%= ProductOption.find(item["product_option_id"]).title %></span> 옵션의 재고가 부족합니다.
        <% end %>
      </li>
    <% end %>
  </ul>
    <p>재고확인 후 다시 주문해 주세요.</p>
  </div>
</div>
<% end %>