
<!-- 지불방법 -->
<input type="hidden" name="pay_method" id="pay_method"/>
<!-- 주문번호 -->
<input type="hidden" name="ordr_idxx" id="ordr_idxx" value="<%= @pay_uuid %>"/>
<!-- 상품명 -->
<input type="hidden" name="good_name" id="good_name" value="<%= @good_name %>"/>
<!-- 결제금액 -->
<input type="hidden" name="good_mny" id="good_mny" value="<%= sum_price %>"/>
<!-- 주문자명 -->
<input type="hidden" name="buyr_name" id="buyr_name"/>
<!-- 주문자 이메일 -->
<input type="hidden" name="buyr_mail" id="buyr_mail" value="<%= current_user.email %>"/>
<!-- 전화번호 -->
<input type="hidden" name="buyr_tel1" id="buyr_tel1"/>
<!-- 휴대폰 -->
<input type="hidden" name="buyr_tel2" id="buyr_tel2"/>
<!-- 수취인명 -->
<input type="hidden" name="rcvr_name" id="rcvr_name"/>
<!-- 수취인 전화번호 -->
<input type="hidden" name="rcvr_tel1" id="rcvr_tel1"/>
<!-- 수취인 휴대폰 -->
<input type="hidden" name="rcvr_tel2" id="rcvr_tel2"/>
<!-- 수취인 이메일 -->
<input type="hidden" name="rcvr_mail" id="rcvr_mail"/>
<!-- 수취인 우편번호 -->
<input type="hidden" name="rcvr_zipx" id="rcvr_zipx"/>
<!-- 수취인 주소 -->
<input type="hidden" name="rcvr_add1" id="rcvr_add1"/>
<!-- 수취인 상세주소 -->
<input type="hidden" name="rcvr_add2" id="rcvr_add2"/>

<input type="hidden" name="req_tx"          value="pay" />
<input type="hidden" name="site_cd"         value="<%= @payment_config.g_conf_site_cd   %>" />
<input type="hidden" name="site_name"       value="<%= @payment_config.g_conf_site_name %>" />

<%
    # /*
    #    할부옵션 : Payplus Plug-in에서 카드결제시 최대로 표시할 할부개월 수를 설정합니다.(0 ~ 18 까지 설정 가능)
    #    ※ 주의  - 할부 선택은 결제금액이 50,000원 이상일 경우에만 가능, 50000원 미만의 금액은 일시불로만 표기됩니다
    #               예) value 값을 "5" 로 설정했을 경우 => 카드결제시 결제창에 일시불부터 5개월까지 선택가능
    # */
%>
<input type="hidden" name="quotaopt"        value="12"/>
<!-- 필수 항목 : 결제 금액/화폐단위 -->
<input type="hidden" name="currency"        value="WON"/>

<%
    # /* = -------------------------------------------------------------------------- = */
    # /* =   2. 가맹점 필수 정보 설정 END                                             = */
    # /* ============================================================================== */
%>

<%
    # /* ============================================================================== */
    # /* =   3. Payplus Plugin 필수 정보(변경 불가)                                   = */
    # /* = -------------------------------------------------------------------------- = */
    # /* =   결제에 필요한 주문 정보를 입력 및 설정합니다.                            = */
    # /* = -------------------------------------------------------------------------- = */
%>
<!-- PLUGIN 설정 정보입니다(변경 불가) -->
    <input type="hidden" name="module_type"     value="<%= @payment_config.module_type %>"/>

<%
    # /* ============================================================================== */
    # /* =   3-1. Payplus Plugin 에스크로결제 사용시 필수 정보                        = */
    # /* = -------------------------------------------------------------------------- = */
    # /* =   결제에 필요한 주문 정보를 입력 및 설정합니다.                            = */
    # /* = -------------------------------------------------------------------------- = */
%>
    <!-- 에스크로 사용 여부 : 반드시 Y 로 설정 -->
    <input type="hidden" name="escw_used"       value="Y"/>
    <!-- 에스크로 결제처리 모드 : 에스크로: Y, 일반: N, KCP 설정 조건: O  -->
    <input type="hidden" name="pay_mod"         value="Y"/>
    <!-- 배송 소요일 : 예상 배송 소요일을 입력 -->
    <input type="hidden"  name="deli_term" value="03"/>
    <!-- 장바구니 상품 개수 : 장바구니에 담겨있는 상품의 개수를 입력(good_info의 seq값 참조) -->
    <input type="hidden"  name="bask_cntx" value="<%= @good_count %>"/>
    <!-- 장바구니 상품 상세 정보 (자바 스크립트 샘플 create_goodInfo()가 온로드 이벤트시 설정되는 부분입니다.) -->
    <input type="hidden" name="good_info"       value=""/>
<%
    # /* = -------------------------------------------------------------------------- = */
    # /* =   3-1. Payplus Plugin 에스크로결제 사용시 필수 정보  END                   = */
    # /* ============================================================================== */
%>

<!--
      ※ 필 수
          필수 항목 : Payplus Plugin에서 값을 설정하는 부분으로 반드시 포함되어야 합니다
          값을 설정하지 마십시오
-->
<input type="hidden" name="res_cd"          value=""/>
<input type="hidden" name="res_msg"         value=""/>
<input type="hidden" name="tno"             value=""/>
<input type="hidden" name="trace_no"        value=""/>
<input type="hidden" name="enc_info"        value=""/>
<input type="hidden" name="enc_data"        value=""/>
<input type="hidden" name="ret_pay_method"  value=""/>
<input type="hidden" name="tran_cd"         value=""/>
<input type="hidden" name="bank_name"       value=""/>
<input type="hidden" name="bank_issu"       value=""/>
<input type="hidden" name="use_pay_method"  value=""/>

<!--  현금영수증 관련 정보 : Payplus Plugin 에서 설정하는 정보입니다 -->
<input type="hidden" name="cash_tsdtime"    value=""/>
<input type="hidden" name="cash_yn"         value=""/>
<input type="hidden" name="cash_authno"     value=""/>
<input type="hidden" name="cash_tr_code"    value=""/>
<input type="hidden" name="cash_id_info"    value=""/>

<!-- 2012년 8월 18일 전자상거래법 개정 관련 설정 부분 -->
<!-- 제공 기간 설정 0:일회성 1:기간설정(ex 1:2012010120120131)  -->
<input type="hidden" name="good_expr" value="0">

<!-- 가맹점에서 관리하는 고객 아이디 설정을 해야 합니다.(필수 설정) -->
<input type="hidden" name="shop_user_id"    value="<%= current_user.user_id %>"/>
<!-- 복지포인트 결제시 가맹점에 할당되어진 코드 값을 입력해야합니다.(필수 설정) -->
<input type="hidden" name="pt_memcorp_cd"   value=""/>

<%
    # /* = -------------------------------------------------------------------------- = */
    # /* =   3. Payplus Plugin 필수 정보 END                                          = */
    # /* ============================================================================== */
%>



