<% @zipcodes.each do |zipcode| %>
  <tr class="row">
    <td style="text-align: center" class="two wide row_zipcode"><%= zipcode.zipcode[0, 3] %>-<%= zipcode.zipcode[3, 6] %></td>
    <td class="row_address"><%= zipcode.address %></td>
  </tr>
<% end %>  