<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">


 <h3 class="ui header">
  주문/배송
</h3>
<div class="ui divider"></div>




<!-- <h3 class="ui header">
	<i class="truck icon"></i>
	주문조회/배송조회
</h3>
<div class="ui divider"></div>
 -->
	<%= form_tag orders_path, :method => 'get', :class => 'ui  form segment', :style => 'margin-top: 10px;' do %>
    



    <div class="ui form " >
      <div class="fields">
        <div class="field">
          <label>주문상태</label>
          <%= select_tag "state", options_for_select(OrdersItem.state_machine.states.collect{ |i| [ OrdersItem.human_state_name(i.name), i.name ] }, params[:state]), :prompt => "선택", :style => 'width: 100px;' %>
        </div>
        <div class="field" style="margin-left: 20px;">
          <label>상품명</label>
          <input type="text"  name="title" style="width: 300px;" value="<%= params[:title] %>" placeholder="상품명을 입력하세요.">
        </div>
        <div class="field date" style="margin-left: 20px;">
          <label>기간(시작)</label>
          <input type="text" class="datepicker" name="start_date" style="width: 150px;" value="<%= params[:start_date] %>" placeholder="xxxx-xx-xx">
        </div>
        <div class="field " style="margin-left: 10px; margin-top: 30px;">
          <i class="minus icon"></i>
        </div>
        <div class="field date" style="margin-left: 10px;">
        	<label >기간(끝)</label>
          <input type="text" class="datepicker" name="end_date" style="width: 150px;" value="<%= params[:end_date] %>" placeholder="xxxx-xx-xx">
        </div>
         <div class="field" style="margin-left: 10px; margin-top: 23px;">
         	<button class="ui blue submit button small" type="submit">검색</button>
        </div>
        <div class="field" style="margin-left: 10px; margin-top: 23px;">
         	<a class="ui blue submit button small" type="submit" id="search_fields_init">초기화</a>
        </div>
      </div>
    </div>
	<% end %>

<div>
	<table class="ui celled  table segment" id="order_list">
		<thead>
	    <tr >
	    	<th style="text-align: center" class="one wide">주문</br>번호</th>
	      <th style="text-align: center" class="four wide">상품</th>
	      <th style="text-align: center" class="two wide">옵션</th>
	      <th style="text-align: center" class="one wide">수량</th>
	      <th style="text-align: center" class="two wide">가격</th>
	      <th style="text-align: center" class="two wide">합계가격</th>
	      <th style="text-align: center" class="two wide">주문일자</th>
	      <th style="text-align: center" class="one wide">주문상태</th>
	      <th style="text-align: center" class="one wide">&nbsp;</th>
	    </tr>
  	</thead>
  	<tbody>
  		<% if @orders_items.each do |item| %>
  			<% 
  				options = []
	  			unless item.options.nil? 
	  				
						item.options.keys.each do |key|
							
							options << key + ":" + item.options[key]
						end 
	  			end 
  			%>
  			
	  		<tr>
	  			<td style="text-align: center" merge_id="<%= item.order_id %>"><%= item.order_id %></td>
	  			<td style="text-align: left;" >
	  				<div style="float: left;">
	  					<%= image_tag item.product_featured_small_image_url, :style => 'width: 70px; height: 70px;' %> 
	  				</div>
	  				</div style="float: left;" >
		  				<%= link_to rootshop_path(item.product_id) do %>
		  					<%= item.product_title %> 
		  				<% end %>
		  			</div>
	  			</td>
	  			<td style="text-align: center">
	  				<% if options %>
	  					<% options.each do |o| %>
	  						<%= o %><br>
	  					<% end %>
	  				<% else %>
	  					없음
	  				<% end %>
	  			</td>
	  			<td style="text-align: center" class="one wide"><%= item.quantity %></td>
	  			<td style="text-align: right"><i class="uk-icon-krw"></i> <%= price_currency_comma item.price.to_i %></td>
	  			<td style="text-align: right" merge_id="<%= item.order_id %>"><i class="uk-icon-krw"></i> <%= price_currency_comma OrdersItem.where(:order_id => item.order_id).sum {|o| o.price }.to_i %></td>
	  			<td style="text-align: center" ><%= item.order.created_at.strftime("%F %T") %></td>
	  			<td style="text-align: center" merge_id="<%= item.order_id %>"><%= item.human_state_name %></td>

	  			<td style="text-align: center" merge_id="<%= item.order_id %>">
	   				<% item.state_events.each do |event| %>
	   					<div>
	   						<% if event == :order_cancel %>
	   							<%= link_to eval("front_#{event}_path(item.id)"), :method => 'put', :confirm => "#{OrdersItem.human_state_event_name(event)} 하시겠습니까?", :class => 'ui button mini red', :style => "font-size: 12px;" do %><%= OrdersItem.human_state_event_name(event) %><% end %>
	   						<% end %>
	   						<% if event == :take_back_receive %>
	   							<% if (item.created_at + 14.days) > Time.now %>
	   								<%= link_to front_take_back_request_path(item.id), :class => 'ui button mini red',  :style => "font-size: 12px;" do %><%= OrdersItem.human_state_event_name(event) %><% end %>
	   							<% end %>
	   						<% end %>
	   					</div>
	   				<% end %>
	   			</td>
	  		</tr>
  		<% end.empty? %>
  			<tr><td colspan=8 style="text-align: center">주문이 없습니다.</td></tr>
  			
  		<% end %>
  	</tbody>
	</table>
</div>

<div>
	<%= paginate @orders_items %>
</div>

</div>
	<!-- <ul class="uk-pagination">
		<li class="uk-disabled"><span><i class="uk-icon-double-angle-left"></i></span></li>
		<li class="uk-active"><span>1</span></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><span>...</span></li>
		<li><a href="#">20</a></li>
		<li><a href="#"><i class="uk-icon-double-angle-right"></i></a></li>
	</ul> -->
