
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.js"></script>
<script>
    function openDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 우편번호와 주소 정보를 해당 필드에 넣고, 커서를 상세주소 필드로 이동한다.
                console.log(data);
                $('#order_zipcode').val(data.postcode1 + "-" + data.postcode2);
                $('#order_address').val(data.address);
            }
        }).open();
    }
</script>


<%= render 'payment_script' %>

<%= render :partial => 'inventory_check' %>
<h3 class="ui header">
  <i class="money icon"></i>
  주문
</h3>
<div class="ui divider"></div>
<% if notice == "saved_money" %>
<div class="ui message red">
  <div style="font-size: 15px;"><i class="warning icon"></i> 주문하실 때 사용한 적립금이 현재 고객님이 가지고 있는 적립금을 초과했습니다. 확인후 다시 주문해 주세요.</div>
</div>
<% end %>
<div class="ui message blue">
    
    <div style="font-size: 15px;">* 현재 회원님이 보유한 적립금은 <span id="current_saved_money_label"  style="font-size: 18px; font-weight: bold; color: #D95C5C"><%= price_currency_comma @current_saved_money %></span> 원 입니다.</div>
</div>
<%= form_for @order, :html => { :name => 'new_order' }, :remote => true do |f| %>
<table class="ui table segment">
  <thead>
    <tr>
      <th class="six wide" style="text-align: center">상품</th>
      <th style="text-align: center">옵션</th>
      <th style="text-align: center">수량</th>
      <th class="two wide" style="text-align: center">적립금 사용</th>
      <th class="three wide" style="text-align: center">가격</th>
      
    </tr>
  </thead>
  <tbody>
    <% is_crawled = false %>
    <% @line_items.each do |item| %>
    <%
      option_str = []

      if item.product.is_crawled == 'true'
        is_crawled = true
      end

      if item.options
        item.options.each do |o|
          option_str << o["option_title"] + ":" + o["option_item_title"]
        end
      end

      # item.options.keys.each do |key|
      #   product_option = ProductOption.where(:id => key).first
      #   product_option_item = product_option.product_option_items.where(:id => item.options[key]).first

      #   option_str.append(product_option.title + ":" + product_option_item.title)
      # end
    %>
    
    <tr>
      <td style="text-align: left">
        <%= image_tag item.product.featured_small_image_url, :style => 'width: 70px;' %> <%= item.product.title %></td>
      <td style="text-align: center">
        <% if option_str.size > 0 %>
          <%= option_str.join(', ') %>
        <% else %>
          없음
        <% end %>
      </td>
      <td style="text-align: center">
        <%= item.quantity %>
      </td>

      <td style="text-align: center">
        <input type="text" style="width: 80px" class="numberinput saved_money_for_order_item" name="saved_money_for_order_item" > 원
        <input type="hidden" class="order_item_price" value="<%= item.product.get_price_final(item.get_selected_option_item_title) * item.quantity %>">
        <input type="hidden" name="hidden_saved_money_for_order_item[]">
        <input type="hidden" name="product_id" value="<%= item.product.id %>">
      </td>
     
      <td style="text-align: center">
        <i class="won icon"></i> 
          <span class="order_item_price">
            <%= price_currency_comma item.product.get_price_final(item.get_selected_option_item_title) * item.quantity %>
          </span>
          <div style="display: none;" class="div_order_item_price_with_saved_money">
            <i class="won icon"></i> 
            <span class="order_item_price_with_saved_money"></span>
          <div>
        </td>
    </tr>
    
    <% end %>
  </tbody>
  <tfoot>
    <tr >
      <th style="text-align: center">합계</th>
      <th></th>
      <th style="text-align: center"><%= @line_items.sum { |item| item.quantity } %></th>
      <th style="text-align: center"><span id="current_saved_money_sum">0</span> 원</th>
      <th style="text-align: center">
        <% sum_price = @line_items.sum { |item| item.product.get_price_final(item.get_selected_option_item_title) * item.quantity } %>
        <i class="won icon"></i> <span id="price_sum"><%= price_currency_comma sum_price %></span>
        <div style="display: none;" class="div_order_item_price_sum_with_saved_money">
          <i class="won icon"></i> 
          <span class="order_item_price_sum_with_saved_money"></span>
        <div>
        <input type="hidden" id="hidden_price_sum" value="<%= sum_price %>">
      </th>
    </tr>
  </tfoot>
</table>

<h3 class="ui header">
  <i class="truck icon"></i>
  배송지
</h3>
<div class="ui divider"></div>


  <input type="hidden" id="hidden_current_saved_money" value="<%= @current_saved_money %>">
  <input type="hidden" name="original_price" value="<%= sum_price %>">
  <%= f.hidden_field :original_price, :value => sum_price %>
  <%= f.hidden_field :checkout_price %>
  <input type="hidden" name="order_type" value="<%= params[:order_type] %>">
  <input type="hidden" name="product_id" value="<%= params[:product_id] %>">
  <% if params[:order_type] == 'direct' %>
    <% if params[:product_options_id] %>
      <% params[:product_options_id].each do |option| %>
        <input type="hidden" name="product_options_id[]" value="<%= option %>">
      <% end %>
    <% end %>
  <% end %>
  <input type="hidden" name="quantity" value="<%= params[:quantity] %>">
  <input type="hidden" name="collection_item_id" value="<%= params[:collection_item_id] %>">
  <% @line_items.each do |item| %>
    <input type="hidden" name="cart_ids[]" value="<%= item.id %>">
  <% end %>

<div class="ui form segment">
  <div class="field">
    <input type="radio" name="address_type" value="old" checked> 최근 배송지
    <input type="radio" name="address_type" value="new"> 신규 배송지
  </div>

  <div class="field">
    <label>받는사람(한글)</label>
    <%= f.text_field :recipient, :style => "width: 150px;", :value => "#{@exist_address.recipient if @exist_address.present? }"  %>
    <input type="hidden" id="hidden_recipient" value="<%= @exist_address.recipient if @exist_address.present? %>">
  </div>

  <% if is_crawled %>
  <div class="field">
    <label>받는사람(영문) - 원활한 통관을 위해 정확히 입력해주세요.</label>
    <%= f.text_field :recipient_en, :style => "width: 150px;", :value => "#{@exist_address.recipient_en if @exist_address.present? }"  %>
    <input type="hidden" id="hidden_recipient_en" value="<%= @exist_address.recipient_en if @exist_address.present? %>">
  </div>

  <% end %>

  <div class="field">
    <label>이메일</label>
    <%= f.text_field :email, :style => "width: 250px;", :value => "#{@exist_address.email if @exist_address.present? }"  %>
    <input type="hidden" id="hidden_email" value="<%= @exist_address.email if @exist_address.present? %>">
  </div>

  <div class="field">
    <label>우편번호</label>
    <%= f.text_field :zipcode, :style => 'width: 150px;', "readonly" => "readonly", :value => "#{@exist_address.zipcode if @exist_address.present? }" %>
    <input type="hidden" id="hidden_zipcode" value="<%= @exist_address.zipcode if @exist_address.present? %>" >
    <!-- <a class="ui button small blue" id="zipcode_search" style="margin-left: 10px;">우편번호찾기</a> -->
    <a class="ui button small blue" onclick="openDaumPostcode()" style="margin-left: 10px;">우편번호찾기</a>
    
  </div>

  <div class="field">
    <label>주소</label>
    <%= f.text_field :address, :style => 'width: 550px;', "readonly" => "readonly", :value => "#{@exist_address.address if @exist_address.present? }" %>
    <input type="hidden" id="hidden_address" value="<%= @exist_address.address if @exist_address.present? %>" >
  </div>
  <div class="field">
    <label>상세주소</label>
    <%= f.text_field :detail_address, :style => 'width: 550px;', :value => "#{@exist_address.detail_address if @exist_address.present? }" %>
    <input type="hidden" id="hidden_detail_address" value="<%= @exist_address.detail_address if @exist_address.present? %>" >
  </div>

  <div class="field">
    <label>휴대전화</label>
    <%= f.text_field :mobile_phone_1, :style => 'width: 80px;', :value => "#{@exist_address.mobile_phone_1 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_mobile_phone_1" value="<%= @exist_address.mobile_phone_1 if @exist_address.present? %>" >
    <i class="minus icon"></i><%= f.text_field :mobile_phone_2, :style => 'width: 80px;', :value => "#{@exist_address.mobile_phone_2 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_mobile_phone_2" value="<%= @exist_address.mobile_phone_2 if @exist_address.present? %>" >
    <i class="minus icon"></i><%= f.text_field :mobile_phone_3, :style => 'width: 80px;', :value => "#{@exist_address.mobile_phone_3 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_mobile_phone_3" value="<%= @exist_address.mobile_phone_3 if @exist_address.present? %>" >
  </div>

  <div class="field">
    <label>집전화</label>
    <%= f.text_field :phone_1, :style => 'width: 80px;', :value => "#{@exist_address.phone_1 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_phone_1" value="<%= @exist_address.phone_1 if @exist_address.present? %>" >
    <i class="minus icon"></i><%= f.text_field :phone_2, :style => 'width: 80px;', :value => "#{@exist_address.phone_2 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_phone_2" value="<%= @exist_address.phone_2 if @exist_address.present? %>" >
    <i class="minus icon"></i><%= f.text_field :phone_3, :style => 'width: 80px;', :value => "#{@exist_address.phone_3 if @exist_address.present? }", :class => 'numberinput' %>
    <input type="hidden" id="hidden_phone_3" value="<%= @exist_address.phone_3 if @exist_address.present? %>" >
  </div>
  <% if is_crawled %>
    <div class="ui  message">
      <div class="content">
        <div>통관을 위한 정보를 선택해주세요.</div>
        <div class="ui divider"></div>
        <div>

          <%= f.radio_button :custom_type, 'ssn', :disabled => true %> 주민등록번호 &nbsp;&nbsp;&nbsp;<%= f.radio_button :custom_type, 'private', {:checked => true} %> 개인통관고유부호
        </div>
        <div id="through_customs_ssn" style="display: none;">
          <div style="margin-top: 10px;">
            <div class="ui  message red">
              <div class="content">
                <div class="header">
                  주민등록번호는 왜 입력하나요?
                </div>
                <ul class="list">
                  <li>통관절차를 위해 부득이하게 구매자분의 주민등록번호가 필요합니다.</li>
                  <li>주민등록번호는 암호화 되어서 저장되니 안심하고 주문하세요.</li>
                  <li>잘못된 주민등록번호를 입력시 주문이 진행이 되지 않으므로 정확히 입력해주세요.</li>
                </ul>
              </div>
            </div>
          </div>
          <div style="margin-top: 20px;">
            <input type="checkbox" id="ssn_agree"> 주민등록번호 제공에 동의하십니까?
          </div>
          <div class="field disabled" style="margin-top: 10px;" id="ssn_field">
            <label>주민등록번호</label>
            <%= f.password_field :rrn_1, :style => 'width: 150px;', :maxlength => 6, :class => 'numberinput' %>
            <i class="minus icon"></i><%= f.password_field :rrn_2, :style => 'width: 150px;', :maxlength => 7, :class => 'numberinput' %>
          </div>
        </div>

        <div id="through_customs_private" >
          <div style="margin-top: 10px;">
            <div class="ui  message red">
              <div class="content">
                <div class="header">
                  개인통관고유부호는 무엇인가요?
                </div>
                <ul class="list">
                  <li>제3자를 통한 개인정보 유출우려가 제기되어 이를 예방하기 위한제도입니다.</li>
                  <li>발급은 관세청에서 받으실 수 있습니다.</li>
                  <li>한번 발급으로 평생 사용하실 수 있습니다.</li>
                  <li>통관시 문자를 받으실 수 있습니다.</li>
                </ul>
                <br>
                <div><a href="http://portal.customs.go.kr/main.html" target="_blank">개인통관고유부호 발급받기 <i class="forward mail icon"></i></a></div>
              </div>
            </div>
          </div>
        
          <div class="field" style="margin-top: 20px;">
            <label>개인통관고유부호</label>
            <%= f.text_field :private_custom_number, :style => 'width: 250px;' %>
            
          </div>
        </div>

      </div>
    </div>
    <% end %>

 <!--  <div class="field">
    <label>주민등록번호</label>
    <%#= f.text_field :rrn_1, :style => 'width: 150px;', :maxlength => 6, :class => 'numberinput' %>
    <i class="minus icon"></i><%#= f.text_field :rrn_2, :style => 'width: 150px;', :maxlength => 7, :class => 'numberinput' %>
  </div> -->

  <!-- <div class="ui icon message red">
    <i class="lock icon"></i>
    <div class="content">
      <div class="header">
        주민등록번호는 왜 입력하나요?
      </div>
      <ul class="list">
        <li>통관절차를 위해 부득이하게 구매자분의 주민등록번호가 필요합니다.</li>
        <li>주민등록번호는 암호화 되어서 저장되니 안심하고 주문하세요.</li>
        <li>잘못된 주민등록번호를 입력시 주문이 진행이 되지 않으므로 정확히 입력해주세요.</li>
      </ul>
    </div>
  </div>
 -->
  <div class="field">
    <label>배송시 요구사항</label>
    <%= f.text_field :shipping_note, :style => 'width: 550px;' %>
  </div>

  

  <div class="field">
    <label>결제수단</label>
    <%= f.select :payment_method, [['신용카드', '100000000000'], ['계좌이체', '010000000000'], ['가상계좌', '001000000000']], {}, { :style => 'width: 100px;'}  %>
    
  </div>
</div>
<%= render :partial => 'payment_info', :locals => { :sum_price => sum_price } %>


<div style="margin-top: 30px;">
  <div style="float:left; margin-right: 10px;">

    <a class="ui button blue" id="checkout_btn">결제하기</a>
    <%= f.submit "결제하기", :class => 'ui button blue', :style => 'display: none;', :id => 'checkout_submit_btn' %>
  </div>
  
</div>
<% end %>
<br><br><br><br>



<div class="ui modal small" id="zipcode_search_modal">
    <i class="close icon"></i>
    <div class="header">
      <i class="truck icon"></i>우편번호 검색
    </div>
    <div class="content" style="margin-top: -0px; margin-bottom: 0px; ">
      <div>
        동(읍/리/면)을 입력하세요.
      </div>
      <%= form_tag zipcodes_search_path, :method => 'get', :remote => true do  %>
      <div style="margin-top: 10px; float: left;" class="ui   input">
        <input type="text" name="query" style="width: 200px;">
      </div>
      <div style="margin-top: 10px; margin-left: 10px; float: left;">
        <button class="ui button  blue" type="submit">찾기</button>
      </div>
      <% end %>
      <div class="ui divider" style="margin-top: 60px;"></div>
      <div class="ui" >
        <!-- <div align="center" class="ui segment inverted teal secondary">우편번호를 검색하세요.</div> -->
        <div style="height: 300px; overflow-y: auto">
          <table id="zipcode_table" class="ui inverted teal secondary table segment">
            <thead>
              <tr>
                <th style="text-align: center" class="two wide">우편번호</th>
                <th style="text-align: center" class="">주소</th>
              </tr>
            </thead>
            <tbody id="zipcode_tbody">
              <%= render 'zipcode' unless @zipcodes.nil? %>
            </tbody>
          </table>
        </div>

      </div>
    
  </div>
</div>

<!-- 전환페이지 설정 -->
 <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"> </script> 
 <script type="text/javascript">
var _nasa={};
 _nasa["cnv"] = wcs.cnv("1","0"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script> 




