<%= render '/mypage/mypage_menu' %>
<% 
	options = ""
	unless @orders_item.options.nil? 
		
		@orders_item.options.keys.each do |key|
			
			options += (key + ":" + @orders_item.options[key] + " ")
		end 
	end 
%>

<div class="ui bottom attached segment">
<%= form_for @take_back_request, :url => front_create_take_back_request_path(@orders_item), :multipart => true  do |f| %>
	<h3 class="ui header">
	  주문/배송 > 반품접수
	</h3>

	<div class="ui divider"></div>
	<div class="ui red message">
		<div class="header">
	  	<i class="info icon"></i>반품시 유의사항
		</div>
		<div class="ui divider"></div>
		<div style="height: 500px; overflow-y:auto;">
			<ul class="list">
		    <li>유료반품 처리시에는 의류, 신발, 가방 등 일반적인 상품의 경우 왕복운송료(약 45,000원~65,000원)가 발생됩니다.</li>
		    <li>유모차, 자전거 등 부피가 큰 제품의 경우 반품비용이 추가로 발생할 수 있습니다.</li>
		    <li>반품은 배송 완료 후 7일 이내에 가능합니다.</li>
		    <li>상품을 사용했거나 세탁, 파손, 오염하였을 경우에는 반품이 불가능합니다.</li>
		    <li>반품비용 = 수입(구매)대행 시 발생한 현지 및 국제운송료 + 물류센터 출고수수료 등 제비용(단, 상품하자 및 오배송으로 인한 반품은 별도의 비용이 청구되지 않습니다.</li><br>
		    <li>
		    	유료반품 해당의 경우<br><br>
		    	<ul>
		    		<li>고객의 사이즈, 색상, 질감, 크기 등의 착각으로 인한 반품</li>
		    		<li>약간의 스크래치, 모니터 해상도에 따른 색상차이, 실밥, 제품의 퀄리티, 가죽의 패턴(무늬) 차이, 배송상태(폴리백 없음, 박스 구겨짐 등), 신발접착제 등에 의한 반품</li>
		    		<li>국내 백화점 및 매장 등에서 발행하는 보증서나 개런티 카드 미 발행 등과 관련한 반품(국내 백화점이나 매장에서 자체 발행하는 보증서나 개런티 카드는 해외 배송상품에는 들어 있지 않을 수 있습니다.)</li>
		    		<li>단추, 액세서리 부속품, 스티치 부분, 로고 부착위치, 태그 부착위치 등이 제공된 이미지와 다른 이유로의 반품(해외 밴더사의 출시 과정에 따라 조금씩 차이가 날 수 있습니다.)</li>
		    		<li>수령한 상품의 실측 사이즈가 다르다는 이유로의 반품(상세 정보 및 사이즈 조견표에 표기된 사이즈는 실측 치수가 아니며, 참고용으로 표기된 것으로 차이가 있을 수 있습니다.)</li>
		    	</ul>
		    </li>
		    <li>반품이 불가능한 경우<br><br>
		    	<ul>
		    		<li>상품 배송완료 후 7일이 경과한 상품</li>
		    		<li>고객의 부주의 또는 고의로 상품을 훼손한 경우</li>
		    		<li>제품을 사용한 흔적이 있거나 상품 라벨이나 증명 등이 분리제거 및 훼손 된 경우</li>
		    		<li>LEATHER(가죽)로 기재되어 있는 경우 천연가죽 외에 합성피혁(인조가죽)도 LEATHER로 표기될 수 있으므로 반품사유에 해당하지 않습니다.</li>
		    	</ul>
		    </li><br>

		    <li>
		    	반품절차 및 방법<br><br>
		    	<ul>
		    		<li>
		    			큐썸(Quusome.com)은 문의 및 협의 없이 개별적인 임의반품/반송은 수취거부하고 있습니다. 이 점 참고하시어 아래의 절차에 의해 반품을 진행해 주십시오.
		    		</li>
		    		<li>문의 <i class="long arrow right icon"></i> 협의 및 반품신청 안내 <i class="long arrow right icon"></i> 반품배송 <i class="long arrow right icon"></i> 검수/검품 <i class="long arrow right icon"></i> 반품확인 <i class="long arrow right icon"></i> 환불</li>
		    		<br>
		    		1. 문의<br>반품을 원하실 경우, 고객센터(070-4154-0679)를 통해 반품절차 안내를 받으세요.<br><br>
		    		2. 협의 및 반품신청 안내<br>반품사유 및 수수료에 대한 안내와 협의를 받으신 후 반품신청을 해주세요.<br><br>
		    		3. 반품배송<br>반품은 안내해드린 지정 택배사로 <신규착불 택배>로 반품주소를 기재하여 보내주세요. (편의점 택배 및 타 택배회사 이용 시, 고객선불 부담)반품하실 상품은 반드시 겉포장을 한번 더 해서 보내주시기 바랍니다. 반품배송 중 상품이 훼손되거나 오염될 경우, 반품이 거절 될 수 있습니다.<br><br>
		    		반품주소 : 서울시 영등포구 여의도동 15-16 산정빌딩 806호 빈즈나인 담당자 앞<br><br>
		    		4. 검수 / 검품<br>
		    		보내주신 반품 상품의 상태 및 반품사유에 대해 검사하는 단계입니다.<br>
		    		큐썸(Quusome.com)은 고의적인 훼손 또는 부주의에 의한 반품으로 인한 고객서비스 및 영업활동 지장 예방을 비롯하여 대다수의 선량한 소비자 보호를 위해 해외 물류창고에서 상품을 수취/검수 과정에서 촬영을 통해 상품 상태에 대한 정보를 보관하고 있습니다. 고의적인 훼손 및 부주의에 의한 반품사례에 대해서는 [민법 및 상법]을 비롯한 관련 법규정에 의거하여 내용증명 발부 및 기타 절차를 진행하게 됩니다.<br><br>
		    		5. 반품확인<br><br>
		    		6. 환불<br>
		    		반품확인 이후 3일(영업일 기준) 이내에 환불처리를 해드리며, 유료반품인 경우, 반품수수료(약 45,000원~60,000원)를 제외한 금액을 고객님이 지정한 환불계좌를 통해 환불처리 해드립니다.
		    	</ul>
		    </li>
		  </ul>

		</div>
		<div class="ui divider"></div>
	  <div>
			<div class="ui checkbox">
        <input id="note_check" type="checkbox">
        <label for="note_check">위의 유의사항을 읽어보시고, 동의하시겠습니까?</label>
      </div> 
		</div>
	</div>


	<table class="ui basic table ">
		<tr>
			<td class="two wide">주문고객 아이디</td>
			<td><%= @orders_item.order.user.user_id %></td>
		</tr>
		<tr>
			<td class="two wide">주문고객명</td>
			<td><%= @orders_item.order.recipient %></td>
		</tr>
		<tr>
			<td class="two wide">주문번호</td>
			<td><%= @orders_item.order.id %></td>
		</tr>
		<tr>
			<td class="two wide">상품명</td>
			<td><%= @orders_item.product_title %></td>
		</tr>
		<tr>
			<td class="two wide">옵션</td>
			<td><%= options %></td>
		</tr>
		<tr>
			<td rowspan=2>반품사유</td>
			<td >
				<%= f.radio_button :reason_type, "1", checked: true, :class => "reason_type" %>
				<%= f.label :reason_type, "단순변심", :value => "1"%>
				<%= f.radio_button :reason_type, "2", :class => "reason_type" %>
				<%= f.label :reason_type, "제품하자", :value => "2" %>
			</td>
		</tr>

		<tr>
			<td>
				<%= f.text_area :reason, :rows => 3, :cols => 100 %>
			</td>
		</tr>
		<tr>
			<td rowspan=4>사진첨부</td>
			<td>제품하자일 경우 사진을 첨부하세요.</td>
		</tr>
		<tr>
			<td><%= f.file_field :image_1 %></td>
		</tr>
		<tr>
			<td><%= f.file_field :image_2 %></td>
		</tr>
		<tr>
			<td><%= f.file_field :image_3 %></td>
		</tr>

	</table>
	<br/>
	<% @orders_item.state_events.each do |event| %>
		<div>
			<a class="ui button blue" id="take_back_request_btn">반품접수</a>
			<%= f.submit :style => "display: none", :id => "take_back_request_submit" %>
		</div>
	<% end %>
<% end %>
</div>