<style>
p {
	line-height: 150%;
}
</style>

<h2 class="ui header">
  <i class="book icon"></i>
  <div class="content">
    큐썸(Quusome.com) 이용약관
  </div>
</h2>
<div style="width: 900px;" class="ui  segment">
	<h3 class="ui header">제1조(목적)</h3>
  <p>
  	이 약관은 빈즈나인(이하 ‘회사’라 함)이 운영하는 Quusome(큐썸, www.quusome.com, 이하 ‘사이트’라 함)에서 제공하는 배송대행 및 수입구매대행 서비스를 이용함에 있어 회사와 회원의 권리, 의미 및 책임사항을 규정하는 것을 목적으로 합니다.
  </p>

  <h3 class="ui header">제2조(정의)</h3>

  <ol class="ui list">
  	<li>
  		<p>  
	  		‘사이트’는 ‘회사’가 약관에 준하여 컴퓨터를 비롯한 정보통신 설비를 이용하여 재화나 용역을 거래할 수 있도록 설정한 온라인 상의 영업장을 말하며, ‘사이트’를 운영하는 회사의 의미도 포함하고 있습니다.
	  	</p>
  	</li>
  	<li>
  		<p>  
  			‘회원’은 ‘사이트’ 및 ‘회사’에 개인정보를 제공하여 회원등록을 한 개인 이용자로서, ‘사이트’의 정보를 지속적으로 제공받고 이용할 수 있는 자를 말합니다. 단, 법인이나 회사명의 등으로의 가입은 별도의 공지가 없는 한 회원등록이 불가능합니다.
  		</p>
  	</li>
  	<li>
  		<p>  
  			‘사이트’내에서 발생하는 거래계약은 ‘구매대행’의 형태이며, 이는 결제대행, 배송대행의 용역서비스를 포함하고 있습니다. ‘사이트’에서 제공하는 서비스에 대한 정의는 다음과 같습니다.
  		</p>
  	</li>
  	<ol>
  		<li>
  			<h5 class="ui header">구매대행</h5>
  			<p>
  				‘사이트’에서 제공하는 상품정보에 기반한 결제대행, 배송대행이 포함된 용역서비스를 의미합니다. ‘사이트’는 해외에서 운영되는 쇼핑몰 또는 판매û유통 사업자가 제공하는 상품정보를 회원에게 제공하며 이를 토대로 회원은 구매하고자 하는 물품을 선택, 결제하면 ‘회사’는 이를 구매대행 서비스 신청으로 접수, 결제 및 국내외 배송 일체의 서비스 절차를 진행합니다.
  			</p>
  		</li>
  		<li>
  			<h5 class="ui header">결제대행</h5>
  			<p>
  				회원이 ‘사이트’에서 구매하고자 하는 물품에 대하여 구매대행에 따르는 총 비용(물품가격+외국 내 배송료 + 국제운송료 + 통관 및 기타 제û세금 + 서비스 수수료)을 결제하면, ‘회사’가 해외사용이 가능한 기명식 법인신용카드 및 해외송금 등을 통하여 해당 상품을 판매하는 해외 인터넷 쇼핑몰 등에서 회원을 대신하여 구매하는 서비스를 의미합니다. ‘사이트’ 및 ‘회사’는 결제가격에 해외 수입û구매 과정에서 발생하는 관û부가세는 구매대행 용역서비스 비용에 포함하지 않고 있습니다. 관û부가세가 발생하는 경우, 회원이 물품수령 시, 또는 해당 기관으로부터의 납세 요청에 개별적으로 납부하게 됩니다.
  			</p>
  		</li>

  		<li>
  			<h5 class="ui header">배송대행</h5>
  			<p>
  				회원이 ‘사이트’를 통해 구매대행 서비스를 신청하면 ‘회사’가 신청을 접수, 대행하여 해외 인터넷 쇼핑몰 및 사업자를 통해 구매한 물품을 해당 지역(외국 내) 물류센터로 배송 요청합니다. 이를 국제운송 및 수입통관을 거쳐 회원이 지정하는 국내 수취 주소로 물품을 수령할 수 있도록 하는 서비스를 의미합니다.
  			</p>
  		</li>
  	</ol>
  </ol>

  <h3 class="ui header">제3조(약관의 명시와 설명 및 개정)</h3>

  <ol class="ui list">
  	<li>
  		<p>
  			‘사이트’는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지(주소), 전화번호, 전자우편주소, 사업자등록번호, 통신판매업신고번호, 개인정보 관리책임자 등을 회원이 쉽게 알 수 있도록 ‘사이트’의 초기 화면 전면에 게시합니다. 단, 약관 및 개인정보이용에 관한 규정은 회원이 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			‘사이트’는 회원이 약관에 동의하기에 앞서 약관에 정해져 있는 내용 중 결제, 반품조건, 환불조건, 배송책임 등과 같은 중요한 내용을 회원이 이해할 수 있도록 별도의 화면 또는 연결화면으로 제공하여 회원의 확인을 구하여야 합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			‘사이트’는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진 등에 관한 법률, 방문판매 등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			‘사이트’의 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 ‘사이트’의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 회원에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지하고, 약관의 개정 전 내용과 개정 후 내용을 명확하게 비교하여 회원이 알기 쉽도록 표시합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			약관을 개정할 경우네는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항을 그대로 적용합니다. 다만, 이미 계약을 체결한 회원이 개정된 약관의 적용을 받기를 원하는 뜻을 제4항에 의한 개정약관의 공지기간 내에 ‘사이트’ 또는 ‘회사’에 송신하여 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			이 약관에서 정하지 아니한 사항과 약관 해석에 관하여는 전자상거래등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호 지침 및 관계법령 또는 상관례에 따릅니다.
  		</p>
  	</li>
  </ol>

  <h3 class="ui header">제4조(서비스의 제공 및 변경)</h3>

  <ol class="ui list">
  	<li>
  		<p>‘사이트’는 다음과 같은 업무를 수행합니다.</p>
  		<ol>
  			<li>
  				<p>재화 또는 용역에 대한 정보제공 및 구매대행 계약의 체결</p>
  			</li>
  			<li>
  				<p>회원이 해외에서 구매 또는 수입구매대행을 의뢰한 물건에 대한 운송계약의 체결</p>
  			</li>
  			<li>
  				<p>회원이 구매 또는 구매대행을 의뢰한 재화의 배송</p>
  			</li>
  			<li>
  				<p>통관대행서비스</p>
  			</li>
  			<li>
  				<p>기타 업무</p>
  			</li>
  		</ol>
  	</li>
  	<li>
  		<p>
  			‘사이트’는 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			회원과 체결한 서비스 제공 계약에 있어 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 회원에게 즉시 통지합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			서비스 제공 계약의 변경 사유 통지의 유보 또는 고의적 누락으로 인하여 발생한 손해는 ‘회사’가 회원에게 배상합니다. 단, ‘사이트’와 ‘회사’의 고의 또는 과실이 없음을 입증하는 경우에는 배상의 책임이 없습니다.
  		</p>
  	</li>
  </ol>

  <h3 class="ui header">제5조(서비스의 중단)</h3>
  <ol class="ui list">
  	<li>
  		<p>
  			‘사이트’는 컴퓨터 등 정보통신설비의 보수, 점검, 교체 및 고장, 통신두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			‘사이트’는 제5조 1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인해 발생한 회원 또는 제3자가 입은 손해에 대하여 배상합니다. 단, ‘사이트’ 및 ‘회사’의 고의 또는 과실이 없음을 입증하는 경우에는 배상책임이 없습니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			사업종목의 전환, 사업포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 약관 제8조에 정한 방법으로 회원에게 통지하고 회원이 이로 인해 손해를 입은 경우에는 당초 ‘사이트’ 및 ‘회사’가 제시한 조건에 따라 회원에게 보상합니다.
  		</p>
  	</li>
  </ol>

  <h3 class="ui header">제6조(회원가입)</h3>

  <ol class="ui list">
  	<li>
  		<p>
  			회원은 ‘사이트’가 정한 가입양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			‘사이트’는 제1항과 같이 회원가입을 신청한 회원 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
  		</p>
  		<ol>
  			<li>
  				<p>
  					가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우 또는 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서, ‘사이트’의 회원 재가입 승낙을 얻은 경우는 예외로 합니다.
  				</p>
  			</li>
  			<li>
  				<p>
  					등록내용에 허위, 기재누락, 오기가 있는 경우
  				</p>
  			</li>
  			<li>
  				<p>
  					법인정보를 이용하여 법인명의로 등록하는 경우
  				</p>
  			</li>
  			<li>
  				<p>
  					기타 회원등록이 ‘사이트’의 기술 및 정책상 현저히 지장이 있다고 판단되는 경우
  				</p>
  			</li>
  			<li>
  				<p>
  					기타 회원등록이 ‘사이트’의 기술 및 정책상 현저히 지장이 있다고 판단되는 경우
  				</p>
  			</li>
  		</ol>
  	</li>
  	<li>
  		<p>회원가입 성립시기는 ‘사이트’의 회원가입 승인이 회원에게 도달한 시점으로 합니다.</p>
  	</li>
  	<li>
  		<p>회원은 가입 시, 기입한 회원정보에 변경이 있는 경우, 즉시 전자우편이나 기타 방법으로 ‘사이트’ 또는 ‘회사’에 그 변경사항을 알려야 합니다.</p>
  	</li>
  	<li>	
  		<p>회원가입 정보를 받은 경우일지라도 약관 제6조 제2항 각 항목에 해당될 시에는 회원가입이 승인되지 않은 것으로 합니다.</p>
  	</li>
  </ol>

  <h3 class="ui header">제7조(회원탈퇴 및 자격상실 등)</h3>
	<ol class="ui list">
  	<li>
  		<p>
  			회원은 ‘사이트’에서 언제든지 회원탈퇴를 요청할 수 있으며, ‘사이트’ 또는 ‘회사’는 제2항에 해당 사유가 없는 경우 즉시 회원탈퇴를 처리합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			단, 회원이 신청한 구매대행 서비스를 비롯한 기타 서비스의 제공 및 정산이 완료되지 않았을 경우에는 해당 절차가 완료된 후 회원탈퇴를 처리합니다.
  		</p>
  	</li>
  	<li>
  		<p>
  			회원이 다음 각 호의 사유에 해당하는 경우, ‘사이트’는 회원자격을 제한 또는 정지시킬 수 있습니다.
  		</p>
  		<ol>
  			<li>
  				<p>가입신청 내역 및 서비스 신청 내역을 허위로 작성한 경우</p>
  			</li>
  			<li>
  				<p>‘사이트’ 이용과 관련하여 서비스요금 미납 및 회원이 부담하는 채무를 기일 내에 이행하지 않는 경우</p>
  			</li>
  			<li>
  				<p>다른 사람의 ‘사이트’ 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 행위를 한 경우</p>
  			</li>
  			<li>
  				<p>타 회원에 대한 비방 및 욕설, 기타 이용에 방해가 되는 행위를 한 경우</p>
  			</li>
  			<li>
  				<p>회원이 서비스 신청 때 기재한 주소 및 연락처의 오기 및 회원 귀책 사유로 인한 소재불명으로 ‘사이트’ 및 ‘회사’가 회원에게 통지 또는 연락을 할 수 없다고 판단되는 경우</p>
  			</li>
  			<li>
  				<p>‘사이트’를 이용하여 관련 법령의 위반, 약관 금지행위를 행한 경우</p>
  			</li>
  		</ol>
  	</li>
  	<li>
  		<p>‘사이트’ 및 ‘회사’는 다음 각 호의 경우 회원자격을 상실 시킬 수 있습니다.</p>
  		<ol>
  			<li>
  				<p>약관 제7조 3항에 의해 회원자격이 제한 또는 정지된 이후, 동일 행위의 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 않는 경우</p>
  			</li>
  			<li>
  				<p>회원이 구매한 물품에 대한 서비스 요금(반품 시 반품비용 포함)의 결제를 30일 이내에 이행하지 않는 경우</p>
  			</li>
  			<li>
  				<p>회원이 위법, 불법 혹은 부정한 목적으로 본 ‘사이트’를 사용하였다고 객관적인 자료에 의해 판단되었을 경우</p>
  			</li>
  		</ol>
  	</li>
  	<li>
  		<p>
  			‘사이트’ 및 ‘회사’가 회원 자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 가입 시 기재한 이메일을 통해 통지하고, 말소 전에 최소 30일 이상의 기간을 정하여 소명기회를 부여합니다. 단, 회원 소재불명 또는 이메일을 통한 통지 미확인으로 인해 소명 기회 제공이 불가능한 경우는 ‘사이트’ 및 ‘회사’의 판단으로 회원등록을 말소할 수 있습니다.
  		</p>
  	</li>
  </ol>

  <h3 class="ui header">제8조(회원에 대한 통지)</h3>
	<ol class="ui list">
		<li>
			<p>‘사이트’가 회원에 대한 통지를 하는 경우, 회원이 ‘사이트’ 가입에 사용한 전자우편주소(이메일)을 통하여 할 수 있습니다.</p>
		</li>
		<li>
			<p>
				‘사이트’는 불특정 다수 회원에 대한 통지를 하는 경우, 1주일 이상 ‘사이트’의 전면 페이지 또는 지정 연결화면에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대해서 개별통지를 합니다.
			</p>
		</li>
	</ol>

	<h3 class="ui header">제9조(계약의 성립)</h3>
	<ol class="ui list">
		<li>
			<p>‘사이트’ 및 ‘회사’가 제공하는 서비스와 관련하여 회원과 아래 절차를 통해 구매대행(결제 및 배송 대행 포함)계약을 체결합니다.</p>
			<ol>
				<li>
					<p>
						회원이 ‘사이트’내에 전시되어 있는 상품에 대하여 구매대행 서비스에 따르는 비용결제를 하면 ‘사이트’ 및 ‘회사’는 구매대행 서비스 신청으로 이를 확인하고 결제확인 메일의 송부 또는 ‘사이트’내의 개인 관리화면(마이페이지)에서 결제가 완료됐음을 알리는 것으로 구매대행 서비스 계약이 성립됩니다.
					</p>
				</li>
				<li>
					<p>
						‘사이트’와 회원의 계약성립은 해외 판매사업자 및 해외 사이트에서의 구매 및 결제, 국내 수취처 인도까지의 전 과정을 ‘사이트’ 및 ‘회사’에 일임하였음을 의미합니다.
					</p>
				</li>
				<li>
					<p>
						‘사이트’는 회원의 구매대행계약 요청에 대해 다음 각 호에 해당하면 승낙하지 않을 수 있습니다.
					</p>
					<ol>
						<li>
							<p>신청내용에 허위 및 기재누락이 있는 경우</p>
						</li>
						<li>
							<p>회원이 관련 법령 및 약관에서 금지하는 재화에 대한 구매대행 요청을 하는 경우</p>
						</li>
						<li>
							<p>구매대행신청을 승낙하는 것이 ‘사이트’ 및 ‘회사’의 기술 및 정책상 지장이 있다고 판단하는 경우</p>
						</li>
						<li>
							<p>환율 및 품절, 기타 해외 현지 사정의 변동으로 인해 구매대행 서비스 요금의 초과발생으로 서비스 제공이 어려운 경우</p>
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>

	<h3 class="ui header">제10조(서비스 대상물품)</h3>
	<ol class="ui list">
		<li>
			<p>
				‘사이트’는 회원이 자가 사용의 목적으로 구매하는 경우에만 구매대행서비스를 제공하고 있습니다. 아래의 각 호에 해당하는 경우 고객의 동의를 구한 후 한국으로 발송하거나 해당 발송자에게 반송할 수 있으며, 회원 귀책사유(소재 불분명 또는 오기재)로 인해 물품이 반송될 경우 이를 회원에게 통보하며, 이로 인해 발생하는 소요비용은 회원에게 청구하거나, ‘사이트’ 및 ‘회사’가 임의대로 물품을 처리하여 충당할 수 있습니다.
			</p>
			<ol>
				<li>
					<p>
						동물, 금.은괴, 화폐, 의약품, 무기류, 인체의 일부, 포르노그래피, 정밀금속, 석재류, 냉장보관물품, 냉동 또는 냉장을 요하는 물품 및 폭발물, 가연성 위험물 등
					</p>
				</li>
				<li>
					<p>수출입 불가, 항공운송 불가 품목일 경우</p>
				</li>
				<li>
					<p>송장(invoice) 부실기재, 포장불량 등으로 본 약관에 따른 서비스를 제공하기에 적절하지 않다고 판단되는 경우</p>
				</li>
				<li>
					<p>기타 관련 법령에 의하여 수출입이 제한되는 물품을 대상으로 한 경우</p>
					<ol>
						<li>
							<p style="margin-left: 10px;">
								관세법 제234조에 의한 수.출입 금지품은 취급이 불가하며, 『특송물품 수입통관 사무처리에 관한 고시』에 의한 목록통관배제물품(11대물품)은 일반수입신고를 하여야 합니다.
							</p>
						</li>
						<li>
							<p style="margin-left: 10px;">관세법 제234조(수출입의 금지) 다음 각호에 해당하는 물품은 수출 또는 수입할 수 없다.</p>
							<ol>
								<li>
									<p style="margin-left: 20px;">헌법질서를 문란하게 하거나 공공의 안녕질서 또는 풍속을 해치는 서적, 간행물, 도화, 영화, 음반, 비디오, 조각 기타 이에 준하는 물품</p>
								</li>
								<li>
									<p style="margin-left: 20px;">정부의 기밀을 누설하거나 첩보활동에 사용되는 물품</p>
								</li>
								<li>
									<p style="margin-left: 20px;">화폐, 채권, 기타 유가증권의 위조품, 변조품 또는 모조품</p>
								</li>
							</ol>
						</li>
            <li>
              <p style="margin-left: 10px;">목록통관 배재대상물품</p>
              <ol>
                <li><p style="margin-left: 20px;">의약품</p></li>
                <li><p style="margin-left: 20px;">한약재</p></li>
                <li><p style="margin-left: 20px;">야생동물 관련제품</p></li>
                <li><p style="margin-left: 20px;">농림축산물, 수산물 등 검역대상물품</p></li>
                <li><p style="margin-left: 20px;">건강기능식품</p></li>
                <li><p style="margin-left: 20px;">지적재산권 위반 의심물품</p></li>
                <li><p style="margin-left: 20px;">식품류, 과자류</p></li>
                <li><p style="margin-left: 20px;">화장품(기능성화장품, 태반함유화장품, 스테로이드제함유 화장품 및 성분미상 등 유해화장품에 한함)</p></li>
                <li><p style="margin-left: 20px;">『전자상거래물품 등의 특별통관절차에 관한 고시』제3-3조에 따라 특별통관대상업체로 지정되지 아니한 전자상거래업체가 수입하는 물품</p></li>
                <li><p style="margin-left: 20px;">통관목록 중 품명, 규격, 수량, 가격 등이 부정확하게 기재된 물품</p></li>
                <li><p style="margin-left: 20px;">그 밖에 법 제226조에 따른 세관장확인대상물품 등 목록통관이 타당하지 아니하다고 세관장이 인정하는 물품</p></li>
              </ol>
            </li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>

  <h3 class="ui header">제11조(지급방법)</h3>
  <ol class="ui list">
    <li>
      <p>‘사이트’를 통한 구매대행서비스 이용에 대한 대금지급방법은 다음 각 호의 방법 중 택할 수 있습니다.</p>
    </li>
    <ol>
      <li><p>신용카드 결제</p></li>
      <li><p>온라인 무통장 입금</p></li>
      <li><p>적립금 및 회사가 정하는 마일리지</p></li>
      <li><p>기타 ‘사이트’ 및 ‘회사’가 인정하는 결제수단</p></li>
    </ol>
  </ol>

  <h3 class="ui header">제12조(수신확인통지, 배송신청 변경 및 취소)</h3>
  <ol class="ui list">
    <li><p>‘사이트’는 회원의 구매대행 서비스 신청이 있는 경우 회원에게 수신확인통지를 합니다.</p></li>
    <li><p>수신확인 통지를 확인한 회원은 의사표시의 불일치 등이 있는 경우에는 수신확인 통지를 받은 후 즉시 배송신청 변경 및 취소를 요청할 수 있습니다. 단, 결제가 완료된 후 해외결제가 기 처리된 이후에는 ‘사이트’ 및 ‘회사’가 지정한 절차 및 비용에 대해 정산한 후 변경 및 취소가 가능합니다.</p></li>
    <li><p>‘사이트’ 및 ‘회사’는 구매대행서비스를 신청 받은 물품이 제10조 각호에 해당하는 경우에는 해당 물품에 대한 구매대행서비스 계약을 해지할 수 있으며, 이 경우 물품의 반송 등 사후조치에 소요되는 일체의 비용은 회원의 부담으로 합니다.</p></li>
  </ol>

  <h3 class="ui header">제13조(서비스 별 요금 결제, 재화 등의 공급 및 보관)</h3>
  <ol class="ui list">
    <li><p>‘사이트’는 구매대행서비스를 제공하고 있으며, 이는 결제대행과 배송대행의 서비스 형태로 나뉘어 집니다. 구매대행서비스는 제11조 각 항의 형태로 해당금액을 결제해야 합니다.</p></li>

    <ol>
      <li>
        <p>결제대행 서비스</p>
        <p>해외사용이 가능한 기명식 법인신용카드 및 해외송금 등을 통하여 해당 상품을 판매하는 해외 인터넷 쇼핑몰 등에서 회원을 대신하여 구매하는 서비스를 의미합니다. ‘사이트’ 및 ‘회사’는 결제가격에 해외 수입û구매 과정에서 발생하는 관û부가세는 구매대행 용역서비스 비용에 포함하지 않고 있습니다. 관û부가세가 발생하는 경우, 회원이 물품수령 시, 또는 해당 기관으로부터의 납세 요청에 개별적으로 납부하게 됩니다. 납부를 하지 않으면, ‘사이트’ 및 ‘회사’의 서비스와 상관없이 관련 법령에 의해 물품을 수령할 수 없습니다.</p>
      </li>
      <li>
        <p>배송대행 서비스</p>
        <p>회원이 ‘사이트’를 통해 구매대행 서비스를 신청하면 ‘회사’가 신청을 접수, 대행하여 해외 인터넷 쇼핑몰 및 사업자를 통해 구매한 물품을 해당 지역(외국 내) 물류센터로 배송 요청합니다. 이를 국제운송 및 수입통관을 거쳐 회원이 지정하는 국내 수취 주소로 물품을 수령할 수 있도록 하는 서비스를 의미합니다.</p>
      </li>
      <li>
        <p>‘사이트’에서 각 상품에 책정된 가격은 해당 상품의 판매가격이 아닌 상품결제, 외국 내 배송료, 물류창고 보관 및 수수료, 국제운송료, 대행수수료가 포함된 구매대행서비스 대행 비용입니다.</p>
      </li>
      <li>
        <p>회원이 복수 상품의 구매대행서비스를 신청했을 경우 대금 결제단위를 기준으로 하여 포장하여 배송함을 원칙으로 하며, 구매대행 신청 상품의 공급자가 다를 경우, 해당 지역 물류센터에 도착하는 순서대로 배송할 수 있습니다. 또한 의도적으로 관세 및 제.세금 절감을 위한 조작(분할 재포장 등)은 하지 않습니다.</p>
      </li>
    </ol>
  </ol>

  <h3 class="ui header">제14조(운송 및 통관)</h3>
  <ol class="ui list">
    <li>
      <p>‘사이트’ 및 ‘회사’는 운송계약 대행자로서 운송제휴사가 해외물류센터에서부터 대한민국까지의 항공운송, 수입통관, 회원이 지정한 수취처까지의 국내 배송 용역서비스를 제공합니다. 해외물류센터에서 회원이 지정한 수취처까지 운송구간에서 파손 등 물품 하자가 발생하였을 경우, 그리고 회원이 별도의 보험에 가입하지 않았을 경우에는 물품 가격에 상관없이 US$100까지 보상합니다.</p>
    </li>
    <li>
      <p>‘사이트’에서 제공하는 구매대행서비스 가능 상품은 국내 재고를 보유하고 있지 않습니다.</p>
    </li>
    <li>
      <p>과세 가격이 15만원 이하인 경우만 면세되며, 15만원이 초과된 경우에는 과세처리 됩니다. 해외 공급자가 동일하거나 다른 경우에는 합산하여 과세하며 나눔 배송의 경우에는 합산과세처리(사후심사 추가징수 가능)됩니다. ‘사이트’ 및 ‘회사’는 구매대행서비스 비용에 관세 및 부가세를 포함하고 있지 않으므로 가격 또는 부피, 무게에 따른 관세 및 부가세는 회원이 직접 납부합니다. 관세 및 부가세의 대납을 원하시는 회원은 ‘사이트’에 게재된 연락처로 문의하셔서 안내를 받으세요.</p>
    </li>
  </ol>

  <h3 class="ui header">제15조(취소, 환불, 반품, 교환 등)</h3>
  <ol class="ui list">
    <li>
      <p>취소</p>
      <ol>
      <li>
        <p>회원은 구매대행서비스 신청을 한 이후 ‘사이트’에서 제공하는 개인관리페이지(마이페이지)에서의 주문/배송 항목에서 해외쇼핑몰 주문이 완료되지 전에만 취소가 가능합니다. 해외주문접수 및 구매가 완료된 이후에는 취소 요청 시, 해외 쇼핑몰 반송처리를 위한 소정의 취소 수수료가 부과됩니다.</p>
      </li>
      <li>
        <p>취소 수수료를 납부하고 해외주문 접수 및 구매가 완료된 상품의 취소를 원하는 경우, ‘사이트’에 게재된 고객센터를 통해 문의/접수한 후 절차에 따라 진행합니다.</p>
      </li>
      <li>
        <p>취소 수수료는 현지 배송료, 현지 물류센터 수수료, 해외쇼핑몰 반송 배송료가 포함된 금액입니다.</p>
      </li>
    </ol>
    </li>
    
    <li>
      <p>환불</p>
      <ol>
        <li>
          <p>회원의 취소 및 반품에 의해 환불이 발생한 경우, 발생일로부터 3일(영업기준일)이내에 처리되는 것을 기준으로 합니다.</p>
        </li>
        <<li>
          <p>‘사이트’ 및 ‘회사’의 책임이 없는 취소 및 반품에 대해서는 해당 절차에 따르는 수수료를 제외한 금액을 지정한 환불계좌를 통해 환불처리합니다.</p>
        </li>
        <li>
          <p>특별한 이유(환불계좌 누락, 연락두절 등의 사유 제외)없이 환불을 지연한 경우에는 [은행법]에 따른 금융기관이 적용하는 연체금리 등 경제사정을 고려하여 대통령령으로 정하는 이율을 곱하여 산정된 지연이자를 지급합니다.</p>
        </li>
      </ol>

    </li>
    <li>
      <p>반품</p>
      <ol>
        <li>
          <p>회원이 주문한 물품이 도착하여 한국으로 발송되기 전에 회원의 해당 물품에 대한 반품요청이 발생한 경우 물품은 회원의 요청에 따라 반송되며 이를 위해 소요되는 일체의 비용은 회원이 부담합니다.</p>
        </li>
        <li>
          <p>물품이 한국으로 발송된 시점 이후에 중도해지 요청이 접수될 경우 원 구매대행계약의 효력은 유효하며 해당 물품을 국내의 수취처까지 배송완료함으로써 원 구매대행계약에 대한 이행이 완료되게 되며, ‘사이트’ 및 ‘회사’는 중도해지 요청에 의해 비용일체를 회원이 부담하는 것을 전제로 하여 반송을 대행할 수 있습니다.</p>
        </li>
        <li>
          <p>유료반품 처리시에는 일반적인 상품의 경우 왕복운송료, 수수료가 포함된 반품수수료를 회원이 부담합니다.</p>
        </li>
        <li>
          <p>부피 또는 무게가 큰 제품의 경우 반품비용이 추가될 수 있습니다.</p>
        </li>
        <li>
          <p>반품은 배송이 완료된 시점으로부터 7일 이내에 가능합니다.</p>
        </li>
        <li>
          <p>상품을 사용했거나, 세탁, 파손, 오염했을 경우 반품이 불가능합니다.</p>
        </li>
        <li>
          <p>상품하자, 오배송으로 인한 반품은 별도의 비용이 청구되지 않습니다.</p>
        </li>
        <li>
          <p>아래의 각 항에 해당하는 경우에는 유료반품에 해당합니다.</p>
          <ol>
            <li><p style="margin-left: 10px;">회원의 착각으로 인한 반품(사이즈, 색상, 질감, 크기 등)</p></li>
            <li><p style="margin-left: 10px;">약간의 스크래치, 모니터 해상도에 따른 색상차이, 실밥, 제품의 퀄리티, 가죽의 패턴(무늬)차이, 배송상태(폴리백 없음, 박스 구겨짐 등), 신발접착제 등에 의한 반품</p></li>
            <li><p style="margin-left: 10px;">국내 백화점 및 매장 등에서 발행하는 보증서나 개런티 카드 미 발행 등과 관련한 반품</p></li>
            <li><p style="margin-left: 10px;">단추, 액세서리 부속품, 스티치 부분, 로고 부착위치, 태그 부착위치 등이 제공된 이미지와 다른 이유로의 반품</p></li>
            <li><p style="margin-left: 10px;">수령한 상품의 실측 사이즈가 다르다는 이유로의 반품</p></li>
            <li><p style="margin-left: 10px;">기타 ‘사이트’나 ‘회사’에 객관적인 책임사유가 있지 않은 이유로의 반품</p></li>
          </ol>
        </li>
        <li>
          <p>아래의 각 항에 해당하는 경우에는 반품이 불가능합니다.</p>
          <ol>
            <li><p style="margin-left: 10px;">물품 배송완료 후 7일이 경과한 상품</p></li>
            <li><p style="margin-left: 10px;">회원의 부주의 또는 고의로 상품을 훼손한 경우</p></li>
            <li><p style="margin-left: 10px;">제품을 사용한 흔적이 있거나 상품 라벨이나 증명 등이 분리제거 및 훼손 된 경우</p></li>
            <li><p style="margin-left: 10px;">LEATHER(가죽)로 기재되어 있는 경우에의 천연가죽 및 합성피혁 상품인 이유로의 반품(해외의 경우 천연가죽, 합성피혁도 LEATHER로 표기됨)</p></li>
          </ol>
        </li>
        <li>
          <p>‘사이트’ 및 ‘회사’는 문의 및 협의 없이 개별적인 임의 반품 및 반송은 수취 거부합니다. 회원은 구매대행서비스 신청 시, ‘사이트’에서 제공하는 주의사항을 숙지하고 안내한 반품절차에 따라 반품을 진행해야 합니다. 반품에 대한 문의사항은 ‘사이트’ 전면에 게재된 고객센터로 연락하여 담당자의 안내를 받을 수 있습니다.</p>
        </li>
      </ol>
    </li>
    <li>
      <p>교환</p>
      <p>‘사이트’ 및 ‘회사’는 구매대행서비스 계약을 통해 회원에게 전달된 상품에 대해 국내에 재고를 보유하고 있지 않기 때문에 일체의 교환서비스가 불가능합니다.</p>
    </li>

  </ol>

  <h3 class="ui header">제16조(차액정산)</h3>
  <ol class="ui list">
    <li>
      <p>‘사이트’에서 제공하는 구매대행서비스는 구매 당시 고객 결제 시점 금액과 구매대행 시, 비용차이가 발생하는 경우가 있습니다. 회원의 결제시점 금액과 실 구매대행 물품가격 비교 시, 해당 시점 가격이 하향 조정되어 차액금액이 10% 이상 발생한 경우 차액을 회원은 환불 받을 수 있습니다.</p>
    </li>
    <li>
      <p>회원이 결제한 시점 금액이 관세율표 개정, 세번 분류 변경, 전산시스템 오류, 환율 차이 등으로 구매대행 시 발생한 실제 비용과 비교 시, 10% 이상 차액이 발생한 경우에 회원은 환불을 받을 수 있습니다.</p>
    </li>
    <li>
      <p>차액신청은 구매대행서비스의 진행이 모두 완료된 시점에서 주문 단위 별로만 신청 가능합니다.</p>
    </li>
    <li>
      <p>다음과 같은 경우에는 차액정산이 불가능합니다.</p>
      <ol>
        <li>
          <p>차액 신청 접수일이 물품 인수 후 20일(토, 일 포함) 경과한 경우</p>
        </li>
        <li>
          <p>차액 합계가 결제 시점 금액의 ±10% 오차 범위를 초과하지 않는 경우</p>
        </li>
      </ol>
    </li>
    <li>
      <p>계약을 진행한 회원이 차액 신청을 원하는 경우, ‘사이트’에 게재된 고객센터 연락처를 통해 차액정산 대상여부, 절차 등을 안내 받으신 후 환불계좌, 은행명, 예금주 등 필요 정보를 ‘사이트’ 운영 담당자를 통해 제공한 후 차액을 정산 받을 수 있습니다.</p>
    </li>
  </ol>

  <h3 class="ui header">제17조(긴급조치)</h3>
  <ol class="ui list">
    <li>
      <p>회원이 위법, 불법 또는 부당한 목적을 위해 ‘사이트’를 이용한다고 ‘사이트’ 및 ‘회사’가 판단하는 경우, ‘사이트’ 및 ‘회사’는 관련 물품의 수취나 배송을 거절한 권리를 가집니다.</p>
    </li>
    <li>
      <p>관할 관청 또는 당국에 의해 ‘사이트’에서 서비스되는 물품에 대해 제제를 받았을 경우, ‘회사’는 해당물품을 관할관청 또는 당국에 인도하는 것을 원칙으로 합니다. 이로 인하여 회원이 손해를 입었다고 할지라도 손해에 대해서 ‘사이트’ 및 ‘회사’는 일체의 책임을 지지 않으며, 또한 회원은 해당 물품에 대한 서비스 이용요금 및 관련 비용 등의 지급의무를 면하지 아니합니다.</p>
    </li>
    <li>
      <p>‘사이트’에서 제공하는 구매대행 서비스의 배송과정에서 물품에 악취, 액체누수 및 그 외의 이상이 있다고 인정됐을 경우, 기타 긴급하다고 판단되는 정당한 이유가 있다고 인정됐을 경우, ‘사이트’ 및 ‘회사’는 회원에게 해당 사실을 통지하고 해당 물품을 별도 장소로 이동.보관하는 등 임시조치를 취할 수 있습니다. 이로 인해 발생하는 추가비용은 회원이 부담하여야 하며 또한 회원에게 손해가 발생하더라도 해당 손해에 대해서 ‘사이트’ 및 ‘회사’는 일체의 책임을 지지 않습니다.</p>
    </li>
  </ol>

  <h3 class="ui header">제18조(개인정보보호)</h3>
  <ol class="ui list">
    <li>
      <p>‘사이트’에서 회원의 정보 수집 시, 구매대행서비스 계약과 이행에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수 사항으로 하며 그 외 사항은 선택사항으로 합니다.</p>
      <ol>
        <li><p>성명</p></li>
        <li><p>주민등록번호(회원의 경우) 또는 외국인등록번호</p></li>
        <li><p>주소</p></li>
        <li><p>전화번호 및 이동전화번호</p></li>
        <li><p>희망ID(회원의 경우)</p></li>
        <li><p>비밀번호(회원의 경우)</p></li>
        <li><p>전자우편주소</p></li>
      </ol>
    </li>
    <li>
      <p>‘사이트’는 회원의 개인 식별이 가능한 개인정보를 수집할 때에는 반드시 해당 회원의 동의를 받습니다.</p>
    </li>
    <li>
      <p>회원의 개인정보는 회원의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 ‘회사’가 집니다. 단, 다음의 경우에는 예외로 합니다.</p>
      <ol>
        <li><p>배송 업무 상, 배송업체에게 배송에 필요한 최소한의 회원 정보(성명, 주소, 전화번호)를 알려주는 경우</p></li>
        <li><p>통계작성, 학술연구, 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</p></li>
        <li><p>재화 등의 거래에 따른 대금정산을 위하여 필요한 경우</p></li>
        <li><p>도용방지를 위하여 본인확인에 필요한 경우</p></li>
        <li><p>법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우</p></li>
      </ol>
    </li>
    <li>
      <p>‘사이트’ 및 ‘회사’가 제2항, 제3항에 의해 회원의 동의를 받아야 하는 경우에는 개인정보관리책임자의 신원(소속, 성명 및 전화번호, 기타연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은 자, 제공목적 및 제공할 정보의 내용) 등 정보통신망이용촉진 등에 관한 법률 제22조 제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 회원은 언제든지 이 동의를 철회할 수 있습니다.</p>
    </li>
    <li>
      <p>회원은 언제든지 ‘사이트’ 및 ‘회사’가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 ‘사이트’ 및 ‘회사’는 이에 대해 지체 없이 필요한 조치를 취할 의무가 있습니다. 회원이 오류의 정정을 요구한 경우에는 ‘사이트’ 및 ‘회사’는 그 오류를 정정할 때까지 해당 개인정보를 이용하지 않습니다.</p>
    </li>
    <li>
      <p>‘사이트’ 및 ‘회사’는 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 회원의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 회원의 손해에 대하여 모든 책임을 집니다.</p>
    </li>
    <li>
      <p>‘사이트’ 및 ‘회사’ 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 해당 개인정보를 지체 없이 파기합니다.</p>
    </li>
    <li>
      <p>‘사이트’ 및 ‘회사’는 회원에게 ‘사이트’가 제공하는 다양한 서비스의 질적 향상 및 신규 서비스 등을 위하여 회원의 개인식별이 가능한 개인정보를 회원의 동의를 득하여 이를 수집하여 판촉활동(이메일 광고, 모바일광고, 텔레마케팅 광고 등)에 이용할 수 있습니다.</p>
    </li>
    <li>
      <p>‘사이트’ 및 ‘회사’는 회원에 대하여 서비스의 질을 향상시키거나 상품의 안내를 위한 ‘회사’의 사업제휴(상품 데이터베이스 공유, 마케팅서비스, 이메일 발송 등)를 위한 경우에 회원의 정보를 동의 하에 이용할 수 있습니다.</p>
    </li>
  </ol>

  <h3 class="ui header">제19조(회사의 의무)</h3>
  <ol class="ui list">
    <li><p>‘회사’는 법령과 본 약관이 금지하거나 반하는 행위를 하지 않으며 약관이 정하는 바에 따라 지속적이고 안정적으로 재화û용역을 제공하는데 최선을 다해야 합니다.</p></li>
    <li><p>‘회사’는 회원이 안전하게 ‘사이트’를 이용할 수 있도록 회원의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.</p></li>
    <li><p>‘회사’는 상품이나 용역에 대하여 『표시û광고의 공정화에 관한 법률』제3조 소정의 부당한 표시.광고 행위를 함으로써 회원이 손해를 입은 때에는 이를 배상할 책임이 있습니다.</p></li>
    <li><p>‘회사’는 회원이 동의하지 않는 영리목적의 광고 전자우편을 발송하지 않습니다.</p></li>
  </ol>

  <h3 class="ui header">제20조(회원의 ID 및 비밀번호에 대한 의무)</h3>
  <ol class="ui list">
    <li><p>제19조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.</p></li>
    <li><p>회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.</p></li>
    <li><p>회원이 자신의 ID 및 비밀번호를 도난 당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 ‘회사’에 통보하고 안내에 따라야 합니다.</p></li>
  </ol>

  <h3 class="ui header">제21조(회원의 의무)</h3>
  <ol class="ui list">
    <li><p>회원은 다음 각 호의 행위를 하여서는 안됩니다.</p<</li>
    <ol>
      <li><p>신청 또는 변경 시 허위 내용의 등록</p></li>
      <li><p>타인의 정보 도용</p></li>
      <li><p>‘사이트’에 게시된 정보의 변경</p></li>
      <li><p>‘사이트’ 및 ‘회사’가 정한 정보 이외의 정보(컴퓨터 프로그램, 불법 코드, 해킹) 등의 송신 또는 게시</p></li>
      <li><p>‘사이트’의 저작권 등 지적재산권에 대한 침해</p></li>
      <li><p>‘사이트’ 상에서 제3자의 명예를 손상하거나 업무를 방해하는 행위</p></li>
      <li><p>외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 ‘사이트’에 공개 또는 게시하는 행위</p></li>
      <li><p>타인을 비방하는 내용물(글, 이미지 등)을 게시하는 행위(단 이 경우에 ‘회사’는 임의적으로 게시물을 삭제할 수 있습니다.)</p></li>
    </ol>
  </ol>

  <h3 class="ui header">제22조(‘상위몰’과 "하위몰" 간의 관계)</h3>
  <ol class="ui list">
    <li><p>하이퍼링크(하이퍼링크 대상에는 문자, 그림, 동영상 등이 포함됨)방식 등으로 연결된 경우, 하이퍼링크를 포함하고 있는 웹사이트를 ‘상위몰’이라고 하고 하이퍼링크에 의해 연결된 피 연결 웹사이트를 ‘하위몰’이라고 합니다.</p></li>
    <li><p>상위몰은 하위몰이 독자적으로 제공하는 정보 및 회원거래에 대해서는 보증책임을 지지 않으며, 상위몰의 초기 화면 또는 연결 페이지, 팝업화면으로 명시한 경우에는 그 거래에 대한 보증책임을 지지 않습니다.</p></li>
  </ol>

  <h3 class="ui header">제23조(저작권의 귀속 및 이용제한)</h3>
  <ol class="ui list">
    <li><p>‘사이트’ 및 ‘회사’가 작성한 저작물에 대한 저작권 및 기타 지적재산권은 ‘회사’에 귀속됩니다.</p></li>
    <li><p>회원은 ‘사이트’를 이용함으로써 얻은 정보 중 ‘회사’에 지적재산권이 귀속된 정보를 ‘회사’의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 제공 또는 이용하게 해서는 안됩니다.</p></li>
    <li><p>‘사이트’ 및 ‘회사’는 약정에 따라 회원에게 귀속된 저작권을 사용하는 경우 해당 회원에게 통보하여야 합니다.</p></li>
  </ol>

  <h3 class="ui header">제24조(분쟁해결)</h3>
  <ol class="ui list">
    <li><p>‘회사’는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리 하기 위하여 피해보상 처리 기구 또는 담당자를 지정.운영합니다.</p></li>
    <li><p>‘회사’는 회원으로부터 제출되는 불만사항 및 의견을 우선적으로 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 통보해야 합니다.</p></li>
    <li><p>‘회사’와 회원간 발생한 분쟁은 전자거래기본법 제28조 및 동 시행령 제15조에 의하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다.</p></li>
  </ol>

  <h3 class="ui header">제25조(재판권 및 준거법)</h3>
  <ol class="ui list">
    <li><p>‘회사’와 회원간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 회원의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속 관할로 합니다. 다만, 제소 당시 회원의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.</p></li>
    <li><p>‘회사’와 회원간에 제기된 전자상거래 소송에는 대한민국 법을 적용합니다.</p></li>
  </ol>

  <div>
    <p>본 약관은 2014년 7월 1일부터 시행합니다.</p>
    <p>※ 보다 자세한 안내를 원하시면 Quusome(큐썸) 고객지원센터로 연락주세요.</p>
    <p>전화번호 : 070-4154-0679</p>
    <p>E-mail : admin@beanz9.com</p>
  </div>

</div>

