
<h2 class="ui header">
  <i class="question icon"></i>
  <div class="content">
    자주 묻는 질문(FAQ)
    <div class="sub header">자주 문의되는 질문들 입니다.</div>
  </div>
</h2>

<div class="ui very relaxed divided list" style="width: 900px;">
  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>회원으로 가입해야만 상품을 구매할 수 있나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	큐썸(Quusome.com)은 고객님들의 편의와 함께 콜렉션(Collection) 서비스 등을 통해 보다 다양한 서비스를 제공해 드리기 위해 회원제로 운영하고 있습니다. E-메일로 간단히 가입이 가능하며, 고객님의 개인정보는 상품구매와 컬렉션 수익금 환급 시에만 기재하여 주시면 됩니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>비밀번호를 잊었을 때에는 어떻게 하나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	비밀번호 분실 시, 화면 상단에 있는 로그인 페이지에서 ‘비밀번호 재발급 받기’ 를 클릭하시면 가입할 때 사용하신 이메일 주소로 새로운 비밀번호를 설정하실 수 있습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>결제방법으로는 어떤 것들이 있나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	큐썸(Quusome.com)은 카드결제를 통한 결제를 지원하고 있습니다. 무통장 및 계좌이체를 통한 결제는 준비 중입니다. 고객님의 편의를 위한 보다 나은 서비스를 위해 노력하겠습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>신용카드로 할부 구매가 가능한가요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	5만원 이상 구입하실 경우 할부 구매가 가능합니다. 무이자 행사기간이 아닌 경우에는 카드 할부 수수료가 할부 개월 수에 따라 부가되며, 특정 카드사의 무이자 할부 행사에 대해서는 홈페이지 또는 메일을 통해 공지하여 드립니다. 공지사항을 확인하시고 주문 및 결제 하세요.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>주문 후 결제 진행사항은 어떻게 알 수 있나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	로그인 하신 후에 [회원정보 / 마이페이지 ]에서 주문정보를 클릭하시면 주문 및 결제 사항을 조회 하실 수 있습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>적립금이 적립되는 %와 사용방법은 어떻게 되나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	큐썸(Quusome.com)에서 상품을 구매하시면, 구매와 동시에 상품 구매액의 약 0.5~1%(상품/브랜드에 따라 차이가 있습니다.)의 금액이 적립됩니다. 적립금은 누적 금액이 10,000원 이상일 경우 상품결제에 이용하실 수 있습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>콜렉션(Collection)이 무엇인가요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	큐썸(Quusome.com)은 고객님이 구매하시지 않더라도 마음에 드는 상품을 수집(Collection)하여 ‘콜렉션 샵’을 운영할 수 있습니다. 운영하는 ‘콜렉션 샵’에서 다른 회원의 구매가 이루어질 경우 상품가격의 0.6~1%(상품/브랜드에 따라 차이가 있습니다.)의 금액을 판매파트너(Sell Partner) 수수료로 제공합니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>콜렉션 샵을 운영하여 받을 수 있는 판매파트너 수수료는 어떻게 받나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	콜렉션 샵을 통해 적립된 판매파트너 수수료는 누적 금액 10,000원 이상일 경우 [회원정보-내콜렉션]에서 ‘인출요청’을 통해 현금으로 수령이 가능합니다. 입금 받으실 계좌를 입력하신 후 요청서를 보내주시면 3일(영업일 기준) 이내에 지정 계좌로 보내 드립니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>배송가능 지역과 배송료, 배송기간은 어떻게 되나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	배송은 국내에 한하여 전국 어느 곳이나 가능합니다. 단 산간 도서지방은 배송비용이 추가로 들 수 있습니다. 배송은 택배회사를 통하여 배송됩니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>주문한 상품의 배송조회는 어떻게 알 수 있나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	배송조회는 주문/배송조회 메뉴에서 배송조회 버튼을 클릭하시면 자세한 정보를 확인하실 수 있습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>주문취소는 어떻게 해야 하나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	주문 후 결재 이전 단계에서의 취소는 회원님이 [회원정보]에서 하실 수 있습니다. 큐썸(Quusome.com)은 신속한 주문/배송을 위해 고객님의 입금을 확인 후 바로 해외사이트 주문에 들어가므로, 입금확인 된 주문은 원칙적으로 취소가 불가합니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>교환/반품/환불은 어떻게 하나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	구매하신 상품페이지 하단에 [취소/교환/반품/환불] 탭을 클릭하시면 반품절차를 비롯한 규정을 자세하게 안내해드리고 있습니다. 반품 및 반송은 담당자와의 상담 후 진행하고 있으며, 개별적인 반송은 수취거부하고 있으니 이 점 참고하시어 절차에 따라 진행해주시기를 부탁 드립니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>개인정보보호는 어떻게 이루어지나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	개인정보에 대한 정책 및 관리는 사이트 하단에 ‘개인정보보호정책’에서 확인하실 수 있습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>수입대행제품의 해외쇼핑몰 이름과 주소를 어떻게 알 수 있나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	해당 상품의 이름을 기재하여 메일을 보내주시면 신속히 답변 드리겠습니다.
      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>차액정산은 어떻게 하나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	큐썸(Quusome.com)에서 구매하신 상품의 가격은 구매 당시 결제 시점에서의 환율, 현지 세일 등 여러 요소로 인해 비용차이가 발생할 수 있습니다. 차액 신청은 배송완료 된 이후에 가능합니다.<br><br>

      	아래의 경우 비용차이에 따른 차액을 정산 받으실 수 있습니다.

      	<ul class="ui list">
      		<li>고객 결제 시점 금액과 실 수입대행 상품 가격 비교 시, 실 수입대행 가격이 하향 조정되어 과부족 금액의 차액이 발생한 경우</li>
      		<li>고객 결제 시점 금액이 관세율 표 개정, 세법 분류 변경, 전산 시스템 오류, 환율 차이 등으로 수입 대행 시 발생한 실제 비용과 비교 시 차액이 발생 된 경우</li>
      		<li>위 사항의 차액 합계가 고객 결제 시점 금액의 ± 10% 오차 범위를 초과한 경우</li>
      	</ul>

      	아래의 경우 차액환불이 불가능합니다.

      	<ul class="ui list">
      		<li>해외 사이트 주문 이후, 해외 사이트의 가격변동 및 환율 인하로 가격이 인하한 경우</li>
      		<li>차액 신청 접수 시점이 물품 인수 후 20일(토, 일, 공휴일 포함) 경과한 경우</li>
      		<li>차액 합계가 고객 결제 시점 금액의 ± 10% 오차 범위를 초과하지 않는 경우</li>
      	</ul>

      	차액 환불을 요청하신 고객 중 차액 환불 가능 대상 주문 건에 한해 지정 계좌로 환불 받으실 수 있으며, 차액 신청을 원하시는 경우에는 Quusome.com에서 제공하는 차액신청서를 작성해주시고, 환불 받으실 본인 명의 계좌번호, 은행, 예금주 등을 필히 기재 후 보내주시면 환불 가능 대상인지 안내 후 처리해 드리겠습니다.

      </div>
    </div>
  </div>

  <div class="item">
    <i class="question large icon" style="display:none; "></i>
    <div class="content">
      <a class="header" style='font-size: 14px;'>로그인이 안될 때에는 어떻게 해야 하나요?</a>
      <div class="description" style='font-size: 14px; margin-top: 10px; line-height: 150%'>
      	로그인이 안 되는 이유는 개인정보설정이 높음으로 지정되어 있는 경우가 많습니다. 인터넷 창 메뉴 내 도구‡인터넷 옵션으로 들어가셔서 개인정보설정을 보통으로 설정해주시면 로그인이 됩니다.
      </div>
    </div>
  </div>

  
</div>