<style>
p {
	line-height: 150%;
}
</style>

<h2 class="ui header">
  <i class="info icon"></i>
  <div class="content">
    큐썸 개인정보이용규정
  </div>
</h2>

<div style="width: 900px;" class="ui  segment">

  <p>
  	본 사이트는 대한민국 헌법에 보장된 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』상의 개인정보 보호규정 및 정보통신부가 제정한 『개인정보 보호지침』을 준수하고 있습니다. 그러나 일부 부도덕한 사용자의 불법행위로 인해 발생할지도 모르는 사생활 위협을 막고, 회원의 개인정보를 적극적으로 보호하며, 동시에 회원에게 보다 적절한 서비스를 제공하기 위해 다음과 같은 개인정보 보호정책을 적용하고 있습니다. 
  </p>
  <p>
  	본 개인정보 보호정책은 정부의 관련법률 및 지침의 변경과 본 사이트의 정책 변화에 따라 변경될 수 있습니다.
  </p>
  <p>
  	본 보호기준의 전문 ‘개인정보 보호정책’ 항목에서 방문 시, 언제라도 열람하실 수 있도록 하고 있으므로 방문하실 때 수시로 확인해 보시기 바랍니다.
  </p>

  <ol class="ui list">
  	<li>
  		<h5 class="ui header">총칙</h5>
  		<ol>
  			<li>
  				<p>개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.</p>
  			</li>
  			<li>
  				<p>Quusome(큐썸, 이하 ‘사이트’)을 운영하고 있는 빈즈나인(이하 ‘회사’)은 귀하의 개인정보보호를 매우 중요시하며, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보 보호지침』을 준수하고 있습니다. ‘회사’는 개인정보보호정책을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</p>
  			</li>
  			<li><p>‘회사’는 개인정보보호정책을 ‘사이트’ 첫 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</p></li>
  			<li><p>‘회사’는 개인정보보호정책의 지속적인 개선을 위하여 개인정보보호정책을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보보호정책을 개정하는 경우 버전번호 등을 부여하여 개정된 사항을 귀하께서 쉽게 알아볼 수 있도록 하고 있습니다.</p></li>
  		</ol>
  	</li>
  	<li>
  		<h5 class="ui header">개인정보의 수집범위</h5>
  		<p>‘사이트’는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. ‘사이트’의 회원제 서비스를 이용하시고자 할 경우 다음의 정보를 입력해주셔야 하며 선택항목을 입력하시지 않았다 하여 서비스 이용에 제한은 없습니다.</p>
  		<ol>
  			<li><p>회원 가입 시 수집하는 개인정보의 범위 : 이메일 주소, 희망ID, 비밀번호, 비밀번호 확인</p></li>
  			<li><p>회원 구매대행서비스 신청 시 수집하는 개인정보의 범위 : 이름, 우편번호, 주소, 휴대전화번호, 집 전화번호, 주민등록번호</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보의 수집범위</h5>
  		<p>‘사이트’는 회원가입 시, 이용약관 및 개인정보보호방침 내용에 대해 「동의함」 또는 「동의하지 않음」 선택 버튼을 클릭할 수 있는 절차를 마련하여, 「동의한다」 선택 버튼을 클릭하면 개인정보 수집 및 이용에 대해 동의한 것으로 간주합니다. 『동의하지 않음』 또는 「동의함』을 선택하지 않으면, 회원제 서비스를 이용할 수 없도록 규정하고 있습니다.</p>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보의 수집목적 및 이용목적</h5>
  		<p>‘사이트’ 및 ‘회사’는 회원님께 가장 최적화된 서비스를 제공하기 위해 다음과 같은 목적으로 개인정보를 수집하고 있습니다.</p>
  		<ol>
	  		<li><p>성명, 아이디, 비밀번호, 주민등록번호 : 회원제 서비스 이용에 따른 본인 식별절차에 이용</p></li>
	  		<li><p>이메일주소, 전화번호 : 고지사항 전달, 본인의사 확인, 불만처리 등 원활한 의사소통 경로의 확보, 새로운 서비스, 신상품, 이벤트 정보의 안내</p></li>
	  		<li><p>주소, 전화번호 : 물품 배송에 대한 정확한 배송지 확보</p></li>
	  		<li><p>그 외 선택항목 : 개인 맞춤형 서비스를 제공하기 위한 자료 등(단, 사용자의 기본 인권 침해우려가 있는 개인정보(인종, 민족, 사상, 출신지 및 본적, 정치적 성향, 범죄기록, 건강상태 등)는 수집대상이 아닙니다.</p></li>
	  	</ol>
  	</li>

  	<li>
  		<h5 class="ui header">쿠키에 의한 개인정보 수집</h5>
  		<p>쿠키란 웹사이트가 사용자의 컴퓨터 브라우저(익스플로러, 크롬, 파이어폭스 등)로 전송하는 소량의 정보입니다.</p>
  		<ol>
  			<li><p>‘사이트’는 사용자에 대한 정보를 저장하고 수시로 찾아내는 쿠키를 사용합니다.</p></li>
  			<li><p>사용자가 웹사이트에 접속을 하면 ‘사이트’의 컴퓨터는 브라우저에 있는 쿠키의 내용을 읽고, 사용자의 추가정보를 컴퓨터에서 찾아 접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다.</p></li>
  			<li><p>쿠키는 사용자의 컴퓨터는 식별하지만 사용자를 개인적으로 식별하지는 않습니다. 또한 사용자는 웹브라우저 상단에서 인터넷옵션 탭 등을 통해 쿠키를 받아들이거나, 거부할 수 있는 선택권을 가질 수 있습니다.</p></li>
  			<li><p>‘사이트’는 사용자의 편의를 위하여 쿠키를 운영하며, 쿠키를 통해 수집하는 정보는 회원ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다.</p></li>
  			<li><p>‘사이트’의 쿠키를 통해 수집한 회원ID는 개인맞춤형 정보제공, 접속빈도 분석, 사용시간 분석, 타켓마케팅 활용 등에 사용됩니다.</p></li>
  			<li><p>쿠키는 브라우저 종료 또는 로그아웃 시, 만료됩니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">목적 외 사용 및 제3자에 대한 제공 및 공유</h5>
  		<p>‘사이트’ 및 ‘회사’는 회원의 개인정보를 「개인정보의 수집목적 및 이용목적」에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 기업, 기관에 제공하지 않습니다.</p>
  		<p>아래의 경우 회원의 개인정보의 제공 및 공유를 합니다.</p>
  		<ol>
  			<li><p>사업제휴 : ‘사이트’의 서비스 질적 향상을 위한 기업 및 단체와의 제휴를 위한 개인정보의 제공 및 공유를 할 수 있으며, 이 경우 사전에 제휴회사명, 공유되는 개인정보 항목, 이유, 기간, 관리 등에 대해 전자우편 및 서면을 통한 고지와 동의를 구하는 절차를 거치게 됩니다. 회원이 동의하지 않는 경우에는 회원 개인정보를 제휴회사에 제공하거나 공유하지 않습니다. 제휴 관계에 변동사항이 있거나 제휴가 종결될 경우에도 같은 절차에 의하여 고지하거나 동의를 구합니다.</p></li>
  			<li><p>위탁처리 : 원활한 업무처리를 위해 회원 개인정보를 위탁 처리할 경우, 반드시 사전에 위탁처리 업체명과 위탁 처리되는 개인정보범위, 업무위탁 목적, 위탁처리 과정, 위탁관계 유지기간 등에 대해 상세하게 고지합니다.</p></li>
  			<li><p>매각, 인수합병 등 : ‘회사’의 권리와 의무가 완전 승계, 이전되는 경우에는 반드시 사전에 정당한 사유와 절차에 대해 고지할 것이며, 회원 개인정보에 대한 동의 철회 선택권을 부여합니다.</p></li>
  			<li><p>고지 및 동의방법은 온라인 홈페이지 초기화면의 공지사항을 통해 최소 10일 이전부터 고지 또는 이메일 등을 이용하여 1회 이상 개별고지를 원칙으로 합니다.</p></li>
  			<li>
  				<p>다음의 경우에는 예외로 합니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">관계 법령에 의하여 수사상의 목적으로 관계기관으로부터의 요구가 있을 경우</p></li>
  					<li><p style="margin-left: 10px;">통계작성, 학술연구, 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 광고주, 협력사, 연구단체 등에 제공하는 경우</p></li>
  					<li><p style="margin-left: 10px;">기타 관계법령에 정한 절차에 따른 요청이 있는 경우</p></li>
  					<li><p style="margin-left: 10px;">단, 예의사항에서도 관계법령에 의하거나 수사기관의 요청에 의해 정보를 제공한 경우에는 이를 당사자에게 고지하는 것을 원칙으로 하고 있습니다. 법률상의 근거 및 절차에 의해 부득이하게 고지를 하지 못할 수 있으며, ‘회사’는 본래의 수집목적 및 이용목적에 반하여 무분별한 정보제공을 않도록 최선을 다합니다.</p></li>
  				</ol>
  			</li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보의 열람, 정정</h5>
  		<ol>
  			<li><p>회원은 언제든지 등록되어 있는 회원 개인정보를 열람하거나 정정할 수 있습니다. 개인정보 열람 또는 정정을 하고자 할 경우에는 ‘사이트’의 『마이페이지』항목을 클릭하여 열람 또는 정정하거나, 개인정보관리책임자 및 담당자에게 서면, 전화, E-mail 등을 통해 연락하시어 안내에 따라 정정 또는 열람할 수 있습니다.</p></li>
  			<li><p>회원이 개인정보 오류에 대한 정정을 요청한 경우, 정정이 완료되기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다.</p></li>
  			<li><p>잘못된 개인정보를 제3자에게 기 제공한 경우에는 정정된 처리결과를 제3자에게 지체 없이 통지하여 정정 조치합니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보 수집, 이용, 제공에 대한 동의철회</h5>
  		<p>
  			회원가입 등을 통해 개인정보의 수집, 이용, 제공에 대해 회원이 동의한 내용을 회원은 언제든 철회할 수 있습니다. 동의철회는 ‘사이트’에서 『마이페이지』 하단에서 『회원탈퇴』를 클릭하거나 개인정보관리책임자에게 서면, 전화, E-mail 등을 통해 연락하시어 철회요청을 하시면 됩니다. ‘사이트’는 동의철회를 『회원탈퇴』와 동일하게 간주하며, 진행되고 있는 거래 및 정산이 마무리되는 시점에서 『회원탈퇴』 및 『동의철회』를 승인하고 개인정보 파기 등의 조치를 취합니다.
  		</p>
  		<ol>
  			<li><p>표시/광고에 관한 기록 : 6개월 (전자상거래등에서의 소비자보호에 관한 법률)</p></li>
  			<li><p>계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</p></li>
  			<li><p>대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</p></li>
  			<li><p>소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보의 보유기간 및 이용기간</h5>
  		<ol>
  			<li>
  				<p>회원의 개인정보는 본 규정에서 정한 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기됩니다. 단, 상법 등 관련 법령에 의하여 거래 관련 권리, 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">계약 또는 청약철회 등에 관한 기록 : 5년</p></li>
  					<li><p style="margin-left: 10px;">대금결제 및 재화등의 공급에 관한 기록 : 5년</p></li>
  					<li><p style="margin-left: 10px;">소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</p></li>
  				</ol>
  			</li>
  			<li><p>회원가입 정보의 경우, 회원가입을 탈퇴하거나 회원에서 제명된 경우, 보유목적, 기간 및 보유하는 개인정보 항목을 명시하여 동의를 구합니다.</p></li>
  			<li><p>회원의 동의를 받아 보유하고 있는 거래정보 등을 회원이 직접 열람을 요구하는 경우, ‘사이트’ 및 ‘회사’는 요청에 따라 열람 및 확인 할 수 있도록 조치합니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보 파기절차 및 방법</h5>
  		<p>회원의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 즉시 파기합니다. ‘회사’의 개인정보 파기절차 및 방법은 아래와 같습니다.</p>
  		<ol>
  			<li>
  				<p>파기절차</p>
  				<ol>
  					<li><p style="margin-left: 10px;">회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정 기간 저장된 후 파기됩니다.</p></li>
  					<li><p style="margin-left: 10px;">개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p></li>
  				</ol>
  			</li>
  			<li>
  				<p>파기방법</p>
  				<p>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통해 파기합니다. 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
  			</li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보보호를 위한 기술 및 관리대책</h5>
  		<ol>
  			<li><p>‘사이트’는 회원의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 다음과 같은 기술적 대책을 강구하고 있습니다.</p></li>
  			<li><p>회원의 개인정보는 비밀번호에 의해 보호되며 파일 및 전송데이터를 암호화하거나 파일 잠금 기능을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.</p></li>
  			<li><p>‘사이트’ 및 ‘회사’는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해방지를 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트 되며 갑작스러운 바이러스가 발견될 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보의 침해를 방지하고 있습니다.</p></li>
  			<li><p>‘사이트’는 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL 또는 SET) 를 채택하고 있습니다.</p></li>
  			<li><p>해킹 등 외부침입에 대비하여 침입차단시스템 및 취약점 분석시스템 등을 이용하여 보안에 만전을 기하고 있습니다.</p></li>
  			<li>
  				<p>‘사이트’ 및 ‘회사’는 회원의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 최소한의 인원에 해당하는 자는 다음과 같습니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">회원을 직접 상대로 하여 마케팅 업무를 수행하는 자.</p></li>
  					<li><p style="margin-left: 10px;">개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자.</p></li>
  					<li><p style="margin-left: 10px;">기타 업무상 개인정보의 취급이 불가피한 자</p></li>
  				</ol>
  			</li>
  			<li><p>개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호의무 등에 관한 정기적인 사내교육 및 외부위탁교육을 실시하고 있습니다.</p></li>
  			<li><p>입사 시, 개인정보 관련 취급자의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련해두고 있습니다.</p></li>
  			<li><p>개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이루어지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확하게 하고 있습니다.</p></li>
  			<li><p style="margin-left: 10px;">개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도로 분리하여 보관하고 있습니다.</p></li>
  			<li><p style="margin-left: 10px;">전산실 및 자료보관실 등을 특별 보호구역으로 설정하여 출입을 통제하고 있습니다.</p></li>
  			<li><p style="margin-left: 10px;">‘사이트’ 및 ‘회사’는 회원 개인의 실수나 기본적인 인터넷의 위험성으로 인해 일어나는 일들에 대해 책임을 지지 않습니다.</p></li>
  			<li><p style="margin-left: 10px;">회원 개개인이 본인의 개인정보를 보호하기 위해서 자신의 ID와 비밀번호를 적절하게 관리하고 이에 대한 책임을 져야 합니다.</p></li>
  			<li><p style="margin-left: 10px;">그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보의 상실, 유출, 변조, 훼손이 유발될 경우 ‘사이트’ 및 ‘회사’는 이를 즉각 회원에게 알리고 적절한 대책 및 보상을 강구합니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">링크사이트</h5>
  		<p>‘사이트’는 회원에게 다른 회사, 서비스, 자료에 대한 링크를 제공할 수 있습니다. 이 경우, ‘사이트’ 및 ‘회사’는 외부사이트 및 자료에 대한 통제권이 없으므로 그로부터 제공받는 서비스나 각종 자료에 대해서는 책임이 없습니다. 따라서 이에 대한 보증이나 보상을 하지 않습니다. ‘사이트’가 포함하고 있는 링크를 클릭하여 타 웹사이트로 옮겨갈 경우 해당 웹사이트의 개인정보보호정책은 ‘사이트’ 및 ‘회사’와 무관하므로 링크를 통해 방문한 웹사이트의 정책을 충분히 검토 및 확인하시기 바랍니다.</p>
  	</li>

  	<li>
  		<h5 class="ui header">게시물</h5>
  		<ol>
  			<li>
  				<p>‘사이트’ 및 ‘회사’는 회원의 게시물을 변조, 훼손, 삭제되지 않도록 보호합니다. 다만 아래의 경우에는 예외입니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">스팸 성격의 게시물(예 : 행운의 편지, 특성사이트 광고 등)</p></li>
  					<li><p style="margin-left: 10px;">타인을 비방할 목적으로 허위 사실을 유포하여 타인의 명예를 훼손하는 글</p></li>
  					<li><p style="margin-left: 10px;">동의 없는 타인의 신상공개</p></li>
  					<li><p style="margin-left: 10px;">‘사이트’의 저작권 및 제3자의 저작권 등 권리를 침해하는 내용</p></li>
  					<li><p style="margin-left: 10px;">기타 게시판 및 웹사이트 페이지 주제와 다른 내용의 게시물</p></li>
  				</ol>
  			</li>
  			<li><p>‘사이트’ 및 ‘회사’는 바람직한 온라인 문화 활성화를 위해 동의 없는 타인의 신상 공개 시, 특정 부분을 삭제하거나 수정하여 게시할 수 있습니다.</p></li>
  			<li><p>다른 주제의 게시판 및 웹페이지로 이동 가능한 내용일 경우 해당 게시물에 이동 경로를 밝혀 오해가 없도록 하고 있습니다. 그 외의 경우 명시적 또는 개별적 공고 후 삭제 조치할 수 있습니다.</p></li>
  			<li><p>근본적으로 게시물에 관한 제반 권리와 책임은 작성자 개인에게 있습니다. 또한 게시물을 통해 자발적으로 공개된 정보는 보호받기 어려우므로 정보 공개 전에 내용 및 권리, 책임을 확인하시기 바랍니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">개인정보의 위탁처리</h5>
  		<p>‘사이트’ 및 ‘회사’는 서비스 품질 향상을 위하여 회원의 개인정보를 외부에 수집, 취급, 관리 등을 위탁하여 처리할 수 있습니다.</p>
  		<p>
  			개인정보의 처리를 위탁하는 경우에는 위탁기관 및 그 사실을 홈페이지 또는 ‘사이트’를 통해 미리 회원에게 고지합니다. 
  		</p>
  		<p>
  			개인정보의 처리를 위탁하는 경우에는 위탁계약 등을 통하여 서비스제공자의 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고 시 책임부담, 위탁기간, 처리 종료후의 개인정보의 반환 및 파기 등을 명확히 규정하고 해당 계약내용을 서면 또는 전자적으로 보관합니다.</p>
  	</li>

  	<li>
  		<h5 class="ui header">회원의 권리와 의무</h5>
  		<ol>
  			<li><p>회원의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방하여야 합니다. 회원이 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 회원 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.</p></li>
  			<li><p>회원은 개인정보를 보호받을 권리와 함께 타인의 정보를 침해하지 않을 의무도 갖고 있습니다. 비밀번호를 포함한 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 해야 합니다. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망이용촉진 및 정보보호 등에 관한 법률』등에 의해 처벌받을 수 있습니다.</p></li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">의견수렴 및 불만처리</h5>
  		<ol>
  			<li><p>‘사이트’ 및 ‘회사’는 회원의 의견을 소중하게 생각하며, 회원의 ‘사이트’이용에 관한 의문사항에 대하여 언제나 성실하게 답변하도록 합니다.</p></li>
  			<li><p>‘사이트’ 및 ‘회사’는 회원과의 원활한 의사소통을 위하여 민원처리센터(연락처 : 070-4154-0679, 이메일주소 : admin@beanz9.com)를 운영하고 있습니다.</p></li>
  			<li><p>전화상담은 평일 오전 10:30~오후 17:00 이며, 토û일요일, 공휴일은 휴무입니다.</p></li>
  			<li><p>전자우편이나 팩스, 우편을 이용한 상담은 접수 후 24시간 이내에 성실하게 답변드리겠습니다. 다만, 근무시간 이후, 주말 및 공휴일에는 익일 처리를 원칙으로 합니다.</p></li>
  			<li>
  				<p>기타 개인정보에 대한 상담이 필요한 경우에는 개인정보침해신고센터, 정보보호마크 인증위원회, 대검찰청 인터넷범죄수사센터, 경찰청 사이버범죄수사대 등으로 문의하실 수 있습니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">전자거래분쟁조정위원회(http://www.ecmc.or.kr)</p></li>
  					<li><p style="margin-left: 10px;">개인정보침해신고센터 (http://www.cyberprivacy.or.kr)</p></li>
  					<li><p style="margin-left: 10px;">정보보호마크 인증위원회 (전화: 02-580-0533 http://www.privacymark.or.kr)</p></li>
  					<li><p style="margin-left: 10px;">대검찰청 인터넷범죄수사센터 (전화: 02-3480-3600 http://icic.sppo.go.kr)</p></li>
  					<li><p style="margin-left: 10px;">경찰청 사이버범죄수사대 (http://www.police.go.kr/cybercenter)</p></li>
  				</ol>
  			</li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">의견수렴 및 불만처리</h5>
  		<ol>
  			<li><p>‘사이트’ 및 ‘회사’는 회원이 ‘사이트’에서 제공하는 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보보호에 있어 고지한 사항들에 반하는 사고가 발생할 경우 개인정보관리책임자가 모든 책임을 집니다.</p></li>
  			<li><p>다만, 기술적인 조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크 상의 위험에 의해 발생하는 예기치 못한 사고로 인한 정보훼손 및 손해, 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임을 지지 않습니다.</p></li>
  			<li>
  				<p>회원의 개인정보를 취급하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항이 있을 시, 성실하게 답변해드리고 있습니다.</p>
  				<ol>
  					<li><p style="margin-left: 10px;">개인정보 관리책임자</p></li>
  					<li><p style="margin-left: 10px;">이름 : 정윤태</p></li>
  					<li><p style="margin-left: 10px;">전화 : 070-4154-0679</p></li>
  					<li><p style="margin-left: 10px;">이메일 : admin@beanz9.com</p></li>
  				</ol>
  			</li>
  		</ol>
  	</li>

  	<li>
  		<h5 class="ui header">아동의 개인정보보호</h5>
  		<p>‘사이트’ 및 ‘회사’는 만 14세 미만 어린이의 개인정보를 온라인 환경에서의 미성년자 보호차원에서 회원가입을 승낙하지 않고 있습니다. 즉, 만 14세 미만의 어린이들은 ‘사이트’ 및 ‘회사’로부터 회원 자격의 서비스를 받을 수 없습니다.</p>
  	</li>

  	<li>
  		<h5 class="ui header">광고 정보 전송</h5>
  		<ol>
	  		<li><p>‘사이트’ 및 ‘회사’는 회원의 명시적인 수신거부 의사에 반하여 영리목적의 광고 정보를 전송하지 않습니다.</p></li>
	  		<li>
	  			<p>회원이 전자우편 전송에 대한 동의를 한 경우, 전자우편의 제목란 및 본문에 다음과 같이 쉽게 알아볼 수 있도록 조치합니다.</p>
	  			<ol>
	  				<li><p style="margin-left: 10px;">전자우편 수신거부 의사를 표시할 수 있는 전송자의 명칭, 전자우편주소, 전화번호 및 주소를 명시합니다.</p></li>
	  				<li><p style="margin-left: 10px;">수신거부 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.</p></li>
	  			</ol>
	  		</li>
	  		<li>
	  			<p>‘사이트’ 및 ‘회사’가 상품정보 안내 등 온라인 마케팅을 위해 광고정보를 전자우편 등으로 전송하는 경우 제목과 본문에 다음 사항을 기재해 쉽게 알아볼 수 있도록 조치합니다.</p>
	  			<ol>
	  				<li><p style="margin-left: 10px;">전자우편 제목란에 (광고)또는 (성인광고) 문구를 한글로 표시하고 본문에 주요 내용을 표시합니다.</p></li>
	  				<li><p style="margin-left: 10px;">수신거부 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.</p></li>
	  			</ol>
	  		</li>
	  		<li>
	  			<p>청소년에게 유해한 정보를 전송하는 경우 (성인광고)문구를 표시합니다. 본문에 아래 각 항목에 해당하는 것이 부호, 영상, 문자, 음향 등의 형태로 표현된 경우에는 (성인광고) 문구를 제목란에 반드시 표시합니다.</p>
	  			<ol>
	  				<li><p style="margin-left: 10px;">청소년(19세 미만 사용자 또는 회원)에게 성적인 욕구를 자극하는 선정적인 것이거나 음란한 것</p></li>
	  				<li><p style="margin-left: 10px;">청소년에게 범죄의 충동을 일으킬 수 있는 내용</p></li>
	  				<li><p style="margin-left: 10px;">성폭력을 포함한 각종 형태의 폭력 및 약물 오남용을 자극하거나 미화하는 내용</p></li>
	  				<li><p style="margin-left: 10px;">청소년보호법에 의하여 청소년 유해 매체로 결정 고시된 것</p></li>
	  			</ol>
	  		</li>
	  		<li><p>팩스, 휴대폰, 문자전송 등 전자우편 이외의 문자전송을 통해 영리목적의 광고 정보를 전송하는 경우에는 전송내용 처음에 (광고)라는 문구를 표기하고 전송내용 중에 전송자의 연락처를 명시합니다.</p></li>
	  	</ol>
  	</li>

  	<li>
  		<h5 class="ui header">고지의 의무</h5>
  		<p>현 개인정보보호정책은 2014년 6월에 제정되었으며 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을 수 있습니다. 개인정보보호정책의 내용 추가, 삭제, 수정이 있을 시에는 개정 최소 10일 전부터 ‘사이트’ 전면에 공지하거나 개별 전자우편을 통해 고지됩니다.</p>
  	</li>

  	<p>개인정보보호정책 시행일자: 2014-06-30</p>
  </ol>


</div>