<%= simple_form_for [:myshop, @shopping_mall_config] do |f| %>
	<div class="field">
		<label>쇼핑몰 도메인</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :domain, :placeholder => "도메인을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>통화</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :currency, :placeholder => "통화 입력하세요.", :label => false %>
			
		</div>
	</div>

	<br/>

	<div class="field">
		<label>지역</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :location, :as => :string, :placeholder => "지역을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>배송비</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :delivery_charge, :as => :string, :placeholder => "배송비를 입력하세요.", :label => false %>
			
		</div>
	</div>

	<br/>

	<div class="field">
		<label>배송료 무료 조건</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :free_condition, :as => :string, :placeholder => "배송료 무료 조건을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div>
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>

<% end %>