<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>쇼핑몰 수정
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<%= render 'form' %>
<br/>
<%= link_to "목록", myshop_shopping_mall_configs_path, :class => "ui button small blue"  %>
<%= link_to "삭제", myshop_shopping_mall_config_path, method: :delete, data: { confirm: '삭제하시겠습니까?' } , :class=> "ui button red small"%>