<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>쇼핑몰 목록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="five wide">쇼핑몰 도메인</th>
			<th style="text-align: center" class="two wide">통화</th>
			<th style="text-align: center" class="two wide">지역</th>
			<th style="text-align: center" class="three wide">배송비</th>
			<th style="text-align: center" class="three wide">배송비 무료 조건</th>
			<th style="text-align: center" class="one wide">수정</th>
		</tr>
	</thead>
	<tbody>
		<% @shopping_mall_configs.each do |config| %>
			<tr>
				<td><%= config.domain %></td>
				<td style="text-align: center"><%= config.currency %></td>
				<td style="text-align: center"><%= config.location %></td>
				<td style="text-align: center"><%= config.delivery_charge %></td>
				<td style="text-align: center"><%= config.free_condition %></td>
				<td style="text-align: center"><%= link_to "수정", edit_myshop_shopping_mall_config_path(config), :class => "ui button mini red"  %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>

<div>
	<%= paginate @shopping_mall_configs %>
</div>



