<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>쇼핑몰 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<!-- <div class="ui ignore green message"><i class="icon info"></i>쇼핑몰을 등록하세요.</div> -->

<%= render 'form' %>