<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>문의
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="one wide">사진</th>
			<th style="text-align: center" class="four wide">상품명</th>
			<th style="text-align: center" class="five wide">문의</th>
			<th style="text-align: center" class="one wide">등록자</th>
			<th style="text-align: center" class="two wide">등록일</th>
			<th style="text-align: center" class="one wide">답변<br>여부</th>
			<th style="text-align: center" class="one wide">답변<br>하기</th>
		</tr>
	</thead>
	<tbody>
		<% @inquiry_comments.each do |comment| %>
		<% product = Product.find(comment.commentable_id) %>
		<tr>
			<td style="text-align: center"><%= image_tag product.featured_small_image_url, :style => 'width: 50px; height: 50px;' %></td>
			<td><%= product.title %></td>
			<td><%= comment.body %></td>
			<td style="text-align: center"><%= comment.user.user_id %></td>
			<td style="text-align: center"><%= comment.created_at.strftime("%F %T") %></td>
			<td style="text-align: center"><% if comment.has_children? %>답변<% else %>미답변<% end %></td>
			<td style="text-align: center"><a href="/myshop/inquiry_comment/<%= comment.id %>">답변<br>하기</a></td>
		</tr>
		<% end %>
	</tbody>

</table>