<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>문의
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<% product = Product.find(@inquiry_comment.commentable_id) %>
<table class="ui celled table segment">
	<tr>
		<td>상품</td>
		<td>
			<%= image_tag product.featured_small_image_url %>
			<%= product.title %>
		</td>
	</tr>
	<tr>
		<td>상품 URL</td>
		<td><a href="<%= product.url %>" target="_blank"><%= product.url %></a></td>
	</tr>
	<tr>
		<td>문의내용</td>
		<td><%= @inquiry_comment.body %></td>
	</tr>
	<tr>
		<td>문의유저</td>
		<td><%= @inquiry_comment.user.user_id %></td>
	</tr>
	<tr>
		<td>문의일자</td>
		<td><%= @inquiry_comment.created_at.strftime("%F %T") %></td>
	</tr>
</table>


<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>답변하기
		</span>
	</div>
</h3>
<div class="ui divider"></div>


<%= form_tag myshop_inquiry_comment_reply_create_path(@inquiry_comment), :style => 'margin-top: 20px;', :class => 'ui form'  do %>

	<div class="field">
  	<%= text_area_tag :comment, '', {:style => 'height: 50px;', :placeholder => "코멘트를 입력하세요."} %>
  </div>

  <%= submit_tag '답변저장' %>
	
<% end %>

<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>답변목록
		</span>
	</div>
</h3>
<div class="ui divider"></div>

<table class="ui celled table segment">
	<tr>
		<td>답변내용</td>
		<td class="three wide">답변일자</td>
		<td class="one wide"></td>
	</tr>
	<% @child_comment.each do |child|  %>
		<tr>
			<td><%= child.body %></td>
			<td><%= child.created_at.strftime("%F %T") %></td>
			<td><%= link_to '삭제', myshop_inquiry_comment_reply_destroy_path(child), :method => 'delete', :class => "ui button mini red", :confirm => "답변을 삭제하시겠습니까?" %></td>
		</tr>

	<% end %>
</table>

<br><br>

