<div id="main">

    <ul class="items">
      <% @collection_items_include_product.each do |item| %>
        <li class="item one-edge-shadow">


          <div class="item_image">
            
            <%= link_to collectionshop_path(item.user.user_id, item.collection), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay">
              
                <%= image_tag item.collection.featured_image_url %>
                <div class="uk-overlay-area">

                  <div class="ui small header uk-text-truncate">
                    <%= item.collection.name %>
                  </div>

                    
                  <div style="margin: 5px 0px 0px 5px;">
                    <% item.collection.collection_items.limit(7).each do |other_item| %>
                      <div style="float: left; margin-right: 5px;">
                        <%= image_tag other_item.small_image_url, :style => 'width: 58px; height: 58px; margin: 0 0 5px 0;', :class => 'one-edge-shadow' %>
                      </div>
                    <% end %>
                    <div style="background-color: #00B5AD; width: 58px; height: 58px; float: left; color: white; font-weight: bold;" class="one-edge-shadow">
                      <div align="center" style="margin-top: 19px; font-size: 25px;">
                        <%= item.collection.collection_items.count %>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
              <div style="float: left;"><%= image_tag item.collection.user.small_image_url, :class => "product_user_image" %></div>
              
              <div class="product_user_id" style="float: left;">
                <%= item.collection.user.user_id %>
              </div>
              <div class="product_icons" style="text-align: right">
                <a href="#" class="product_icon" ><i class="unhide icon"></i><%= item.collection.impressionist_count %></a>
              
              </div>
            </div>
           
            
          </div>
          
          
          
        </li>
      <% end %>

     
    </ul>
  </div>






