
<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>피처드 상품 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<div class="ui message" style="display: block;" id="search_field">
  <div class="content">
    <%= search_form_for @q, url: '/myshop/featured_products/new' do |f| %>
    <div class="ui form segment">
    	<div>
	      <label style="width: 50px;">타이틀</label>
	      <%= f.text_field :title_cont, :style => 'width: 200px;', :placeholder => '상품타이틀을 입력하세요.' %>

	      <label style="margin-left: 40px; width: 50px;">브랜드</label>
	      <%= f.text_field :brand_cont, :style => 'width: 200px;', :placeholder => '브랜드를 입력하세요.' %>
	    </div>
      <div style="margin-top: 20px;">
	      <label style="width: 50px;">가격대</label>
	      <%
	        init_price_gteq = @q.init_price_gteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_gteq > 0
	        init_price_lteq = @q.init_price_lteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_lteq > 0
	      %>
	      <%= f.text_field :init_price_gteq, :value => init_price_gteq, :style => 'width: 200px;', :placeholder => '최소가격' %>
	      <i class="minus icon"></i>
	      <%= f.text_field :init_price_lteq, :value => init_price_lteq, :style => 'width: 200px;', :placeholder => '최대가격' %>
    	</div>
      <div id="category_field" style="margin-top: 20px;">
        <% category_arr_1 = params[:category_arr] ? params[:category_arr][0] : '' %>
        <label style="width: 50px; margin-top: 30px;">카테고리</label>

        <span id="category_field_1"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.roots, "id", "name", category_arr_1), :id => 'category_depth_1', :prompt =>'선택하세요.', :style => 'width: 200px;' %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_1'></i></span>

        <span id="category_field_2">
          <% category_arr_2 = params[:category_arr] ? params[:category_arr][1] : nil %>
          <% if category_arr_2 %>
            <span id="category_field_2"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_2).siblings, "id", "name", category_arr_2), :id => 'category_depth_2', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_2'></i></span>
          <% end %>
        </span>

        <span id="category_field_3">
          <% category_arr_3 = params[:category_arr] ? params[:category_arr][2] : nil %>
          <% if category_arr_3 %>
            <span id="category_field_3"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_3).siblings, "id", "name", category_arr_3), :id => 'category_depth_3', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_3'></i></span>
          <% end %>
        </span>

      </div>
      <div class="ui checkbox" style="margin-top: 30px;">
        <%= f.check_box :is_sale_eq, { id: 'q_sale_check'}, 'true', '' %>
        <label for="check1">세일상품만</label>
      </div>

      
    </div>
    <%= button_tag(type: 'submit', class: 'ui red submit button icon') do %><i class="search icon"></i> 검색<% end %>
    <div class="ui blue submit button icon" style="text-align: right;" id='search_init'><i class="remove sign icon"></i> 초기화</div>
  <% end %>
  
    
  </div>

</div>
<div style="">
	<table class="ui  table segment">
	  <thead>
	    <tr>
	    	<th style="text-align: center;" class="one wide">사진</th>
		    <th style="text-align: center;" class="five wide">타이틀</th>
		    <th style="text-align: center;" class="one wide">컬렉션수</th>
		    <th style="text-align: center;" class="one wide">조회수</th>
		    <!-- <th style="text-align: center;" class="one wide">코멘트수</th> -->
		    <th style="text-align: center;" class="one wide">세일</th>
		    <th style="text-align: center;" class="two wide">등록일</th>
		    <th style="text-align: center;" class="one wide">등록</th>
		    
	  	</tr>
		</thead>
	  <tbody>
	   	<% @products.each do |product| %>
	   		<tr>
	   			<td style="text-align: center;"><%= image_tag product.featured_image_url, :style => 'width: 50px;' %></td>
	   			<td><%= link_to product.title, rootshop_path(product), target: "_blank" %></td>
	   			<td style="text-align: center;"><%#= product.collections.count %></td>
	   			<td style="text-align: center;"><%= product.impressionist_count %></td>
	   			<!-- <td style="text-align: center;"><%#= product.comments.count %></td> -->
	   			<td style="text-align: center;"><%= product.is_sale %></td>
	   			<td style="text-align: center;"><%= product.created_at.strftime("%F %T") %></td>
	   			<td style="text-align: center;">
	   				<% if FeaturedProduct.where(:product_id => product.id).count > 0 %>
	   					<a class="ui button red mini">등록됨</a>
	   				<% else %>
	   					<a class="ui button blue mini featured_product_reg_modal_btn">등록</a>
	   				<% end %>
	   				<input type="hidden" class="hidden_product_name" value="<%= product.title %>">
	   				<input type="hidden" class="hidden_product_image" value="<%=  product.featured_image_url %>">
	   				<input type="hidden" class="hidden_product_id" value="<%= product.id %>">
	   				<input type="hidden" value="<%= product.is_sale %>">
	   			</td>
	   		</tr>
	   	<% end %>
	  </tbody>
	</table>



</div>

<div>
  <%= paginate @products %>
</div>

<div class="ui small modal product_modal">
  <i class="close icon"></i>
  <div class="header">
    피처드 상품 등록
  </div>
  <div class="content">
  	<div class="left" style="width: 300px;">
	  	<h3 class="ui header">
			  선택한 상품
			</h3>

	  	<div>
	  		<div>
	  			상품 이미지: 
	    		<img id="product_image"  style="width: 100px;">
	    	</div>
	    	<br>
	    	<div>
	    		상품 이름: 
	    		<span id="product_name"></span>
	    	</div>
	    	<br>
	    	<div>
	    		세일: 
	    		<span id="is_sale"></span>
	    	</div>
	    	<br>
	    </div>
	  </div>
    <div class="right">
	    <h3 class="ui header">
			  상품 등록
			</h3>
			<%= simple_form_for [:myshop, @featured_product], :remote => true do |f| %>
				<%= f.hidden_field :product_id %>
		  	<div class="ui form">
		  		<!-- <div class="field">
				    <label>피처드 상품 타입</label>
				    <%= f.input :featured_type, :as => :radio_buttons, :collection => [[' 세일 ', 'sale'], [' 신상품 ', 'new']], :label => false, :checked => 'sale'  %>
				  </div> -->

				  <div class="field">
				    <label>피처드 상품 카테고리</label>
				    <%= f.input :featured_product_category_id, :as => :select, :collection => FeaturedProductCategory.order('sort_num asc'), :label => false  %>
				  </div>

				  <div class="field">
				    <label>피처드 상품 타이틀</label>
				    <%= f.input :title, :as => :string, :label => false  %>
				  </div>

				  <div class="field">
				    <label>피처드 상품 설명</label>
				    <%= f.input :description, :label => false  %>
				  </div>
				</div>

				<div>
					<%= f.submit "저장", :class => 'ui button green', :confirm => "저장하시겠습니까?", :style => 'display:none', :id => 'submit_btn' %>
					<a class="ui button green" id="product_modal_submit">저장</a>
					<a class="ui button" id="product_modal_close">취소</a>
				</div>
			<% end %>
		</div>

  </div>
  
</div>



