<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">
  <h3 class="ui header">
   문의
</h3>
<div class="ui divider"></div>

<div class="ui threaded comments">
  <% if @inquiry_comments.each do |comment| %>
  <div class="comment"  style="padding: 0px !important;">
    <a class="avatar">
      <%= image_tag comment.user.small_image_url %>
    </a>
    <div class="content">
      <a class="author"><%= comment.user.user_id %></a>
      <div class="metadata">
        <span class="date">
          <span class="timeago" data-date="<%= comment.created_at  %>"></span>
        </span>
      </div>
      <div class="text">
      	<div>
      		<% product = Product.find(comment.commentable_id) %>
        	<%= image_tag product.featured_small_image_url, :style => "width: 50px;" %>
        	<a href="/rootshop/<%= product.id %>"><%= product.title %></a>
        </div>
      	<div style="margin-top: 10px; margin-left: 10px;">
        	<%= simple_format comment.body %>
        </div>

      </div>
      <div class="actions">
        <!-- <a class="reply">Reply</a> -->
        <% if current_user && current_user.id == comment.user_id %>
          <span style="font-size: 12px; ">
            <%= link_to "삭제", mypage_inquiry_comment_destroy_path(comment), :class => 'delete', :style => 'color: #999', :method => "delete", :confirm => "삭제하시겠습니까?" %>
          </span>
         <% end %>
      </div>
    </div>
    <% if comment.has_children? %>
    <div class="comments"  style="padding: 0px !important;"> 
      <% Comment.where(:commentable_type => 'Product', :parent_id => comment.id).order("created_at DESC").each do |child| %>
      <div class="comment" style="padding: 0px !important; margin-left: 50px; !important">

        <a class="avatar">
          <span class="ui red label">답변</span> <%#= image_tag child.user.small_image_url %>
        </a>
        <div class="content" >
          <a class="author"><%= child.user.user_id %></a>
          <div class="metadata">
            <span class="date">
              <span class="timeago" data-date="<%= child.created_at  %>"></span>
            </span>
          </div>
          <div class="text">
            <%= simple_format child.body %>
          </div>
          <!-- <div class="actions">
            <a class="reply">Reply</a>
            <a class="delete">Delete</a>
          </div> -->
        </div>
        
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
  <% end.empty? %>
      <p style="text-align: center">문의가 없습니다.</p>
  <% end %>
  <div>
    <%= paginate @inquiry_comments %>
  </div>
</div>

</div>