<div id="content">
            <div class="container">

                <div class="col-md-12">
                    <%- flash.each do |name, msg| -%>
                      <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                         <ul class="list">
                            <li><%= msg %></li>
                         </ul>
                      </div>
                              <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                    <%- end -%>

                    <% if resource.errors.any? %>
                      <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        <ul>
                        <% resource.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                </div>

                

                <div class="col-md-6">
                    <div class="box">
                        <%= image_tag 'login_text_500x170.jpg' %>
                        

                        <hr>

                        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                            <div class="form-group">
                                <label for="email">이메일</label>
                                <!-- <input type="text" class="form-control" id="email"> -->
                                <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <!-- <input type="password" class="form-control" id="password"> -->
                                <%= f.password_field :password, :class => 'form-control' %>
                            </div>
                            <div class="form-group">
                                <label>로그인을 유지합니다.</label>
                                <%= f.check_box :remember_me %> 
                            </div>
                            <div class="text-right">
                                <%= render "devise/shared/links" %>
                            </div>
                            <div class="text-center">
                                <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                                  <i class="fa fa-sign-in"></i> Log in
                                <% end %>
                                <!-- <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button> -->
                            </div>
                        <% end %>
                    </div>
                     
                </div>

                <div class="col-md-6">
                    <%= image_tag 'Login_image_500x530.jpg' %>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

<!-- 전환페이지 설정 -->
 <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"> </script> 
 <script type="text/javascript">
var _nasa={};
 _nasa["cnv"] = wcs.cnv("3","0"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script> 