<!-- <h2>로그인</h2>

<%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%#= f.label :email %><br />
  <%#= f.email_field :email, :autofocus => true %></div>

  <div><%#= f.label :password %><br />
  <%#= f.password_field :password %></div>

  <%# if devise_mapping.rememberable? -%>
    <div><%#= f.check_box :remember_me %> <%#= f.label :remember_me %></div>
  <%# end -%>

  <div><%#= f.submit "Sign in" %></div>
<%# end %>
 -->
 <!--
<style>
body { 
   width:100%; 
   height:100%; 
   background:url(<%#= asset_path 'pattern_login.jpg' %>) center center repeat;
}

label {
  color: black !important;
}
</style>
-->
<%- flash.each do |name, msg| -%>
  <div class="ui red message">
     <ul class="list">
        <li><%= msg %></li>
     </ul>
  </div>
          <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<% if resource.errors.any? %>
  <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>




<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<!-- <div class="ui two column grid">
  <div class="column"> -->
    <div class="ui fluid form segment" style="width: 400px; margin: 100px auto; background-color: #FAFAFA;">
      <h4 class="ui header" style="color: black !important"><i class="smile icon large"></i>큐썸에 오신걸 환영합니다</h4>
      <div class="ui divider"></div>
      <div class="field">
      	<%= f.label :email %>
        <div class="ui left labeled icon input">
		      <%= f.email_field :email, :autofocus => true %>
		      <i class="mail icon"></i>
		    </div>
      </div>
      <div class="field">
        <label><%= f.label :password %></label>
        <div class="ui left labeled icon input">
		    	<%= f.password_field :password %>
		      <i class="lock icon"></i>
		    </div>
      </div>
      


      <div class="inline field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me %> 
          <label>로그인을 유지합니다.</label>
          <%#= f.label :remember_me %>
        </div>
      </div>

     <!--  <% if devise_mapping.rememberable? -%>
      	<div class="ui checkbox">
          <%= f.check_box :remember_me %> 
          <label><%= f.label :remember_me %></label>
        </div>
		  <% end -%> -->
      <div align="center">
        <%#= f.submit "로그인", :class => 'ui blue submit button', :style => 'width: 350px;' %>
        <%= button_tag(type: 'submit', class: 'ui blue submit button', style: 'width: 350px;') do %>
          <i class="unlock alternate icon"></i>로그인
        <% end %>
      </div>
      <div class="ui divider"></div>
      <%= render "devise/shared/links" %>
    </div>
<!--   </div>
 
</div> -->
<% end %>
<br/>


