
<script>
$(function() {

	var collection_carousel = $("#collection_carousel");

	collection_carousel.owlCarousel({
		items : 4
	})


	$("#collection_next").click(function(){
    collection_carousel.trigger('owl.next');
  })
  $("#collection_prev").click(function(){
    collection_carousel.trigger('owl.prev');
  })

  var sale_carousel = $("#sale_carousel");

  sale_carousel.owlCarousel({
    items : 6
  })


  $("#sale_next").click(function(){
    sale_carousel.trigger('owl.next');
  })
  $("#sale_prev").click(function(){
    sale_carousel.trigger('owl.prev');
  })

  var new_carousel = $("#new_carousel");

  new_carousel.owlCarousel({
    items : 6
  })


  $("#new_next").click(function(){
    new_carousel.trigger('owl.next');
  })
  $("#new_prev").click(function(){
    new_carousel.trigger('owl.prev');
  })

  // $("#owl-intro").owlCarousel({
      
  //     // navigation : true,
  //     slideSpeed : 300,
  //     paginationSpeed : 400,
  //     singleItem:true
 
  //     // "singleItem:true" is a shortcut for:
  //     // items : 1, 
  //     // itemsDesktop : false,
  //     // itemsDesktopSmall : false,
  //     // itemsTablet: false,
  //     // itemsMobile : false
 
  // });
})


</script>
<style>
/*.segment {
	background: #92c7d6;
  background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
}*/



}
.customNavigation{
  text-align: center;
}

.customNavigation a{

	
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui.items .item > .content {
  margin-top: 0px !important;
  padding: 0em, 0em !important;
}

.item {
  min-height: 350px !important;
}

/*#owl-intro .item img{
    display: block;
    width: 100%;
    height: auto;
}*/


</style>



<div class="row">
<!--   <div class="column">
    <div id="owl-intro" class="owl-carousel owl-theme">
      <div class="item"><a href="#"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage1.jpg" alt="The Last of us"></a></div>
      <div class="item"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage2.jpg" alt="GTA V"></div>
      <div class="item"><img src="http://owlgraphic.com/owlcarousel/demos/assets/fullimage3.jpg" alt="Mirror Edge"></div>
     
    </div>
  </div> -->
<!-- <div class="ui divider"></div> -->
  <div class="column">
    <div class="ui raised tertiary segment">
     
      <span class="ui blue ribbon label">Weekly Collections</span>
      <span><i class="thumbs up outline icon"></i> 한 주간의 추천 컬렉션입니다.</span>

      <div id="collection_carousel" class="owl-carousel owl-example" style="margin-top: 20px;">
        <% @featured_collections.each do |f|  %>
      	<div class="ui items">
				  <div class="item" style="width: 250px; height: 100px">
				    <div class="image" style="border:1px solid #B0B0B0">
              <div class="uk-overlay" style="background-color: white">
                <a href="/collectionshop/<%= f.collection.user.user_id %>/<%= f.collection.id %>">
                 
               
                     <%= image_tag f.collection.featured_image_url %>
        
                  <div class="uk-overlay-area">

                    <div style="margin: 25px 0px 0px 25px; height: 210px;">
                      <% collection_items = CollectionItem.joins(:product).where("collection_items.collection_id = ? and collection_items.deleted_at is null and products.deleted_at is null", f.collection.id) %>

                      <% collection_items.order("RANDOM()").limit(8).each do |other_item| %>

                        <div style="float: left; margin-right: 5px;">
                          <%= image_tag other_item.small_image_url, :style => 'width: 58px; height: 58px; margin: 0 0 5px 0;', :class => 'one-edge-shadow' %>
                        </div>
                      <% end %>
                      <div style="background-color: #00B5AD; width: 58px; height: 58px; float: left; color: white; font-weight: bold;" class="one-edge-shadow">
                        <div align="center" style="margin-top: 15px; font-size: 25px;">
                          <%= collection_items.count %>
                         
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
              </div>
				      <a class="like ui corner label" >
				        <i class="like icon"></i>
				      </a>
				    </div>
				    <div class="content" >
				      <div class="name"><%= f.title %></div>
				      <p class="description"><%= f.description %></p>
				     <!--  <div class="extra">
				          199 votes
				      </div> -->
				    </div>
				  </div>
				</div>
        <% end %>

			
      </div>
      <div class="customNavigation">
			  <a class="ui black button mini prev" id="collection_prev"><i class="angle left icon"></i> Previous</a>
			  <a class="ui black button mini next" id="collection_next">Next <i class="angle right icon"></i></a>
			  <a class="ui blue button mini" href="/collectionshop">컬렉션 더 보기 <i class="forward mail icon"></i></a>
			</div>

      
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <div class="ui raised tertiary segment">
     
      <span class="ui red ribbon label">On Sale</span>
      <span>세일중인 상품입니다.</span>

      <div id="sale_carousel" class="owl-carousel owl-example" style="margin-top: 20px;">
        <% 
        sale_featured_products = FeaturedProduct.where(:featured_type => 'sale')
        sale_featured_products.each do |featured_product| 

        original_price = featured_product.product.multi_price_final["original"]
        sale_color_price_min = featured_product.product.multi_price_final["sale_color"].values.min
        %>

        <div class="uk-panel uk-panel-box" style="height: 220px;">
            <a href="/rootshop/<%= featured_product.product.id %>" style="color: white">
            <div class="uk-panel-teaser uk-overlay" style="border:1px solid #B0B0B0">
              <%= image_tag featured_product.product.featured_medium_image_url %>
              <div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
                <div class="uk-overlay-area-content">
                  <p style="font-weight: bold;"><%= featured_product.product.brand %></p>
                  <p><%= featured_product.product.title %><p>
                </div>
              </div>
                
            </div>
            </a>
            <div class="product_price">
              <% unless featured_product.product.multi_price_final["sale_color"].empty? %>
                <div style="float:left; padding-right: 10px;">
                  <span style="color: #D95C5C"><i class="long arrow down icon"></i> <%= ((original_price.to_f - sale_color_price_min.to_f)/original_price.to_f * 100).round  %>%</span>
                </div>
              <% end %>
              <div style="float:left">
              <% unless featured_product.product.multi_price_final["sale_color"].empty? %>

                <i class="won icon"></i><del><%= price_currency_comma original_price %></del><br/>
                
                <i class="won icon"></i><span style="color: #D95C5C"><%= price_currency_comma sale_color_price_min %></span>
              <% else %>
                <i class="won icon"></i><%= price_currency_comma original_price %>
              <% end %>
              </div>

              

            </div>

        </div>
        <% end %>

      </div>

      <div class="customNavigation">
        <a class="ui black button mini prev" id="sale_prev"><i class="angle left icon"></i> Previous</a>
        <a class="ui black button mini next" id="sale_next">Next <i class="angle right icon"></i></a>
        <a class="ui red button mini" href="/rootshop?q%5Bis_sale_eq%5D=true">세일상품 더보기 <i class="forward mail icon"></i></a>
      </div>

    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="column">
    <div class="ui raised tertiary segment">
     
      <span class="ui teal ribbon label">New</span>
      <span>신상품입니다.</span>
      <div id="new_carousel" class="owl-carousel owl-example" style="margin-top: 20px;">
        <% 
          new_featured_products = FeaturedProduct.where(:featured_type => 'new')
          new_featured_products.each do |featured_product| 

          original_price = featured_product.product.multi_price_final["original"]
          sale_color_price_min = featured_product.product.multi_price_final["sale_color"].values.min
        %>
        <div class="uk-panel uk-panel-box" style="height: 220px;">
            <a href="/rootshop/<%= featured_product.product.id %>" style="color: white">
              <div class="uk-panel-teaser uk-overlay" style="border:1px solid #B0B0B0">
                <%= image_tag featured_product.product.featured_medium_image_url %>
                <div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
                  <div class="uk-overlay-area-content">
                    <p style="font-weight: bold;"><%= featured_product.product.brand %></p>
                    <p><%= featured_product.product.title %><p>
                  </div>
                </div>
              </div>
            </a>
            <div class="product_price">
              <% unless featured_product.product.multi_price_final["sale_color"].empty? %>
                <div style="float:left; padding-right: 10px;">
                  <span style="color: red"><i class="long arrow down icon"></i> <%= ((original_price.to_f - sale_color_price_min.to_f)/original_price.to_f * 100).round  %>%</span>
                </div>
              <% end %>
              <div style="float:left">
              <% unless featured_product.product.multi_price_final["sale_color"].empty? %>

                <i class="won icon"></i><del><%= price_currency_comma original_price %></del><br/>
                
                <i class="won icon"></i><span style="color: red"><%= price_currency_comma sale_color_price_min %></span>
              <% else %>
                <i class="won icon"></i><%= price_currency_comma original_price %>
              <% end %>
              </div>

              

            </div>
        </div>
        <% end %>

      </div>

      <div class="customNavigation">
        <a class="ui black button mini prev" id="new_prev"><i class="angle left icon"></i> Previous</a>
        <a class="ui black button mini next" id="new_next">Next <i class="angle right icon"></i></a>
        <a class="ui teal button mini" href="/collectionshop">상품 더보기 <i class="forward mail icon"></i></a>
      </div>

      
    </div>
  </div>
</div>


