<style>



}
.customNavigation{
  text-align: center;
}

.customNavigation a{

  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui.items .item > .content {
  margin-top: 0px !important;
  padding: 0em, 0em !important;
}


</style>
<script>
$(document).ready(function() {
  $("img.lazy").unveil(0, function() {
    $(this).load(function() {
      this.style.opacity = 1;
    });
  });
});

</script>



<div id="main" style="min-height: 1700px;">
	<div class="ui items featured">
    <% @featured_collections.each do |f|  %>
      <div class="item" style="width: 270px;  height: 100px">
            <div class="image" style="border:1px solid #B0B0B0; height: 257px;">
              <div class="uk-overlay" style="background-color: white">
                <a href="/collectionshop/<%= f.collection.user.user_id %>/<%= f.collection.id %>">
                 
               
                     <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= f.collection.featured_image_url %>">
        
                  <div class="uk-overlay-area">

                    <div style="margin: 25px 0px 0px 25px; height: 210px;">
                      <% collection_items = CollectionItem.joins(:product).where("collection_items.collection_id = ? and collection_items.deleted_at is null and products.deleted_at is null", f.collection.id) %>

                      <% collection_items.order("RANDOM()").limit(8).each do |other_item| %>

                        <div style="float: left; margin-right: 10px;">
                          <img class="lazy one-edge-shadow" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= other_item.small_image_url %>" style="58px; height: 58px; margin: 0 0 5px 0;">

                    
                        </div>
                      <% end %>
                      <div style="background-color: #00B5AD; width: 58px; height: 58px; float: left; color: white; font-weight: bold;" class="one-edge-shadow">
                        <div align="center" style="margin-top: 15px; font-size: 25px;">
                          <%= collection_items.count %>
                         
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
              </div>
              <a class="like ui corner label" >
                <i class="like icon"></i>
              </a>
            </div>
            <div class="content">
              <div class="name"><%= f.title %></div>
              
              <p class="description" style="color:rgba(0, 0, 0, 0.8)"><%= f.description %></p>
            
            </div>
          </div>
    <% end %>

  </div>

  <div>
    <%= paginate @featured_collections %>
  </div>
</div>
</div>

