<!-- *** SLIDER ***
	_________________________________________________________ -->

    <div id="slider" class="owl-carousel owl-theme">

        <div class="item">
            <!-- <a href="#"> -->
                <%= image_tag "01_imgae_origin.jpg", :class => "img-responsive" %>
            <!-- </a> -->
        </div>

        <div class="item">
            <!-- <a href="#"> -->
                <%= image_tag "02_imgae_designer.jpg", :class => "img-responsive" %>
            <!-- </a> -->
        </div>

        <div class="item">
            <!-- <a href="#"> -->
                <%= image_tag "03_imgae_quality.jpg", :class => "img-responsive" %>
            <!-- </a> -->
        </div>

        <div class="item">
            <!-- <a href="#"> -->
                <%= image_tag "04_imgae_event1.jpg", :class => "img-responsive" %>
            <!-- </a> -->
        </div>

        <div class="item">
            <!-- <a href="#"> -->
                <%= image_tag "05_imgae_special.jpg", :class => "img-responsive" %>
            <!-- </a> -->
        </div>

       

    </div>
    <!-- /#slider -->

    <!-- *** SLIDER END *** -->


    <!-- *** ADVANTAGES ***
_________________________________________________________ -->

        <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h2 class="text-uppercase"><b>About Quusome</b></h2>

                        <p style="font-size: 15px;">큐썸은 해외 디자이너 브랜드 및 명품 패션 아이템 전문 구매대행 서비스입니다.</p>



                        <div class="same-height-row row">
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=EQUIPMENT">
                                        <%= image_tag "equipment_275x104.jpg", :class => "img-responsive" %>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=ELIE+TAHARI">
                                        <%= image_tag "eli tahari_275x104.jpg", :class => "img-responsive" %>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=REBECCA+TAYLOR">
                                        <%= image_tag "rebeccaTaylor_275x104.jpg", :class => "img-responsive" %>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=CLUB+MONACO">
                                        <%= image_tag "clubMonaco_275x104.jpg", :class => "img-responsive" %>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="same-height-row row">
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=ALLSAINTS">
                                        <%= image_tag 'All-Saints_275x104.jpg', :class => "img-responsive" %>
                                    </a>
                                    <%#= image_tag "brand_come_01 275x104.jpg", :class => "img-responsive" %>
                                 
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=rag+%26+bone">
                                        <%= image_tag 'Ragnbone_275x104.jpg', :class => "img-responsive" %>
                                    </a>
                                    <%#= image_tag "brand_come_02 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=ANDREW+MARC">
                                        <%= image_tag 'Andewmarc_275x104.jpg', :class => "img-responsive" %>
                                    </a>
                                    <%#= image_tag "brand_come_03 275x104.jpg", :class => "img-responsive" %>
                                </div>   
                            </div>

                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <a href="/products?brand=CURRENT%2FELLIOTT">
                                        <%= image_tag 'cuurent_elliott_275x104.jpg', :class => "img-responsive" %>
                                    </a>
                                    <%#= image_tag "brand_come_04 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="same-height-row row">
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <%= image_tag "brand_come_01 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <%= image_tag "brand_come_02 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <%= image_tag "brand_come_03 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div style="border: 1px solid;">
                                    <%= image_tag "brand_come_04 275x104.jpg", :class => "img-responsive" %>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>

        <!-- *** ADVANTAGES END *** -->


    




    <!-- *** ADVANTAGES ***
_________________________________________________________ -->

       <!--  <div id="advantages">

            <div class="container">

                <div class="col-md-12">

                    <div class="box text-center">
                        <h2 class="text-uppercase"><b>BRAND SHOP</b></h2>




                        <div id="brand_slider" class="owl-carousel owl-theme" style="max-width: 1150px; margin: 0 auto;">

        <div class="item">
            <a href="/products?brand=EQUIPMENT">
                <%= image_tag "equipment_900x450.jpg", :class => "img-responsive" %>
            </a>
        </div>

        <div class="item">
            <a href="/products?brand=ELIE+TAHARI">
                <%= image_tag "eli_tahari_900x450.jpg", :class => "img-responsive" %>
            </a>
        </div>

        <div class="item">
            <a href="/products?brand=REBECCA+TAYLOR">
                <%= image_tag "rebeccaTaylor_900x450.jpg", :class => "img-responsive" %>
            </a>
        </div>

        <div class="item">
            <a href="/products?brand=CLUB+MONACO">
                <%= image_tag "clubMonaco_900x450.jpg", :class => "img-responsive" %>
            </a>
        </div>

        



    </div>


                    </div>

                </div>


            </div>

        </div> -->
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->





        <!-- *** CONTENT ***
        _________________________________________________________
        _________________________________________________________
        -->

        <!-- <div id="content">


            <div class="container">

                <div class="col-sm-12">





                    <div class="box text-center">
                        <h3>Quusome MD 추천 아이템</h3>

                  
                    </div>


                    <div class="row products">

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=2">
                                        <%#= image_tag "woman_clothes_featured.jpg", :class => 'img-responsive image1' %>
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Women Clothes</i></p>
                                </div>
                                

                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=3">
                                        <%#= image_tag "woman_shoes_featured.jpg", :class => 'img-responsive image1' %>
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Women Shoes</i></p>
                                </div>
                            
                                
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=4">
                                        <%#= image_tag "woman_bag_featured.jpg", :class => 'img-responsive image1' %>
                                        

                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Women Bag</i></p>
                                </div>
                               

                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=6">
                                        <%#= image_tag "woman_jewelry_featured.jpg", :class => 'img-responsive image1' %>
                                 
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Women Jewelry</i></p>
                                </div>
                                

                                
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=102">
                                        <%#= image_tag "men_clothes_featured.jpg", :class => 'img-responsive image1' %>
                                     
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Men Clothes</i></p>
                                </div>
                                

                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=103">
                                        <%#= image_tag "men_shoes_featured.jpg", :class => 'img-responsive image1' %>
                                       
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Men Shoes</i></p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=104">
                                        <%#= image_tag "men_bag_featured.jpg", :class => 'img-responsive image1' %>
                              
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Men Bag</i></p>
                                </div>
                                

                                
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop?category=105">
                                        <%#= image_tag "men_accessories_featured.jpg", :class => 'img-responsive image1' %>
                               
                                    </a>
                                </div>
                                <div class="text" style="min-height: 30px;">
                                    <p style="font-size: 20px;"><i>Men Accessories</i></p>
                                </div>
                               

                            </div>
                        </div>
                    </div>

                   

                </div>

            </div>
        </div> -->









        <!-- *** CONTENT ***
        _________________________________________________________
        _________________________________________________________
        -->

        <div id="content">


            <div class="container">
                <% unless FeaturedProductCategory.where(:is_public => true).empty? %>
                <div class="col-sm-12">





                    <div class="box text-center">
                        <h2><b>WEEKLY HOT ITEM</b></h2>

                        <!-- <h4 class="text-muted"><span class="accent">큐썸</span> MD 가 추천하는 인기 세일 상품입니다.</h4> -->
                    </div>

                                        <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                      <% FeaturedProductCategory.where(:is_public => true).order('sort_num ASC').each_with_index do |category, i| %>
                        <li <% if i == 0 %>class="active"<% end %>><a style="cursor: pointer" category_name="<%= category.name %>"><%= category.name %></a></li>
                      <% end %>
                      
                    </ul>

                    <br>

                    <% FeaturedProductCategory.where(:is_public => true).order('sort_num ASC').each_with_index do |category, i| %>
                    <div class="row products featured" <% if i > 0 %>style="display: none;"<% end %> id="featured_<%= category.name %>">

                        <% 
                        sale_featured_products = FeaturedProduct.where(:featured_product_category_id => category.id)
                        sale_featured_products.each do |featured_product| 

                        original_price = featured_product.product.multi_price_final["original"]
                        sale_color_price_min = featured_product.product.multi_price_final["sale_color"].values.min
                        %>


                        <div class="col-md-3 col-sm-4">
                            <div class="product">
                                <div class="image">
                                    <a href="/rootshop/<%= featured_product.product.id %>">
                                        <img  data-src="<%= featured_product.product.featured_medium_image_url %>" src="<%= featured_product.product.featured_medium_image_url %>">
                                        <%#= image_tag featured_product.product.featured_medium_image_url %>
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text" style="min-height: 145px;">
                                    <h3><a href="detail.html"><%= featured_product.product.title %></a></h3>
                                    <% if featured_product.product.is_sale == 'true' %>
                                        <p class="price"><del>₩<%= price_currency_comma original_price %></del></p>
                                        <p class="price">₩<%= price_currency_comma sale_color_price_min %></p>
                                    <% else %>
                                        <p class="price">₩<%= price_currency_comma original_price %></p>
                                    <% end %>
                                    

                                </div>
                                <!-- /.text -->

                                <p class="buttons">
                                    <a href="detail.html" class="btn btn-default">View detail</a>
                                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.product -->
                        </div>

                        <% end %>

                        
                        </div>
                        <% end %>

                        

                       
                    </div>
                    <% end %>
                    <!-- /.products -->

                    <!-- *** BLOG HOMEPAGE ***
            _________________________________________________________ -->

                    <div class="box text-center">
                        <h2 class="text-uppercase"><b>QUUSOME BLOG</b></h2>

                        <!-- <h4 class="text-muted">해외쇼핑 할 때 필요한  <span class="accent">정보</span> 를 알려드립니다. -->
                        </h4>
                    </div>

                    <div id="blog-homepage" class="row">
                        <% @blogs.each do |blog| %>
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h4>
                                <p class="author-category">By <a href="#">Quusome</a>
                                </p>
                                <hr>
                                <%= image_tag blog.image %>
                                <p class="intro"><%= blog.description %></p>
                                <p class="read-more"><a href="/blogs/<%= blog.id %>" class="btn btn-primary">자세히 보기</a>
                                </p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <br>
                    <div id="blog-homepage" class="row">
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="post.html">상품문의</a></h4>
                                <hr>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th style="text-align: center; width: 10%"></th>
                                      <th style="text-align: center; width: 50%">상품명</th>
                                      <th style="text-align: center; width: 20%">문의자</th>
                                      <th style="text-align: center; width: 20%">등록일</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @product_comments.each do |comment| %>
                                        <% product = Product.find(comment.commentable_id) %>
                                        <tr>
                                          <td><%= image_tag  product.featured_small_image_url, :style => 'width: 30px; height: 30px;' %></td>
                                          <td><a href="/board/product_faq/<%= comment.id %>"><%= product.title %> [<%= Comment.where(:parent_id => comment.id).count %>]</a></td>
                                          <td style="text-align: center"><%= comment.user.user_id %></td>
                                          <td style="text-align: center"><%= comment.created_at.strftime("%F") %></td>
                                        </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                                <p class="read-more"><a href="/board/product_faq" class="btn btn-primary">더보기</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="/board/review">사용후기</a></h4>
                                <hr>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th style="text-align: center; width: 50%">제목</th>
                                      <th style="text-align: center; width: 20%">작성자</th>
                                      <th style="text-align: center; width: 30%">등록일</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% @boards.each do |board| %>
                                        <tr>
                                            <td><a href="/board/review/<%= board.id %>"><%= board.title %> [<%= Comment.where(:commentable_id => board.id).count %>]</a></td>
                                            <td style="text-align: center;"><%= board.user.user_id %></td>
                                            <td style="text-align: center;"><%= board.created_at.strftime("%F") %></td>
                                        </tr>
                                    <% end %>
                                  </tbody>
                                </table>
                                <p class="read-more"><a href="/board/review" class="btn btn-primary">더보기</a>
                                </p>
                            </div>

                        </div>

                    </div>
                    <!-- /#blog-homepage -->

                    <!-- *** BLOG HOMEPAGE END *** -->

                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        <!-- /#content -->


<script>
$(function() {

    if ($('#brand_slider').length) {
        var owl = $("#brand_slider");

        $("#brand_slider").owlCarousel({
            // autoPlay: 3000,
            items: 3, //10 items above 1000px browser width
            itemsDesktopSmall: [900, 4], // betweem 900px and 601px
            itemsTablet: [600, 3], //2 items between 600 and 0
            itemsMobile: [500, 2] // itemsMobile disabled - inherit from itemsTablet option
        });
    }

    // $('ul.nav.nav-pills li').each(function() {
        
    //     if($(this).attr('class') == 'active') {
    //         var category = $(this).children('a').attr('category_name');
    //         $('#featured_' + category).find('img').each(function(img) {
    //             $(this).attr('src', $(this).attr('data'));
    //         })
           
    //     }
        
    // })

    $('ul.nav.nav-pills li').on('click', function() {

        $('ul.nav.nav-pills li').removeClass('active');
        $(this).addClass('active');

        // $('.row.products').hide();
        var category = $(this).children('a').attr('category_name');
        // $('#featured_' + category).show();

        $('.row.products.featured').each(function() {

            if($(this).attr('id') == 'featured_' + category) {
                $(this).show()
                $(this).find('img').each(function() {
                    $(this).attr('src', $(this).attr('data-src'))
                })

                $(this).find('div.image').each(function() {
                    $(this).css('height', '255px')
                })

            }else {
                $(this).hide()
            }
           
           
        })

        // $('#featured_' + category).find('img').each(function() {
        //     $(this).attr('src', $(this).attr('data-src'));
        //     $(this).css('height', '255px')
        // })
        // $(this).children().each(function() {
        //     console.log($(this))
        // })
        

    });






});
</script>