<script>
$(function() {
	$(".owl-carousel").owlCarousel({
 
      // navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });

}); 
</script>

<%- flash.each do |name, msg| -%>

	<div class="uk-alert" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <%= msg %>
    <% if user_signed_in? %>
    	<%= current_user.user_id %> 님!
    <% end %>
	</div>
<%- end -%>



<div id="container">
	<div class="ui grid">
		<div class="row">
			<div class="eleven wide column">
				<div class="owl-carousel">
					<div class="item">
						<a href="/rootshop?&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
							<%= image_tag 'featured_images/head_slide_1.jpg', :style => 'width:779px; height: 382px;' %>
						</a>
					</div>
					<!-- <div class="item">
						<a href="#">
							<%#= image_tag 'featured_images/head_slide_2.jpg', :style => 'width:779px; height: 382px;' %>
						</a>
					</div> -->
					<div class="item">
						<a href="#">
							<%= image_tag 'featured_images/head_slide_3.jpg', :style => 'width:779px; height: 382px;' %>
						</a>
					</div>
					<div class="item">
						<a href="#">
							<%= image_tag 'featured_images/head_slide_4.jpg', :style => 'width:779px; height: 382px;' %>
						</a>
					</div>
				</div>
			</div>

			<div class="five wide column">
				<div class="owl-carousel">
					<div class="item">
						<a href="http://blog.quusome.com/?p=206" target="_blank">
							<%= image_tag 'featured_images/notice_slide_1.jpg', :style => 'width:334px; height: 382px;' %>
						</a>
					</div>
					<div class="item">
						<a href="http://blog.quusome.com/?p=220" target="_blank">
							<%= image_tag 'featured_images/notice_slide_2.jpg', :style => 'width:334px; height: 382px;' %>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="eight wide column">
				<a href="/rootshop?category_arr%5B%5D=1&category_arr%5B%5D=2&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
					<div class="uk-panel-teaser uk-overlay">
						<%= image_tag 'featured_images/woman_clothes.jpg', :style => 'width: 557px; height: 401px'%>
						<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
	          	<div class="uk-overlay-area-content">
	          	</div>
	        	</div>
					</div>
				</a>
			</div>
			<div class="eight wide column">
				<div class="ui grid">
					<div class="row">
						<div class="column">
							<a href="/rootshop?category_arr%5B%5D=1&category_arr%5B%5D=3&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
								<div class="uk-panel-teaser uk-overlay">
									<%= image_tag 'featured_images/woman_shoes.jpg', :style => 'width: 556px; height: 189px;' %>
									<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
				          	<div class="uk-overlay-area-content">
				          	</div>
				        	</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<a href="/rootshop?category_arr%5B%5D=1&category_arr%5B%5D=5&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
								<div class="uk-panel-teaser uk-overlay">
									<%= image_tag 'featured_images/woman_accessory.jpg', :style => 'width: 556px; height: 189px;' %>
									<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
				          	<div class="uk-overlay-area-content">
				          	</div>
				        	</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="row">
			<div class="sixteen wide column">
				<a href="/collectionshop">
					<div class="uk-panel-teaser uk-overlay">
						<%= image_tag 'featured_images/collection_link.jpg' %>
						<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
	          	<div class="uk-overlay-area-content">
	          	</div>
	        	</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="eight wide column">
				<a href="/rootshop?category_arr%5B%5D=101&category_arr%5B%5D=102&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
					<div class="uk-panel-teaser uk-overlay">
						<%= image_tag 'featured_images/men_clothes.jpg', :style => 'width: 557px; height: 401px' %>
						<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
	          	<div class="uk-overlay-area-content">
	          	</div>
	        	</div>
					</div>
				</a>
			</div>
			<div class="eight wide column">
				<div class="ui grid">
					<div class="row">
						<div class="column">
							<a href="/rootshop?category_arr%5B%5D=101&category_arr%5B%5D=103&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
								<div class="uk-panel-teaser uk-overlay">
									<%= image_tag 'featured_images/men_shoe.jpg', :style => 'width: 556px; height: 189px;' %>
									<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
				          	<div class="uk-overlay-area-content">
				          	</div>
				        	</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<a href="/rootshop?category_arr%5B%5D=101&category_arr%5B%5D=105&q%5Bis_sale_eq%5D=true&q%5Bs%5D=created_at+desc&utf8=%E2%9C%93">
								<div class="uk-panel-teaser uk-overlay">
									<%= image_tag 'featured_images/men_accessory.jpg', :style => 'width: 556px; height: 189px;' %>
									<div class="uk-overlay-area" style="background: rgba(0,0,0,.3); padding: 5px;">
				          	<div class="uk-overlay-area-content">
				          	</div>
				        	</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
</div>