<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">
  <h3 class="ui header">
  적립금 내역
</h3>
<div class="ui divider"></div>
	<h3 class="ui header">
		현재 적립금은 <%= price_currency_comma @save_money_sum %> 원 입니다.
	</h3>
	<table class="ui celled  table segment" id="">
    <thead>
      <tr >
        <!-- <th style="text-align: center" class="one wide">주문</br>번호</th> -->
        <th style="text-align: center" class="one wide">사진</th>
        <th style="text-align: center" class="eight wide">상품</th>
        <th style="text-align: center" class="two wide">구매가격</th>
        <th style="text-align: center" class="two wide">적립금</th>
        <th style="text-align: center" class="two wide">주문일자</th>
      </tr>
    </thead>
    <tbody>
    	<% @saved_money.each do |money| %>
    	<% order_item = OrdersItem.where(:id => money.orders_item_id).last %>
    	<tr>
            <% if order_item %>
        		<td style="text-align: center">
        			<%= image_tag order_item.product.featured_small_image_url, :style => 'width: 30px;' %>
        		</td>
        		<td>
        			<%= order_item.product.title %>
        		</td>

        		<td style="text-align: right">
        			<%= price_currency_comma order_item.price.to_i %>
        		</td>
            <% else %>
                <td>&nbsp;</td>
                <td>회원가입 이벤트</td>
                <td>&nbsp;</td>
            <% end %>

            <% if money.money.to_s.start_with?('-') %>
                <td style="text-align: right; color: blue; font-weight: bold;">
                    <%= price_currency_comma money.money %>
                </td>
            <% else %>
                <td style="text-align: right; color: red; font-weight: bold;">
                    <%= price_currency_comma money.money %>
                </td>
            <% end %>
    		
            <% if order_item %>
    		  <td style="text-align: center"><%= order_item.created_at.strftime("%F %T") %></td>
            <% else %>
                <td style="text-align: center"><%= money.created_at.strftime("%F %T") %></td>
            <% end %>
    	</tr>
    	<% end %>
    </tbody>
  </table>
</div>