<%= simple_form_for [:myshop, @blog_category] do |f| %>
	<div class="field">
		<label>카테고리 이름</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :name, :placeholder => "이름을 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>

	<div class="field">
		<label>카테고리 순서</label><br/>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :sort_num, :placeholder => "순서를 입력하세요.", :label => false %>
			
		</div>
	</div>
	<br/>
	
	<div>
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>

<% end %>