<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>블로그 카테고리 목록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="nine wide">카테고리 이름</th>
			<th style="text-align: center" class="five wide">순서</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @blog_categories.each do |blog_category| %>
			<tr>
				<td><%= blog_category.name %></td>
				<td style="text-align: center"><%= blog_category.sort_num %></td>
				<td style="text-align: center"><%= link_to "수정", edit_myshop_blog_category_path(blog_category), :class => "ui button mini red"  %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>

