<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>블로그 카테고리 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<%= render 'form' %>