<div>
	<% if activity.owner.id == current_user_id %>
		
	<% else %>
		'<%= activity.owner.user_id %>' 님이
	<% end %>
	'<%= activity.recipient.name %>' 컬렉션에 '<%= activity.trackable.product.title %>' 상품을 추가했습니다.
</div>