
<div>
	<% if activity.owner.id == current_user_id %>
		<%= activity.recipient.name %> 컬렉션을 팔로우했습니다.
	<% else %>
		<%= activity.owner.user_id %> 님이 <%= activity.recipient.name %> 컬렉션을 팔로우했습니다.
	<% end %>
</div>