<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb" style="width: 900px;">
			<i class="tags icon"></i>인출요청

		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>
<div class="ui segment" >
	<table class="ui celled table segment">
	  <thead>
	    <tr>
	    	<td style="text-align: center">유저아이디</td>
	    	<td style="text-align: center">인출요청금액</td>
	    	<td style="text-align: center">인출여부</td>
	    	<td style="text-align: center">요청날짜</td>
	    	<td style="text-align: center">인출</td>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @profit_withdraw_requests.each do |request| %>
	  	<tr>
	  		<td style="text-align: center"><%= User.find(request.user_id).user_id %></td>
	  		<td style="text-align: right"><%= price_currency_comma request.withdraw_amount.to_i %></td>
	  		<td style="text-align: center"><% if request.is_done %>인출<% else %>미인출<% end %></td>
	  		<td style="text-align: center"><%= request.created_at.strftime("%F %T") %></td>
	  		<td style="text-align: center">
	  			<%= link_to '인출하기' , myshop_profit_withdraw_requests_update_state_path(request.id),  :class => 'ui button mini red' , :method => 'put', :confirm => "인출처리 하시겠습니까?" unless request.is_done %>
	  		</td>
	  	</tr>
	  	<% end %>
	  </tbody>
</div>