<%= simple_form_for [:myshop, @featured_product_category] do |f| %>
<div class="ui form blue segment">
	<div class="inline fields">
	<div class="field">
		<label>이름</label>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :name, :label => false %>
			
		</div>
	</div>

	<div class="field">
		<label>순서</label>
		<div class="ui small input" style="width: 50px;">
			<%= f.input :sort_num, :as => :string, :label => false %>
			
		</div>
	</div>

	<div class="field">
		<label>공개여부</label>
		<div class="ui small input" style="width: 300px;">
			<%= f.input :is_public, :label => false %>
			
		</div>
	</div>


	

	<div class="field">
		<%= f.submit "저장", :class => 'ui green button small' %>
 	</div>
 </div>
 </div>
<% end %>