<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>피처드 상품 카테고리
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="seven wide">이름</th>
			<th style="text-align: center" class="two wide">순서</th>
			<th style="text-align: center" class="two wide">공개여부</th>
			<th style="text-align: center" class="four wide">등록일</th>
			<th style="text-align: center" class="one wide">삭제</th>
			
		</tr>
	</thead>
	<tbody>
		<% @featured_product_category.each do |category| %>
			<tr>
				<td style="text-align: center"><a href="/myshop/featured_product_category/<%= category.id %>/edit"><%= category.name %></a></td>
				<td style="text-align: center"><%= category.sort_num %></td>
				<td style="text-align: center"><%= category.is_public %></td>
				<td style="text-align: center"><%= category.created_at.strftime("%F %T") %></td>
				<td style="text-align: center"><%= link_to "삭제", myshop_featured_product_category_path(category), :method => 'delete', :confirm => '삭제하시겠습니까?' %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>
