<%= render '/mypage/mypage_menu' %>


<div class="ui bottom attached segment">
  <h3 class="ui header">
   컬렉션 수익내역
</h3>
<div class="ui divider"></div>
  <input type="hidden" id="total_income" value="<%= @profits_sum.collection_profit %>">
  <h3 class="ui header">
     총수익: <%= price_currency_comma @profits_sum.collection_profit.to_i %> ( 10,000 원 이상 부터 인출 신청이 가능합니다. )<br/>
     <%= form_tag profits_withdraw_path do %>

      <!-- <input type="text" name="profits_withdraw"> -->
      <button class="ui button mini" id="profits_withdraw_btn">수익인출요청</button>
      <input type="submit" style="display: none;" id="profits_withdraw_submit">
     <% end %>
     
  </h3>
 
  
  <table class="ui celled  table segment" id="">
    <thead>
      <tr >
        <!-- <th style="text-align: center" class="one wide">주문</br>번호</th> -->
        <th style="text-align: center" class="five wide">컬렉션</th>
        <th style="text-align: center" class="five wide">상품</th>
        <th style="text-align: center">수익</th>
        <th style="text-align: center" class="one wide">상태</th>
        <th style="text-align: center" class="two wide">주문일자</th>
      </tr>
    </thead>
    <tbody>
      <% if @profits.each do |profit| %>
        <% if profit.collection.nil? %>
          <tr>
            <td colspan=2 style="text-align: center">컬렉션 수익 인출</td>
            <td style="text-align: right;">
              <% if profit.collection_profit.start_with?("-") %>
                <span style="color: blue; font-weight: bold;"><%= price_currency_comma profit.collection_profit %></span>
              <% else %>
                <span style="color: red; font-weight: bold;"><%= price_currency_comma profit.collection_profit %></span>
              <% end %>
               
            </td>
            <td style="text-align: center">
              인출
            </td>
            <td style="text-align: center"><%= profit.created_at.strftime("%F %T") %></td>
          </tr>
        <% else %>
          <tr>
            <td>
              <%= image_tag profit.collection_with_deleted.featured_small_image_url, :style => 'width: 50px;' %> 
              <%= profit.collection_with_deleted.name %>
              <% if profit.collection_with_deleted.is_deleted? %>
                (삭제됨)
              <% end %>
            </td>
            <td><%= image_tag profit.product.featured_small_image_url , :style => 'width: 50px;'%> <%= profit.product.title %></td>
            <td style="text-align: right;">
              <% if profit.collection_profit.start_with?("-") %>
                <span style="color: blue; font-weight: bold;"><%= price_currency_comma profit.collection_profit.to_i %></span>
              <% else %>
                <span style="color: red; font-weight: bold;"><%= price_currency_comma profit.collection_profit.to_i %></span>
              <% end %>
               
            </td>
            <td style="text-align: center">
              <% if profit.is_cancel %>
                주문<br/>최소
              <% else %>
                주문
              <% end %>
            </td>
            <td style="text-align: center"><%= profit.created_at.strftime("%F %T") %></td>
          </tr>
        <% end %>
        
      <% end.empty? %>
        <tr><td colspan=5 style="text-align: center;">컬렉션 수익이 존재하지 않습니다.</td></tr>
      <% end %>
    </tbody>
   <!--  <tfoot>
    <tr>
    <th style="text-align: center">합계</th>
    <th></th>
    <th style="text-align: center"><%#= @profits.sum { |profit| profit.collection_profit } %></th>
    <th>
    </th>
  </tr></tfoot> -->
  </table>

  <div>
    <%= paginate @profits %>
  </div>
</div>

<div class="ui modal small" id="">
  <i class="close icon"></i>
    <div class="header">
      <i class="money icon"></i>컬렉션 수익인출 요청
    </div>
    <div class="content" style="margin-top: -0px; margin-bottom: 0px; ">
      인출 가능금액은 <%= price_currency_comma @profits_sum.collection_profit.to_i %> 원입니다.
      <div class="ui divider"></div>
      <input type="hidden" id="hidden_profit" value="<%= @profits_sum.collection_profit.to_i %>">
      <div class="ui icon message red">
        <i class="lock icon"></i>
        <div class="content">
            입력되는 정보는 모두 암호화 되어서 저장됩니다.
          <!-- <ul class="list">
            <li>통관절차를 위해 부득이하게 구매자분의 주민등록번호가 필요합니다.</li>
            <li>주민등록번호는 암호화 되어서 저장되니 안심하고 주문하세요.</li>
            <li>잘못된 주민등록번호를 입력시 주문이 진행이 되지 않으므로 정확히 입력해주세요.</li>
          </ul> -->
        </div>
      </div>
      <%= simple_form_for @profit_withdraw_request, :url => profits_withdraw_path do |f| %>
      <div class="ui form">
        <div class="field">
          <label>은행명</label>
          <%= f.input :bank_name,  :label => false, :input_html => { :style => 'width: 300px;'} %>
        </div>
        <div class="field">
          <label>에금주</label>
          <%= f.input :account_owner,  :label => false, :input_html => { :style => 'width: 300px;'}  %>
        </div>
        <div class="field">
          <label>계좌번호</label>
          <%= f.input :account_number,  :label => false, :input_html => { :style => 'width: 300px;'} %>
        </div>
        <div class="field">
          <label>인출금액</label>
          <%= f.input :withdraw_amount,  :label => false, :input_html => { :style => 'width: 300px;', :class => 'numberinput'}   %>
        </div>
        <div class="field">
          <label>비상 연락 전화번호</label>
          <%= f.text_field :tel_no_1, :style => 'width: 80px;', :class => 'numberinput' %>
         
          <i class="minus icon"></i><%= f.text_field :tel_no_2, :style => 'width: 80px;', :class => 'numberinput' %>
         
          <i class="minus icon"></i><%= f.text_field :tel_no_3, :style => 'width: 80px;', :class => 'numberinput' %>
          
        </div>
      </div>

      <div>
          <%= f.submit "저장", :class => 'ui button green', :confirm => "저장하시겠습니까?", :style => 'display:none', :id => 'submit_btn' %>
          <a class="ui button green" id="withdraw_modal_submit">저장</a>
          <a class="ui button" id="withdraw_modal_close">취소</a>
        </div>
      
    <% end %>

    </div>
    
</div>

<script>
$(function() {
  $('#profits_withdraw_btn').on('click', function() {
    if(Number($('#total_income').val()) < 10000) {
      alert("수익이 10,000원 이상일 경우에만 인출요청을 할 수 있습니다.");
      return;
    }

    $('.small.modal').modal('setting', 'transition', '').modal('show');
  });

  $('#withdraw_modal_close').on('click', function() {
    $('#profit_withdraw_requests_bank_name').val('');
    $('#profit_withdraw_requests_account_owner').val('');
    $('#profit_withdraw_requests_account_number').val('');
    $('#profit_withdraw_requests_withdraw_amount').val('');

    $('.small.modal').modal('hide');
  });

  $('#withdraw_modal_submit').on('click', function() {


    if($('#profit_withdraw_requests_bank_name').val() == '') {
      alert("은행명을 입력하세요.");
      $('#profit_withdraw_requests_bank_name').focus();
      return;
    }else if($('#profit_withdraw_requests_account_owner').val() == '') {
      alert("에금주를 입력하세요.");
      $('#profit_withdraw_requests_account_owner').focus();
      return;
    }else if($('#profit_withdraw_requests_account_number').val() == '') {
      alert("계좌번호를 입력하세요.");
      $('#profit_withdraw_requests_account_number').focus();
      return;
    }else if($('#profit_withdraw_requests_withdraw_amount').val() == '') {
      alert("인출금액을 입력하세요.");
      $('#profit_withdraw_requests_withdraw_amount').focus();
      return;
    }

    alert(Number($('#hidden_profit').val()));
    alert(Number($('#profit_withdraw_requests_withdraw_amount').val()));


    if(Number($('#hidden_profit').val()) < Number($('#profit_withdraw_requests_withdraw_amount').val())) {
      alert("인출금액이 총수익금액 보다 큽니다.");
      return;
    }



    return;

    $('#submit_btn').click();
  });

  $('.numberinput').bind('keypress', function(e){
    return !(e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46);
  });
});
</script>