<style>
body {
  background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
  width: 100%;
  max-width: 1150px;
  /*min-width: 800px;*/
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}


</style>

<div id="wrapper">
  <div id="columns">

    <% @products.each do |product| %>
        <div class="pin one-edge-shadow">

          <div class="ui small" style="margin-bottom: 5px; font-size: 14px; background-color: #3F3F3F; color: white; padding: 3px 3px 3px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px">
                    <%= product.title %>
                  </div>
                  <div class="ui divider" style="margin-top: 5px; margin-bottom: 5px;"></div>
          <div class="item_image">
            
            <%= link_to rootshop_path(product), :class => "uk-overlay-toggle" do %>
              <!-- <div class="uk-overlay"> -->
              
                <%= image_tag product.featured_rootshop_index_image_url %>
                
                <!-- <div class="uk-overlay-area" style="background: rgba(0,0,0,.1); padding: 5px;"> -->
                <!-- </div> -->
              <!-- </div> -->

            <% end %>
            <div class="ui divider" style="margin-top: 5px; margin-bottom: 5px;"></div>
            <div>
              
              <!-- <div style="float: left;"><%#= image_tag product.user.small_image_url, :class => "product_user_image" %></div> -->
             <!--  
              <div class="product_user_id" style="float: left;">
              </div> -->
              <div class="product_icons" style="text-align: right">
                <a href="#" class="product_icon" ><i class="unhide icon"></i><%= product.impressionist_count %></a>
                <a href="#" class="product_icon"><i class="comment icon"></i><%= product.reviews.count %></a>
                <a href="#" class="product_icon"><i class="block layout icon"></i></i><%= product.collection_items.count %></a> 
              </div>
            </div>
            <%
              original_price = product.multi_price_final["original"]
              sale_color_price_min = product.multi_price_final["sale_color"].values.min
            %>
            
            <div class="product_price">
              <% unless product.multi_price_final["sale_color"].empty? %>
                <div style="float:left; padding-right: 10px;">
                  <span style="color: #D95C5C"><i class="long arrow down icon"></i> <%= ((original_price.to_f - sale_color_price_min.to_f)/original_price.to_f * 100).round  %>%</span>
                </div>
              <% end %>
              <div style="float:left">
              <% unless product.multi_price_final["sale_color"].empty? %>

                <i class="won icon"></i><del><%= price_currency_comma original_price %></del><br/>
                
                <i class="won icon"></i><span style="color: #D95C5C;"><%= price_currency_comma sale_color_price_min %></span>
              <% else %>
                <i class="won icon"></i><%= price_currency_comma original_price %>
              <% end %>
              </div>

              

            </div>
            
          </div>
          
          
          
        </div>
      <% end %>

  </div>
</div>