
<script>
// $(function() {
//   $('.items').imagesLoaded(function() {
//       $('.items li').wookmark({
//         autoResize: false,
//         itemWidth: 280,
//         offset: 10,
//         container: $('#main'),
//         align: 'left'
//       });
//     });
// })



$(function() {
  $('#category_depth_1').on('change', function() {
    if($('#category_depth_1 option:selected').val() == '') {
      $('#category_field_2').empty();
      $('#category_field_3').empty();
    }else {
      $('#category_field_2').empty();
      $('#category_field_3').empty();

      $.ajax({
        url: 'category_child_2',
        type: 'GET',
        dataType: 'script',
        data: { id: $('#category_depth_1 option:selected').val() }
      });
    }
  });

  $('#category_depth_2').on('change', function() {
    if($('#category_depth_2 option:selected').val() == '') {
      $('#category_field_3').empty();
    }else {
      $('#category_field_3').empty();

      $.ajax({
        url: 'category_child_3',
        type: 'GET',
        dataType: 'script',
        data: { id: $('#category_depth_2 option:selected').val() }
      });
    }
  });

  $('#delete_category_depth_2').on('click', function() {
    // $('#category_field_2').empty();
    // $('#category_depth_1').val('');
    $('#category_depth_2').val('')
    $('#category_field_3').empty();
  });

  $('#delete_category_depth_3').on('click', function() {
    // $('#category_field_3').empty();
    // $('#category_depth_2').val('');
    $('#category_depth_3').val('')
  });

  $('#delete_category_depth_1').on('click', function() {
    $('#category_depth_1').val('');
    $('#category_field_2').empty();
    $('#category_field_3').empty();
  });

  $('#search_init').on('click', function() {
    $('#q_title_cont').val('');
    $('#q_init_price_gteq').val('');
    $('#q_init_price_lteq').val('');
    $('#q_sale_check').attr('checked', false);
    $('#category_depth_1').val('');
    $('#category_field_2').empty();
    $('#category_field_3').empty();

  });

  $('#search_field_close').on('click', function() {
    $('#search_field').hide();
  });
})

$(document).ready(function() {
  $("img.lazy").unveil(0, function() {
    $(this).load(function() {
      this.style.opacity = 1;
    });
  });
});

</script>

<div id="container">
<div class="ui message" style="display: none;" id="search_field">

  <div class="content">
    <%= search_form_for @q, url: rootshop_index_path do |f| %>
    <div class="ui form segment">
      <label style="width: 50px;">타이틀</label>
      <%= f.text_field :title_cont, :style => 'width: 200px;', :placeholder => '상품타이틀을 입력하세요.' %>

      <label style="margin-left: 40px; width: 50px;">브랜드</label>
      <%= f.text_field :brand_cont, :style => 'width: 200px;', :placeholder => '브랜드를 입력하세요.' %>

      <label style="margin-left: 40px; width: 50px;">가격대</label>
      <%
        init_price_gteq = @q.init_price_gteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_gteq > 0
        init_price_lteq = @q.init_price_lteq.to_i if !@q.init_price_lteq.blank? and @q.init_price_lteq > 0
      %>
      <%= f.text_field :init_price_gteq, :value => init_price_gteq, :style => 'width: 200px;', :placeholder => '최소가격' %>
      <i class="minus icon"></i>
      <%= f.text_field :init_price_lteq, :value => init_price_lteq, :style => 'width: 200px;', :placeholder => '최대가격' %>
      <div id="category_field">
        <% category_arr_1 = params[:category_arr] ? params[:category_arr][0] : '' %>
        <label style="width: 50px; margin-top: 30px;">카테고리</label>

        <span id="category_field_1"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.roots, "id", "name", category_arr_1), :id => 'category_depth_1', :prompt =>'선택하세요.', :style => 'width: 200px;' %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_1'></i></span>

        <span id="category_field_2">
          <% category_arr_2 = params[:category_arr] ? params[:category_arr][1] : nil %>
          <% if category_arr_2 %>
            <span id="category_field_2"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_2).siblings, "id", "name", category_arr_2), :id => 'category_depth_2', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_2'></i></span>
          <% end %>
        </span>

        <span id="category_field_3">
          <% category_arr_3 = params[:category_arr] ? params[:category_arr][2] : nil %>
          <% if category_arr_3 %>
            <span id="category_field_3"><%= select_tag "category_arr[]", options_from_collection_for_select(ProductCategory.find(category_arr_3).siblings, "id", "name", category_arr_3), :id => 'category_depth_3', :prompt =>'선택하세요.', :style => 'width: 200px;'  %> <i class="remove sign icon large" style='cursor: pointer' id='delete_category_depth_3'></i></span>
          <% end %>
        </span>

      </div>
      <div class="ui checkbox" style="margin-top: 30px;">
        <%= f.check_box :is_sale_eq, { id: 'q_sale_check'}, 'true', '' %>
        <label for="check1">세일상품만</label>
      </div>

      
    </div>
    <%= button_tag(type: 'submit', class: 'ui red submit button icon') do %><i class="search icon"></i> 검색<% end %>
    <div class="ui blue submit button icon" style="text-align: right;" id='search_init'><i class="remove sign icon"></i> 초기화</div>
  <% end %>
  
    
  </div>

</div>
<!-- <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">가격순</a></li>
  <li><a href="#">신상품순 ▼</a></li>
</ul> -->
  <div>
    <% params.delete(:page) %>
    <%= sort_link @q, :init_price, "가격순", {}, { :class => 'btn btn-primary navbar-btn', :style => 'font-size: 12px;'} %>
    <%= sort_link @q, :created_at, "신상품순", {default_order: :desc}, { :class => 'btn btn-primary navbar-btn', :style => 'font-size: 12px;'} %>
  </div>
  <div id="main">

    <ul class="items">
      <% @products.each do |product| %>
        <% if product.is_crawled == 'true' %>
          <%= render :partial => 'rootshop/partial/crawled_products_item', :locals => { :product => product } %>
        <% else %>
          <%= render :partial => 'rootshop/partial/products_item', :locals => { :product => product } %>
        <% end %>
      <% end %>

     
    </ul>
  </div>

  <div>
    <%= paginate @products %>
  </div>
</div>


<!-- <script src="http://lvh.me:3001/assets/widget.js" data-id="2"></script> -->
<!-- <div class="pollfu-target" data-target-id="5bM"><a href="http://pollfu.com/q/5bM">dfdsfdsf - pollfu.com</a></div><script src="http://pollfu.com/public/js/embed.v1.js" data-id="5bM"></script> -->



