<style>


/*body {

   -webkit-font-smoothing: antialiased;
   font-family: 'Gill Sans MT', 'GillSans MT', 'Gill Sans', GillSans, Arial, Helvetica, sans-serif;
   font-size: 13.5px;
}*/
/*
h1 {
   font-weight: normal;
   margin: 0 0 12px 0;
   text-transform: capitalize;
}*/

/*div.wrapper {
   margin: 20px auto 20px auto; 
   width: 90%; 
}*/

/*div.wrapper:after {
  clear: both;
	content: ".";
	display: block;
	height: 1px;
	visibility: hidden;	 
}*/

div#logo {
  margin: 0 0 6px 0; 
}

div.grid {
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba( 1,1,1, 0.15);
  padding: 0;
  position: relative;
  overflow: hidden;
}

.col {
  float: left;
}

.col-2-3 {
  width: 66%;
}

.col-1-3 {
   width: 34%; 
}
aside {
   font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}
aside ul {
   margin: 0;
   padding: 0 15px;
   list-style-type: none;
}
aside ul li {
   border-bottom: 1px solid #ddd;
   box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.25);
   font-size: 13px;
   text-shadow: 0 1px 0 rgba( 255, 255, 255, 1);
}
aside ul li:last-of-type{
   border-bottom: 0;
   box-shadow: none;
}
aside ul li a {
   color: rgb(63, 63, 63);
   display: block;
   font-weight: bold;
   padding: 3.5% 0;
   text-decoration: none;
   text-shadow: 0 1px 0 rgba(255,255,255,1);
}
aside ul li:hover a {
   color: #36C;
}
aside:before{
   background-color: #eee;
   border-radius: 0 10px 10px 0;
   content: "";
	 height: 100%;
	 padding: 0;
   position: absolute;
	 visibility: visible;
   width: 34%;
   z-index: -2;
}
.content-main {
   background-color: #fff;
   border-radius: 10px 0 0 10px;
}
.content-main:before{
   background-color: #fff;
   border-radius: 10px 0 0 10px;
   box-shadow: 2px 0 3px 1px rgba( 1,1,1, 0.055);
   content: "";
	 height: 100%;
	 padding: 0;
   position: absolute;
	 visibility: visible;
   width: 66%;
   z-index: -1;
}
.module {
  padding: 15px; 
}
/*ol {
  margin: 12px 32px 24px 32px; 
}
em {
  color: #F65857; 
}
p {
  line-height: 140%;
  margin: 0 0 16px 0;
}*/

.panel-white {
	background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba( 1,1,1, 0.15);
  height: 200px;
}


.thumbnail {
  position: relative;
  margin: 20px auto;
  width: 380px;
  height: 530px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #383838;
  overflow: hidden;
}
.thumbnail img {
  display: block;
  height: 350px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  opacity: .8;
}
.thumbnail .comments {
  position: relative;
  background: #f5f5f5;
  height: 200px;
  border-radius: 0 0 3px 3px;
}
.thumbnail button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  background: #4aae7a;
  color: #fff;
  padding: 8px 10px;
  box-shadow: 1px 1px 2px #000;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: -45px;
}
.thumbnail .count {
  background: rgba(255,255,255,.8);
  color: #555;
  font-weight: bold;
  width: 40px;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  padding: 2px 0;
  position: absolute;
  top: -37px;
  left: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.thumbnail .count:after {
  content: '';
  display: block;
  position: absolute;
  left: 45%;
  bottom: -6px;
  border-left: 8px solid transparent;
	border-right: 0px solid transparent;
	border-top: 6px solid rgba(255,255,255,.8);
}
.comments .fade {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 45px;
  background-image: -webkit-linear-gradient(top, rgba(245,245,245,0), rgba(245,245,245,1) 100%);
  z-index: 10;
}
.comment {
  padding: 15px;
}
.comments .comment img {
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 40px;
  opacity: 1;
  box-shadow: 0 0 2px #888;
}
.comments .comment .text {
  margin-left: 55px;
  font-size: 11px;
  position: relative;
  top: -46px;
  color: #777;
  margin-bottom: -55px;
}
.comment .text strong {
  color: #555;
}
.comment .text small {
  color: #aaa;
}


</style>

 

  
  <div class="ui large breadcrumb">
  <a class="section">Root Shop</a>
  <div class="divider"> / </div>
  <a class="section">Fashion</a>
  <div class="divider"> / </div>
  <a class="section">van5150's Product</a>
  <div class="divider"> / </div>
  <div class="active section"><%= @product.title %></div>
</div>

	<div class="wrapper">
  <div class="grid">
    <div class="col col-2-3 content-main">
      <div class="module">
      	<div class="uk-thumbnail uk-thumbnail-expand">
        	<%= image_tag @product.featured_image_url %>
        </div>
       
        <div class="ui small images rounded uk-text-center " style="margin-top: 5px;">
      		<% @product.product_images.each do |image| %>
      		
      			<%= image_tag image.small_image_url, :class => 'ui image', :style => 'width: 60px; height: 60px;' %>
      		
      		<% end %>
      	</div>
      </div>
    </div>
    <aside class="col col-1-3">
      <div class="module">
      	<div class="uk-text-bold uk-text-large">
      		<i class="uk-icon-krw"></i><%= @product.price_currency_comma %>
      	</div>  
      	<div class="ui divider"></div>
      	<div class="uk-text-large uk-text-info">
      		info
      	</div>
      	<div class="uk-text-muted" style="height: 300px;">
      		<%= simple_format @product.detail_info %>
      	</div>
        

        <% if current_user.normal_user? %>
          <div id="show_collection_add_button">
            <%= render 'rootshop/partial/show_collection_add_button' %>
          </div>
        <% end %>
        
        <%= simple_form_for LineItem.new, :url => cart_add_path do |f| %>
          <%= f.input :product_id, :as => 'hidden', :input_html => {:value => @product.id}  %>
          <%= f.input :product_option_id, collection: @product.product_options, :include_blank => false, :label => "옵션" %>
          <%= f.input :quantity, :input_html => {:value => 1, :min => 1}, :label => "수량" %>
          <%= f.submit "장바구니", :class => 'ui labeled  button' %>
        <% end %>
  
      	

      </div>
    </aside>
  </div>
</div>
<div class="ui divider"></div>
<div class="uk-grid uk-grid-preserve">
	<div class="uk-width-2-3">
		<div class="uk-panel comment">
			<h3 class="uk-panel-title">코멘트</h3>
			<div class="comments">
			 <%= render 'comments/comments' %>
       
       
       
      </div>
  <%= form_tag rootshop_comments_path(@product), :remote => true, :style => 'margin-top: 20px;', :class => 'ui form'  do %>
 
    <div class="field">
      <%= text_area_tag :comment, '', {:style => 'height: 50px;', :placeholder => "코멘트를 입력하세요."} %>

    </div>
    <button type="button" class="ui button green  " id="comment_submit_btn" >
     코멘트 저장
    </button>
    <%= submit_tag '', { :style => 'display: none', :id => 'comment_submit' } %>
  <% end %>



		</div>


    <div class="ui divider"></div>

    <div class="ui raised segment">
      <div class="ui label top left attached" >판매자의 다른 상품
        <%= link_to "더보기", other_products_path(@product.created_by_id), :style => 'margin-left: 10px;' %>
      </div>

      <div class="ui-panel" style="margin-top: 30px;">
        <% @other_products.each do |product| %>
          <%= link_to rootshop_path(product), :class => 'uk-thumbnail', :style => 'margin-left: 5px;' do %>
            <%= image_tag product.featured_image_url, :style => "width: 110px; height: 100px;" %>
            
            <div class="uk-thumbnail-caption"><%= product.title %></div>
          <% end %>
      
        <% end %>
      </div>
    </div>
    <div class="ui raised segment">
      
      <div class="ui label top left attached" >이 상품을 포함하고 있는 컬렉션
        <%= link_to "더보기", include_collections_path(@product.id), :style => 'margin-left: 10px;' %>
      </div>
      <div class="ui-panel" style="margin-top: 30px;">

     
      <% if @collections_include_this_product.each do |collection_item| %>
        <%= link_to collectionshop_path(collection_item.collection), :class => 'uk-thumbnail', :style => 'margin-left: 5px;' do %>
     
          <%= image_tag collection_item.collection.featured_small_image_url, :style => "width: 110px; height: 100px;" %>
          <div class="uk-thumbnail-caption"><%= collection_item.collection.name %></div>
       
        <% end %>
      
      <% end.empty? %>
        <div class="uk-text-small" style="margin-top: 30px; text-align: center">이 상품을 포함하고 있는 컬렉션이 존재하지 않습니다.</div>
      <% end %>
    

    </div>


    </div>




	</div>
	<div class="uk-width-1-3">
    <div class="ui raised segment">
      <h3 class="uk-panel-title">Title</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    </div>
    
		
	</div>
</div>

<div id="collection_add">
  <%= render 'rootshop/partial/collection_add' %>
</div>
