<div>

	<% if activity.owner.id == current_user_id %>
		<%= activity.recipient.name %> 컬렉션에 코멘트를 남겼습니다. 
	<% else %>
		<%= activity.owner.user_id %> 님이 <%= activity.recipient.name %> 컬렉션에 코멘트를 남겼습니다. 
	<% end %>
</div>
<div>
	<%= activity.trackable.comment %>
</div>