<h3 class="ui header" >
	
	<div class="content" >
		<span class="ui breadcrumb">
			<i class="tags icon"></i>환율 등록
		</span>
	 	
	</div>

</h3>

<div class="ui divider"></div>

<%= render 'form' %>

<table class="ui celled table segment">
	<thead>
		<tr>
			<th style="text-align: center" class="five wide">통화</th>
			<th style="text-align: center" class="five wide">환율</th>
			<th style="text-align: center" class="six wide">등록일</th>
			
		</tr>
	</thead>
	<tbody>
		<% @exchange_rates.each do |config| %>
			<tr>
				<td style="text-align: center"><%= config.currency %></td>
				<td style="text-align: center"><%= price_currency_comma config.price %></td>
				<td style="text-align: center"><%= config.created_at.strftime("%F %T") %></td>
			</tr>
		<% end %>
	
	</tbody>
</table>

<div>
	<%#= paginate @exchange_rates %>
</div>



