{{!-- <div style="float: left">
	<ul>
		<li>{{#link-to 'index'}}대쉬보드{{/link-to}}</li>
		<li>{{#link-to 'products'}}상품{{/link-to}}</li>
		<li>{{#link-to 'orders'}}주문{{/link-to}}</li>
		<li>{{#link-to 'promotions'}}프로모션{{/link-to}}</li>
	</ul>
</div>

<div style="float: left; margin-left: 100px;">
	 {{outlet}}
</div>

 --}}



<div class="ui red vertical  menu pointing" style="float: left; position:fixed">
  {{#link-to 'index' classNames="item"}}대쉬보드{{/link-to}}
  {{#link-to 'products' classNames="item"}}상품{{/link-to}}
  {{#link-to 'orders' classNames="item"}}주문{{/link-to}}
  {{#link-to 'promotions' classNames="item"}}프로모션{{/link-to}}
 
</div>

{{!-- <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Tour</a></li>   
        <li><a href="#">Pricing</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <br clear="all">
    </nav> --}}

<div style="margin-left: 280px;">
  {{outlet}}
</div>
