<div style="margin-top: 10px;">
	<label>이름</label>
	<input type="text" name="name" style="width: 100px;">
	<label style="margin-left: 10px;">코드</label>
	<input type="text" name="code" style="width: 100px;">
	<label style="margin-left: 10px;">수수료</label>
	<input type="text" name="charge" style="width: 100px;">
	<label style="margin-left: 10px;">무게</label>
	<input type="text" name="weight" style="width: 100px;">
</div>
<div style="margin-top: 10px;">
	<label>설명</label>
	<input type="text" name="description" style="width: 500px;">
</div>
<div style="margin-top: 10px;">
	<a class="button" id="add_child_category_btn" style="cursor: pointer;">추가</a>
	<input type="hidden" name="parent_category_id" value="<%= @product_category.id %>">
	<%= link_to "추가", admin_product_category_path(@product_category), :method => 'post', :style => 'display: none;', :id => 'add_child_category' %>
</div>
<br/>
