<div id="main_content_wrapper">
	<div id="main_content">
		<form accept-charset="UTF-8" action="/admin/product_categories/1" class="formtastic product_category" id="edit_product_category" method="post" novalidate="novalidate">
			<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="✓">
				<input name="_method" type="hidden" value="patch">
				<input name="authenticity_token" type="hidden" value="q7lHj/UlexyeLl78RV5IBSEkF1WnQDRtHBJsKb8ivn8=">
			</div>
			<fieldset class="inputs">
				<legend><span>Product Category 수정</span></legend>
				<ol>
					<li class="string input optional stringish" id="product_category_name_input">
						<label class="label" for="product_category_name">Name</label>
						<input id="product_category_name" maxlength="255" name="product_category[name]" type="text" value="남성패션">
					</li>
					<li class="string input optional stringish" id="product_category_description_input">
						<label class="label" for="product_category_description">Description</label>
						<input id="product_category_description" maxlength="255" name="product_category[description]" type="text" value="">
					</li>
				</ol>
			</fieldset>

			<fieldset class="actions">
				<ol>
					<li class="action input_action " id="product_category_submit_action">
						<input name="commit" type="submit" value="Update Product category">
					</li>
					<li class="cancel">
						<a href="/admin/product_categories">취소</a>
					</li>
				</ol>
			</fieldset>
		</form>
		<% unless @product_category.present? %>
		<form accept-charset="UTF-8" action="/admin/product_categories" class="formtastic product_category" id="edit_product_category" method="post" novalidate="novalidate">
			<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="✓">
				<!-- <input name="_method" type="hidden" value="patch"> -->
				<input name="authenticity_token" type="hidden" value="q7lHj/UlexyeLl78RV5IBSEkF1WnQDRtHBJsKb8ivn8=">
			</div>
			<fieldset class="inputs">
				<legend><span>하위 카테고리 추가</span></legend>
				<ol>
					<li class="string input optional stringish" id="product_category_name_input">
						<label class="label" for="product_category_name">Name</label>
						<input id="product_category_name" maxlength="255" name="product_category[name]" type="text" value="남성패션">
					</li>
					<li class="string input optional stringish" id="product_category_description_input">
						<label class="label" for="product_category_description">Description</label>
						<input id="product_category_description" maxlength="255" name="product_category[description]" type="text" value="">
					</li>
				</ol>
				<div style="padding: 10px;">
					<div style="font-size: 20px;">- 하위카테고리 -</div>
					<br/>
					<ul>
						<% @product_category.children.each do |c| %>
							<li><%= c.name %> <%= link_to "보기", admin_product_category_path(c) %></li>
						<% end %>
					</ul>
				</div>
			</fieldset>

		<!-- 	<fieldset class="inputs">
				<legend><span>Product Category 수정</span></legend>
				<ol>
					<li class="string input optional stringish" id="product_category_name_input">
						<label class="label" for="product_category_name">Name</label>
						<input id="product_category_name" maxlength="255" name="product_category[name]" type="text" value="남성패션">
						<a type="button">카테고리추가</a>
					</li>
				</ol>
				<div style="padding: 10px;">
					<span>하위카테고리</span>
					<ul>
						<% @product_category.children.each do |c| %>
							<li><%= c.name %> <%= link_to "보기", admin_product_category_path(c) %></li>
						<% end %>
					</ul>
				</div>
			</fieldset> -->

			<fieldset class="actions">
				<ol>
					<li class="action input_action " id="product_category_submit_action">
						<input name="commit" type="submit" value="Update Product category">
					</li>
					<li class="cancel">
						<a href="/admin/product_categories">취소</a>
					</li>
				</ol>
			</fieldset>
		</form>
		<% end %>
	</div>
</div>