.breadcrumb {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  a {
  	color: #c27baa;
		text-decoration: none;
  }
}

.box {
  border-bottom: none;
}

.box2 {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none;
}

#brand_slider a img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#brand_slider a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.navbar .yamm-content ul li a {
  font-size: 14px;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  text-decoration: none;
}

