/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require uikit 
 *= require semantic
 *= require font-awesome/font-awesome
 *= require fontelico/animation
 *= require fontelico/fontelico
 *= reuqire entypo
 *= require entypo-fonts
 *= require entypo/icon
 *= require typicons/typicons
 *= require users/sign_up
 *= require message_block
 *= require profile
 *= require products
 *= require jquery.tagsinput
 *= require myshop
 *= require_self

 */
@charset "UTF-8";

@import "bourbon";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Nanum Gothic', serif;
    font-size: 13px;
    // margin: 0 0 250px; /* bottom = footer height */
    //background-color: #f2f2f2;
    //background-color: lighten(#ccc, 10%); 
}

/* links */
a {
  color: #009FDA;
  text-decoration: none;
}
a:hover {
  color: #00BAFF;
}


