/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require uikit 
 *= require semantic
 *= require bootstrap.min
 *= require non-responsive
 *= require style.default
 
 *= require fontelico/animation
 *= require fontelico/fontelico
 *= reuqire entypo
 *= require entypo-fonts
 *= require entypo/icon
 *= require typicons/typicons
 *= require users/sign_up
 *= require message_block
 *= require hint.min
 *= require owl.carousel
 *= require owl.theme
 *= require kraken-buttons
 *= require social-sharing
 *= require classic
 *= require classic.date
 *= require superfish
 *= require modal

 *= require profile
 *= require products
 *= require jquery.tagsinput
 *= require myshop
 *= require rootshop
 *= require item
 *= require orders
 *= require_self

 */
@charset "UTF-8";

@import "bourbon";
// @import url(//ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.ttf) format('truetype');
}


// @font-face {
//   font-family: 'Nanum Gothic';
//   font-style: normal;
//   font-weight: 400;
//   src: font-url('NanumGothic.eot');
//   src: font-url('NanumGothic.eot#iefix') format('embedded-opentype'),
//        font-url('NanumGothic.woff2') format('woff2'),
//        font-url('NanumGothic.woff') format('woff'),
//        font-url('NanumGothic.ttf') format('truetype');
// }



// html {

//     position: relative;
//     min-height: 100%;
// }
body {
    font-family: 'Nanum Gothic', serif;
    font-size: 13px;
    // margin: 0 0 250px; /* bottom = footer height */
    //background-color: #f2f2f2;
    //background-color: lighten(#ccc, 10%); 
}

a {
    text-decoration: none;

    &:hover { text-decoration: none; }
}

.content {
    margin: 50px 0;
}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 440px;
    margin: 0 auto;

}

.uk-navbar-brand {
	text-decoration: none;
}

.uk-search-field {
	border-radius:2px;
}

.tm-footer { 
	padding: 50px 0; 
	background-color: black;
	border-top: 10px;
	border-top-color: #333;
}

.footer_div {
  width: 1000px;
  margin: 0 auto;
}
/*
 * Footer
 */



.tm-footer .uk-subnav-line > li:before { border-color: #ddd; }

.tm-footer,
// .tm-footer a { color: #333 !important; }
.tm-footer a { color: #ffffff !important; }
.tm-footer a:hover { color: #fff !important; }



  * {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
}

.footer {

  position: relative;
}

p {
  // color: rgb(122, 122, 122) !important;
}

img.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
} 



