// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#wizardStatus{
  list-style:none;
  margin:15px 0;
  padding:0;
  //text-align:center
}

ul#wizardStatus li{
  background-color:#EDE7DD;
  color:#333;
  display:inline-block;
  margin:0;
  font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size:14px;
  line-height:30px;
  padding:0 25px 0 40px;
  position:relative
}

ul#wizardStatus li:first-child{
  padding-left:25px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px
}

ul#wizardStatus li:last-child{
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px
}

ul#wizardStatus li:after,
ul#wizardStatus li:before {
  background-color:#EDE7DD;
  content:"";
  display:block;
  position:absolute
}

ul#wizardStatus li:after{
  -webkit-border-radius:3px;
  border-radius:3px;
  border-right:3px solid white;
  border-top:3px solid white;
  height:21px;
  right:-15px;
  top:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  width:21px;
  z-index:5
}

ul#wizardStatus li:before{
  height:30px;
  right:3px;
  width:20px;
  z-index:6
}

ul#wizardStatus li:last-child:after,
ul#wizardStatus li:last-child:before{
  display:none
}

ul#wizardStatus li.current{
  background-color:#f0f8a4;
  color:#453
}

ul#wizardStatus li.current:after,
ul#wizardStatus li.current:before{
  background-color:#f0f8a4
}

ul#wizardStatus li.completed{
  background-color:#788E1E;
  color:#D4DB90
}

ul#wizardStatus li.completed:after,
ul#wizardStatus li.completed:before{
  background-color:#788E1E
}

.active {
  font-weight: bold;
  
}
