// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_category_checkbox {
	input {
		margin-right: 5px;
	}
  label {
  	display: inline-block;
  	width: 250px;

  }
}

form {
	p {
		font-weight: bold;
	}

}


