

.shadow {
	// position: fixed;

	top: 80;
  left: 0;
  right: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 1000px;
	background: #fff;
	height: 5px;
	margin: 0 auto;
  z-index: 1;

	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

// .content {
//    margin-top: 60px;
// }

.shadowy {
	width: 1012px;
	box-shadow: 0px 3px 4px -1px  rgba(0, 0, 0, 0.2);
}

// .header_brand{
 
//   margin-top: 10px;
//   font-size: 25px;

//   float:left;
//   color: #fff;


//   a {
//     font-weight: bold;
//     color: black;

//     &:hover {
//       text-decoration: none;
//     }
//   }

// }

// nav{
//   float:right;
//   padding-top: 5px;
//   /*margin-bottom:50px;*/

//   a {
//     color:#666;
//     text-decoration:none;
//     padding:10px;  

//     &:active {
//       border-bottom:1px  black;
//     }

//     &:hover {
//       color:#c0392b;
//     }
//   }
// }


// #search {
//   margin: 5px 0 0 70px;
//   display:block;
//   float: left;
// }

.form-wrapper {
  width:100%;

  input {
    padding:8px;
    outline:none;

    &:focus { outline: 0; }
  }

  button {
    background-color:#d83c3c;
    padding:10px;
    text-transform: uppercase;
    border:0;
    color:rgba(255,255,255,.7);
    margin-left:-5px;
    outline:none;

    &:hover { background-color:#C93636; }
    &:before {
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent #d83c3c transparent;
      top: 20px;
      left: 742px;
    }
  }
}

.header_right {
  float: right;
  a {
    color: black;
  }
}

  * {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
}

.footer {

  position: relative;
}

.shop_category a {
  color: black;
}

.collections_include_this_product_user_avatar {
  font-size: 12px; 
  margin-top: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 6px 6px -6px #999;
     -moz-box-shadow: 0 6px 6px -6px #999;
          box-shadow: 0 6px 6px -6px #999;
}

#main {
  margin: 20px 0;
  position: relative;
}

.items {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */



.items li {
  width: 260px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  /*cursor: pointer;*/
  padding: 10px;
}

.profile_item {
  width: 282px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  padding: 0px !important;
}


.items li.inactive {
  visibility: hidden;
  opacity: 0;
}

.items li img {
  display: block;
}

.tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.product_user_image {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.product_user_id {
  float: left; 
  margin-left: 5px;
  font-size: 12px;
}

.sub.header {
  font-size: 11px;
  /*color: #999;*/
  color: black;
 /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 100px; 
  max-height: 60%; 
  width: 100%*/

}



.product_user_id {
  font-weight: bold;
  color: #4083a9;
}


.product_icons {
  /*margin-top: 10px;*/
  
}


.product_icon {
  color: #8D8D8D;
  /*margin-right: 5px;*/
  text-decoration: none;
  cursor: pointer;
}

.product_icon:hover {
  text-decoration: none;
  color: black;
}

.product_price {
  float: right; 
  margin-top: 5px; 
  font-weight: bold;
}

.size_table {
  td {
    text-align: center;
  }
}
