<h3 class="ui header">
  <i class="home icon"></i> 마이페이지
</h3>

<div class="ui top attached tabular menu mypage_menu">
  <a class="<% if request.fullpath.start_with?('/users/edit') %> active <% end %> item" href="/users/edit">
    <i class="user icon"></i> 사용자정보
  </a>
  <a class="<% if request.fullpath.start_with?('/carts') %> active <% end %> item" href="/carts">
    <i class="cart icon"></i> 장바구니
  </a>
  <a class="<% if request.fullpath.start_with?('/orders') %> active <% end %> item" href="/orders">
    <i class="truck icon"></i> 주문/배송
  </a>
  <a class="<% if request.fullpath.start_with?('/collection_manage') %> active <% end %> item" href="/collection_manage">
    <i class="block layout icon"></i> 컬렉션 관리
  </a>
  <a class="<% if request.fullpath.start_with?('/profits') %> active <% end %> item" href="/profits">
    <i class="money icon"></i> 컬렉션 수익내역
  </a>
  <a class="<% if request.fullpath.start_with?('/mypage_saved_money') %> active <% end %> item" href="/mypage_saved_money">
    <i class="money icon"></i> 적립금
  </a>
  <a class="<% if request.fullpath.start_with?('/mypage_inquiry_comment') %> active <% end %>  item" href="/mypage_inquiry_comment">
    <i class="comment icon"></i> 문의
  </a>
</div>