<%#= render_activities(@activities, :locals => { :current_user_id => current_user.id }) %>
<h3 class="ui header">
	마이페이지
</h3>

<div class="ui grid">
	<div class="four wide column">
		<div class="ui secondary vertical menu fluid">
		  <a class="active item">
		    <i class="user icon"></i>
		    사용자정보
		  </a>
		  <a class="item">
		    <i class="truck icon"></i> 
		    주문/배송
		  </a>
		  <a class="item">
		    <i class="smile icon"></i>
		    컬렉션 주문내역
		  </a>
		 
		</div>
	</div>
	<div class="twelve wide column">
		<div class="ui segment">
			<h3 class="ui header">
				사용자정보
			</h3>
			

		</div>
	</div>
</div>