<article class="uk-article" style="margin-top: -20px;">
	<ul id="wizardStatus">
	  <li class="current">상품 기본정보 등록</li>
	  <li>사진등록</li>
	  <li>동영상 등록</li>
	  <li>스토리 만들기</li>
	</ul>

  
  <!-- <p class="uk-article-meta" style="font-size: 15px;">상품의 기본정보를 입력하세요.</p> -->
</article>
 
<br/>

<hr class="uk-article-divider" style="margin-top: -10px;">

<div class="ui piled segment">
  <h2>A header</h2>
  <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
   <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
   <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
</div>

<div class="uk-grid">
	<div class="uk-width-8-10 "  >
		<%= simple_form_for @product, url: wizard_path, :html => { :class => 'uk-form uk-form-stacked' } do |f| %>

			<fieldset>
				<div class="uk-form-row">
					<p>상품 이름 또는 타이틀을 입력하세요.</p>
					<%= f.input :title, :input_html => { :class => "uk-form-width-large" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls"}, :error => false %>
				</div>

				<hr class="uk-article-divider">

				<div class="uk-form-row">
					<p>상품 카테고리를 선택하세요.(1개 이상)</p>
					<div class="uk-form-controls product_category_checkbox">
						<%= f.collection_check_boxes :product_category_ids, ProductCategory.all, :id, :name, { :collection_wrapper_class => "", :item_wrapper_tag => "div", :item_wrapper_class => 'inline' } %>
					</div>
				</div>

				<hr class="uk-article-divider">

				<div class="uk-form-row">
					<p>상품과 관련된 키워드를 입력하세요.</p>

					<%= f.input :keyword_list, :input_html => { :class => "uk-form-width-large", :id => "tags" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls"}, :error => false %>
				</div>

				<div style="margin-top:20px;" class="uk-width-1-1">
					<%= f.submit "저장 후 다음", :class => 'uk-button uk-button-primary uk-button-large' %>
					
				</div>
				
			</fieldset>
		<% end %>
	</div>
</div>