<h4>상품을 등록하세요.</h4>

<%= simple_nested_form_for @product, :html => { :multipart => true } do |f| %>
	<%= f.input :title %>
	<%= f.input :product_category_ids, :collection => ProductCategory.all, :lebel_method => :name, :value_method => :id %>

	<%= f.simple_fields_for :product_images do |image| %>
	  <%= image.input :image,  :as => 'file'  %>
	  <%= image.link_to_remove "Remove this task" %>
	<% end %>
	<p><%= f.link_to_add "Add a image", :product_images, :label => false %></p>


<% end %>

