<style>
.file_button_container,
  .file_button_container input {
       height: 80px;
       width: 80px;
   }

   .file_button_container {
       border: 1px dotted grey; 
       /*background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;*/
   }

   .file_button_container input {
    cursor: pointer;
       opacity: 0;
   }
</style>

<div class="ui vertical ">
  <h3 class="ui header">상품을 등록하세요.</h3>
</div>
<br/>


  <div class="" style="width: 700px;">
    <div class="form ui segment">
      <div class="field">
        <label>상품 타이틀</label>
        <input type="text" style="width: 300px;">
      </div>

      <div class="field">
        <label>카테고리</label>
        <select>
          <option>의류</option>
          <option>의류</option>
        </select>
      </div>
      <div class=" field ">
        <label>상품 사진</label>
        <input type="file" >
        <input type="file" >
        <input type="file" >
        <input type="file" >
        <input type="file" >

        <!-- <div class="ui segment">
          <div class="file_button_container">
            <input type="file" >
            <i class="add icon link large"></i>
          </div>
        </div> -->

      </div>
      <div class="field">
        <label>상품 상세 설명</label>
        <textarea rows="3"></textarea>
      </div>
    </div>

    <h4 class="ui header">상품 가격</h4>
    <div class="form ui segment">
      <div class=" field ">
        <label>상품 기준 가격</label>
        <input type="text" style="width: 300px;">
      </div> 
      <div class=" field ">
        <label>배송비</label>
        <input type="text" style="width: 300px;">
        <input type="radio" name="method">착불
        <input type="radio" name="method">선불
      </div>  

      <div class=" field ">
        <label>해외배송비</label>
        <input type="text" style="width: 300px;">
       
      </div>  
    </div>


    <h4 class="ui header">상품 옵션</h4>
    <div class="form ui segment">
    
      <div class="ui four fields">
        <div class="field">
          <label>색상</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>사이즈</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>수량</label>
          <input type="text" placeholder="수량">
        </div>
        <div class="field">
          <label>가격</label>
          <input type="text" placeholder="가격">
        </div>
      </div>

      <div class="ui four fields">
        <div class="field">
          <label>색상</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>사이즈</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>수량</label>
          <input type="text" placeholder="수량">
        </div>
        <div class="field">
          <label>가격</label>
          <input type="text" placeholder="가격">
        </div>
      </div>

      <div class="ui four fields">
        <div class="field">
          <label>색상</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>사이즈</label>
          <input type="text" placeholder="색상">
        </div>
        <div class="field">
          <label>수량</label>
          <input type="text" placeholder="수량">
        </div>
        <div class="field">
          <label>가격</label>
          <input type="text" placeholder="가격">
        </div>
      </div>
    </div>

    <div class="ui blue submit button">Submit</div>


   
  </div>




