.normal_user, .seller_user {
	border-radius:3px;
	border: 1px solid #A2A2A2;
	background-color: #E0E0E0;
}

.sign_up_btn {
	margin-top: 20px;
}

.tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
   
}

// .uk-form-horizontal .uk-form-label {
// 		width: 100px;
// 		margin-top: 5px;
// 		float: left;
// 	}