
<style>
.twitter-info {
  margin-left: -1.2em;
  padding-top: 1.6em;
  padding-bottom: 1.35em;
}
.twitter-info li {
  border-left: solid 2px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.8em;
  text-align: center;
  width: 32%;
}
.twitter-info li:first-child {
  border: none;
}
.twitter-info li span {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin-top: .2em;
  text-transform: uppercase;
}

.ui.small {
  overflow: hidden; 
  white-space: nowrap;  
  text-overflow:ellipsis;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.product_price {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 17px;
  min-height: 40px;
}
</style>
<script>
$(document).ready(function() {
  $("img.lazy").unveil(0, function() {
    $(this).load(function() {
      this.style.opacity = 1;
    });
  });
});
</script>

<% if @products %>
<div class="ui inverted  tertiary segment" style="background-color: #C5C5C5" >
  <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
    <!-- <div>브랜드</div>    -->
    <!-- <div style="color: #1F84AA"><%= @brand %></div> -->
    <div>
      <% if @brand == 'CLUB MONACO' %>
        <%= image_tag "clubMonaco_900x450.jpg", :class => "img-responsive", :style => 'width:190px;' %>
      <% elsif @brand == 'EQUIPMENT' %>
        <%= image_tag "equipment_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'ELIE TAHARI' %>
        <%= image_tag "eli_tahari_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'REBECCA TAYLOR' %>
        <%= image_tag "rebeccaTaylor_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'ALLSAINTS' %>
        <%= image_tag "All-Saints_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'rag & bone' %>
        <%= image_tag "ragNborn_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'ANDREW MARC' %>
        <%= image_tag "andrew marc_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% elsif @brand == 'CURRENT/ELLIOTT' %>
        <%= image_tag "cuurent_elliott_900x450.jpg", :class => "img-responsive", :style => 'width:190px;'  %>
      <% end %>
    </div>
    <% if @brand %>
      <div style="display: none;"><%= @brand.upcase.gsub(' ', '') %></div>
    <% end %>
  </div>
  <div>
    


    <div  style="float: left; width: 50px; height: 70px; margin-left: 30px;">
      <div style="color: #999" align="center">
        컬렉션
      </div>
      <div align="center" style="margin-top: 10px;">
        <a class="ui teal label" style="font-size: 13px;"><%= @collection_items_count %></a>
      </div>
    </div>

    <div  style="float: left;  width: 50px; height: 50px;">
      <div style="color: #999" align="center">
        리뷰
      </div>
      <div align="center" style="margin-top: 10px;">
        <a class="ui teal label" style="font-size: 13px;"><%= @review_count %></a>
      </div>
    </div>
    <div style="float: left; width: 50px; height: 50px; ">
      <div style="color: #999" align="center">
        상품
      </div>
      <div align="center" style="margin-top: 10px;">
        <a class="ui teal label" style="font-size: 13px;"><%= @products_all_count %></a>
      </div>
    </div>

    <div  style="float: right; margin-left: 15px;  height: 95px; ">
      <div style="float: left; color: #999; font-weight: bold; font-size: 15px; padding: 0 0 0 10px;">
        <div>추천브랜드</div>   
        <div style="margin-top: 5px;">
          <% @recomand_brands.each do |brand| %>
            <a href="/products?brand=<%= brand['brand'] %>">
              <div class="uk-thumbnail uk-overlay" style="width: 70px; height: 70px; float: left; margin-left: 10px;" data-uk-tooltip title="<%= brand['brand'] %>">
                <%= image_tag Product.only_public.where(:brand => brand['brand']).order("RANDOM()").first.featured_small_image_url %>
                <div class="uk-overlay-area" style="background-color: white; background: rgba(255,255,255,.4); padding: 5px;">
                </div>
              </div>
            </a>
          <% end %>
        </div>
        
    
      </div>
    </div>
  </div>

</div>
<% end %>
<div id="main">

    <ul class="items">
      <!-- <li class="item one-edge-shadow" style="background-color: #F05940;" > -->
      


      <% @products.each do |product| %>
        <% image_height = (product.image_height.to_f * 260) / product.image_width.to_f %>
        <li class="item one-edge-shadow"  style="border: 0px;">

         <div class="ui small">
                    <%= product.title %>
                  </div>
          <div class="item_image" style="margin-top: 10px;">
            
            <%= link_to rootshop_path(product), :class => "uk-overlay-toggle" do %>
              <div class="uk-overlay" style="height: 238px">
              
                <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= product.featured_medium_image_url %>">
                
                <div class="uk-overlay-area" style="background: rgba(0,0,0,.1); padding: 5px;">
                </div>
        
              </div>

            <% end %>
            <div style="margin-top: 15px;">
              
         
            </div>
            <%
              original_price = product.multi_price_final["original"]
              sale_color_price_min = product.multi_price_final["sale_color"].values.min
            %>
            
            <div class="product_price" >
            
              <div style="float:left">
              <% unless product.multi_price_final["sale_color"].empty? %>

                
                
                &#65510; <span><%= price_currency_comma sale_color_price_min %></span><br/>
                <del style="color: #999999">&#65510; <%= price_currency_comma original_price %></del>
              <% else %>
                &#65510; <%= price_currency_comma original_price %>
              <% end %>
              </div>

              

            </div>
            
          </div>
          
          
          
        </li>
      <% end %>

     
    </ul>
  </div>

  <div>
    <%= paginate @products %>
  </div>


