<br/><br/>
  <h3 class="ui header">
    <i class="attention icon"></i>
    품절인 상품
  </h3>
  <div class="ui divider"></div>


  <table class="ui  table segment">
    <thead>
      <tr>
        <th class="one wide" style="text-align: center"><input type="checkbox" class="cart_check_all"></th>
        <th class="six wide" style="text-align: center">상품</th>
        <th style="text-align: center">옵션</th>
        <th style="text-align: center">수량</th>
        <th class="three wide" style="text-align: center">가격</th>
        <th class="one wide" style="text-align: center">삭제</th>
      </tr>
    </thead>
    <tbody>
      <% if @line_items_with_deleted_product.each do |item| %>
      <%
        option_str = []

        item.options.keys.each do |key|
          product_option = ProductOption.where(:id => key).first
          product_option_item = product_option.product_option_items.where(:id => item.options[key]).first

          option_str.append(product_option.title + ":" + product_option_item.title)
        end
      %>
        <tr>
        <td class="one wide" style="text-align: center"><input type="checkbox" name="cart_ids[]" value="<%= item.id %>"></td>
        <td style="text-align: left">
          <%= image_tag item.product.featured_small_image_url, :style => 'width: 70px; height: 50px;' %> <%= item.product.title %></td>
        <td style="text-align: center">
          <% if option_str.size > 0 %>
            <%= option_str.join(', ') %>
          <% else %>
            없음
          <% end %>
         <!--  <%# unless item.product_option.nil? %>
            <%#= item.product_option.title %>
          <%# else %>
            없음
          <%# end %> -->
        </td>
        <td style="text-align: center">
          <%= item.quantity %>
        </td>
       
        <td style="text-align: center"><i class="uk-icon-krw"></i> <%= price_currency_comma item.product.price.to_i * item.quantity %></td>
        <td style="text-align: center"><%= button_to delete_line_item_path(item), :method => 'delete', :class => 'ui button red mini icon', :confirm => "삭제하시겠습니까?" do %><i class="trash icon large"></i><% end %></td>
      </tr>
    <% end.empty? %>
      <tr><td colspan=5 style="text-align: center;">품절인 상품이 없습니다.</td></tr>
    <% end %>
    </tbody>
  </table>
  <div style="margin-top: 30px;">
    <div style="float:left; margin-right: 10px;">
      <%= form_tag delete_all_line_item_path, :id => 'delete_selected_item_form' do %>
        <input type="hidden" name="selected_line_item[]" id="selected_line_item">
        <a class="ui button blue small delete_selected_item_btn" id="delete_selected_item_btn">선택한 상품 비우기</a>
        
      
      <%= button_to "선택한 상품 비우기", delete_all_line_item_path, :type => 'submit', :method => 'delete', :class => 'ui button blue small', :style => 'display: none;', :id => 'delete_selected_item_submit',:confirm => "선택한 상품을 비우시겠습니까?" %>
      <% end %>
    </div>
    <div style="float:left;">
      <%= button_to "장바구니 비우기", delete_all_line_item_path(:deleted => true), :method => 'delete', :class => 'ui button blue small', :confirm => "장바구니를 비우시겠습니까?" %>
    </div>
  </div>