<style>
  #avatar_image_upload {
    /* Note: display:none on the input won't trigger the click event in WebKit.
      Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;
  }
  #fileSelect {
    /* style the button any way you want */
  }
</style>

<script>
$(function() {
  $('#fileSelect').on('click', function() {
    $('#avatar_image_upload').click();
  });


})
</script>


<%= render '/mypage/mypage_menu' %>

<div class="ui bottom attached segment">


<h3 class="ui header">
  장바구니
</h3>
<div class="ui divider"></div>
<table class="ui  table segment">
  <thead>
    <tr>
      <th class="one wide" style="text-align: center"><input type="checkbox" class="cart_check_all"></th>
      <th class="six wide" style="text-align: center">상품</th>
      <th style="text-align: center">옵션</th>
      <th style="text-align: center">수량</th>
      <th class="three wide" style="text-align: center">가격</th>
      <th class="one wide" style="text-align: center">삭제</th>
    </tr>
  </thead>
  <tbody>

    <% if @line_items.each do |item| %>

    <%
      # option_str = []

      # item.options.keys.each do |key|
      #   product_option = ProductOption.where(:id => key).first
      #   product_option_item = product_option.product_option_items.where(:id => item.options[key]).first

      #   option_str.append(product_option.title + ":" + product_option_item.title)
      # end
    %>

    <tr>
      <% if item.product.inventory %>
        <% item.product.inventory.keys.each do |key| %>
          <input type="hidden" class="inventory" id="<%= key %>" value="<%= item.product.inventory[key] %>">

        <% end %>
      <% end %>
      <td class="one wide" style="text-align: center">
        <input type="checkbox" name="cart_ids[]" value="<%= item.id %>">
        <input type="hidden" class="is_soldout" value="<%= item.product.is_soldout %>" >
      </td>
      <td style="text-align: left">
        <%= image_tag item.product.featured_small_image_url, :style => 'width: 70px;' %> <%= link_to item.product.title, rootshop_path(item.product.id) %></td>
      <td style="text-align: center">
        
        <% if item.product.is_soldout %>
          품절
        <% else %>

          <% unless item.options.nil? %>
            


            <%= form_tag update_option_path, :method => "put" do %>
              <%= hidden_field_tag :line_item_id, item.id %>
              <% item.product.product_options.order("created_at ASC").each do |option| %>

                <% select_option = item.options.detect{|o| o["option_id"] == option.id.to_s} %>
                <% if select_option["option_title"] == 'color' %>
                  <% @selected_color = select_option["option_item_title"] %>
                <% end %>
                <div style="margin-bottom: 5px;">
                  <span><%= option.title %>:</span>
                  <% if option.title == 'size' %>
                    <% option.product_option_items.each do |item| %>
                      <input type="hidden" class="hidden_size_option" title="<%= item.title %>" value="<%= option.id %>_<%= item.id %>">
                    <% end %>
                  <% end %>
                  <% if option.title == 'size' %>
                    <% if item.product.inventory["color*_*#{@selected_color}-_-size*_*#{select_option["option_item_title"]}"] == "disavailable" %>
                      <%= select_option["option_item_title"] %>(품절)
                    <% else %>
                      <%= select_option["option_item_title"] %>
                    <% end %>
                  <% else %>
                    <%= select_option["option_item_title"] %>
                  <% end %>
                  

                  <!--
                  <select title="<%= item.product.title %>" name="line_item[product_options_id][]" class="select_<%= option.title %>" option="<%= option.title %>">
                   
                    <% if option.title == 'size' %>
                      <% option.product_option_items.order("created_at ASC").each do |option_item| %>
                       
                        <% if item.product.inventory["color*_*#{@selected_color}-_-size*_*#{option_item.title}"] == "disavailable" %>
                          <option title="<%= option_item.title %>" value="<%=option.id %>_<%= option_item.id %>" <% if option_item.id.to_s == select_option["option_item_id"] %>selected<% end %> disabled><%= option_item.title %> - 품절</option>
                        <% else %>
                          <option title="<%= option_item.title %>" value="<%=option.id %>_<%= option_item.id %>" <% if option_item.id.to_s == select_option["option_item_id"] %>selected<% end %>><%= option_item.title %></option>

                        <% end %>

                        
                      <% end %>
                     
                    <% else %>
                      <% option.product_option_items.each do |option_item| %>
                        <option title="<%= option_item.title %>" value="<%=option.id %>_<%= option_item.id %>" <% if option_item.id.to_s == select_option["option_item_id"] %>selected<% end %>><%= option_item.title %></option>
                      <% end %>
                    <% end %>
                    
                  </select>
                -->
                </div>
                <% end %>
             
             <!--  <div>
                <%= submit_tag "수정", :class => 'ui button blue mini' %>
              </div> -->
            <% end %>
          <% else %>
            없음
          <% end %>
        <% end %>

      </td>
      <td style="text-align: center">
        <%= form_tag update_quantity_path, :method => "put" do %>
          <input type="number" name="quantity" value="<%= item.quantity %>" min="1" style="width: 50px;">
          <%= hidden_field_tag :line_item_id, item.id %>
          <%= submit_tag "수정", :class => 'ui button blue mini' %>
        <% end %>
      </td>
     
      <td style="text-align: center"><i class="won icon"></i> <%= price_currency_comma item.product.get_price_final(item.get_selected_option_item_title) * item.quantity %></td>
      <td style="text-align: center"><%= button_to delete_line_item_path(item), :method => 'delete', :class => 'ui button red mini icon', :confirm => "삭제하시겠습니까?" do %><i class="trash icon large"></i><% end %></td>
    </tr>
    <% end.empty? %>
      <tr><td colspan=6 style="text-align: center">장바구니에 상품이 없습니다.</td></tr>
    <% end %>
  </tbody>
  <% unless @line_items.empty? %>
  <tfoot>
    <tr >
    <th></th>
    <th style="text-align: center">합계</th>
    <th></th>
    <th style="text-align: center"><%= @line_items.sum { |item| item.quantity } %></th>
    <th style="text-align: center">
      <i class="won icon"></i> <%= price_currency_comma @line_items.sum { |item| item.product.get_price_final(item.get_selected_option_item_title) * item.quantity }%>
    </th>
    <th></th>
  </tr></tfoot>
  <% end %>
</table>



<div style="margin-top: 30px;">
  <% unless @line_items.empty? %>
    <div style="float:left; margin-right: 10px;">
      <div class="ui button blue small" id="order_selected_item_btn">선택한 상품 주문하기</div>
      <%= link_to "선택한 상품 주문하기", new_orders_path, :class => 'ui button blue', :style => 'display: none;', :id => 'order_selected_item' %>
    </div>
    <div style="float:left; margin-right: 10px;">
      <div class="ui button blue small" id="order_item_btn">주문하기</div>
      <%= link_to "주문하기", cart_check_path, :style => 'display: none;', :class => 'ui button blue small', :id => 'order_item_submit', :remote => true %>
    </div>
  <% end %>
  <div style="float:left; margin-right: 10px;">
    <%= form_tag delete_all_line_item_path, :id => 'delete_selected_item_form' do %>
      <input type="hidden" name="selected_line_item[]" id="selected_line_item">
      <a class="ui button blue small delete_selected_item_btn" id="delete_selected_item_btn">선택한 상품 비우기</a>
      
    
    <%= button_to "선택한 상품 비우기", delete_all_line_item_path, :type => 'submit', :method => 'delete', :class => 'ui button blue small', :style => 'display: none;', :id => 'delete_selected_item_submit',:confirm => "선택한 상품을 비우시겠습니까?" %>
    <% end %>
  </div>
  <!-- <div style="float:left;"> -->
    <%#= button_to "장바구니 비우기", delete_all_line_item_path(:deleted => false), :method => 'delete', :class => 'ui button blue small', :confirm => "장바구니를 비우시겠습니까?" %>
  <!-- </div> -->
  <div style="clear:both;"></div>

  
</div>





<%#= render :partial => "sold_out" %>

</div>
