<p>기본 회원 정보를 입력하세요.</p>
<div class="uk-form-row">
	<div class="uk-grid">


		<div class=" uk-width-1-4">
			<%= f.input :gender, :collection => [[:"#{t('common.male')}", "m"], [:"#{t('common.female')}", "f"]], :include_blank => "#{t('common.select')}",  :input_html => { :class => "uk-form-width-medium" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls" }, :selected => @profile.gender, :error => false %>
		</div>
		<div class=" uk-width-1-4">
			<%= f.input :age, :collection => (1..6).map{|n| n < 6 ? ["#{ n*10} #{t('common.age_range')}", n*10] : ["#{ n*10} #{t('common.age_range_over')}", n*10]}, :include_blank => "#{t('common.select')}", :input_html => { :class => "uk-form-width-medium" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls"}, :selected => @profile.age, :error => false %>
			
		</div>
		<div class=" uk-width-2-4">
			<%= f.input :country, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls"}, :iso_codes => true, :selected => @profile.country, :priority => ["kr"], :error => false   %>
		</div>
	</div>	
</div>

<hr class="uk-article-divider">

<p>관심 또는 재능을 선택하세요.(최대 2개)</p>
<div class="uk-form-controls product_category_checkbox">
	<%= f.collection_check_boxes :talent_category_ids, TalentCategory.all, :id, :name, { :collection_wrapper_class => "", :item_wrapper_tag => "div", :item_wrapper_class => 'inline' } %>


</div>

<hr class="uk-article-divider">

<p>관심분야를 선택하세요.(1개 이상)</p>
<div class="uk-form-controls product_category_checkbox">
	<%= f.collection_check_boxes :product_category_ids, ProductCategory.all, :id, :name, { :collection_wrapper_class => "", :item_wrapper_tag => "div", :item_wrapper_class => 'inline' } %>


</div>