	<article class="uk-article" style="margin-top: -20px;">
    <h2 class="tm-article-subtitle">프로필</h2>
    <p class="uk-article-meta" style="font-size: 15px;">
    	<%= "판매사업자가 되기 위한 기본정보입니다." if current_user.user_type == 'seller' %>
    	<%= "큐썸을 이용하기 위한 기본정보입니다." if current_user.user_type == 'normal' %>
    </p>
  </article>
 
  <br/>

  <hr class="uk-article-divider" style="margin-top: -10px;">

  <div class="uk-grid">
	  <div class=" uk-width-2-10">
	  	<ul class="uk-panel  uk-nav uk-nav-side">
				<li class="uk-active"><a style="text-align: center;">기본정보<i class="typcn typcn-arrow-right" style="font-size: 20px;"></i></a></li>
				<li><a style="text-align: center;"><span class="uk-text-muted">선택정보</span></a></li>
				<li><a style="text-align: center;"><span class="uk-text-muted">가입완료</span></a></li>
			</ul>
	  </div>

	  <div class="uk-width-8-10 "  >


	  	<% if @profile.errors.any? %>
		    <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
		  		<a href="" class="uk-alert-close uk-close"></a>
		      <ul>
		      <% @profile.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	  	<div class="uk-panel">
	  		
	  			<%= simple_form_for @profile, url: wizard_path, :html => { :class => 'uk-form uk-form-stacked' } do |f| %>


	  			<fieldset>
	  			
						<%= render "seller_basic", :f => f if current_user.user_type == 'seller' %>
						<%= render "normal_basic", :f => f if current_user.user_type == 'normal' %>
					
						<div style="margin-top:20px;" class="uk-width-1-1">
							<%= f.submit "저장", :class => 'uk-button uk-button-primary uk-button-large' %>
							<%= link_to "다음에 저장", root_path, :class => "uk-button uk-button-primary uk-button-large" %>		
						</div>
					</fieldset>

	  		<% end %>
	  	</div>
	  </div>
	</div>