<article class="uk-article" style="margin-top: -20px;">
    <h2 class="tm-article-subtitle">회원가입 완료</h2>
    <p class="uk-article-meta" style="font-size: 15px;">회원가입이 완료되었습니다.</p>
  </article>
 
  <br/>

  <hr class="uk-article-divider" style="margin-top: -10px;">

  <div class="uk-grid">
	  <div class=" uk-width-2-10">
	  	<ul class="uk-panel  uk-nav uk-nav-side">
				<li><a style="text-align: center;"><span class="uk-text-muted">기본정보</span></a></li>
				<li><a style="text-align: center;"><span class="uk-text-muted">선택정보</span></a></li>
				<li class="uk-active"><a style="text-align: center;">가입완료<i class="typcn typcn-arrow-right" style="font-size: 20px;"></i></a></li>
			</ul>
	  </div>

	  <div class="uk-width-8-10 "  >
	  </div>
	</div>