	<article class="uk-article" style="margin-top: -20px;">
    <h2 class="tm-article-subtitle">프로필</h2>
    <p class="uk-article-meta" style="font-size: 15px;">선택정보 입니다.</p>
  </article>
 
  <br/>

  <hr class="uk-article-divider" style="margin-top: -10px;">

  <div class="uk-grid">
	  <div class=" uk-width-2-10">
	  	<ul class="uk-panel  uk-nav uk-nav-side">
				<li><a style="text-align: center;"><span class="uk-text-muted">기본정보<span></a></li>
				<li class="uk-active"><a style="text-align: center;">선택정보<i class="typcn typcn-arrow-right" style="font-size: 20px;"></i></a></li>
				<li><a style="text-align: center;"><span class="uk-text-muted">가입완료</span></a></li>
			</ul>
	  </div>

	  <div class="uk-width-8-10 "  >


	  	<% if @profile.errors.any? %>
		    <div id="error_explanation" class="uk-alert uk-alert-danger" data-uk-alert>
		  		<a href="" class="uk-alert-close uk-close"></a>


		      <ul>
		      <% @profile.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

	  	<div class="uk-panel">
	  		
	  			<%= simple_form_for @profile, url: wizard_path, :html => { :class => 'uk-form uk-form-stacked', :multipart => true } do |f| %>
	  			<fieldset>
	  				<p>프로필 사진을 등록하세요.</p>
	  				<%= f.input :avatar, :as => "file", :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls" } %>

	  				<hr class="uk-article-divider">
						
						<p>사용하는 소셜네트워크를 입력하세요.</p>
						<div class="uk-form-row">	

							<%= f.input :facebook, :as => "facebook", :input_html => { :class => "uk-form-width-small" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls" } %>
						</div>

						<div class="uk-form-row">	
							<%= f.input :twitter, :as => "twitter", :input_html => { :class => "uk-form-width-small" }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls" } %>
						</div>

						<hr class="uk-article-divider">
						
						<p>상품 또는 회사소개를 입력하세요.</p>

						<div class="uk-form-row">
							<%= f.input :description, :input_html => { :class => "uk-form-width-large", :rows => 3 }, :label_html => { :class => "uk-form-label uk-text-muted" }, :wrapper_html => { :class => "uk-form-controls" } %>	
						</div>

						
						<div style="margin-top:20px;" class="uk-width-1-1">
							<%= link_to  previous_wizard_path, :class => 'uk-button uk-button-primary uk-button-large' do %>
								<i class="typcn typcn-arrow-left" style="font-size: 20px;"></i> 이전
							<% end %>
							<%= f.submit "저장", :class => 'uk-button uk-button-primary uk-button-large' %>
						</div>

					</fieldset>

					
	  		<% end %>
	  	</div>
	  </div>
	</div>