<input type="hidden" id="modal_user_id" value="<%= current_user.id if current_user %>" >
<div class="ui modal login" style="width: 300px; margin-left: -13%;">
    <i class="close icon"></i>
    <div class="header">
      <i class="lock icon"></i><span style="font-size: 15px;">로그인이 필요합니다</span>
    </div>
    <div class="content" style="margin-top: -0px; margin-bottom: 0px; ">
      
      <div class="ui form ">
  <div class="field">
    <label>이메일</label>
    <div class="ui left labeled icon input">
      <input type="text" placeholder="이메일">
      <i class="user icon"></i>
     
    </div>
  </div>
  <div class="field">
    <label>비밀번호</label>
    <div class="ui left labeled icon input">
      <input type="password" placeholder="비밀번호">
      <i class="lock icon"></i>
     
    </div>
  </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  <div class="ui blue submit button">로그인</div>
</div>
   
 
  </div>
</div>