
    <div class="ui top attached tabular menu">
      <a class="active item" id="tab_detail_info">
        제품설명
      </a>
      <% if @product.is_crawled == 'true' %>
        <a class="item" id="tab_warning_order">
          주문시 유의사항
        </a>
      
      
     <!--  <a class="item" id="tab_reviews">
        리뷰
        <span class="ui   label" style="height: 16px;" id="reviews_count"><%#= @reviews_count %></span>
      </a>
      <a class="item" id="tab_comments">
        코멘트
        <span class="ui   label"  style="height: 16px;" id="comments_count"><%#= @comments_count %></span>
      </a> -->

      
      <a class="item" id="tab_delivery">
        배송
      </a>
      <a class="item" id="tab_cancel_order">
        취소/반품
      </a>
      <% end %>
      <a class="item" id="tab_inquiry_comment">
        문의하기
      </a>
    </div>
    
    <%= render :partial => 'rootshop/partial/detail_info_content' %>
    <% if @product.is_crawled == 'true' %>
    <%= render :partial => 'rootshop/partial/warning_order_content' %>
    <%#= render :partial => 'rootshop/partial/reviews_content' %>
    
  <!--   <div class="ui bottom attached " id="tab_comments_content" style="display: none;">
      <%#= render 'comments/comments' %>
    </div> -->

    <%= render :partial => 'rootshop/partial/delivery_content' %>
    <%= render :partial => 'rootshop/partial/cancel_order_content' %>
    <% end %>
    <div id="inquiry_comment">
      <%= render :partial => 'rootshop/partial/inquiry_comment_content' %>
    </div>
