
    <div>
      <% @product.product_options.each do |option| %>
        <% if option.title == "color" %>
          <% option.product_option_items.order("created_at ASC").each_with_index do |item, i| %>


            <div <% if i > 0 %>style="display: none;"<% end %> id="option_<%= item.id %>" class="option_images">
              <div class="slide owl-carousel">
                
                  <% @product.product_images.each do |image| %>
                    <% if image.color_option == item.title %>
                      <div style="width: 470px; height: 470px;" class="item">
                        <%#= image_tag image.image_url %>
                        <img class="lazyOwl" data-src="<%= image.image_url %>">
                      </div>
                    <% end %>
                  <% end %>
                
              </div>
              

              <div class="ui small images rounded uk-text-center " style="margin-top: 10px;">
                <% idx = 0 %>
                <% @product.product_images.each_with_index do |image, i| %>
                  <% if image.color_option == item.title %>
                    
                    <input type="hidden" class="thumbnail_index" value="<%= idx %>">
                  
                    <%= image_tag image.small_image_url, :class => 'ui image product_thumbnail', :style => 'width: 40px; height: 40px; cursor: pointer;' %>
                    <% idx = idx + 1 %>
                  <% end %>
                <% end %>
              </div>
            </div>


          <% end %>
        <% end %>
      <% end %>
    </div>
