<div class="ui bottom attached segment">
  <div class="ui secondary  menu">
    <a class="active item" style="font-size: 12px;" id="men_size_table_clothing_btn">의류<a>
    <a class="item" style="font-size: 12px;" id="men_size_table_shoes_btn">신발</a>
    <a class="item" style="font-size: 12px;" id="men_size_table_accessories_btn">악세서리</a>
  </div>

  <div id="men_size_table_clothing" style="padding: 10px; height: 350px; overflow:auto;">
	  <%= render 'rootshop/partial/size_table_partial/men_size_table_clothing' %>
	</div>

	<div id="men_size_table_shoes" style="padding: 10px; height: 350px; overflow:auto; display: none;">
	  <%= render 'rootshop/partial/size_table_partial/men_size_table_shoes' %>
	</div>

	<div id="men_size_table_accessories" style="padding: 10px; height: 350px; overflow:auto; display: none;">
	  <%= render 'rootshop/partial/size_table_partial/men_size_table_accessories' %>
	</div>

</div>



<script>
$(function() {
	$('#men_size_table_clothing_btn').on('click', function() {
		$('#men_size_table_clothing').show();
		$('#men_size_table_shoes').hide();
		$('#men_size_table_accessories').hide();

		$('#men_size_table_clothing_btn').addClass('active')
		$('#men_size_table_shoes_btn').removeClass('active')
		$('#men_size_table_accessories_btn').removeClass('active')

	});

	$('#men_size_table_shoes_btn').on('click', function() {
		$('#men_size_table_clothing').hide();
		$('#men_size_table_shoes').show();
		$('#men_size_table_accessories').hide();

		$('#men_size_table_clothing_btn').removeClass('active')
		$('#men_size_table_shoes_btn').addClass('active')
		$('#men_size_table_accessories_btn').removeClass('active')
	});

	$('#men_size_table_accessories_btn').on('click', function() {
		$('#men_size_table_clothing').hide();
		$('#men_size_table_shoes').hide();
		$('#men_size_table_accessories').show();

		$('#men_size_table_clothing_btn').removeClass('active')
		$('#men_size_table_shoes_btn').removeClass('active')
		$('#men_size_table_accessories_btn').addClass('active')
	});
});
</script>