<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=10>캐주얼의류</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">85~90</td>
      <td class="value">90~95</td>
      <td class="value">95~100</td>
      <td class="value">100~105</td>
      <td class="value">105~110</td>
      <td class="value">110이상</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈</td>
      <td class="value">XS</td>
      <td class="value">S</td>
      <td class="value">M</td>
      <td class="value">L</td>
      <td class="value">XL</td>
      <td class="value">XXL</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
    </tr>
    <tr class="even">
      <td class="first">유럽,이태리사이즈</td>
      <td class="value">44~46</td>
      <td class="value">46</td>
      <td class="value">48</td>
      <td class="value">50</td>
      <td class="value">52</td>
      <td class="value">54</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
    </tr>
    <tr class="odd">
      <td class="first">영국사이즈</td>
      <td class="value">0</td>
      <td class="value">1</td>
      <td class="value">2</td>
      <td class="value">3</td>
      <td class="value">4</td>
      <td class="value">5</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
    </tr>
    <tr class="even">
      <td class="first">목둘레(inch)</td>
      <td class="value">14</td>
      <td class="value">14.5</td>
      <td class="value">15</td>
      <td class="value">15.5</td>
      <td class="value">16</td>
      <td class="value">16.5</td>
      <td class="value">17</td>
      <td class="value">17.5</td>
      <td class="value">18</td>
    </tr>
    <tr class="odd">
      <td class="first">가슴둘레(inch)</td>
      <td class="value">34</td>
      <td class="value">36</td>
      <td class="value">38</td>
      <td class="value">40</td>
      <td class="value">42</td>
      <td class="value">44</td>
      <td class="value">46</td>
      <td class="value">48</td>
      <td class="value">50</td>
    </tr>
    <tr class="even">
      <td class="first">허리둘레(inch)</td>
      <td class="value">28</td>
      <td class="value">30</td>
      <td class="value">32</td>
      <td class="value">34</td>
      <td class="value">36</td>
      <td class="value">38</td>
      <td class="value">40</td>
      <td class="value">42</td>
      <td class="value">44</td>
    </tr>
    <tr class="even">
      <td class="first">팔길이(inch)</td>
      <td class="value">32.5</td>
      <td class="value">33</td>
      <td class="value">33.5</td>
      <td class="value">34</td>
      <td class="value">34.5</td>
      <td class="value">35</td>
      <td class="value">35.5</td>
      <td class="value">36</td>
      <td class="value">36.5</td>
    </tr>
    <tr class="even">
      <td class="first">inseam(inch)바지 안쪽 솔기</td>
      <td class="value">30</td>
      <td class="value">32</td>
      <td class="value">34</td>
      <td class="value">34</td>
      <td class="value">34</td>
      <td class="value">34</td>
      <td class="value">34</td>
      <td class="value">34</td>
      <td class="value">34</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=6>스웨터,셔츠,쟈켓</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">S</td>
      <td class="value">M</td>
      <td class="value">L</td>
      <td class="value">XL</td>
      <td class="value">XXL</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈</td>
      <td class="value">38L</td>
      <td class="value">40L</td>
      <td class="value">42L</td>
      <td class="value">44L</td>
      <td class="value">46L</td>
    </tr>
    <tr class="even">
      <td class="first">가슴둘레(cm)</td>
      <td class="value">30/92</td>
      <td class="value">32/97</td>
      <td class="value">34/102</td>
      <td class="value">36/107</td>
      <td class="value">40/117</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=6>팬츠,언더웨어</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">S</td>
      <td class="value">M</td>
      <td class="value">L</td>
      <td class="value">XL</td>
      <td class="value">XXL</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈</td>
      <td class="value">38L</td>
      <td class="value">40L</td>
      <td class="value">42L</td>
      <td class="value">44L</td>
      <td class="value">46L</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=6>양복사이즈 Short Fitting (신장 : 165~170cm)</td>
    </tr>
    <tr class="even">
      <td class="first">주문사이즈(US)</td>
      <td class="value">36S</td>
      <td class="value">38S</td>
      <td class="value">40S</td>
      <td class="value">42S</td>
      <td class="value">44S</td>
    </tr>
    <tr class="even">
      <td class="first">허리(inch)/가슴둘레(cm)</td>
      <td class="value">30/92</td>
      <td class="value">32/97</td>
      <td class="value">34/102</td>
      <td class="value">36/107</td>
      <td class="value">38/112</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=8>양복사이즈 Short Fitting (신장 : 180cm)</td>
    </tr>
    <tr class="even">
      <td class="first">주문사이즈(US)</td>
      <td class="value">36R</td>
      <td class="value">38R</td>
      <td class="value">40R</td>
      <td class="value">42R</td>
      <td class="value">44R</td>
      <td class="value">46R</td>
      <td class="value">48R</td>
    </tr>
    <tr class="even">
      <td class="first">허리(inch)/가슴둘레(cm)</td>
      <td class="value">30/92</td>
      <td class="value">32/97</td>
      <td class="value">34/102</td>
      <td class="value">36/107</td>
      <td class="value">38/112</td>
      <td class="value">40/117</td>
      <td class="value">42/122</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=6>양복사이즈 Short Fitting (신장 : 188cm)</td>
    </tr>
    <tr class="even">
      <td class="first">주문사이즈(US)</td>
      <td class="value">38L</td>
      <td class="value">40L</td>
      <td class="value">42L</td>
      <td class="value">44L</td>
      <td class="value">46L</td>
    </tr>
    <tr class="even">
      <td class="first">허리(inch)/가슴둘레(cm)</td>
      <td class="value">30/92</td>
      <td class="value">32/97</td>
      <td class="value">34/102</td>
      <td class="value">36/107</td>
      <td class="value">40/112</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조회사 및 브랜드마다 차이가 있을 수 있습니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48cm</li>
  </ul>
</div>
