<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=13>남성 신발 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈(mm)</td>
      <td class="value">245</td>
      <td class="value">250</td>
      <td class="value">255</td>
      <td class="value">260</td>
      <td class="value">265</td>
      <td class="value">270</td>
      <td class="value">275</td>
      <td class="value">280</td>
      <td class="value">285</td>
      <td class="value">290</td>
      <td class="value">295</td>
      <td class="value">300</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈</td>
      <td class="value">6.5</td>
      <td class="value">7</td>
      <td class="value">7.5</td>
      <td class="value">8</td>
      <td class="value">8.5</td>
      <td class="value">9</td>
      <td class="value">9.5</td>
      <td class="value">10</td>
      <td class="value">10.5</td>
      <td class="value">11</td>
      <td class="value">11.5</td>
      <td class="value">12</td>
    </tr>
    <tr class="even">
      <td class="first">유럽사이즈</td>
      <td class="value">40</td>
      <td class="value">40.5</td>
      <td class="value">41</td>
      <td class="value">41.5</td>
      <td class="value">42</td>
      <td class="value">42.5</td>
      <td class="value">43</td>
      <td class="value">43.5</td>
      <td class="value">44</td>
      <td class="value">44.5</td>
      <td class="value">45</td>
      <td class="value">46</td>
    </tr>

    <tr class="odd">
      <td class="first">영국사이즈</td>
      <td class="value">6</td>
      <td class="value">6.5</td>
      <td class="value">7</td>
      <td class="value">7.5</td>
      <td class="value">8</td>
      <td class="value">8.5</td>
      <td class="value">9</td>
      <td class="value">9.5</td>
      <td class="value">10</td>
      <td class="value">10.5</td>
      <td class="value">11</td>
      <td class="value">12</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>한종이에 양쪽발을 올려놓고 각각의 형태를 둘러서 그립니다. </li>
    <li>양쪽발 모두 발끝에서부터 뒷꿈치 까지의 길이를 측정하고 어느 쪽이든 긴 쪽을 선택해 주십시오.</li>
    <li>숫자 뒤의 영문은 볼사이즈를 의미하며 M,C,D는 일반적인 볼사이즈를 W는 넓은 볼사이즈를 의미합니다.</li>
    <li>숫자 뒤에 볼사이즈 관련 영문 기호가 없는 경우에는 기본 볼사이즈 제품입니다</li>
    <li>S(size)= 5.6M(size)= 7.8 / L(size)= 9.10 / XL(size)= 11.12에 해당합니다.</li>
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조 회사마다 차이가 있을 수 있습니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(in)=2.54cm / 피트(ft)=30.48cm</li>
  </ul>
</div>