<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=3>남성 악세서리</td>
    </tr>
    <tr class="even">
    	<td class="first" rowspan=2>모자</td>
      <td class="value">S/M</td>
      <td class="value">일반적이거나 그보다 머리둘레가 작은 경우 선택하세요.</td>
    </tr>
    <tr class="even">
      <td class="value">M/L</td>
      <td class="value">일반적이나 좀 크게 착용하시거나, 머리둘레가 일반보다 큰 경우, 파마머리로 많이 부풀려진 경우 등일때 선택하세요.</td>
    </tr>
    <tr class="even">
    	<td class="first" rowspan=2>벨트</td>
      <td class="value">S/M</td>
      <td class="value">특별한 명시가 없는 경우, 일반적으로 55~77까지 모두 맞는 사이즈 입니다.</td>
    </tr>
    <tr class="even">
      <td class="value">M/L</td>
      <td class="value">77이상의 사이즈이거나 좀 더 힙쪽으로 내려 착용하는 경우 선택하세요.</td>
    </tr>
  </tbody>
</table>