


<div class="ui modal price_size_table">
    <i class="close icon"></i>
    <div class="header">
      <i class="table icon"></i> 사이즈조견표
    </div>
    <div class="content" style="margin: 0px;">
      <div class="ui top attached tabular menu">
        <a class="active item" id="women_size_table_tab">Women</a>
        <a class="item" id="men_size_table_tab">Men</a>
      </div>
      <div id="women_size_table">
        <%= render 'rootshop/partial/size_table_partial/women_size_table' %>
      </div>
      <div id="men_size_table" style="display: none;">
        <%= render 'rootshop/partial/size_table_partial/men_size_table' %>
      </div>
    </div>
    <!-- <div class="actions">
      <div class="ui black button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Add Photo
        <i class="checkmark icon"></i>
      </div>
    </div> -->
  </div>


<script>
$(function() {

  $('#women_size_table_tab').on('click', function() {
    $('#women_size_table').show();
    $('#women_size_table_tab').addClass('active')
    $('#men_size_table').hide();
    $('#men_size_table_tab').removeClass('active');
  });

  $('#men_size_table_tab').on('click', function() {
    $('#women_size_table').hide();
    $('#women_size_table_tab').removeClass('active')
    $('#men_size_table').show();
    $('#men_size_table_tab').addClass('active');
  });

  
  
});
</script>
