<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=10>일반 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈-1</td>
        <td class="value">44</td>
        <td class="value" colspan=2>55</td>
        <td class="value" colspan=2>66</td>
        <td class="value" colspan=2>77</td>
        <td class="value" colspan=2>88</td>
      </tr>
    <tr class="odd">
      <td class="first">한국사이즈-2</td>
      <td class="value">85</td>
      <td class="value" colspan=2>90</td>
      <td class="value" colspan=2>95</td>
      <td class="value" colspan=2>100</td>
      <td class="value" colspan=2>105</td>
    </tr>
    <tr class="even">
      <td class="first">미국사이즈-1</td>  
      <td class="value">2</td>  
      <td class="value">4</td>  
      <td class="value">6</td>  
      <td class="value">8</td>  
      <td class="value">10</td>  
      <td class="value">12</td>  
      <td class="value">14</td>  
      <td class="value">16</td>  
      <td class="value">18</td>  
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈-2</td>
      <td class="value">XS</td>
      <td class="value" colspan=2>S</td>
      <td class="value" colspan=2>M</td>
      <td class="value" colspan=2>L</td>
      <td class="value" colspan=2>XL</td>
    </tr>      
    <tr class="even">
      <td class="first">이태리사이즈</td>
      <td class="value">36</td>
      <td class="value" colspan=2>38~40</td>
      <td class="value" colspan=2>42~44</td>
      <td class="value" colspan=2>46~48</td>
      <td class="value" colspan=2>50~52</td>
    </tr>
    <tr class="odd">
      <td class="first">영국사이즈</td>
      <td class="value">8</td>
      <td class="value" colspan=2>10</td>
      <td class="value" colspan=2>12~14</td>
      <td class="value" colspan=2>16~18</td>
      <td class="value" colspan=2>20~26</td>
    </tr>
    <tr class="even">
      <td class="first">가슴둘레(inch)</td>
      <td class="value">32</td>
      <td class="value" colspan=2>33~34</td>
      <td class="value" colspan=2>35~37</td>
      <td class="value" colspan=2>38~40</td>
      <td class="value" colspan=2>42</td>
    </tr>
    <tr class="odd">
      <td class="first">허리(inch)</td>
      <td class="value">24</td>
      <td class="value" colspan=2>25~26</td>
      <td class="value" colspan=2>27~29</td>
      <td class="value" colspan=2>30~32</td>
      <td class="value" colspan=2>34</td>
    </tr>
    <tr class="even">
      <td class="first">엉덩이둘레(inch)</td>
      <td class="value">34</td>
      <td class="value" colspan=2>35~36</td>
      <td class="value" colspan=2>37~39</td>
      <td class="value" colspan=2>40~42</td>
      <td class="value" colspan=2>44</td>
    </tr>
  </tbody>
</table>
<!-- <div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조회사 및 브랜드마다 차이가 있을 수 있습니다.</li>
    <li>허리사이즈는 바지 주문사이즈가 아닌 실제 허리사이즈임을 참고하시기 바랍니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48 츠</li>
  </ul>
</div> -->