<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=12>Shirts & Tops</td>
    </tr>
    <tr class="heading">
      <td colspan=2>Pre-Pregnancy Size (일반사이즈)</td>
      <td>Matemity Chest (임부복 사이즈)</td>
      <td>Motherhood Size 임신 중 가슴둘레(inch)</td>
    </tr>
    <tr>
    	<td class="value">S</td>
    	<td class="value">4~6</td>
    	<td class="value">36~37</td>
    	<td class="value">S</td>
    </tr>
    <tr>
    	<td class="value">M</td>
    	<td class="value">8~10</td>
    	<td class="value">38~39</td>
    	<td class="value">M</td>
    </tr>
    <tr>
    	<td class="value">L</td>
    	<td class="value">12~14</td>
    	<td class="value">40~41</td>
    	<td class="value">L</td>
    </tr>
    <tr>
    	<td class="value">XL</td>
    	<td class="value">16~18</td>
    	<td class="value">42~43</td>
    	<td class="value">XL</td>
    </tr>
    <tr>
    	<td class="value">1X</td>
    	<td class="value">18~20</td>
    	<td class="value">45~46</td>
    	<td class="value">1X</td>
    </tr>
    <tr>
    	<td class="value">2X</td>
    	<td class="value">22~24</td>
    	<td class="value">47~48</td>
    	<td class="value">2X</td>
    </tr>
    <tr>
    	<td class="value">3X</td>
    	<td class="value">26~28</td>
    	<td class="value">49~50</td>
    	<td class="value">3X</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=12>Pants & Bottom</td>
    </tr>
    <tr class="heading">
      <td colspan=2>Pre-Pregnancy Size (일반사이즈)</td>
      <td>Matemity Chest (임부복 사이즈)</td>
      <td>Motherhood Size 임신 중 가슴둘레(inch)</td>
    </tr>
    <tr>
    	<td class="value">S</td>
    	<td class="value">4~6</td>
    	<td class="value">38~39</td>
    	<td class="value">S</td>
    </tr>
    <tr>
    	<td class="value">M</td>
    	<td class="value">8~10</td>
    	<td class="value">40~41</td>
    	<td class="value">M</td>
    </tr>
    <tr>
    	<td class="value">L</td>
    	<td class="value">12~14</td>
    	<td class="value">42~43</td>
    	<td class="value">L</td>
    </tr>
    <tr>
    	<td class="value">XL</td>
    	<td class="value">16~18</td>
    	<td class="value">45~46</td>
    	<td class="value">XL</td>
    </tr>
    <tr>
    	<td class="value">1X</td>
    	<td class="value">18~20</td>
    	<td class="value">49~49</td>
    	<td class="value">1X</td>
    </tr>
    <tr>
    	<td class="value">2X</td>
    	<td class="value">22~24</td>
    	<td class="value">50~51</td>
    	<td class="value">2X</td>
    </tr>
    <tr>
    	<td class="value">3X</td>
    	<td class="value">26~28</td>
    	<td class="value">51~53</td>
    	<td class="value">3X</td>
    </tr>
  </tbody>
</table>
