<div class="ui bottom attached segment">
  <div class="ui secondary  menu">
    <a class="active item" style="font-size: 12px;" id="women_size_table_clothing_btn">의류<a>
    <!-- <a class="item" style="font-size: 12px;" id="women_size_table_clothing_petite_btn">의류(Petite)</a> -->
    <!-- <a class="item" style="font-size: 12px;" id="women_size_table_clothing_plus_btn">의류(Plus)</a> -->
    <a class="item" style="font-size: 12px;" id="women_size_table_shoes_btn">신발</a>
    <a class="item" style="font-size: 12px;" id="women_size_table_underwear_btn">언더웨어</a>
    <a class="item" style="font-size: 12px;" id="women_size_table_matemity_btn">임부복</a>
    <a class="item" style="font-size: 12px;" id="women_size_table_accessories_btn">악세서리</a>
  </div>

  <div id="women_size_table_clothing" style="padding: 10px; height: 350px; overflow:auto;">
    <%= render 'rootshop/partial/size_table_partial/women_size_table_clothing' %>
  </div>
  <div id="women_size_table_shoes" style="padding: 10px; height: 350px; overflow:auto; display: none;">
    <%= render 'rootshop/partial/size_table_partial/women_size_table_shoes' %>
  </div>
  <div id="women_size_table_underwear" style="padding: 10px; height: 350px; overflow:auto; display: none;">
    <%= render 'rootshop/partial/size_table_partial/women_size_table_underwear' %>
  </div>
  <div id="women_size_table_matemity" style="padding: 10px; height: 350px; overflow:auto; display: none;">
    <%= render 'rootshop/partial/size_table_partial/women_size_table_matemity' %>
  </div>
  <div id="women_size_table_accessories" style="padding: 10px; height: 350px; overflow:auto; display: none;">
    <%= render 'rootshop/partial/size_table_partial/women_size_table_accessories' %>
  </div>
</div>

<script>
$(function() {
  $('#women_size_table_clothing_btn').on('click', function() {
    $('#women_size_table_clothing').show();
    $('#women_size_table_shoes').hide();
    $('#women_size_table_underwear').hide();
    $('#women_size_table_matemity').hide();
    $('#women_size_table_accessories').hide();

    $('#women_size_table_clothing_btn').addClass('active');
    $('#women_size_table_shoes_btn').removeClass('active');
    $('#women_size_table_underwear_btn').removeClass('active');
    $('#women_size_table_matemity_btn').removeClass('active');
    $('#women_size_table_accessories_btn').removeClass('active');

  });

  $('#women_size_table_shoes_btn').on('click', function() {
    $('#women_size_table_clothing').hide();
    $('#women_size_table_shoes').show();
    $('#women_size_table_underwear').hide();
    $('#women_size_table_matemity').hide();
    $('#women_size_table_accessories').hide();

    $('#women_size_table_clothing_btn').removeClass('active');
    $('#women_size_table_shoes_btn').addClass('active');
    $('#women_size_table_underwear_btn').removeClass('active');
    $('#women_size_table_matemity_btn').removeClass('active');
    $('#women_size_table_accessories_btn').removeClass('active');
  });

  $('#women_size_table_underwear_btn').on('click', function() {
    $('#women_size_table_clothing').hide();
    $('#women_size_table_shoes').hide();
    $('#women_size_table_underwear').show();
    $('#women_size_table_matemity').hide();
    $('#women_size_table_accessories').hide();

    $('#women_size_table_clothing_btn').removeClass('active');
    $('#women_size_table_shoes_btn').removeClass('active');
    $('#women_size_table_underwear_btn').addClass('active');
    $('#women_size_table_matemity_btn').removeClass('active');
    $('#women_size_table_accessories_btn').removeClass('active');
  });

  $('#women_size_table_matemity_btn').on('click', function() {
    $('#women_size_table_clothing').hide();
    $('#women_size_table_shoes').hide();
    $('#women_size_table_underwear').hide();
    $('#women_size_table_matemity').show();
    $('#women_size_table_accessories').hide();

    $('#women_size_table_clothing_btn').removeClass('active');
    $('#women_size_table_shoes_btn').removeClass('active');
    $('#women_size_table_underwear_btn').removeClass('active');
    $('#women_size_table_matemity_btn').addClass('active');
    $('#women_size_table_accessories_btn').removeClass('active');
  });

  $('#women_size_table_accessories_btn').on('click', function() {
    $('#women_size_table_clothing').hide();
    $('#women_size_table_shoes').hide();
    $('#women_size_table_underwear').hide();
    $('#women_size_table_matemity').hide();
    $('#women_size_table_accessories').show();

    $('#women_size_table_clothing_btn').removeClass('active');
    $('#women_size_table_shoes_btn').removeClass('active');
    $('#women_size_table_underwear_btn').removeClass('active');
    $('#women_size_table_matemity_btn').removeClass('active');
    $('#women_size_table_accessories_btn').addClass('active');
  });
});
</script>
