<%= render 'rootshop/partial/size_table_partial/women_size_table_clothing_normal' %>
<div class="ui divider"></div>
<%= render 'rootshop/partial/size_table_partial/women_size_table_clothing_petite' %>
<div class="ui divider"></div>
<%= render 'rootshop/partial/size_table_partial/women_size_table_clothing_plus' %>
<div class="ui divider"></div>
<div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조회사 및 브랜드마다 차이가 있을 수 있습니다.</li>
    <li>허리사이즈는 바지 주문사이즈가 아닌 실제 허리사이즈임을 참고하시기 바랍니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48cm</li>
  </ul>
</div>