<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=8>Petite 사이즈 : 키가 작은 여성을 위해 전체적인 폼을 약간 줄이고, 기장을 짧게 한 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈-1</td>
      <td class="value"></td>
      <td class="value">77</td>
      <td class="value">88</td>
      <td class="value">99</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
    </tr>
    <tr class="odd">
      <td class="first">한국사이즈-2</td>
      <td class="value"></td>
      <td class="value" colspan=2>85</td>
      <td class="value" colspan=2>90</td>
      <td class="value" colspan=2>95</td>
    </tr>
    <tr class="even">
      <td class="first">미국사이즈</td>
      <td class="value">2</td>
      <td class="value">4</td>
      <td class="value">6</td>
      <td class="value">8</td>
      <td class="value">10</td>
      <td class="value">12</td>
      <td class="value">14</td>
    </tr>
    <tr class="odd">
      <td class="first">가슴둘레(inch)</td>
      <td class="value">31</td>
      <td class="value">32</td>
      <td class="value">33</td>
      <td class="value">34</td>
      <td class="value">36</td>
      <td class="value">37</td>
      <td class="value">39</td>
    </tr>
    <tr class="even">
      <td class="first">허리(inch)</td>
      <td class="value">23.5</td>
      <td class="value">24</td>
      <td class="value">25</td>
      <td class="value">26</td>
      <td class="value">28</td>
      <td class="value">29</td>
      <td class="value">31</td>
    </tr>
    <tr class="odd">
      <td class="first">엉덩이둘레(inch)</td>
      <td class="value">33</td>
      <td class="value">34</td>
      <td class="value">35</td>
      <td class="value">36</td>
      <td class="value">38</td>
      <td class="value">39</td>
      <td class="value">41</td>
    </tr>
  <tbody>
</table>
<!-- <div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조회사 및 브랜드마다 차이가 있을 수 있습니다.</li>
    <li>허리사이즈는 바지 주문사이즈가 아닌 실제 허리사이즈임을 참고하시기 바랍니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48 츠</li>
  </ul>
</div> -->
