<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=3>악세서리</td>
    </tr>
    <tr class="even">
    	<td class="first" rowspan=2>모자</td>
      <td class="value">S/M</td>
      <td class="value">일반적이거나 그보다 머리둘레가 작은 경우 선택하세요.</td>
    </tr>
    <tr class="odd">
      <td class="value">M/L</td>
      <td class="value">일반적이나 좀 크게 착용하시거나, 머리둘레가 일반보다 큰 경우, 파마머리로 많이 부풀려진 경우 등일때 선택하세요.</td>
    </tr>
    <tr class="even">
    	<td class="first" rowspan=2>벨트</td>
      <td class="value">S/M</td>
      <td class="value">특별한 명시가 없는 경우, 일반적으로 55~77까지 모두 맞는 사이즈 입니다.</td>
    </tr>
    <tr class="odd">
      <td class="value">M/L</td>
      <td class="value">77이상의 사이즈이거나 좀 더 힙쪽으로 내려 착용하는 경우 선택하세요.</td>
    </tr>
  </tbody>
</table>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=12>반지 사이즈</td>
    </tr>
    <tr class="even">
    	<td class="first">한국</td>
    	<td class="value"></td>
    	<td class="value"></td>
    	<td class="value"></td>
    	<td class="value">1(호)</td>
    	<td class="value">2(호)</td>
    	<td class="value">3(호)</td>
    	<td class="value">4(호)</td>
    	<td class="value">5(호)</td>
    	<td class="value">6(호)</td>
    	<td class="value">7(호)</td>
    	<td class="value">8(호)</td>
    </tr>
    <tr class="odd">
    	<td class="first">반지직경</td>
    	<td class="value">13</td>
    	<td class="value">13 1/3</td>
    	<td class="value">13 2/3</td>
    	<td class="value">14</td>
    	<td class="value">14 1/3</td>
    	<td class="value">14 2/3</td>
    	<td class="value">15</td>
    	<td class="value">15 1/3</td>
    	<td class="value">15 2/3</td>
    	<td class="value">16</td>
    	<td class="value">16 1/3</td>
    </tr>
    <tr class="even">
    	<td class="first">내부길이</td>
    	<td class="value">40.8</td>
    	<td class="value">41.9</td>
    	<td class="value">42.9</td>
    	<td class="value">44</td>
    	<td class="value">45</td>
    	<td class="value">46.1</td>
    	<td class="value">47.1</td>
    	<td class="value">48.2</td>
    	<td class="value">49.2</td>
    	<td class="value">50.3</td>
    	<td class="value">51.3</td>
    </tr>
    <tr class="odd">
    	<td class="first">미국</td>
    	<td class="value">1</td>
    	<td class="value">2</td>
    	<td class="value">2.5</td>
    	<td class="value">3</td>
    	<td class="value">3.5</td>
    	<td class="value">3.5~4</td>
    	<td class="value">4~4.5</td>
    	<td class="value">4.5~5</td>
    	<td class="value">5</td>
    	<td class="value">5.5</td>
    	<td class="value">6</td>
    </tr>
    <tr class="even">
    	<td class="first">영국</td>
    	<td class="value">C</td>
    	<td class="value">D</td>
    	<td class="value">E</td>
    	<td class="value">F</td>
    	<td class="value">G</td>
    	<td class="value">G~H</td>
    	<td class="value">H~I</td>
    	<td class="value">I~J</td>
    	<td class="value">J</td>
    	<td class="value">K</td>
    	<td class="value">L</td>
    </tr>
    <tr class="even">
    	<td class="first">일본</td>
    	<td class="value">1</td>
    	<td class="value">2</td>
    	<td class="value">3</td>
    	<td class="value">4</td>
    	<td class="value">5</td>
    	<td class="value">6</td>
    	<td class="value">7</td>
    	<td class="value">8</td>
    	<td class="value">9</td>
    	<td class="value">10</td>
    	<td class="value">11</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>실로 측정하는 방법 : 실로 손가락 둘레사이즈(mm)를 실측한 후 호수로 환산</li>
    <li>기존의 착용하던 반지를 이용하여 측정하는 방법 (허용오차 +-05mm) : 기존 사용중인 반지를 측정자를 이용해서 측정자로 반지의 안지름 (mm)을 실측하여 호수로 환산.</li>
    <li>종이를 이용하는 방법 : 종이를 이용해서 종이(5mm 넓이로)손가락 둘레사이즈(mm)를 실측 (약간 조여서)하여 호수로 환산</li>
    <ul>
	    <li>종이를 넉넉하게 자른 후, 자른 종이를 반지를 낄 손가락 마디 부분에 감는다.</li>
	    <li>감은 종이가 만나는 지점을 펜으로 표시한 후, 표시한 부분의 길이를 잰후 보기표에서 선택하시면 됩니다.</li>
	  </ul>
    <li>반지의 폭이 넓은 경우 반 호수 또는 한 호수 크게 하시는 것이 적당하며, 손가락 마디가 굵은 경우 마디를 재 주셔야 합니다.(반지의 한 호수 차이는 1mm)</li>
  </ul>
</div>