<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=12>언더웨어 - 기타 언더웨어(팬티, 란쥬, 슬립사이즈)</td>
    </tr>
    <tr class="even">
    	<td class="first">한국사이즈</td>
      <td class="value">85</td>
      <td class="value" colspan=2>90</td>
      <td class="value" colspan=2>95</td>
      <td class="value" colspan=2>100</td>
      <td class="value" colspan=2>105</td>
      <td class="value" colspan=2>110</td>
    </tr>

    <tr class="odd">
    	<td class="first">미국사이즈-1</td>
        <td class="value">XXS</td>
    	<td class="value" colspan=2>XS</td>
    	<td class="value" colspan=2>S</td>
    	<td class="value" colspan=2>M</td>
    	<td class="value" colspan=2>L</td>
    	<td class="value" colspan=2>XL</td>
    </tr>

    <tr class="even">
    	<td class="first">미국사이즈-2</td>
    	<td class="value">0</td>
    	<td class="value">2</td>
    	<td class="value">4</td>
    	<td class="value">6</td>
    	<td class="value">8</td>
    	<td class="value">10</td>
    	<td class="value">12</td>
    	<td class="value">14</td>
    	<td class="value">16</td>
    	<td class="value">18</td>
    	<td class="value">20</td>
    </tr>

    <tr class="odd">
    	<td class="first">Bust(inch)</td>
    	<td class="value">31.5</td>
    	<td class="value">32.5</td>
    	<td class="value">33.4</td>
    	<td class="value">34.5</td>
    	<td class="value">36.5</td>
    	<td class="value">37.5</td>
    	<td class="value">38.5</td>
    	<td class="value">39.5</td>
    	<td class="value">41</td>
    	<td class="value">43</td>
    	<td class="value">45</td>
    </tr>

    <tr class="even">
    	<td class="first">Waist(inch)</td>
    	<td class="value">23</td>
    	<td class="value">24</td>
    	<td class="value">25</td>
    	<td class="value">26</td>
    	<td class="value">27</td>
    	<td class="value">28</td>
    	<td class="value">29.5</td>
    	<td class="value">31</td>
    	<td class="value">32.5</td>
    	<td class="value">34.5</td>
    	<td class="value">46.5</td>
    </tr>

    <tr class="odd">
    	<td class="first">Hip(inch)</td>
    	<td class="value">33.5</td>
    	<td class="value">34.5</td>
    	<td class="value">35.5</td>
    	<td class="value">36.5</td>
    	<td class="value">37.5</td>
    	<td class="value">38.5</td>
    	<td class="value">40</td>
    	<td class="value">42</td>
    	<td class="value">43</td>
    	<td class="value">45</td>
    	<td class="value">47</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>넉넉하게 입으시는 분들은 본 사이즈표대로 주문하셔도 됩니다.</li>
  </ul>
</div>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=5>언더웨어 - 스타킹</td>
    </tr>
     <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">44</td>
      <td class="value">55</td>
      <td class="value">66</td>
      <td class="value">77</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈-1</td>
      <td class="value">XS</td>
      <td class="value">S</td>
      <td class="value">M</td>
      <td class="value">L</td>
    </tr>
    <tr class="even">
      <td class="first">미국사이즈-2</td>
      <td class="value">0</td>
      <td class="value">1</td>
      <td class="value">2</td>
      <td class="value">3</td>
    </tr>
    <tr class="odd">
      <td class="first">Bust(inch)</td>
      <td class="value">143~154.5</td>
      <td class="value">152~162</td>
      <td class="value">157~172</td>
      <td class="value">164~180</td>
    </tr>
    <tr class="even">
      <td class="first">Waist(inch)</td>
      <td class="value">43~50</td>
      <td class="value">47.7~59</td>
      <td class="value">52~66</td>
      <td class="value">61~80</td>
    </tr>
    <tr class="odd">
      <td class="first">Hip(inch)</td>
      <td class="value">78~94</td>
      <td class="value">86~96.5</td>
      <td class="value">89~106.6</td>
      <td class="value">101~116.6</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>일반적으로 한국인은 XS와 S 사이즈가 적당합니다.</li>
  </ul>
</div>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=5>언더웨어 - 브라</td>
    </tr>
    <tr class="heading">
      <td class="first">밑가슴둘레</td>
      <td class="value">가슴둘레</td>
      <td class="value">한국</td>
      <td class="value">미국</td>
      <td class="value">허용범위</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>65</td>
      <td class="value">70~73</td>
      <td class="value">65A</td>
      <td class="value">30AA</td>
      <td class="value" rowspan=5>63cm~68cm</td>
    </tr>
    <tr>
      <td class="value">74~76</td>
      <td class="value">65B</td>
      <td class="value">30A</td>
    </tr>
    <tr>
      <td class="value">77~79</td>
      <td class="value">65C</td>
      <td class="value">30B</td>
    </tr>
    <tr>
      <td class="value">79~81</td>
      <td class="value">65D</td>
      <td class="value">30C</td>
    </tr>
    <tr>
      <td class="value">81~83</td>
      <td class="value">65DD</td>
      <td class="value">30D</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>70</td>
      <td class="value">79~81</td>
      <td class="value">70A</td>
      <td class="value">32AA</td>
      <td class="value" rowspan=5>68cm~73cm</td>
    </tr>
    <tr>
      <td class="value">82~84</td>
      <td class="value">70B</td>
      <td class="value">32A</td>
    </tr>
    <tr>
      <td class="value">84~86</td>
      <td class="value">70C</td>
      <td class="value">32B</td>
    </tr>
    <tr>
      <td class="value">86~88</td>
      <td class="value">70D</td>
      <td class="value">32C</td>
    </tr>
    <tr>
      <td class="value">89~91</td>
      <td class="value">70DD</td>
      <td class="value">32D</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>75</td>
      <td class="value">83~86</td>
      <td class="value">75A</td>
      <td class="value">34AA</td>
      <td class="value" rowspan=5>73cm~78cm</td>
    </tr>
    <tr>
      <td class="value">87~89</td>
      <td class="value">75B</td>
      <td class="value">34A</td>
    </tr>
    <tr>
      <td class="value">89~91</td>
      <td class="value">75C</td>
      <td class="value">34B</td>
    </tr>
    <tr>
      <td class="value">91~93</td>
      <td class="value">75D</td>
      <td class="value">34C</td>
    </tr>
    <tr>
      <td class="value">93~95</td>
      <td class="value">75DD</td>
      <td class="value">34D</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>80</td>
      <td class="value">89~91</td>
      <td class="value">80A</td>
      <td class="value">36AA</td>
      <td class="value" rowspan=5>79cm~83cm</td>
    </tr>
    <tr>
      <td class="value">92~94</td>
      <td class="value">80B</td>
      <td class="value">36A</td>
    </tr>
    <tr>
      <td class="value">94~96</td>
      <td class="value">80C</td>
      <td class="value">36B</td>
    </tr>
    <tr>
      <td class="value">96~98</td>
      <td class="value">80D</td>
      <td class="value">36C</td>
    </tr>
    <tr>
      <td class="value">98~100</td>
      <td class="value">80DD</td>
      <td class="value">36D</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>85</td>
      <td class="value">94~96</td>
      <td class="value">85A</td>
      <td class="value">38AA</td>
      <td class="value" rowspan=5>83cm~88cm</td>
    </tr>
    <tr>
      <td class="value">97~99</td>
      <td class="value">85B</td>
      <td class="value">38A</td>
    </tr>
    <tr>
      <td class="value">99~101</td>
      <td class="value">85C</td>
      <td class="value">38B</td>
    </tr>
    <tr>
      <td class="value">101~103</td>
      <td class="value">85D</td>
      <td class="value">38C</td>
    </tr>
    <tr>
      <td class="value">103~105</td>
      <td class="value">85DD</td>
      <td class="value">38D</td>
    </tr>
    <tr>
      <td class="first" rowspan=5>90</td>
      <td class="value">99~101</td>
      <td class="value">90A</td>
      <td class="value">40AA</td>
      <td class="value" rowspan=5>88cm~93cm</td>
    </tr>
    <tr>
      <td class="value">102~104</td>
      <td class="value">90B</td>
      <td class="value">40A</td>
    </tr>
    <tr>
      <td class="value">104~106</td>
      <td class="value">90C</td>
      <td class="value">40B</td>
    </tr>
    <tr>
      <td class="value">106~108</td>
      <td class="value">90D</td>
      <td class="value">40C</td>
    </tr>
    <tr>
      <td class="value">108~110</td>
      <td class="value">90DD</td>
      <td class="value">40D</td>
    </tr>
    <tr>
      <td class="first">95</td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value"></td>
      <td class="value">93cm~98cm</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조 회사마다 차이가 있을 수 있습니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48cm</li>
  </ul>
</div>

