<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=16>여성 신발 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">220</td>
      <td class="value">225</td>
      <td class="value">230</td>
      <td class="value">235</td>
      <td class="value">240</td>
      <td class="value">245</td>
      <td class="value">250</td>
      <td class="value">255</td>
      <td class="value">260</td>
      <td class="value">265</td>
      <td class="value">270</td>
      <td class="value">275</td>
      <td class="value">280</td>
      <td class="value">285</td>
      <td class="value">290</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈(US)</td>
      <td class="value">5</td>
      <td class="value">5.5</td>
      <td class="value">6</td>
      <td class="value">6.5</td>
      <td class="value">7</td>
      <td class="value">7.5</td>
      <td class="value">8</td>
      <td class="value">8.5</td>
      <td class="value">9</td>
      <td class="value">9.5</td>
      <td class="value">10</td>
      <td class="value">10.5</td>
      <td class="value">11</td>
      <td class="value">11.5</td>
      <td class="value">12</td>
    </tr>
    <tr class="even">
      <td class="first">이태리사이즈(IT)</td>
      <td class="value">35</td>
      <td class="value">35.5</td>
      <td class="value">36</td>
      <td class="value">36.5</td>
      <td class="value">37</td>
      <td class="value">37.5</td>
      <td class="value">38</td>
      <td class="value">38.5</td>
      <td class="value">39</td>
      <td class="value">39.5</td>
      <td class="value">40</td>
      <td class="value">40.5</td>
      <td class="value">41</td>
      <td class="value">41.5</td>
      <td class="value">42</td>
    </tr>

    <tr class="even">
      <td class="first">영국사이즈(UK)</td>
      <td class="value">3</td>
      <td class="value">3.5</td>
      <td class="value">4</td>
      <td class="value">4.5</td>
      <td class="value">5</td>
      <td class="value">5.5</td>
      <td class="value">6</td>
      <td class="value">6.5</td>
      <td class="value">7</td>
      <td class="value">7.5</td>
      <td class="value">8</td>
      <td class="value">8.5</td>
      <td class="value">9</td>
      <td class="value">9.5</td>
      <td class="value">10</td>
    </tr>

    <tr class="odd">
      <td class="first">유럽사이즈(EU)</td>
      <td class="value">36</td>
      <td class="value">36.5</td>
      <td class="value">37</td>
      <td class="value">37.5</td>
      <td class="value">38</td>
      <td class="value">38.5</td>
      <td class="value">39</td>
      <td class="value">39.5</td>
      <td class="value">40</td>
      <td class="value">40.5</td>
      <td class="value">41</td>
      <td class="value">41.5</td>
      <td class="value">42</td>
      <td class="value">42.5</td>
      <td class="value">43</td>
    </tr>

    <tr class="odd">
      <td class="first">남성 전환 사이즈</td>
      <td class="value">3.5</td>
      <td class="value">4</td>
      <td class="value">4.5</td>
      <td class="value">5</td>
      <td class="value">5.5</td>
      <td class="value">6</td>
      <td class="value">6.5</td>
      <td class="value">7</td>
      <td class="value">7.5</td>
      <td class="value">8</td>
      <td class="value">8.5</td>
      <td class="value">9</td>
      <td class="value">9.5</td>
      <td class="value">10</td>
      <td class="value">10.5</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>양쪽발 모두 발끝에서부터 뒷꿈치까지의 길이를 측정하고 어느 쪽이든 긴 쪽을 선택하세요.</li>
    <li>신발 사이즈 옆에 따라 붙는 볼(발의 폭) 사이즈는 N < M < W 로 M볼이 중간볼이며, AA < A < B < C < D 로 표기되어 있는 경우에는  B, C가 중간볼에 해당합니다.</li>
    <li>Small(S), Medium(M), Large(L)로 표기된 경우, S=5/6, M=7/8, L=9/10 사이즈 입니다.</li>
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로 제조회사 또는 브랜드 별로 차이가 있을 수 있습니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>일부 유럽 사이즈와 이태리 사이즈의 경우, 하프 사이즈가 없는 경우는 괄호안의 US 사이즈를 참고해 주시기 바랍니다.</li>
  </ul>
</div>

<div class="ui divider"></div>

<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=12>스니커즈 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈</td>
      <td class="value">225</td>
      <td class="value">230</td>
      <td class="value">235</td>
      <td class="value">240</td>
      <td class="value">245</td>
      <td class="value">250</td>
      <td class="value">255</td>
      <td class="value">260</td>
      <td class="value">265</td>
      <td class="value">270</td>
      <td class="value">275</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈(US)</td>
      <td class="value">5.5~6</td>
      <td class="value">6~6.5</td>
      <td class="value">6.5~7</td>
      <td class="value">7~7.5</td>
      <td class="value">7.5~8</td>
      <td class="value">8~8.5</td>
      <td class="value">8.5~9</td>
      <td class="value">9~9.5</td>
      <td class="value">9.5~10</td>
      <td class="value">10~10.5</td>
      <td class="value">10.5~11</td>
    </tr>
    <tr class="even">
      <td class="first">이태리사이즈(IT)</td>
      <td class="value">36</td>
      <td class="value">36.5</td>
      <td class="value">37</td>
      <td class="value">37.5</td>
      <td class="value">38</td>
      <td class="value">38.5</td>
      <td class="value">39</td>
      <td class="value">39.5</td>
      <td class="value">40</td>
      <td class="value">40.5</td>
      <td class="value">41</td>
    </tr>
  </tbody>
</table>

<div class="ui red message">
  <ul style="line-height: 150%">
    <li>스티커즈 구매시, 사이즈를 참고하세요.</li>
    <li>스니커즈의 경우 함께 신으실 양말, 스타킹의 두께에 따라 맞음새가 다를 수 있으므로 이 점을 고려하여 구매하시기 바랍니다.</li>
    <li>일반적으로 본인의 구두 선택시 참고하는 사이즈 외에 반사이즈~한사이즈 크게 선택하시는 경우가 많음을 참고하세요.</li>
  </ul>
</div>