<table class="ui celled table size_table">
  <tbody>
    <tr class="heading">
      <td class="first" colspan=8>Plus 사이즈 : 체격이 있으신 여성분들을 위해 전체적으로 사이즈를 조금 크게 만들어 놓은 사이즈</td>
    </tr>
    <tr class="even">
      <td class="first">한국사이즈-1</td>
      <td class="value"></td>
      <td class="value" colspan=2>77</td>
      <td class="value" colspan=2>88</td>
      <td class="value" colspan=2>99</td>
    </tr>
    <tr class="odd">
      <td class="first">한국사이즈-2</td>
      <td class="value"></td>
      <td class="value" colspan=2>100</td>
      <td class="value" colspan=2>105</td>
      <td class="value" colspan=2>110</td>
    </tr>
    <tr class="even">
      <td class="first">미국사이즈-1</td>
      <td class="value">12</td>
      <td class="value">14</td>
      <td class="value">16</td>
      <td class="value">18</td>
      <td class="value">20</td>
      <td class="value">22</td>
      <td class="value">24</td>
    </tr>
    <tr class="odd">
      <td class="first">미국사이즈-2</td>
      <td class="value">0X</td>
      <td class="value" colspan=2>1X</td>
      <td class="value" colspan=2>2X</td>
      <td class="value" colspan=2>3X</td>
    </tr>
    
    <tr class="even">
      <td class="first">가슴둘레(inch)</td>
      <td class="value">41</td>
      <td class="value">43</td>
      <td class="value">45</td>
      <td class="value">47</td>
      <td class="value">49</td>
      <td class="value">51</td>
      <td class="value">53</td>
    </tr>
    <tr class="odd">
      <td class="first">허리(inch)</td>
      <td class="value">33</td>
      <td class="value">35</td>
      <td class="value">37</td>
      <td class="value">39</td>
      <td class="value">41</td>
      <td class="value">43</td>
      <td class="value">45</td>
    </tr>
    <tr class="even">
      <td class="first">엉덩이둘레(inch)</td>
      <td class="value">42</td>
      <td class="value">44</td>
      <td class="value">46</td>
      <td class="value">48</td>
      <td class="value">50</td>
      <td class="value">52</td>
      <td class="value">54</td>
    </tr>
  <tbody>
</table>
<!-- <div class="ui red message">
  <ul style="line-height: 150%">
    <li>사이즈 조견표 내의 사이즈는 통상적인 사이즈를 비교해 놓은 것으로서 제조회사 및 브랜드마다 차이가 있을 수 있습니다.</li>
    <li>허리사이즈는 바지 주문사이즈가 아닌 실제 허리사이즈임을 참고하시기 바랍니다.</li>
    <li>본 사이즈 조견표는 일반적인 미국 사이즈를 표기한 것이며, 디자인과 브랜드에 따라 다소 차이가 있을 수 있습니다.</li>
    <li>인치(inch) = 2.54cm / 피트(ft) = 30.48 츠</li>
  </ul>
</div> -->
