<style>

header {
  padding: 20px;
  /*position: fixed;*/
   /*background-color: rgb(156, 156, 156);*/
   background-color: #85144B;
   top: 0;
   left: 0;
   right: 0;
   /*width: 100%;*/
   /*height: 80px;*/
   /*background: #fff;*/
   /*line-height: 50px;*/
   /*padding: 0px 10px 0px 10px;*/
   
   z-index: 1;
}

header .header_div {
  width: 1000px;
  margin: 0 auto;
}

.header_search {
  position: relative;
  margin-left: 250px;
  /*top: 5px;*/
 /* left: 350px;
  right: 0;*/
  width: 600px;
  float: left;
}

.header_category {
  list-style: none;
  position: fixed;
  top: 45px;
  font-size: 13px;
  color: #4D4D4D;
  li {
    float: left;
    padding: 0 15px;
  }
  a {
    color: #4D4D4D;
    &:hover { 
      text-decoration: none; 
    }
  }
}
</style>

<header>
  <div class="header_div">
    <div>
   
      <div class="header_brand" >
        <p><a href="/" style="color: #fff;"><%= image_tag 'logotype_3.png', :style => 'width: 200px;' %></a></p>
      </div>
     
      <div id="search" style="margin-left: -0px;"> 
        <%

          if controller_name == 'collectionshop'
            path = collectionshop_index_path
          else
            path = rootshop_index_path
          end
        %>
        <%= form_tag path, :method => 'get', :class => 'form-wrapper cf', :id => "search" do %>
          <%= text_field_tag :q, nil, :placeholder => "상품을 검색하세요.", :size => 60  %>
          <button type="submit">Search</button>
        <% end %>     
       <!--  <form method="get" class="form-wrapper cf" action="http://www.bing.com/search" id="search">

          <input type="text" name="q" placeholder="Search the quusome..." required  size="60"/>
          <button type="submit" value="Search Web">Search</button>
        </form>  -->
      </div>
      <div class="header_right" style="margin-top: 12px;">
        <% if user_signed_in? %>
          <a href="/users/edit" class="ui button small teal "><i class="user icon "></i>마이페이지</a> 
          <%= link_to destroy_user_session_path, :method => 'delete', :class => 'ui button  teal small ' do %>
            <i class="sign out icon "></i>로그아웃
          <% end %>
        <% else %>
          <a href="/users/sign_up" class="ui button small teal"><i class="edit in icon"></i>회원가입</a>
          <a href="/users/sign_in" class="ui button small teal"><i class="sign in icon"></i>로그인</a>
        <% end %>
      </div>
    </div>


   <div style="font-size: 15px; padding-top: 5px; clear: both;  " align="center" class="shop_category" >
      
      <a href="#"><%= image_tag 'feature_4.png', :style => 'width: 40px; height: 40px;' %></a>
      <a href="/rootshop" style="margin-left: 10px;"><%= image_tag 'root_5.png', :style => 'width: 40px; height: 40px;' %><a/>
      <a href="/collectionshop" style="margin-left: 10px;"><%= image_tag 'collect_1.png', :style => 'width: 40px; height: 40px;' %></a>

      <!-- 
      <a href="#"><i class="camera retro icon" style="font-size: 35px; color: #fff;" ></i></a>
      <a href="/rootshop"><i class="sitemap icon" style="font-size: 35px; color: #fff;" ></i><a/>
      <a href="/collectionshop"><i class="block layout icon" style="font-size: 35px; color: #fff;"></i></a> -->
   </div>

<!--    <div style="margin-top: 20px; margin-left: 100px;">
       <%#= raw render_menu(ProductCategory.roots).sub!("<ul>", "<ul class='sf-menu'>")  %>

     </div>  -->
   </div>
 
 <!--    <div class="header_category">
      <a href="#">여성패션</a>
      <a href="#">남성패션</a>
      <a href="#">팬시</a>
      <a href="#">수공예</a>
      <a href="#">악세사리</a> 
    </div> -->

	</header>