 <!-- *** FOOTER ***
_________________________________________________________ -->

        <div id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>About QUUSOME</h4>
                    <div style="margin-top: 5px;"><a href="/pages/clause">이용약관</a></div>
                    <div style="margin-top: 5px;"><a href="/pages/individual_infomation">개인정보취급방침</a></div>
                    <div style="margin-top: 5px;"><a href="/pages/faq">FAQ</a></div>
            
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>상호 빈즈나인</h4>

                    <div><strong>대표</strong> 정윤태</div>
                    <div style="margin-top: 5px;"><strong>개인정보관리책임자</strong> 정윤태</div>
                    <div style="margin-top: 5px;"><strong>사업자등록번호</strong> 107-19-33008</div>
                    <div style="margin-top: 5px;"><strong>통신판매업신고</strong> <a href="http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2014318016330200775&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=1071933008&amp;stdate=&amp;enddate=" target="_blank">서울영등포-0774호</a> </div>
                    <div style="margin-top: 5px;"><a class="ui button mini" id="escrow_btn" style="color:black !important">KCP 구매안전(에스크로) 서비스</a></div>
                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4><strong>주소</strong></h4>
                    <p>서울시 영등포구 여의도동 66길23 산정빌딩 806호</p>
                    <p><strong>고객센터</strong> 전화 070-4154-0679
                    <br><strong>고객센터</strong> 이메일 admin@beanz9.com
                   
                    <br><br><strong>사업제휴제안</strong> admin@beanz9.com   
                    </p>




                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                   <h4>영업시간</h4>
                   <div style="margin-top: 5px;">평일 오전10:30~오후 5:00 (점심시간 12:30~13:30)</div>
                   <div style="margin-top: 5px;">토,일요일/공휴일은 휴무입니다.</div>

                    <div style="margin-top: 5px;">통화량이 많은 관계로 전화연결이 어려울 수 있으니 간단한 문의나 개별 상품에 대한 문의는 상품페이지 상품문의를 이용해 주세요.</div>


                 

                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->


       <!-- *** COPYRIGHT ***
_________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p>빈즈나인은 관세법 등 관련 규정을 준수하고, 불법 물품을 취급하지 않으며, 정품만을 취급합니다. 또한 분할 발송에 의한 가격허위신고(15만원 이하로 임의조정)등 구매자의 불법사항 요청에는 일체 협조하지 않습니다.</p>
                    <p class="pull-left">&copy; 2014. QUUSOME by <a href="http://www.beanz9.com" class="external">Beanz9</a>.</p>
                   <!--  <p class="pull-right">
                        <img src="img/payment.png" alt="payments accepted">
                    </p> -->

                </div>
            </div>
        </div>
        <!-- /#copyright -->

        <!-- *** COPYRIGHT END *** -->
        