<style>
/*.navbar-nav > .active  {
	background-color: #009bb3;
}*/

 .navbar .navbar-nav > .active > a, 
 .navbar .navbar-nav > .active > a:focus {
      /*color: #000;*/
    background: #7C000A;

 }

 .navbar .navbar-nav > li > a {
 	color: white;
 }

  .navbar .navbar-nav > li.open > a {
 	background: #9B000D;
 }

.navbar .navbar-nav > li > a:hover {
	background: #7C000A;
}

.navbar .navbar-nav > a:hover {
	background: #9B000D;
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.dropdown:hover .dropdown-menu {
    display: block;
 }
.dropdown.open {
    background: #9B000D !important;
}




/* MEGA MENU STYLE
********************************/ 
.mega-menu {
	padding: 10px 0px ! important;
	width: 850px;
  border-radius: 0;
  margin-top: 0px;


}

	.mega-menu li {
		display: inline-block;
		float: left;
		font-size: 0.94rem;
		padding: 3px 0px;
		}

		.mega-menu li.mega-menu-column {
			margin-right: 20px;
			width: 150px;
			}

			.mega-menu .nav-header {
			padding: 0 !important;
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #ddd;
			}
      .mega-menu img { padding-bottom: 10px;}

input::-webkit-input-placeholder { 
	/* WebKit browsers */
    color: white;
}
input:-moz-placeholder { 
	/* Mozilla Firefox 4 to 18 */
    color: white;
}
input::-moz-placeholder { 
	/* Mozilla Firefox 19+ */
    color: white;
}
input:-ms-input-placeholder { 
	/* Internet Explorer 10+ */
    color: white;
}

</style>

<script>
$(function() {
	// $('.dropdown').hover(function() {
	// 	$(this).find('dropdown-menu').first().stop(true, true).slideDown();
	// }, function() {
	// 	$(this).find('dropdown-menu').first().stop(true, true).slideUp();
	// });

	$('.navbar .dropdown > a').click(function() {
		location.href = this.href
	});


});


</script>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="background-color: black; min-width: 1150px">
	<div class="navbar-inner">
		<div class="container" style="max-width: 1150px; margin: 0 auto">
	  	<a class="navbar-brand" href="/"><%= image_tag 'quusome_header_logo.png', :style => ' height: 30px;' %></a>
	  	<ul class="nav navbar-nav navbar-right">
	  		<li><a href="http://blog.quusome.com/" style="margin-top: 10px;" target="_blank">블로그</a></li>
	  		<!-- <li><%#= link_to 'FAQ', page_path('faq'), :style => 'margin-top: 10px;' %></li> -->
	  		<% if user_signed_in? %>
	  			<% if current_user.user_type == 'seller' %>
            <li><a href="/myshop" style="margin-top: 10px;">마이샵</a></li>
          <% end %>
	  			<li><a href="/users/edit" style="margin-top: 10px;">마이페이지</a></li>
  				<li>
  					<%= link_to destroy_user_session_path, :method => 'delete', :style => 'margin-top: 10px;' do %>
	            로그아웃
	          <% end %>
  				</li>
        <% else %>
          <li><a href="/users/sign_up" style="margin-top: 10px;">회원가입</a></li>
  				<li><a href="/users/sign_in" style="margin-top: 10px;">로그인</a></li>
        <% end %>

	  		
  		</ul>
	  </div>
	 </div>
</nav>

<nav class="navbar navbar-static-top" role="navigation" style="min-height: 30px; background-color:#383838; margin-top: -20px; min-width: 1150px;">
	<div class="navbar-inner">
		<div class="container" style="max-width: 1150px; margin: 0 auto">
	  	<div class="collapse navbar-collapse">
	  		<%= render "layouts/menu" %>

	  		<%

          if controller_name == 'collectionshop'
            path = collectionshop_index_path
          else
            path = rootshop_index_path
          end
        %>

	  		<%#= form_tag path, :method => 'get', :class => 'navbar-right uk-search', :id => "search", :style => "margin-top: 5px;" do %>

	  			<!-- <input name="q" class="uk-search-field" type="search" placeholder="상품검색" style="background: #86000B; color: white;" value="<%#= params[:q] %>"> -->
    			<!-- <button class="uk-search-close" type="reset"></button> -->
        <%# end %>     

	  		
	  	</div>
		</div>
	</div>
</nav>
