
<style>
.depth_3_menu {
	/*position: fixed;*/
	/*top: 102px;*/
	/*left: -100px;*/
	background: black;
	padding-left: -20%;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}

.child_2_link:hover {
	text-decoration:underline;
}
</style>

<ul class="nav navbar-nav">
	<li  style="height: 40px;">
		<a href="/featured" style="color: white;">HOME</a>
	</li>
	<li  style="height: 40px;">
		<a href="/collectionshop" style="color: white;">COLLECTION SHOP</a>
	</li>
	<li  style="height: 40px;">
		<a href="/hot_collections" style="color: white;">HOT COLLECTION</a>
	</li>
	<% cache "category_menu_cache" do %>
		<% ProductCategory.roots.each do |root| %>
		<li class="dropdown">
	    <a role="button" data-toggle="dropdown" href="/rootshop?category=<%= root.id %>" ><%= root.name %></a>
	    <div class="wrap">
	    <ul class="dropdown-menu mega-menu depth_3_menu ">
	  		<% if root.has_children? %>
	  			<% root.children.each do |child| %> 
				    <li class="mega-menu-column">
					    <ul>
				        <li class="nav-header">
				        	<a href="/rootshop?category=<%= child.id %>" style="color: white; font-weight: bold;"><%= child.name %></a>
				        </li>
				        <!-- <img src="http://placehold.it/150x120"> -->
				  
				        <% child.children.each do |child_2| %>
									<a href="/rootshop?category=<%= child_2.id %>" style="color: white; font-size: 12px;" class="child_2_link"><%= child_2.name %></a><br>
					       <% end %>
					 		
					    </ul>
				    </li>  
				  <% end %>
		    <% end %>  
			</ul><!-- dropdown-menu -->
			</div>
	  </li>
	  <% end %>
	<% end %>
	
</ul>



