<style>
.cbp-hrmenu {
	width: 1150px;
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
/*.cbp-hrmenu > ul,*/
.cbp-hrmenu .cbp-hrsub-inner {
	width: 1150px;
	/*max-width: 70em;*/
	margin: 0 auto;
	padding: 0 1.875em;

}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 1em 1em;
	color: #999;
	display: inline-block;
}

.cbp-hrmenu > ul > li > div > a {
	font-weight: 700;
	padding: 1em 1em;
	color: #999;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	/*color: #47a3da;*/
	color: #fff;

}

.cbp-hrmenu > ul > li > div > a:hover {
	/*color: #47a3da;*/
	color: #fff;

}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	/*background: #47a3da;*/
	background: black;
	/*opacity: 0.8;*/
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	/*background: #47a3da;*/
	background: black;
	opacity: 0.8;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 1em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 15%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 1.8em;
	
}



.cbp-hrsub h4 {
	/*color: #afdefa;*/
	color: #fff;
	padding: 1em 0 0;
	margin: 0;
	font-size: 140%;
	font-weight: 300;
}




</style>
<nav id="cbp-hrmenu" class="cbp-hrmenu">
	<ul>
		<li>
			<div><a href="/featured">HOME</a></div>
		</li>
		<li>
			<div><a href="/collectionshop">COLLECTION SHOP</a></div>
		</li>
		<li>
			<div><a href="/hot_collections">HOT COLLECTION</a></div>
		</li>
		<% cache "category_menu_cache" do %>
			<% ProductCategory.roots.each do |root| %>
			<li>
				<a href="#"><%= root.name %> <i class="sort descending icon"></i></a>
				<div class="cbp-hrsub">
					<div class="cbp-hrsub-inner"> 
						<% if root.has_children? %>
		  				<% root.children.each do |child| %> 
			  				<div>
									<h4><a href="/rootshop?category=<%= child.id %>"><%= child.name %></a></h4>
									<div class="ui divider" style="margin-top: 0px;"></div>
									<ul>
										<% child.children.each do |child_2| %>
											<li><a href="/rootshop?category=<%= child_2.id %>"><%= child_2.name %></a></li>
										<% end %>
									</ul>
								</div>
		  				<% end %>
		  			<% end %>
					</div><!-- /cbp-hrsub-inner -->
				</div><!-- /cbp-hrsub -->
			</li>
			<% end %>
		<% end %>
		
	</ul>
</nav>


		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});

			/**
 * cbpHorizontalMenu.js v1.0.0
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2013, Codrops
 * http://www.codrops.com
 */
var cbpHorizontalMenu = (function() {

	var $listItems = $( '#cbp-hrmenu > ul > li' ),
		$menuItems = $listItems.children( 'a' ),
		$body = $( 'body' ),
		current = -1;

	function init() {
		$menuItems.on( 'click', open );
		$listItems.on( 'click', function( event ) { event.stopPropagation(); } );
	}

	function open( event ) {

		if( current !== -1 ) {
			$listItems.eq( current ).removeClass( 'cbp-hropen' );
		}

		var $item = $( event.currentTarget ).parent( 'li' ),
			idx = $item.index();

		if( current === idx ) {
			$item.removeClass( 'cbp-hropen' );
			current = -1;
		}
		else {
			$item.addClass( 'cbp-hropen' );
			current = idx;
			$body.off( 'click' ).on( 'click', close );
		}

		return false;

	}

	function close( event ) {
		$listItems.eq( current ).removeClass( 'cbp-hropen' );
		current = -1;
	}

	return { init : init };

})();

		</script>
