<!-- *** NAVBAR ***
_________________________________________________________ -->

    <!-- <div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar"> -->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar" style="margin-top: -100px;">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="/">
                    <%= image_tag "logo_wideh51.jpg", :alt => "Minimal logo", :class => "hidden-xs hidden-sm"  %>
                    <%= image_tag "symbolmark51x_png.png", :alt => "Minimal logo", :class => "visible-xs visible-sm" %>
                    <span class="sr-only">Minimal - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button  class=" btn navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <% if user_signed_in? %>
                        <%= link_to destroy_user_session_path, :method => 'delete', :class => 'btn btn-primary navbar-toggle' do %>
                          <i class="fa fa-lock"></i>
                        <% end %>

                        <a href="/users/edit" class="btn btn-primary navbar-toggle">
                            <i class="fa fa-user"></i>
                        </a>
                        <% if current_user.user_type == 'seller' %>
                            <a href="/myshop" class="btn btn-primary navbar-toggle"><i class="fa fa-gear"></i></a>
                        <% end %>
                    <% else %>
                         
                        <a href="/users/sign_in" class="btn btn-primary navbar-toggle">
                            <i class="fa fa-lock"></i>
                        </a>
                        <a href="/users/sign_up" class="btn btn-primary navbar-toggle">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    <% end %>
                    
                    
                 <!--    <a class="btn navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </a> -->
                 

                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                  <!--
                    <li class="active"><a href="/">Home</a>
                    </li>
                  -->
             <!--        <li class="active"><a href="/collectionshop">Collection Shop</a>
                    </li>
 -->
                    <li class="dropdown">
                        <a id="drop4" role="button" data-toggle="dropdown" style="cursor: pointer">SALE <span class="caret"></span></a>
                        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/rootshop?utf8=%E2%9C%93&q%5Btitle_cont%5D=&q%5Bbrand_cont%5D=&q%5Binit_price_gteq%5D=&q%5Binit_price_lteq%5D=&category_arr%5B%5D=1&category_arr%5B%5D=&q%5Bis_sale_eq%5D=&q%5Bis_sale_eq%5D=true">WOMEN</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="/rootshop?utf8=%E2%9C%93&q%5Btitle_cont%5D=&q%5Bbrand_cont%5D=&q%5Binit_price_gteq%5D=&q%5Binit_price_lteq%5D=&category_arr%5B%5D=101&category_arr%5B%5D=&q%5Bis_sale_eq%5D=&q%5Bis_sale_eq%5D=true">MEN</a></li>
                          <!-- <li role="presentation" class="divider"></li> -->
                          <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="/">SPECIAL DEAL</a></li> -->
                          
                        </ul>
                      </li>

                    <% ProductCategory.roots.each do |root| %>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= root.name %><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            

                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                       <div class="col-sm-2">
                                            <% if root.name == 'WOMEN' %>
                                                <%= image_tag "Category_women_1000x667.jpg", :class => "img-responsive hidden-xs" %>
                                            <% elsif root.name == 'MEN' %>
                                                <%= image_tag "Category_men_1000x667.jpg", :class => "img-responsive hidden-xs" %>
                                            <% end %>
                                            
                                        </div> 
                                        <% if root.has_children? %>
                                            <% root.children.each do |child| %> 
                                                <div class="col-sm-2">
                                                    <h3><a href="/rootshop?category=<%= child.id %>"><%= child.name %></a></h3>
                                                    <ul>
                                                        <% child.children.each do |child_2| %>
                                                            <li><a href="/rootshop?category=<%= child_2.id %>"><%= child_2.name %></a></li>
                                                       
                                                        <% end %>
                                                    </ul>
                                                </div>
                                            <% end %>
                                        <% end %>
                                        
                                    </div>
                                </div>
                                <div class="footer clearfix hidden-xs">
                                    <h4 class="pull-right"><%= root.name %></h4>
                                   <!--  <div class="buttons pull-left">
                                        <a href="#" class="btn btn-default"><i class="fa fa-tags"></i> Sales</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-star-o"></i> Favourites</a>
                                        <a href="#" class="btn btn-default"><i class="fa fa-globe"></i> Brands</a>
                                    </div> -->
                                </div>

                            </li>
                        </ul>
                    </li>

                    <% end %>

                    </li>

                    
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="basket-overview">
                <!--
               <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                -->
              <% if user_signed_in? %>
                <% if current_user.user_type == 'seller' %>
                    <a href="/myshop" class="btn btn-primary navbar-btn"><i class="fa fa-gear"></i><span class="hidden-sm">마이샵</span></a>
                <% end %>
                <a href="/users/edit" class="btn btn-primary navbar-btn"><i class="fa fa-user"></i><span class="hidden-sm">마이페이지</span></a>

                <%= link_to destroy_user_session_path, :method => 'delete', :class => 'btn btn-primary navbar-btn' do %>
                  <i class="fa fa-lock"></i><span class="hidden-sm">로그아웃</span>
                <% end %>

                
              <% else %>
                <a href="/users/sign_up" class="btn btn-primary navbar-btn"><i class="fa fa-pencil-square-o"></i><span class="hidden-sm">회원가입</span></a>
                <a href="/users/sign_in" class="btn btn-primary navbar-btn"><i class="fa fa-lock"></i><span class="hidden-sm">로그인</span></a>
              <% end %>
             
            </div>
            <!--/.nav-collapse -->


        
            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

		    </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>


    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->