<!DOCTYPE html>
<html>
<head>
  <title>QuusomeS2</title>
  
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.2.1/pure-min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="tm-navbar uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center">

      <a class="uk-navbar-brand uk-hidden-small" href="../index.html">Quusome</a>

      <ul class="uk-navbar-nav uk-hidden-small">
        <li><a href="documentation_get-started.html">Get Started</a></li>
        <li class="uk-active"><a href="components.html">Components</a></li>
        <li><a href="customizer.html">Customizer</a></li>
      </ul>

      <div class="uk-navbar-flip">
      <div class="uk-navbar-content">
        <form class="uk-search">
          <input class="uk-search-field" type="search" placeholder="search..." autocomplete="off">
          <button class="uk-search-close" type="reset"></button>
        <div class="uk-dropdown uk-dropdown-search uk-dropdown-flip"><ul class="uk-nav uk-nav-search"></ul></div></form>
      </div>
    </div>

      <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

      <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="images/logo_uikit.svg" width="90" height="30" title="UIkit" alt="UIkit"></div>

    </div>




  </nav>


  <%= yield %>

  
  <div class="footer tm-footer" style="border-top: 1px solid #ddd;">
    <div class="uk-container uk-container-center uk-text-center">

      <ul class="uk-subnav uk-subnav-line">
        <li><a href="http://github.com/uikit/uikit">GitHub</a></li>
        <li><a href="http://github.com/uikit/uikit/issues">Issues</a></li>
        <li><a href="http://github.com/uikit/uikit/blob/master/CHANGELOG.md">Changelog</a></li>
        <li><a>Twitter</a></li>
      </ul>

      <div class="uk-panel">
        <p>Made by <a href="http://www.yootheme.com">YOOtheme</a> with love and caffeine.<br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
        <a href="../index.html">Quusome</a>
      </div>

    </div>
  </div>

 
</body>
</html>
