<!DOCTYPE html>
<html>
<head>
  <title>QuusomeS2</title>

   <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
  <![endif]-->

  <!--[if lt IE 7]>
  <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
  <![endif]-->
  
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
   

  

</head>
<body>
  <nav class="tm-navbar  uk-navbar  uk-navbar-attached uk-container-center" style="position: fixed; top: 0px; width: 100%; z-index: 100">
    <div class="uk-container uk-container-center" style="width: 1100px;">

      <a class="uk-navbar-brand " href="/rootshop">Quusome</a>

      <ul class="uk-navbar-nav ">
        <li class="uk-active"><a href="/rootshop">루트샵</a></li>
        <li class="uk-active"><a href="/collectionshop">컬렉트샵</a></li>
      </ul>

      <div class="uk-navbar-flip">
        
        <div class="uk-navbar-content">
          <ul class="uk-navbar-nav ">
            <li><a href="/sign_up">회원가입</a></li>
            <% if user_signed_in? %>
              <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "로그인", "/sign_in" %></li>
            <% end %>
          </ul>
          <form class="uk-search">
            <input class="uk-search-field" type="search" placeholder="search..." autocomplete="off">
            <button class="uk-search-close" type="reset"></button>
            <div class="uk-dropdown uk-dropdown-search uk-dropdown-flip">
              <ul class="uk-nav uk-nav-search"></ul>
            </div>
          </form>
        </div>

        
      </div>

     <!--  <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

      <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><img src="images/logo_uikit.svg" width="90" height="30" title="UIkit" alt="UIkit"></div> -->

    </div>




  </nav>


  <div class="content" style="margin-top: 80px;">
    <div class="uk-container uk-container-center" style="width: 1100px;">
      <%= yield %>
    </div>
  </div>
  
  <!-- <div class="footer tm-footer" style="border-top: 1px solid #ddd;">
    <div class="uk-container uk-container-center uk-text-center">

      <ul class="uk-subnav uk-subnav-line">
        <li><a href="http://github.com/uikit/uikit">GitHub</a></li>
        <li><a href="http://github.com/uikit/uikit/issues">Issues</a></li>
        <li><a href="http://github.com/uikit/uikit/blob/master/CHANGELOG.md">Changelog</a></li>
        <li><a>Twitter</a></li>
      </ul>

      <div class="uk-panel">
        <p>Made by <a href="http://www.yootheme.com">YOOtheme</a> with love and caffeine.<br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
        <a href="../index.html">Quusome</a>
      </div>

    </div>
  </div> -->

 
</body>
</html>
