
<!DOCTYPE html>
<html>
<head>
  <title>QuusomeS2</title>

  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>

  <style>


.shop_category a {
  color: black;
}

/*header {

  padding: 1em;
  background-color: #45739C;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
}

header div {
  width: 1000px;
  text-align: center;
}*/



</style>

</head>
<body>
<!--   <header>
    <div>
      <i class="fa fa-leaf"></i>
      Treehouse Style List Cells!
      <p>Treehouse is Awesome!!</p>
    </div>
      
  </header> -->

  <%= render 'layouts/collection_shop_header' %>
  
    

	
<!-- 	<div class="shadow"></div> -->



<div class="content" style="width: 1150px; margin: 80px auto; ">

<%= yield %>
</div>

  <div class="footer tm-footer" style="border-top: 1px solid #ddd; background-color: #85144B;">
    <div class="footer_div">
      <div class="uk-container uk-container-center uk-text-center">

        <ul class="uk-subnav uk-subnav-line">
          <li><a href="http://github.com/uikit/uikit">GitHub</a></li>
          <li><a href="http://github.com/uikit/uikit/issues">Issues</a></li>
          <li><a href="http://github.com/uikit/uikit/blob/master/CHANGELOG.md">Changelog</a></li>
          <li><a>Twitter</a></li>
        </ul>

        <div class="uk-panel">
          <p>Made by <a href="http://www.yootheme.com">YOOtheme</a> with love and caffeine.<br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
          <a href="../index.html">Quusome</a>
        </div>

      </div>
    </div>
  </div>
</body>	

<%#= render 'common/login_modal' %>




