<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Quusome</title>
  <%= stylesheet_link_tag    "email_application", media: "all" %>

<style type="text/css">
		#outlook a{
			padding:0;
		}
		.ReadMsgBody{
			width:100%;
		}
		.ExternalClass{
			width:100%;
		}
		body{
			margin:0;
			padding:0;
		}
		img{
			border:0;
			height:auto;
			line-height:100%;
			outline:none;
			text-decoration:none;
		}
		table,td{
			border-collapse:collapse !important;
			mso-table-lspace:0pt;
			mso-table-rspace:0pt;
		}
		#bodyTable,#bodyCell{
			height:100% !important;
			margin:0;
			padding:0;
			width:100% !important;
		}
		#templateContainer{
			width:600px;
		}
	/*
	@tab Page
	@section background color
	@tip Set the background color for your email. You may want to choose a color that matches your company's branding.
	@theme page
	*/
		body,#bodyTable{
			/*@editable*/background-color:#FFFFFF;
		}
	/*
	@tab Page
	@section heading 1
	@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
	@style heading 1
	*/
		h1{
			/*@editable*/color:#363636 !important;
			display:block;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:26px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:normal;
			/*@editable*/line-height:100%;
			/*@editable*/letter-spacing:normal;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			/*@editable*/text-align:left;
		}
	/*
	@tab Page
	@section heading 2
	@tip Set the styling for all second-level headings in your emails.
	@style heading 2
	*/
		h2{
			/*@editable*/color:#363636 !important;
			display:block;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:18px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:normal;
			/*@editable*/line-height:100%;
			/*@editable*/letter-spacing:normal;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			/*@editable*/text-align:left;
		}
	/*
	@tab Page
	@section heading 3
	@tip Set the styling for all third-level headings in your emails.
	@style heading 3
	*/
		h3{
			/*@editable*/color:#363636 !important;
			display:block;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:16px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:normal;
			/*@editable*/line-height:100%;
			/*@editable*/letter-spacing:normal;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			/*@editable*/text-align:left;
		}
	/*
	@tab Page
	@section heading 4
	@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
	@style heading 4
	*/
		h4{
			/*@editable*/color:#363636 !important;
			display:block;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:14px;
			/*@editable*/font-style:normal;
			/*@editable*/font-weight:normal;
			/*@editable*/line-height:100%;
			/*@editable*/letter-spacing:normal;
			margin-top:0;
			margin-right:0;
			margin-bottom:10px;
			margin-left:0;
			/*@editable*/text-align:left;
		}
	/*
	@tab Header
	@section preheader style
	@tip Set the borders for your email's preheader area.
	@theme header
	*/
		#templatePreheader{
			/*@editable*/background-color:#DDDDDD;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
		}
	/*
	@tab Header
	@section preheader text
	@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
	*/
		.preheaderContent{
			/*@editable*/color:#303030;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:10px;
			/*@editable*/line-height:125%;
			padding-top:10px;
			padding-bottom:10px;
			/*@editable*/text-align:right;
		}
	/*
	@tab Header
	@section preheader link
	@tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
	*/
		.preheaderContent a:link,.preheaderContent a:visited,.preheaderContent a .yshortcuts {
			/*@editable*/color:#303030;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
	/*
	@tab Header
	@section header style
	@tip Set the borders for your email's header area.
	@theme header
	*/
		#templateHeader{
			/*@editable*/background-color:#FFFFFF;
			/*@editable*//*border-top:10px solid #DDDDDD;*/
			/*@editable*/border-bottom:0;
		}
	/*
	@tab Header
	@section header text
	@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
	*/
		.headerContent{
			/*@editable*/color:#363636;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:20px;
			/*@editable*/font-weight:bold;
			/*@editable*/line-height:100%;
			/*@editable*/padding-top:40px;
			/*@editable*/padding-right:0;
			/*@editable*/padding-bottom:20px;
			/*@editable*/padding-left:0;
			/*@editable*/text-align:right;
			/*@editable*/vertical-align:middle;
		}
	/*
	@tab Header
	@section header link
	@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	*/
		.headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
			/*@editable*/color:#363636;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		#headerImage{
			height:auto;
			max-width:600px;
		}
	/*
	@tab Body
	@section body style
	@tip Set the borders for your email's body area.
	*/
		#templateBody{
			/*@editable*/background-color:#FFFFFF;
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
		}
	/*
	@tab Body
	@section body text
	@tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
	@theme main
	*/
		.bodyContent{
			/*@editable*/color:#363636;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:14px;
			/*@editable*/line-height:150%;
			padding-top:20px;
			padding-bottom:40px;
			/*@editable*/text-align:left;
		}
	/*
	@tab Body
	@section body link
	@tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
	*/
		.bodyContent a:link,.bodyContent a:visited,.bodyContent a .yshortcuts {
			/*@editable*/color:#000000;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		.bodyContent img{
			display:inline;
			height:auto;
			max-width:600px !important;
		}
	/*
	@tab Footer
	@section footer style
	@tip Set the background color and borders for your email's footer area.
	@theme footer
	*/
		body,#bodyTable{
			/*@editable*/background-color:#DDDDDD;
		}
	/*
	@tab Footer
	@section footer style
	@tip Set the background color and borders for your email's footer area.
	@theme footer
	*/
		#templateFooter{
			/*@editable*/border-top:0;
			/*@editable*/border-bottom:0;
		}
	/*
	@tab Footer
	@section footer text
	@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
	@theme footer
	*/
		.footerContent{
			/*@editable*/color:#363636;
			/*@editable*/font-family:Verdana;
			/*@editable*/font-size:10px;
			/*@editable*/line-height:150%;
			padding-top:20px;
			padding-bottom:20px;
			/*@editable*/text-align:right;
		}
	/*
	@tab Footer
	@section footer link
	@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
	*/
		.footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts,.footerContent a span {
			/*@editable*/color:#363636;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
		.footerContent img{
			display:inline;
			height:auto;
			max-width:600 !important;
		}
	@media only screen and (max-width: 500px){
		body,table,td,p,a,li,blockquote{
			-webkit-text-size-adjust:none !important;
		}

}	@media only screen and (max-width: 500px){
		body{
			width:auto !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section template width
	@tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work, set width to 300px instead.
	*/
		table[class=templateContainer]{
			/*@tab Mobile Styles
@section template width
@tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work, set width to 300px instead.*/max-width:600px !important;
			/*@editable*/width:100% !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section heading 1
	@tip Make the first-level headings larger in size for better readability on small screens.
	*/
		h1{
			/*@editable*/font-size:24px !important;
			/*@editable*/line-height:100% !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section heading 2
	@tip Make the second-level headings larger in size for better readability on small screens.
	*/
		h2{
			/*@editable*/font-size:20px !important;
			/*@editable*/line-height:100% !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section heading 3
	@tip Make the third-level headings larger in size for better readability on small screens.
	*/
		h3{
			/*@editable*/font-size:18px !important;
			/*@editable*/line-height:100% !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section heading 4
	@tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
		h4{
			/*@editable*/font-size:16px !important;
			/*@editable*/line-height:100% !important;
		}

}	@media only screen and (max-width: 500px){
		table[id=templatePreheader]{
			display:none !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section header image width
	@tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid layout doesn't work, set width to 300px or half-size instead.
	*/
		img[id=headerImage]{
			/*@tab Mobile Styles
@section header image width
@tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid layout doesn't work, set width to 300px or half-size instead.*/height:auto !important;
			/*@editable*/max-width:125px !important;
			/*@editable*/width:100% !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section header text
	@tip Make the header content text larger in size for better readability on small screens.
	*/
		td[class=headerContent]{
			/*@editable*/font-size:20px !important;
			/*@editable*/line-height:150% !important;
			/*@editable*/padding-top:20px !important;
			/*@editable*/padding-right:10px !important;
			/*@editable*/padding-bottom:20px !important;
			/*@editable*/padding-left:10px !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section body text
	@tip Make the body content text larger in size for better readability on small screens.
	*/
		td[class=bodyContent]{
			/*@editable*/font-size:17px !important;
			/*@editable*/line-height:150% !important;
			padding-right:10px !important;
			padding-left:10px !important;
		}

}	@media only screen and (max-width: 500px){
	/*
	@tab Mobile Styles
	@section footer text
	@tip Make the footer content text larger in size for better readability on small screens.
	*/
		td[class=footerContent]{
			/*@editable*/font-size:14px !important;
			/*@editable*/line-height:150% !important;
			padding-right:10px !important;
			padding-left:10px !important;
		}

}	@media only screen and (max-width: 500px){
		td[class=footerContent] a{
			display:block !important;
		}

}</style>
</head>
<body>
<%= yield %>
</body>
</html>