<!DOCTYPE html>
<html>
<head>
  <title>QuusomeS2</title>
  
  <%= stylesheet_link_tag    "myshop_application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
 
</head>
<body>

  <div class="ui menu fixed inverted">
    <div class="container">
        <a class="launch item">Quusome</a>
        <div class="right sidebar menu">
          <!--
          <div class="ui simple dropdown item">
            <i class="icon tint"></i> Theme
            <div class="theme menu">
              <div class="active item" data-theme="flat">Flat</div>
              <div class="item" data-theme="shaded">Shaded</div>
              <div class="item" data-theme="classic">Classic</div>
            </div>
          </div>
          !-->
        </div>
      </div>
  </div>

<div style="height: 70px;"></div>

<div class="ui grid">
  <div class="three wide column">
    <div class="ui">
      <div class="ui  vertical  menu " style="float: left">
 <!--        <div class="header item">
          대쉬보드
        </div>
        <a class="item <%#= 'active' if controller_name == 'dashboard' %>" href="/myshop/dashboard">
          상품현황
        </a>
        <a class="item <%#= 'active' if controller_name == 'dashboard' %>" href="/myshop/dashboard">
          주문현황
        </a>
 -->

        <div class="header item">
          상품
        </div>
        
        <div class="item">
          상품관리
          <div class="menu">
            <a class="item <%= 'active' if controller_name == 'products' && action_name == 'new' %>" href="/myshop/products/new">상품 등록
            </a>
            <a class="item <%= 'active' if controller_name == 'products' && action_name == 'index' %>" href="/myshop/products">상품 목록
            </a>
          </div>
        </div>
        <div class="item">
          쇼핑몰관리
          <div class="menu">
            <a class="item <%= 'active' if controller_name == 'shopping_mall_configs' && action_name == 'new' %>" href="/myshop/shopping_mall_configs/new">쇼핑몰 등록</a>
            <a class="item <%= 'active' if controller_name == 'shopping_mall_configs' && action_name == 'index' %>" href="/myshop/shopping_mall_configs">쇼핑몰 목록</a>
            <a class="item <%= 'active' if controller_name == 'exchange_rates' && action_name == 'index' %>" href="/myshop/exchange_rates">환율등록</a>
            <a class="item <%= 'active' if controller_name == 'international_delivery_charges' && action_name == 'new' %>" href="/myshop/international_delivery_charges/new">국제배송료 등록</a>
            <a class="item <%= 'active' if controller_name == 'international_delivery_charges' && action_name == 'index' %>" href="/myshop/international_delivery_charges">국제배송료 목록</a>
            <a class="item <%= 'active' if controller_name == 'saved_money_rates' && action_name == 'index' %>" href="/myshop/saved_money_rates">적립금 등록</a>
          </div>
        </div>

        <div class="header item">
          컬렉션
        </div>

        <div class="item">
          피처드 컬렉션관리
          <div class="menu">
            <a class="item <%= 'active' if controller_name == 'featured_collections' && action_name == 'index' %>" href="/myshop/featured_collections">피처드 컬렉션 목록</a>
            <a class="item <%= 'active' if controller_name == 'featured_collections' && action_name == 'new' %>" href="/myshop/featured_collections/new">피처드 컬렉션 등록</a>
          </div>
        </div>
        <div class="item">
          피처드 상품관리
          <div class="menu">
            <a class="item <%= 'active' if controller_name == 'featured_product_category' && action_name == 'index' %>" href="/myshop/featured_product_category">피처드 상품 카테고리 목록</a>
            <a class="item <%= 'active' if controller_name == 'featured_product_category' && action_name == 'new' %>" href="/myshop/featured_product_category/new">피처드 상품 카테고리 등록</a>
            <a class="item <%= 'active' if controller_name == 'featured_products' && action_name == 'index' %>" href="/myshop/featured_products">피처드 상품 목록</a>
            <a class="item <%= 'active' if controller_name == 'featured_products' && action_name == 'new' %>" href="/myshop/featured_products/new">피처드 상품 등록</a>
          </div>
        </div>

        <div class="header item">
          주문
        </div>
        <a class="item <%= 'active' if controller_name == 'orders' and (action_name == 'index' or action_name == 'change_state') %>" href="/myshop/orders">주문</a>
        <a class="item <%= 'active' if controller_name == 'orders' and action_name == 'take_back_receives' %>" href="/myshop/orders/take_back_receives">반품접수</a>
        <a class="item <%= 'active' if controller_name == 'inquiry_comment' and action_name == 'index' %>" href="/myshop/inquiry_comment">문의</a>
        <a class="item <%= 'active' if controller_name == 'profit_withdraw_requests' and action_name == 'index' %>" href="/myshop/profit_withdraw_requests">인출요청</a>
       <!--  <div class="header item">
          프로모션
        </div>
        <a class="item">프로모션</a> -->

      <div class="header item">
        블로그
      </div>

      <div class="item">
        블로그 카테고리 관리
        <div class="menu">
          <a class="item <%= 'active' if controller_name == 'blog_categories' and action_name == 'new' %>" href="/myshop/blog_categories/new">블로그 카테고리 등록</a>
          <a class="item <%= 'active' if controller_name == 'blog_categories' and action_name == 'index' %>" href="/myshop/blog_categories">블로그 카테고리 목록</a>
        </div>
      </div>
      
      <div class="item">
        블로그 관리
        <div class="menu">
          <a class="item <%= 'active' if controller_name == 'blogs' and action_name == 'new' %>" href="/myshop/blogs/new">블로그 등록</a>
          <a class="item <%= 'active' if controller_name == 'blogs' and action_name == 'index' %>" href="/myshop/blogs">블로그 목록</a>
        </div>
      </div>
      
       
      </div>

    </div>
  </div>
  <div class="thirteen wide column">
    <div class="ui">
      <%= yield %>
    </div>
  </div>
</div>




<!-- <div class="footer tm-footer" style="border-top: 1px solid #ddd;">
  <div style="height: 100px;">
    footer
  </div>
</div> -->



  

 
</body>
</html>
