
<!DOCTYPE html>
<html>
<head>
  <% if yield(:title).blank? %>
    <title>QUUSOME</title>
    <meta property="og:image" content="<%= request.protocol + request.host_with_port + asset_path('symbolmark51x_png.png') %>">
    <meta property="og:title" content="QUUSOME" />

  <% else %>
    <title>QUUSOME - <%= yield(:title) %></title>
    
    <meta property="og:image" content="<%= request.protocol + request.host_with_port + yield(:facebook_image) %>">
    <meta property="og:title" content="<%= yield(:title) %>" />
  <% end %>
  

   
    
  <%= stylesheet_link_tag    "application", media: "all"%>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>


  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <meta property="og:site_name" content="Quusome.com"/>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="큐썸은 해외 디자이너 브랜드 및 명품 패션 아이템 전문 구매대행 서비스입니다.">
  



  

  <style>


/*.shop_category a {
  color: black;
}
*/


</style>



</head>
<body <% if controller_name == 'orders' and action_name == 'new' %>onload="init_orderid();create_goodInfo();"<% end %>>

  <%= render 'layouts/new_header' %>

<div class="content" <% if controller_name != 'featured' %>style="width: 1150px; margin: 40px auto; "<% end %>>

<%= yield %>
</div>

<%= render 'layouts/footer' %>



<!-- 
  <div class="footer tm-footer" style="border-top: 1px solid #ddd; min-width: 1150px">
    <div class="footer_div">
      <div class="uk-container uk-container-center uk-text-center">

        <ul class="uk-subnav uk-subnav-line">
          <li><a href="#">회사소개</a></li>
          <li><%= link_to '이용약관', page_path('clause') %></li>
          <li><%= link_to '개인정보취급방침', page_path('individual_infomation') %></li>
          <li><a href="#">저작권</a></li>
          <li><%= link_to 'FAQ', page_path('faq') %></li>
        </ul>

        

      </div>
      

       

      <div class="ui divider"></div>

      <div class="ui two column grid" style="margin-top: 10px;">
        <div class="column" style="font-size: 12px; line-height: 100%;">
          <p style="font-size: 15px;">상호 : 빈즈나인</p>
          <p>대표 : 정윤태</p>
          <p>개인정보관리책임자 : 정윤태</p>
          <p>사업자등록번호 : 107-19-33008</p>
          <p>통신판매업신고 : 서울영등포-0774호 <a href="http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2014318016330200775&area1=&area2=&currpage=1&searchKey=04&searchVal=1071933008&stdate=&enddate=" target="_blank"><사업자정보확인></p></a>
          <p>주소 : 서울특별시 영등포구 국회대로66길 23 산정빌딩806호</p>
          <p>고객센터 TEL. 070-4154-0679 E-MAIL : admin@beanz9.com</p>
        </div>
        <div class="column" style="font-size: 12px;">
          <div>
            <p style="font-size: 15px;">고객센터 070-4154-0679</p>
            <p>통화량이 많은 관계로 전화연결이 어려울 수 있으니 간단한 문의나 개별 상품에 대한 문의는 <br> 상품페이지 상품문의를 이용해 주세요.</p>

          </div>

          <div>
            <p style="font-size: 15px;">영업시간</p>
            <p>평일 오전10:30~오후 5:00 (점심시간 12:30~13:30)</p>
            <p>토,일요일/공휴일은 휴무입니다.</p>
          </div>
        </div>
        
      </div>

      <div class="ui divider"></div>

      <div style="font-size: 12px;">
        <p>빈즈나인은 관세법 등 관련 규정을 준수하고, 불법 물품을 취급하지 않으며, 정품만을 취급합니다. 또한 분할 발송에 의한 가격허위신고(15만원 이하로 임의조정)등 구매자의 불법사항 요청에는 일체 협조하지 않습니다.</p>

        <p>KCP 구매안전(에스크로) 서비스 &nbsp;&nbsp;<a class="ui button mini" id="escrow_btn" style="color:black !important">서비스가입사실확인<a/><br><br>
       </p>
        
      </div>

      <div class="uk-container uk-container-center uk-text-center" style="margin-top: 10px; font-size: 15px;">
        <p>Copyright©2014 Beanz9 All Right Reserved.</p>
      </div>
    </div>
  </div> -->


</body>	

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-42913421-2', 'auto');
 ga('send', 'pageview');

$(function() {
  $('#escrow_btn').on('click', function() {
    var status  = "width=500 height=450 menubar=no,scrollbars=no,resizable=no,status=no";
    var obj     = window.open('http://admin.kcp.co.kr/Modules/escrow/kcp_pop.jsp?site_cd=B2833', 'kcp_pop', status);
  });
});

</script>

<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 --> 
<script type="text/javascript" src="https://wcs.naver.net/wcslog.js"> </script> 
<script type="text/javascript"> 
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_b0ae27611ae";
if (!_nasa) var _nasa={};
wcs.inflow();
wcs_do(_nasa);
</script>


</html>






